ansible-lint==4.2.0
check-manifest
coverage
docker==4.2.0
httmock
pycodestyle
flake8
pylint==2.4.4
twine
mkdocs==1.1
mkdocs-bootstrap4==0.1.4
mkdocs-bootswatch==1.1
mkdocs-git-committers-plugin==0.1.9
mkdocs-gitbook==0.0.1
mkdocs-material==5.1.1
mkdocs-material-extensions==1.0b2
mkdocs-rtd-dropdown==1.0.2
mkdocs-windmill==1.0.4
molecule==3.0.4
pre-commit==2.3.0
