{% if l3_edge_data.ospf_interfaces | length > 0 %}
router_isis:
  no_passive_interfaces:
{%     for ospf_interface in l3_edge_data.ospf_interfaces | arista.avd.natural_sort %}
        - {{ ospf_interface }}
{%     endfor %}
{% endif %}
