{# Add one blank line after each included template #}
{% include 'new/designs/l3ls-evpn/underlay/loopback-interfaces.j2' %}

{% include 'new/designs/l3ls-evpn/underlay/l3leaf-ethernet-interfaces.j2' %}

{% include 'new/designs/l3ls-evpn/underlay/l3leaf-port-channel-interfaces.j2' %}

{% include 'new/designs/l3ls-evpn/underlay/prefix-lists.j2' %}

