{# leaf overlay loopback interface #}
  Loopback0:
    description: EVPN_Overlay_Peering
    ip_address: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}/32
