{# eos - Ethernet Interfaces #}
{% if ethernet_interfaces is defined and ethernet_interfaces is not none %}
{%     for ethernet_interface in ethernet_interfaces | arista.eos_avd.natural_sort %}
interface {{ ethernet_interface }}
   description {{ ethernet_interfaces[ethernet_interface].description }}
{%         if ethernet_interfaces[ethernet_interface].channel_group is defined %}
   channel-group {{ ethernet_interfaces[ethernet_interface].channel_group.id }} mode {{ ethernet_interfaces[ethernet_interface].channel_group.mode }}
{%         else %}
{%             if ethernet_interfaces[ethernet_interface].mtu is defined and ethernet_interfaces[ethernet_interface].mtu != 1500 %}
   mtu {{ ethernet_interfaces[ethernet_interface].mtu }}
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].type is defined and ethernet_interfaces[ethernet_interface].type == "routed" %}
   no switchport
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].vlans is defined %}
   switchport trunk allowed vlan {{ ethernet_interfaces[ethernet_interface].vlans }}
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].mode is defined %}
   switchport mode {{ ethernet_interfaces[ethernet_interface].mode }}
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].trunk_groups is defined %}
{%                 for  trunk_group in ethernet_interfaces[ethernet_interface].trunk_groups | arista.eos_avd.natural_sort %}
   switchport trunk group {{ trunk_group }}
{%                 endfor %}
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].vrf is defined %}
   vrf {{ ethernet_interfaces[ethernet_interface].vrf }}
{%             endif %}
{%             if ethernet_interfaces[ethernet_interface].ip_address is defined %}
   ip address {{ ethernet_interfaces[ethernet_interface].ip_address }}
{%             endif %}
{%         endif %}
!
{%     endfor %}
{% endif %}