{% if access_lists is defined and access_lists is not none %}

## Extended Access-lists

### Extended Access-lists Summary

{%     for access_list in access_lists | arista.avd.natural_sort %}
#### {{ access_list }}
{%         if access_lists[access_list].counters_per_entry is arista.avd.defined(true) %}

ACL has counting mode `counters per-entry` enabled!
{%         endif %}

| Sequence | Action |
| -------- | ------ |
{%         for sequence in access_lists[access_list].sequence_numbers | arista.avd.natural_sort %}
| {{ sequence }} | {{ access_lists[access_list].sequence_numbers[sequence].action }} |
{%         endfor %}

{%     endfor %}
### Extended Access-lists Device Configuration

```eos
{%     include 'eos/access-lists.j2' %}
```
{% endif %}
