{% if monitor_connectivity is arista.avd.defined %}

# Monitor Connectivity

## Global Configuration
{%     if monitor_connectivity.interface_sets is arista.avd.defined %}

### Interface Sets

| Name | Interfaces |
| ---- | ---------- |
{%         for interface_set in monitor_connectivity.interface_sets | arista.avd.natural_sort('name') %}
{%             if interface_set.name is arista.avd.defined and interface_set.interfaces is arista.avd.defined %}
| {{ interface_set.name }} | {{ interface_set.interfaces }} |
{%             endif %}
{%         endfor %}
{%     endif %}

### Probing Configuration

| Enabled | Interval | Default Interface Set |
| ------- | -------- | --------------------- |
| {{ not monitor_connectivity.shutdown | arista.avd.default(true) }} | {{ monitor_connectivity.interval | arista.avd.default('-') }} | {{ monitor_connectivity.local_interfaces | arista.avd.default('-') }} |
{%     if monitor_connectivity.hosts is arista.avd.defined %}

### Host Parameters

| Host Name | Description | IPv4 Address | Probing Interface Set | URL |
| --------- | ----------- | ------------ | --------------------- | --- |
{%         for host in monitor_connectivity.hosts | arista.avd.natural_sort('name') %}
{%             if host.name is arista.avd.defined %}
| {{ host.name }} | {{ host.description | arista.avd.default('-') }} | {{ host.ip | arista.avd.default('-') }} | {{ host.local_interfaces | arista.avd.default('-') }} | {{ host.url | arista.avd.default('-') }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if monitor_connectivity.vrfs is arista.avd.defined %}

## Vrf Configuration

| Name | Description | Default Interface Set |
| ---- | ----------- | --------------------- |
{%         for vrf in monitor_connectivity.vrfs | arista.avd.natural_sort('name') %}
{%             if vrf.name is arista.avd.defined %}
| {{ vrf.name }} | {{ vrf.description | arista.avd.default('-') }} | {{ vrf.local_interfaces | arista.avd.default('-') }} |
{%             endif %}
{%         endfor %}
{%         for vrf in monitor_connectivity.vrfs | arista.avd.natural_sort('name') %}
{%             if vrf.name is arista.avd.defined %}

### Vrf {{ vrf.name }} Configuration
{%                 if vrf.interface_sets is arista.avd.defined %}

#### Interface Sets

| Name | Interfaces |
| ---- | ---------- |
{%                     for interface_set in vrf.interface_sets | arista.avd.natural_sort('name') %}
{%                         if interface_set.name is arista.avd.defined and interface_set.interfaces is arista.avd.defined %}
| {{ interface_set.name }} | {{ interface_set.interfaces }} |
{%                         endif %}
{%                     endfor %}
{%                 endif %}
{%                 if vrf.hosts is arista.avd.defined %}

#### Host Parameters

| Host Name | Description | IPv4 Address | Probing Interface Set | URL |
| --------- | ----------- | ------------ | --------------------- | --- |
{%                     for host in vrf.hosts | arista.avd.natural_sort('name') %}
{%                         if host.name is arista.avd.defined %}
| {{ host.name }} | {{ host.description | arista.avd.default('-') }} | {{ host.ip | arista.avd.default('-') }} | {{ host.local_interfaces | arista.avd.default('-') }} | {{ host.url | arista.avd.default('-') }} |
{%                         endif %}
{%                     endfor %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}

## Monitor Connectivity Device Configuration

```eos
{%     include 'eos/monitor-connectivity.j2' %}
```
{% endif %}
