{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - agents #}
{% if agents is arista.avd.defined %}

### Agents
{%     for agent in agents | arista.avd.natural_sort('name') %}

#### Agent {{ agent.name }}
{%         if agent.environment_variables is arista.avd.defined %}

##### Environment Variables

| Name | Value |
| ---- | ----- |
{%             for envvar in agent.environment_variables %}
| {{ envvar.name }} | {{ envvar.value }} |
{%             endfor %}
{%         endif %}
{%         if agent.shutdown is arista.avd.defined or agent.shutdown_supervisor_active is arista.avd.defined or agent.shutdown_supervisor_standby is arista.avd.defined %}

##### Shutdown

| Setting | Value |
| ------- | ----- |
{%             if agent.shutdown is arista.avd.defined %}
| Shutdown | {{ agent.shutdown }} |
{%             endif %}
{%             if agent.shutdown_supervisor_active is arista.avd.defined %}
| Shutdown on Active Supervisor | {{ agent.shutdown_supervisor_active }} |
{%             endif %}
{%             if agent.shutdown_supervisor_standby is arista.avd.defined %}
| Shutdown on Standby Supervisor | {{ agent.shutdown_supervisor_standby }} |
{%             endif %}
{%         endif %}
{%     endfor %}

#### Agents Device Configuration

```eos
{%     include 'eos/agents.j2' %}
```
{% endif %}
