{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - class maps #}
{% if class_maps.qos is arista.avd.defined %}

### QOS Class Maps

#### QOS Class Maps Summary

| Name | Field | Value |
| ---- | ----- | ----- |
{%     for class_map in class_maps.qos | arista.avd.natural_sort('name') %}
{%         if class_map.cos is arista.avd.defined %}
| {{ class_map.name }} | cos | {{ class_map.cos }} |
{%         elif class_map.vlan is arista.avd.defined %}
| {{ class_map.name }} | vlan | {{ class_map.vlan }} |
{%         elif class_map.ip.access_group is arista.avd.defined %}
| {{ class_map.name }} | acl | {{ class_map.ip.access_group }} |
{%         else %}
{%             if class_map.dscp is arista.avd.defined and class_map.ecn is arista.avd.defined %}
| {{ class_map.name }} | dscp<br>ecn | {{ class_map.dscp }}<br>{{ class_map.ecn }} |
{%             elif class_map.dscp is arista.avd.defined %}
| {{ class_map.name }} | dscp | {{ class_map.dscp }} |
{%             elif class_map.ecn is arista.avd.defined %}
| {{ class_map.name }} | ecn | {{ class_map.ecn }} |
{%             else %}
| {{ class_map.name }} | - | - |
{%             endif %}
{%         endif %}
{%     endfor %}

#### Class-maps Device Configuration

```eos
{%     include 'eos/class-maps.j2' %}
{%     include 'eos/class-maps-pbr.j2' %}
```
{% endif %}
