{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - errdisable #}
{% if errdisable is arista.avd.defined %}

## Errdisable

### Errdisable Summary
{%     if errdisable.recovery.interval is arista.avd.defined %}

Errdisable recovery timer interval: {{ errdisable.recovery.interval }} seconds
{%     endif %}
{%     if errdisable.detect.causes is arista.avd.defined or errdisable.recovery.causes is arista.avd.defined %}
{%         set combined_causes = [] %}
{%         do combined_causes.extend(errdisable.detect.causes | arista.avd.default([])) %}
{%         for recovery_cause in errdisable.recovery.causes | arista.avd.default([]) %}
{%             do combined_causes.append(recovery_cause.name) %}
{%         endfor %}
{%         set combined_causes = combined_causes | unique %}

|  Cause | Detection Enabled | Recovery Enabled |
| ------ | ----------------- | ---------------- |
{%         for cause in combined_causes | arista.avd.natural_sort %}
{%             if cause in errdisable.detect.causes | arista.avd.default([]) %}
{%                 set detect_status = True %}
{%             else %}
{%                 set detect_status = "-" %}
{%             endif %}
{%             set status_namespece = namespace(recovery_status= "-") %}
{%             for recovery_cause in errdisable.recovery.causes | arista.avd.default([]) %}
{%                 if recovery_cause.name == cause %}
{%                     set status_namespece.recovery_status = True %}
{%                     break %}
{%                 endif %}
{%             endfor %}
| {{ cause }} | {{ detect_status }} | {{ status_namespece.recovery_status }} |
{%         endfor %}
{%     endif %}

```eos
{%     include 'eos/errdisable.j2' %}
```
{% endif %}
