{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - errdisable #}
{% if errdisable is arista.avd.defined %}

## Errdisable

### Errdisable Summary
{%     if errdisable.recovery.interval is arista.avd.defined %}

Errdisable recovery timer interval: {{ errdisable.recovery.interval }} seconds
{%     endif %}
{%     if errdisable.detect.causes is arista.avd.defined or errdisable.recovery.causes is arista.avd.defined %}
{%         set combined_causes = ( errdisable.detect.causes | arista.avd.default([]) + errdisable.recovery.causes | arista.avd.default([]) ) | unique %}

|  Cause | Detection Enabled | Recovery Enabled |
| ------ | ----------------- | ---------------- |
{%         for cause in combined_causes | arista.avd.natural_sort %}
{%             if cause in errdisable.detect.causes | arista.avd.default([]) %}
{%                 set detect_status = True %}
{%             else %}
{%                 set detect_status = "-" %}
{%             endif %}
{%             if cause in errdisable.recovery.causes | arista.avd.default([]) %}
{%                 set recovery_status = True %}
{%             else %}
{%                 set recovery_status = "-" %}
{%             endif %}
| {{ cause }} | {{ detect_status }} | {{ recovery_status }} |
{%         endfor %}
{%     endif %}

```eos
{%     include 'eos/errdisable.j2' %}
```
{% endif %}
