{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip name server groups #}
{% if ip_name_server_groups is arista.avd.defined %}

### IP Name Server Groups

#### IP Name Server Groups Summary
{%     for group in ip_name_server_groups | arista.avd.natural_sort("name") %}

##### {{ group.name }}
{%         if group.dns_domain is arista.avd.defined %}

DNS Domain: {{ group.dns_domain }}
{%         endif %}
{%         if group.ip_domain_lists is arista.avd.defined %}

###### IP Domain List

| IP Domain |
| --------- |
{%             for domain in group.ip_domain_lists | arista.avd.natural_sort %}
| {{ domain }} |
{%             endfor %}
{%         endif %}
{%     endfor %}

#### IP Name Server Groups Device Configuration

```eos
{%     include 'eos/ip-name-server-groups.j2' %}
```
{% endif %}
