{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip virtual router mac address #}
{% if ip_virtual_router_mac_address is arista.avd.defined or ip_virtual_router_mac_address_advertisement_interval is arista.avd.defined or ip_virtual_router_mac_address_mlag_peer is arista.avd.defined(true) %}

### Virtual Router MAC Address

#### Virtual Router MAC Address Summary

{%     if ip_virtual_router_mac_address is arista.avd.defined %}
Virtual Router MAC Address: {{ ip_virtual_router_mac_address }}
{%     endif %}
{%     if ip_virtual_router_mac_address_advertisement_interval is arista.avd.defined %}
Virtual Router MAC Address Advertisement Interval: {{ ip_virtual_router_mac_address_advertisement_interval }}
{%     endif %}
{%     if ip_virtual_router_mac_address_mlag_peer is arista.avd.defined(true) %}
Virtual Router MAC Address MLAG Peer: Enabled
{%     endif %}

#### Virtual Router MAC Address Device Configuration

```eos
{%     include 'eos/ip-virtual-router-mac-address.j2' %}
{%     include 'eos/ip-virtual-router-mac-address-mlag-peer.j2' %}
```
{% endif %}
