{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - loopback interfaces #}
{% if loopback_interfaces is arista.avd.defined %}

### Loopback Interfaces

#### Loopback Interfaces Summary

##### IPv4

| Interface | Description | VRF | IP Address |
| --------- | ----------- | --- | ---------- |
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort('name') %}
{%         set vrf = loopback_interface.vrf | arista.avd.default('default') %}
{%         if loopback_interface.ip_address is arista.avd.defined %}
{%             set ip = loopback_interface.ip_address %}
{%             if loopback_interface.ip_address_secondaries is arista.avd.defined %}
{%                 set ip = loopback_interface.ip_address ~ ' <br> ' ~ loopback_interface.ip_address_secondaries | join(' secondary <br> ') ~ ' secondary' %}
{%             endif %}
{%         endif %}
{%         set description = loopback_interface.description | arista.avd.default('-') %}
| {{ loopback_interface.name }} | {{ description }} | {{ vrf }} | {{ ip | arista.avd.default('-') }} |
{%     endfor %}

##### IPv6

| Interface | Description | VRF | IPv6 Addresses |
| --------- | ----------- | --- | -------------- |
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort('name') %}
{%         set ip = loopback_interface.vrf | arista.avd.default('default') %}
{%         if loopback_interface.ipv6_addresses is arista.avd.defined %}
{%             set ipv6_address = loopback_interface.ipv6_addresses | arista.avd.natural_sort | join(', ') %}
{%         elif loopback_interface.ipv6_address_auto_config is arista.avd.defined(true) %}
{%             set ipv6_address = "auto-config" %}
{%         elif loopback_interface.ipv6_address is arista.avd.defined %}
{%             set ipv6_address = loopback_interface.ipv6_address %}
{%         else %}
{%             set ipv6_address = "-" %}
{%         endif %}
{%         set description = loopback_interface.description | arista.avd.default('-') %}
| {{ loopback_interface.name }} | {{ description }} | {{ ip }} | {{ ipv6_address }} |
{%     endfor %}
{%     set loopback_interface_isis = namespace() %}
{%     set loopback_interface_isis.configured = false %}
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort('name') %}
{%         if loopback_interface.isis_enable is arista.avd.defined %}
{%             set loopback_interface_isis.configured = true %}
{%         endif %}
{%     endfor %}
{%     if loopback_interface_isis.configured == true %}

##### ISIS

| Interface | ISIS instance | ISIS metric | Interface mode |
| --------- | ------------- | ----------- | -------------- |
{%         for loopback_interface in loopback_interfaces | arista.avd.natural_sort('name') %}
{%             if loopback_interface.isis_enable is arista.avd.defined %}
{%                 if loopback_interface.isis_network_point_to_point is arista.avd.defined %}
{%                     set mode = 'point-to-point' %}
{%                 elif loopback_interface.isis_passive is arista.avd.defined %}
{%                     set mode = 'passive' %}
{%                 endif %}
| {{ loopback_interface.name }} | {{ loopback_interface.isis_enable }} | {{ loopback_interface.isis_metric | arista.avd.default('-') }} | {{ mode | arista.avd.default('-') }} |
{%             endif %}
{%         endfor %}
{%     endif %}

#### Loopback Interfaces Device Configuration

```eos
{%     include 'eos/loopback-interfaces.j2' %}
```
{% endif %}
