{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - management api models #}
{% if management_api_models is arista.avd.defined %}

### Management API Models

#### Management API Models Summary
{%     if management_api_models.provider.smash.paths is arista.avd.defined %}

##### Smash Provider

| Path | Disabled |
| ---- | -------- |
{%         for path in management_api_models.provider.smash.paths | arista.avd.natural_sort('path') %}
| {{ path.path }} | {{ path.disabled | arista.avd.default("-") }} |
{%         endfor %}
{%     endif %}
{%     if management_api_models.provider.sysdb.disabled_paths is arista.avd.defined %}

##### Sysdb Provider

| Disabled Path |
| ------------- |
{%         for path in management_api_models.provider.sysdb.disabled_paths | arista.avd.natural_sort() %}
| {{ path }} |
{%         endfor %}
{%     endif %}
{%     if management_api_models.provider.macsec.interfaces is arista.avd.defined or management_api_models.provider.macsec.mka is arista.avd.defined %}

##### Macsec Provider

| Interfaces | MKA |
| ---------- | --- |
| {{ management_api_models.provider.macsec.interfaces | arista.avd.default("-") }} | {{ management_api_models.provider.macsec.mka | arista.avd.default("-") }} |
{%     endif %}

#### Management API Models Device Configuration

```eos
{%     include 'eos/management-api-models.j2' %}
```
{% endif %}
