{#
 Copyright (c) 2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - management ldap #}
{% if management_ldap.server_defaults is arista.avd.defined or
      management_ldap.server_hosts is arista.avd.defined or
      management_ldap.group_policies is arista.avd.defined %}

## Management LDAP
{%     if management_ldap.server_defaults.base_dn is arista.avd.defined or
          management_ldap.server_defaults.rdn_attribute_user is arista.avd.defined or
          management_ldap.server_defaults.ssl_profile is arista.avd.defined or
          management_ldap.server_defaults.authorization_group_policy is arista.avd.defined or
          management_ldap.server_defaults.timeout is arista.avd.defined %}

### LDAP Server Defaults

| Setting | Value |
| ------- | ----- |
{%         if management_ldap.server_defaults.base_dn is arista.avd.defined %}
| Base DN | {{ management_ldap.server_defaults.base_dn }} |
{%         endif %}
{%         if management_ldap.server_defaults.rdn_attribute_user is arista.avd.defined %}
| RDN Attribute (User) | {{ management_ldap.server_defaults.rdn_attribute_user }} |
{%         endif %}
{%         if management_ldap.server_defaults.ssl_profile is arista.avd.defined %}
| SSL Profile | {{ management_ldap.server_defaults.ssl_profile }} |
{%         endif %}
{%         if management_ldap.server_defaults.timeout is arista.avd.defined %}
| Timeout | {{ management_ldap.server_defaults.timeout }} seconds |
{%         endif %}
{%         if management_ldap.server_defaults.authorization_group_policy is arista.avd.defined %}
| Authorization Group Policy | {{ management_ldap.server_defaults.authorization_group_policy }} |
{%         endif %}
{%     endif %}
{%     if management_ldap.server_hosts is arista.avd.defined %}

### LDAP Server Hosts

| Host | Port | VRF | Timeout | Base DN | RDN Attribute (User) | SSL Profile | Authorization Group Policy |
| ---- | ---- | --- | ------- | ------- | -------------------- | ----------- | -------------------------- |
{%         for server_host in management_ldap.server_hosts %}
| {{ server_host.host }} | {{ server_host.port | arista.avd.default('-') }} | {{ server_host.vrf | arista.avd.default('-') }} | {{ server_host.timeout | arista.avd.default('-') }} | {{ server_host.base_dn | arista.avd.default('-') }} | {{ server_host.rdn_attribute_user | arista.avd.default('-') }} | {{ server_host.ssl_profile | arista.avd.default('-') }} | {{ server_host.authorization_group_policy | arista.avd.default('-') }} |
{%         endfor %}
{%     endif %}
{%     if management_ldap.group_policies is arista.avd.defined %}

### LDAP Group Policies
{%         for group_policy in management_ldap.group_policies | arista.avd.natural_sort(sort_key="policy", ignore_case=false) %}
{%             if group_policy.search_filter is arista.avd.defined or group_policy.groups is arista.avd.defined %}

#### Group Policy: {{ group_policy.policy }}
{%                 if group_policy.search_filter is arista.avd.defined %}

| Search Filter Objectclass | Search Filter Attribute |
| ------------------------- | ----------------------- |
| {{ group_policy.search_filter.objectclass }} | {{ group_policy.search_filter.attribute }} |
{%                 endif %}
{%                 if group_policy.groups is arista.avd.defined %}

| Group Name | Role | Privilege |
| ---------- | ---- | --------- |
{%                     for group in group_policy.groups %}
| {{ group.name }} | {{ group.role }} | {{ group.privilege | arista.avd.default('-') }} |
{%                     endfor %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}

### Management LDAP Device Configuration

```eos
{%     include 'eos/management-ldap.j2' %}
```
{% endif %}
