{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - monitor link flap #}
{% if monitor_link_flap is arista.avd.defined %}
# Monitor Link-Flap
{%     if monitor_link_flap.profiles is arista.avd.defined and monitor_link_flap.profiles | length > 0 %}
## Link-Flap Profiles
| Name | Damping | Decay Half-Life | Decay Units | MAC Fault Location | MAC Fault Penalty | Threshold Max | Threshold Reuse | Threshold Suppression | Max Flaps | Time | Violations | Intervals |
| ---- | ------- | --------------- | ----------- | ------------------ | ----------------- | ------------- | ---------------- | --------------------- | --------- | ---- | ---------- | --------- |
{%         for profile in monitor_link_flap.profiles | arista.avd.natural_sort("name")  %}
{%             if profile.damping_penalty.mac_fault is arista.avd.defined %}
{%                 set ns = namespace(_mac_location = "", _mac_penalty = "") %}
{%                 for fault in profile.damping_penalty.mac_fault | arista.avd.natural_sort("location") %}
{%                     set ns._mac_location = ns._mac_location ~ fault.location ~ "<br>" %}
{%                     set ns._mac_penalty = ns._mac_penalty ~ fault.penalty ~ "<br>" %}
{%                 endfor %}
{%             endif %}
| {{ profile.name }} | {{ profile.damping_penalty is arista.avd.defined }} | {{ profile.damping_penalty.decay.half_life | arista.avd.default("-") }} | {{ profile.damping_penalty.decay.units | arista.avd.default("-") }} | {{ ns._mac_location | arista.avd.default("-") }}  | {{ ns._mac_penalty | arista.avd.default("-") }} | {{ profile.damping_penalty.threshold.maximum | arista.avd.default("-") }} | {{ profile.damping_penalty.threshold.reuse | arista.avd.default("-") }} | {{ profile.damping_penalty.threshold.suppression | arista.avd.default("-") }} | {{ profile.max_flaps | arista.avd.default("-") }} | {{ profile.time | arista.avd.default("-") }} | {{ profile.violations | arista.avd.default("-") }} | {{ profile.intervals | arista.avd.default("-") }} |
{%         endfor %}
{%     endif %}
## Default Profiles
Note that when multiple profiles are assigned, then the monitor is triggered when the conditions in any of the profiles is met.
{%     if monitor_link_flap.default_profiles is arista.avd.defined and monitor_link_flap.default_profiles | length > 0 %}
{%         for profile in monitor_link_flap.default_profiles %}
* {{ profile }}
{%         endfor %}
{%     else %}
* Default profile in use.
{%     endif %}

## Monitor Link Flap Device Configuration
```eos
{%     include 'eos/monitor-link-flap.j2' %}
```
{% endif %}
