{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - monitor sessions #}
{% if monitor_sessions is arista.avd.defined or monitor_session_default_encapsulation_gre is arista.avd.defined %}

### Monitor Sessions

#### Monitor Sessions Summary
{%     for monitor_session in monitor_sessions | arista.avd.natural_sort('name') %}

##### {{ monitor_session.name }}

####### {{ monitor_session.name }} Sources

| Sources | Direction | Access Group Type | Access Group Name | Access Group Priority |
| ------- | --------- | ----------------- | ----------------- | --------------------- |
{%         for source in monitor_session.sources | arista.avd.natural_sort('name') %}
{%             if monitor_session.access_group.type is arista.avd.defined and monitor_session.access_group.name is arista.avd.defined %}
{%                 set access_group = "-" %}
{%             endif %}
| {{ source.name }} | {{ source.direction | arista.avd.default('both') }} | {{ access_group | arista.avd.default(source.access_group.type, '-') }} | {{ access_group | arista.avd.default(source.access_group.name, '-') }} | {{ source.access_group.priority | arista.avd.default('-') }} |
{%         endfor %}

####### {{ monitor_session.name }} Destinations and Session Settings

| Settings | Values |
| -------- | ------ |
| Destinations | {{ monitor_session.destinations | arista.avd.default(["-"]) | join(', ') }} |
{%         if monitor_session.encapsulation_gre_metadata_tx is arista.avd.defined(true) %}
| Encapsulation Gre Metadata Tx | {{ monitor_session.encapsulation_gre_metadata_tx }} |
{%         endif %}
{%         if monitor_session.header_remove_size is arista.avd.defined %}
| Header Remove Size | {{ monitor_session.header_remove_size }} |
{%         endif %}
{%         if monitor_session.access_group.type is arista.avd.defined and monitor_session.access_group.name is arista.avd.defined %}
| Access Group Type | {{ monitor_session.access_group.type }} |
| Access Group Name | {{ monitor_session.access_group.name }} |
{%         endif %}
{%         if monitor_session.rate_limit_per_ingress_chip is arista.avd.defined %}
| Rate Limit per Ingress Chip | {{ monitor_session.rate_limit_per_ingress_chip }} |
{%         endif %}
{%         if monitor_session.rate_limit_per_ingress_chip is arista.avd.defined %}
| Rate Limit per Egress Chip | {{ monitor_session.rate_limit_per_egress_chip }} |
{%         endif %}
{%         if monitor_session.sample is arista.avd.defined %}
| Sample | {{ monitor_session.sample }} |
{%         endif %}
{%         if monitor_session.truncate.enabled is arista.avd.defined(true) %}
| Truncate Enabled | {{ monitor_session.truncate.enabled }} |
{%             if monitor_session.truncate.size is arista.avd.defined %}
| Truncate Size | {{ monitor_session.truncate.size }} |
{%             endif %}
{%         endif %}
{%     endfor %}
{%     if monitor_session_default_encapsulation_gre.payload is arista.avd.defined %}

##### Monitor Session Default Settings

| Settings | Values |
| -------- | ------ |
| Encapsulation GRE Payload | {{ monitor_session_default_encapsulation_gre.payload }} |
{%     endif %}

#### Monitor Sessions Device Configuration

```eos
{%     include 'eos/monitor-sessions.j2' %}
{%     include 'eos/monitor-session-default-encapsulation-gre.j2' %}
```
{% endif %}
