{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - monitor connectivity #}
{% if monitor_connectivity is arista.avd.defined %}

## Monitor Connectivity

### Global Configuration
{%     if monitor_connectivity.interface_sets is arista.avd.defined %}

#### Interface Sets

| Name | Interfaces |
| ---- | ---------- |
{%         for interface_set in monitor_connectivity.interface_sets | arista.avd.natural_sort(sort_key='name', ignore_case=false) | selectattr("interfaces","arista.avd.defined") %}
| {{ interface_set.name }} | {{ interface_set.interfaces }} |
{%         endfor %}
{%     endif %}

#### Probing Configuration

| Enabled | Interval | Default Interface Set | Address Only |
| ------- | -------- | --------------------- | ------------ |
| {{ not monitor_connectivity.shutdown | arista.avd.default(true) }} | {{ monitor_connectivity.interval | arista.avd.default('-') }} | {{ monitor_connectivity.local_interfaces | arista.avd.default('-') }} | {{ monitor_connectivity.address_only | arista.avd.default(true) }} |
{%     if monitor_connectivity.hosts is arista.avd.defined %}

#### Host Parameters

| Host Name | Description | IPv4 Address | ICMP Echo Size | Probing Interface Set | Address Only | URL |
| --------- | ----------- | ------------ | -------------- | --------------------- | ------------ | --- |
{%         for host in monitor_connectivity.hosts | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}
| {{ host.name }} | {{ host.description | arista.avd.default(host.single_line_description, '-') }} | {{ host.ip | arista.avd.default('-') }} | {{ host.icmp_echo_size | arista.avd.default('-') }} | {{ host.local_interfaces | arista.avd.default('-') }} | {{ host.address_only | arista.avd.default(true) }} | {{ host.url | arista.avd.default('-') }} |
{%         endfor %}
{%     endif %}
{%     if monitor_connectivity.vrfs is arista.avd.defined %}

### VRF Configuration

| Name | Description | Default Interface Set | Address Only |
| ---- | ----------- | --------------------- | ------------ |
{%         for vrf in monitor_connectivity.vrfs | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}
| {{ vrf.name }} | {{ vrf.description | arista.avd.default(vrf.single_line_description, '-') }} | {{ vrf.local_interfaces | arista.avd.default('-') }} | {{ vrf.address_only | arista.avd.default(true) }} |
{%         endfor %}
{%         for vrf in monitor_connectivity.vrfs | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}

#### VRF {{ vrf.name }} Configuration
{%             if vrf.interface_sets is arista.avd.defined %}

##### Interface Sets

| Name | Interfaces |
| ---- | ---------- |
{%                 for interface_set in vrf.interface_sets | arista.avd.natural_sort(sort_key='name', ignore_case=false) | selectattr("interfaces","arista.avd.defined") %}
| {{ interface_set.name }} | {{ interface_set.interfaces }} |
{%                 endfor %}
{%             endif %}
{%             if vrf.hosts is arista.avd.defined %}

##### Host Parameters

| Host Name | Description | IPv4 Address | ICMP Echo Size | Probing Interface Set | Address Only | URL |
| --------- | ----------- | ------------ | -------------- | --------------------- | ------------ | --- |
{%                 for host in vrf.hosts | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}
| {{ host.name }} | {{ host.description | arista.avd.default(host.single_line_description, '-') }} | {{ host.ip | arista.avd.default('-') }} | {{ host.icmp_echo_size | arista.avd.default('-') }} | {{ host.local_interfaces | arista.avd.default('-') }} | {{ host.address_only | arista.avd.default(true) }} | {{ host.url | arista.avd.default('-') }} |
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if monitor_connectivity.name_server_group is arista.avd.defined %}

##### Name-server

Name-server Group: {{ monitor_connectivity.name_server_group }}
{%     endif %}

### Monitor Connectivity Device Configuration

```eos
{%     include 'eos/monitor-connectivity.j2' %}
```
{% endif %}
