{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - mpls #}
{% if mpls is arista.avd.defined %}

### MPLS and LDP

#### MPLS and LDP Summary

| Setting | Value |
| -------- | ---- |
| MPLS IP Enabled | {{ mpls.ip | arista.avd.default('-') }} |
| LDP Enabled | {{ not mpls.ldp.shutdown | arista.avd.default('-') }} |
| LDP Router ID | {{ mpls.ldp.router_id | arista.avd.default('-') }} |
| LDP Interface Disabled Default | {{ mpls.ldp.interface_disabled_default | arista.avd.default('-') }} |
| LDP Transport-Address Interface | {{ mpls.ldp.transport_address_interface | arista.avd.default('-') }} |
{%     if mpls.icmp.fragmentation_needed_tunneling is arista.avd.defined %}
| ICMP Fragmentation-Needed Tunneling Enabled | {{ mpls.icmp.fragmentation_needed_tunneling }} |
{%     endif %}
{%     if mpls.icmp.ttl_exceeded_tunneling is arista.avd.defined %}
| ICMP TTL-Exceeded Tunneling Enabled | {{ mpls.icmp.ttl_exceeded_tunneling }} |
{%     endif %}
{%     if mpls.tunnel.termination.model.ttl is arista.avd.defined and mpls.tunnel.termination.model.dscp is arista.avd.defined %}
| Tunnel Termination Model | TTL: {{ mpls.tunnel.termination.model.ttl }}, DSCP: {{ mpls.tunnel.termination.model.ttl }} |
{%     endif %}
{%     if mpls.tunnel.termination.php_model.ttl is arista.avd.defined and mpls.tunnel.termination.php_model.dscp is arista.avd.defined %}
| Tunnel Termination PHP Model | TTL: {{ mpls.tunnel.termination.php_model.ttl }}, DSCP: {{ mpls.tunnel.termination.php_model.ttl }} |
{%     endif %}
{%     if mpls.label_ranges is arista.avd.defined %}

#### Label Ranges

| Range | Base | Size |
| ----- | ---- | ---- |
{%         if mpls.label_ranges.bgp_sr is arista.avd.defined %}
| BGP-SR | {{ mpls.label_ranges.bgp_sr.base }} | {{ mpls.label_ranges.bgp_sr.size }} |
{%         endif %}
{%         if mpls.label_ranges.dynamic is arista.avd.defined %}
| Dynamic | {{ mpls.label_ranges.dynamic.base }} | {{ mpls.label_ranges.dynamic.size }} |
{%         endif %}
{%         if mpls.label_ranges.isis_sr is arista.avd.defined %}
| IS-IS SR | {{ mpls.label_ranges.isis_sr.base }} | {{ mpls.label_ranges.isis_sr.size }} |
{%         endif %}
{%         if mpls.label_ranges.l2evpn is arista.avd.defined %}
| L2 EVPN | {{ mpls.label_ranges.l2evpn.base }} | {{ mpls.label_ranges.l2evpn.size }} |
{%         endif %}
{%         if mpls.label_ranges.l2evpn_ethernet_segment is arista.avd.defined %}
| L2 EVPN Ethernet Segment | {{ mpls.label_ranges.l2evpn_ethernet_segment.base }} | {{ mpls.label_ranges.l2evpn_ethernet_segment.size }} |
{%         endif %}
{%         if mpls.label_ranges.ospf_sr is arista.avd.defined %}
| OSPF-SR | {{ mpls.label_ranges.ospf_sr.base }} | {{ mpls.label_ranges.ospf_sr.size }} |
{%         endif %}
{%         if mpls.label_ranges.srlb is arista.avd.defined %}
| SRLB | {{ mpls.label_ranges.srlb.base }} | {{ mpls.label_ranges.srlb.size }} |
{%         endif %}
{%         if mpls.label_ranges.static is arista.avd.defined %}
| Static | {{ mpls.label_ranges.static.base }} | {{ mpls.label_ranges.static.size }} |
{%         endif %}
{%     endif %}
{% endif %}
