{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - port-channel #}
{% if port_channel is arista.avd.defined %}

## Port-channel Device Configuration

```eos
{%     include 'eos/port-channel.j2' %}
```
{% endif %}