{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - port-channel #}
{% if port_channel is arista.avd.defined %}

## Port-Channel

### Port-Channel Summary
{%     if port_channel.load_balance_trident is arista.avd.defined %}

#### Port-channel Load Balance Trident UDF Eth-type Headers

| Eth-Type | Header | Layer | Offset | Mask |
| -------- | ------ | ----- | ------ | ---- |
{%         set headers = [
            ('IPv4', 'outer', 'l2'),
            ('IPv4', 'inner', 'l3'),
            ('IPv4', 'outer', 'l3'),
            ('IPv4', 'inner', 'l4'),
            ('IPv4', 'outer', 'l4'),
            ('IPv6', 'outer', 'l2'),
            ('IPv6', 'inner', 'l3'),
            ('IPv6', 'outer', 'l3'),
            ('IPv6', 'inner', 'l4'),
            ('IPv6', 'outer', 'l4'),
            ] %}
{%         for ip_version, direction, layer in headers %}
{%             set headers = port_channel.load_balance_trident.udf_eth_type[ip_version | lower].header[direction][layer] %}
{%             for header in headers %}
| {{ ip_version }} | {{ direction | capitalize }} | {{ layer | upper }} | {{ header.offset }} | {{ header.mask | arista.avd.default("-") }} |
{%             endfor %}
{%         endfor %}
{%     endif %}

#### Port-channel Device Configuration

```eos
{%     include 'eos/port-channel.j2' %}
```
{% endif %}
