{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - router rip #}
{% if router_rip is arista.avd.defined %}

### Router RIP
{%     for rip in router_rip | arista.avd.natural_sort(sort_key='vrf') %}

#### VRF: {{ rip.vrf }}
{%         if rip.enabled is arista.avd.defined %}

Enabled: {{ rip.enabled }}
{%         endif %}
{%         if rip.metric is arista.avd.defined %}
Metric: {{ rip.metric }}
{%         endif %}
{%         if rip.networks is arista.avd.defined %}

##### Advertised Networks

| Networks |
| -------- |
{%             for network in rip.networks | arista.avd.natural_sort %}
| {{ network }} |
{%             endfor %}
{%         endif %}
{%     endfor %}

#### Router RIP Device Configuration

```eos
{%     include 'eos/router-rip.j2' %}
```
{% endif %}
