{#
 Copyright (c) 2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - router rip #}
{% if router_rip is arista.avd.defined %}

### Router RIP

| VRF | Enabled | Default Metric | Networks |
| --- | ------- | -------------- | -------- |
{%     for rip in router_rip | arista.avd.natural_sort(sort_key='vrf', ignore_case=False) %}
{%         set networks = rip.networks | arista.avd.default(["-"]) | join(", ") %}
| {{ rip.vrf }} | {{ rip.enabled | arista.avd.default("-") }} | {{ rip.metric_default | arista.avd.default("-") }} | {{ networks }} |
{%     endfor %}

#### Router RIP Device Configuration

```eos
{%     include 'eos/router-rip.j2' %}
```
{% endif %}
