{#
 Copyright (c) 2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - serial number #}
{% if serial_number is arista.avd.defined %}

### Serial Number

Serial Number: {{ serial_number }}
{% endif %}
