{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - standard access lists #}
{% if standard_access_lists is arista.avd.defined %}

### Standard Access-lists

#### Standard Access-lists Summary
{%     for standard_access_list in standard_access_lists | arista.avd.natural_sort('name') %}

##### {{ standard_access_list.name }}
{%         if standard_access_list.counters_per_entry is arista.avd.defined(true) %}

ACL has counting mode `counters per-entry` enabled!
{%         endif %}
{%         if standard_access_list.sequence_numbers is arista.avd.defined or standard_access_list.entries is arista.avd.defined %}

| Sequence | Action | Source | Remark | Log | Mirror Session |
| -------- | ------ | ------ | ------ | --- | -------------- |
{%             if standard_access_list.entries is arista.avd.defined %}
{%                 for entry in standard_access_list.entries | arista.avd.natural_sort("sequence") %}
| {{ entry.sequence }} | {{ entry.action | arista.avd.default("-") }} | {{ entry.source | arista.avd.default(entry.host, "-") }} | {{ entry.remark | arista.avd.default("-") }} | {{ entry.log | arista.avd.default("-") }} | {{ entry.mirror_session | arista.avd.default("-") }} |
{%                 endfor %}
{%             elif standard_access_list.sequence_numbers is arista.avd.defined %}
{%                 for sequence in standard_access_list.sequence_numbers | arista.avd.natural_sort('sequence') %}
| {{ sequence.sequence }} | {{ sequence.action }} | - | - | - | - |
{%                 endfor %}
{%             endif %}
{%         endif %}
{%     endfor %}

#### Standard Access-lists Device Configuration

```eos
{%     include 'eos/standard-access-lists.j2' %}
```
{% endif %}
