{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - sync-e #}
{% if sync_e is arista.avd.defined and sync_e.network_option is arista.avd.defined %}

### Synchronous Ethernet (SyncE) Settings

Synchronous Ethernet Network Option: {{ sync_e.network_option }}

#### Synchronous Ethernet Device Configuration

```eos
{%     include 'eos/sync-e.j2' %}
```
{% endif %}
