{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - system #}
{% if system.control_plane is arista.avd.defined %}

### System Control-Plane
{%     if system.control_plane.tcp_mss.ipv4 is arista.avd.defined or system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}

#### TCP MSS Ceiling

| Protocol | Segment Size |
| -------- | ------------ |
{%         if system.control_plane.tcp_mss.ipv4 is arista.avd.defined %}
| IPv4 | {{ system.control_plane.tcp_mss.ipv4 }} |
{%         endif %}
{%         if system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}
| IPv6 | {{ system.control_plane.tcp_mss.ipv6 }} |
{%         endif %}
{%     endif %}
{%     if system.control_plane.ipv4_access_groups is arista.avd.defined or system.control_plane.ipv6_access_groups is arista.avd.defined or system.control_plane.ipv4_access_group_ingress_default is arista.avd.defined or system.control_plane.ipv6_access_group_ingress_default is arista.avd.defined %}

#### Control-Plane Access-Groups

| Protocol | VRF | Access-list |
| -------- | --- | ----------- |
{#         IPv4 Access-groups Ingress Default #}
{%         if system.control_plane.ipv4_access_group_ingress_default is arista.avd.defined %}
| IPv4 Ingress default | All | {{ system.control_plane.ipv4_access_group_ingress_default }} |
{%         endif %}
{#         IPv4 Access-groups #}
{%         for acl_set in system.control_plane.ipv4_access_groups | arista.avd.natural_sort(sort_key="acl_name") %}
| IPv4 | {{ acl_set.vrf | arista.avd.default('default') }} | {{ acl_set.acl_name }} |
{%         endfor %}
{#         IPv6 Access-groups Ingress Default #}
{%         if system.control_plane.ipv6_access_group_ingress_default is arista.avd.defined %}
| IPv6 Ingress default | All | {{ system.control_plane.ipv6_access_group_ingress_default }} |
{%         endif %}
{#         IPv6 Access-groups #}
{%         for acl_set in system.control_plane.ipv6_access_groups | arista.avd.natural_sort(sort_key="acl_name") %}
| IPv6 | {{ acl_set.vrf | arista.avd.default('default') }} | {{ acl_set.acl_name }} |
{%         endfor %}
{%     endif %}

#### System Control-Plane Device Configuration

```eos
{%     include 'eos/system.j2' %}
```
{% endif %}
