{#
 Copyright (c) 2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - vrrp #}
{% if vrrp is arista.avd.defined %}

### VRRP

#### VRRP Summary
{%     if vrrp.ipv4.authentication_anti_replay is arista.avd.defined %}

VRRP IPv4 Authentication Anti-Replay: Enabled

{%     endif %}
#### VRRP Device Configuration

```eos
{%     include 'eos/vrrp.j2' %}
```
{% endif %}
