{#
 Copyright (c) 2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - vrrp #}
{% if vrrp.ipv4 is arista.avd.defined %}

### VRRP

{%     if vrrp.ipv4.authentication_anti_replay %}
#### VRRP Summary

VRRP IPv4 Authentication Anti-Replay: Enabled

{%     endif %}
#### VRRP Device Configuration

```eos
{%     include 'eos/vrrp.j2' %}
```
{% endif %}
