{% set tmp_hostvars = {} %}
{% set upgraded_data_model = upgraded_data_model | arista.avd.default({}) %}
{% for key in upgraded_data_model.keys() %}
{%     if hostvars[inventory_hostname][key] is arista.avd.defined %}
{%         do tmp_hostvars.update({key: hostvars[inventory_hostname][key]}) %}
{%     endif %}
{% endfor %}
{% if tmp_hostvars != {} %}
{# Output merged data_model as a mix of yaml and json since yaml_templates_to_facts requires yaml, #}
{# but to_yaml does not work with multiline strings used in eos_cli vars #}
{%     set merged_data_model = tmp_hostvars | combine(upgraded_data_model, recursive=true) %}
{{ merged_data_model | to_yaml }}
{% endif %}
