{# Add one blank line after each included template #}
switch:
{% include 'facts/switch-type.j2' %}

{% include 'facts/underlay-routing-protocol.j2' %}

{% include 'facts/overlay-routing-protocol.j2' %}

