{# Leaf mlag vlans #}
{% if leaf.mlag == true %}
## mlag vlans ##
{%     if type == 'l3leaf' %}
  4093:
    tenant: system
    name: LEAF_PEER_L3
    trunk_groups:
      - LEAF_PEER_L3
{%     endif %}
  4094:
    tenant: system
    name: MLAG_PEER
    trunk_groups:
      - MLAG
{% endif %}