{# Leaf mlag peer-link #}
{% if leaf.mlag == true %}
## mlag peer-link ##
  Port-Channel{{ leaf.mlag_interfaces[0] | regex_findall("\d") | join }}:
    description: MLAG_PEER_{{ leaf.mlag_peer }}_Po{{ leaf.mlag_interfaces[0] | regex_findall("\d") | join }}
    type: switched
    shutdown: false
    vlans: "2-4094"
    mode: trunk
{%     if p2p_uplinks_qos_profile is arista.avd.defined %}
    service_profile: {{ p2p_uplinks_qos_profile }}
{%     endif %}
    trunk_groups:
{%     if type == 'l3leaf' %}
      - LEAF_PEER_L3
{%     endif %}
      - MLAG
{% endif %}