{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router igmp #}
{% if router_igmp is arista.avd.defined %}
!
router igmp
{%     if router_igmp.host_proxy_match_mroute is arista.avd.defined %}
   host-proxy match mroute {{ router_igmp.host_proxy_match_mroute }}
{%     endif %}
{%     if router_igmp.ssm_aware is arista.avd.defined(true) %}
   ssm aware
{%     endif %}
{%     if router_igmp.vrfs is arista.avd.defined %}
{%         for vrf in router_igmp.vrfs | arista.avd.natural_sort('name') %}
{%             if vrf.name != 'default' %}
   !
   vrf {{ vrf.name }}
{%                 if vrf.host_proxy_match_mroute is arista.avd.defined %}
     host-proxy match mroute {{ vrf.host_proxy_match_mroute }}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
