{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
<!--
  ~ Copyright (c) 2023 Arista Networks, Inc.
  ~ Use of this source code is governed by the Apache License 2.0
  ~ that can be found in the LICENSE file.
  -->
{% set table_name = item %}
{% set table = documentation_schema[table_name] %}
=== "Table"

    | Variable | Type | Required | Default | Value Restrictions | Description |
    | -------- | ---- | -------- | ------- | ------------------ | ----------- |
{% set annotations={} %}
{% for row in table.table %}
{%     set variable = row.variable | e | regex_replace('  ','&nbsp;&nbsp;') %}
{%     if row.default is arista.avd.defined %}
{%         if ("List" in row.type or "Dictionary" in row.type) and row.default | length > 1 %}
{%             set _ = annotations.update({loop.index: {(row.variable | trim): row.default} | to_nice_yaml(indent=2)}) %}
{%             set default_value = "See (+) on YAML tab" %}
{%         else %}
{%             set default_value = "`" ~ row.default ~ "`" %}
{%         endif %}
{%     endif %}
{%     if row.deprecation is arista.avd.defined %}
{%         set deprecation = '<span style="color:red">' ~ row.deprecation ~ '</span>' %}
{%         set deprecation_label = ' <span style="color:red">' ~ row.deprecation_label ~ '</span>' %}
{%     endif %}
    | [<samp>{{ variable }}</samp>](## "{{ row.var_path | e }}"){{ deprecation_label | arista.avd.default }} | {{ row.type }} | {{ row.required | arista.avd.default }} | {{ default_value | arista.avd.default }} | {{ row.restrictions | arista.avd.default }} | {{ row.description | arista.avd.default }}{{ deprecation | arista.avd.default }} |
{% endfor %}

=== "YAML"

    ```yaml
{% set annotation_counter = [] %}
{% for row in table.yaml %}
{%     if loop.index in annotations %}
{%         set _ = annotation_counter.append(none) %}
    {{ row }}{{ (" # (" ~ annotation_counter | length ~ ")!") }}
{%     else %}
    {{ row }}
{%     endif %}
{% endfor %}
    ```
{% if annotations %}

{%     for annotation_index, annotation in annotations.items() %}
    {{ loop.index }}. Default Value

        ```yaml
        {{ annotation | indent(8) }}
        ```
{%     endfor %}
{% endif %}
