  address_family_rtc:
    peer_groups:
      {{ switch.bgp_peer_groups.evpn_overlay_peers.name }}:
        activate: true
{% if (switch.evpn_gateway_vxlan_l2 is arista.avd.defined(true) or switch.evpn_gateway_vxlan_l3 is arista.avd.defined(true)) and evpn_overlay_bgp_rtc is arista.avd.defined(true) %}
      {{ switch.bgp_peer_groups.evpn_overlay_core.name }}:
        activate: true
{% endif %}
{% if switch.evpn_role == "server" %}
        default_route_target:
          only: true
{% endif %}
