{# Spine prefix-lists #}
{% if ( overlay_routing_protocol|upper == "BGP" or overlay_routing_protocol|upper == "EBGP" ) %}
  PL-LOOPBACKS-EVPN-OVERLAY:
    sequence_numbers:
      10:
        action: "permit {{ overlay_loopback_network_summary }} le 32"
{% endif %}
