{# spine - address family evpn activation #}
{% if type == "spine" %}
    peer_groups:
{%     if (underlay_routing_protocol|lower == "bgp" or underlay_routing_protocol|lower == "ebgp") %}
      IPv4-UNDERLAY-PEERS:
        activate: false
{%     endif %}
{%     if overlay_routing_protocol|lower == "bgp" or overlay_routing_protocol|lower == "ebgp" %}
      EVPN-OVERLAY-PEERS:
        activate: true
{%     elif ( overlay_routing_protocol|lower == "ibgp" and switch.bgp_route_reflector == true ) %}
      EVPN-OVERLAY-PEERS:
        activate: true
{%     endif %}
{% endif %}
