{# Spine peer filters#}
{% if ( overlay_routing_protocol|lower == "bgp" or overlay_routing_protocol|lower == "ebgp" ) %}
  LEAF-AS-RANGE:
    sequence_numbers:
      10:
        match: as-range {{ spine.leaf_as_range }} result accept
{% endif %}
