{% if switch.overlay_routing_protocol == "ebgp" and switch.evpn_overlay_peers | length > 0 and evpn_overlay_bgp_rtc is arista.avd.defined( true ) %}
    peer_groups:
      EVPN-OVERLAY-PEERS:
        activate: true
{%     if type != "l3leaf" %}
        default_route_target:
          only: true
{%     endif %}
{% endif %}
