{# Management Console #}
{% if management_console is arista.avd.defined %}

## Management Console
{%     if management_console.idle_timeout is arista.avd.defined %}

### Management Console Timeout

Management Console Timeout is set to **{{ management_console.idle_timeout }}** minutes.
{%     endif %}

### Management Console Configuration

```eos
{%     include 'eos/management-console.j2' %}
```
{% endif %}
