{% if switch.enable_trunk_groups is arista.avd.defined(true) %}
{%     set vlan_trunk_group_map = {} %}
{#     Add trunk_groups to vlans used by downstream switches #}
{#     The list has elements with {"vlan_list": "<vlan_list_as_string>", "trunk_groups": [ "<trunk_group>" ] } #}
{#     Below we build a map with {<vlan_id>: [ trunk_groups ] #}
{%     for vlan_trunk_groups in underlay_data.vlan_trunk_groups | arista.avd.default([]) %}
{%         for vlan in vlan_trunk_groups.vlan_list | arista.avd.range_expand %}
{%             do vlan_trunk_group_map.setdefault(vlan, []).extend(vlan_trunk_groups.trunk_groups) %}
{%         endfor %}
{%     endfor %}
vlans:
{%     for vlan in vlan_trunk_group_map %}
  {{ vlan }}:
    trunk_groups: {{ vlan_trunk_group_map[vlan] | unique }}
{%     endfor %}
{% endif %}
