{# Add one blank line after each included template #}
{% include 'new/base/router-bgp.j2' %}

{% include 'new/base/static-routes.j2' %}

{% include 'new/base/routing.j2' %}

{% include 'new/base/hardware-counters.j2' %}

{% include 'new/base/hardware.j2' %}

{% include 'new/base/daemon-terminattr.j2' %}

{% include 'new/base/vlan-internal-order.j2' %}

{% include 'new/base/event-monitor.j2' %}

{% include 'new/base/event-handler.j2' %}

{% include 'new/base/load-interval.j2' %}

{% include 'new/base/queue-monitor-length.j2' %}

{% include 'new/base/name-servers.j2' %}

{% include 'new/base/ntp-server.j2' %}

{% include 'new/base/redundancy.j2' %}

{% include 'new/base/snmp-server.j2' %}

{% include 'new/base/spanning-tree.j2' %}

{% include 'new/base/unsupported-transceiver.j2' %}

{% include 'new/base/aaa-authorization.j2' %}

{% include 'new/base/local-users.j2' %}

{% include 'new/base/clock.j2' %}

{% include 'new/base/vrfs.j2' %}

{% include 'new/base/management-interfaces.j2' %}

{% include 'new/base/tcam-profile.j2' %}

{% include 'new/base/platform.j2' %}

{% include 'new/base/mac-address-table.j2' %}

{% include 'new/base/queue-monitor-streaming.j2' %}

{% include 'new/base/management-api-http.j2' %}

