# {{ inventory_hostname }}

## Management Interfaces

{% include 'documentation/management-interfaces.j2' %}


## Hardware Counters
{% include 'documentation/hardware-counters.j2' %}

## TerminAttr Daemon

{% include 'documentation/daemon-terminattr.j2' %}

## Internal VLAN allocation Policy

{% include 'documentation/vlan-internal-order.j2' %}

## Name Servers

{% include 'documentation/name-servers.j2' %}

## NTP

{% include 'documentation/ntp-servers.j2' %}

## Spanning Tree

{% include 'documentation/spanning-tree.j2' %}

## AAA Authentication

{% include 'documentation/aaa-authentication.j2' %}

## Local Users

{% include 'documentation/local-users.j2' %}

## VLANs

{% include 'documentation/vlans.j2' %}

## VRF Instances

{% include 'documentation/vrf-instances.j2' %}

## BFD Multihop Interval

{% include 'documentation/bfd-multihop-interval.j2' %}

## Port-Channel Interfaces

{% include 'documentation/port-channel-interfaces.j2' %}

## Ethernet Interfaces

{% include 'documentation/ethernet-interfaces.j2' %}

## Loopback Interfaces

{% include 'documentation/loopback-interfaces.j2' %}

## VLAN Interfaces

{% include 'documentation/vlan-interfaces.j2' %}

## VXLAN Interface

{% include 'documentation/vxlan-interface.j2' %}

## Virtual Router MAC Address & Virtual Source NAT

{% include 'documentation/virtual-router-mac-address-virtual-source-nat.j2' %}

## Static Routes

{% include 'documentation/static-routes.j2' %}

## IP Routing

{% include 'documentation/ip-routing.j2' %}

## Prefix Lists

{% include 'documentation/prefix-lists.j2' %}

## MLAG

{% include 'documentation/mlag-configuration.j2' %}

## Route Maps

{% include 'documentation/route-maps.j2' %}

## Peer Filters

{% include 'documentation/peer-filters.j2' %}

## Router BGP

{% include 'documentation/router-bgp.j2' %}