{# Tenant virtual source NAT vrfs #}
{% for tenant in tenants | arista.avd.natural_sort if tenant in leaf.filter_tenants or "all" in leaf.filter_tenants %}
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if leaf.vrfs is not none and vrf in leaf.vrfs %}
{%             if tenants[tenant].vrfs[vrf].vtep_diagnostic is defined %}
{%                 if loop.first %}
## {{ tenant }} ##
{%                 endif %}
  {{ vrf }}:
    ip_address: {{ tenants[tenant].vrfs[vrf].vtep_diagnostic.loopback_ip_range | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
