{# Leaf tenant vlans #}
{% for tenant in tenants | arista.avd.natural_sort if tenant in leaf.filter_tenants or "all" in leaf.filter_tenants %}
## {{ tenant }} ##
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if leaf.vrfs is not none and vrf in leaf.vrfs %}
{# Tenant VLANs w/SVIs #}
{%             for svi in tenants[tenant].vrfs[vrf].svis | arista.avd.natural_sort if leaf.svis is not none and svi in leaf.svis %}
  {{ svi| int }}:
    tenant: {{ tenant }}
    name: {{ tenants[tenant].vrfs[vrf].svis[svi].name }}
{# VLAN for iBGP peering in overlay VRFs #}
{%                 if loop.last and type == "l3leaf" and leaf.mlag == true %}
  {{ mlag_ibgp_peering_vrfs.base_vlan + (tenants[tenant].vrfs[vrf].vrf_vni - 1) }}:
    tenant: {{ tenant }}
    name: MLAG_iBGP_{{ vrf }}
    trunk_groups:
      - LEAF_PEER_L3
{%                 endif %}
{%             endfor %}
{%         endfor %}
{%     endif %}
{# Tenant L2 VLANs #}
{%     if tenants[tenant].l2vlans is defined %}
{%         for l2vlan in tenants[tenant].l2vlans | arista.avd.natural_sort if leaf.vlans is not none and l2vlan in leaf.vlans %}
  {{ l2vlan| int }}:
    tenant: {{ tenant }}
    name: {{ tenants[tenant].l2vlans[l2vlan].name }}
{%         endfor %}
{%     endif %}
{% endfor %}
