{# Leaf tenant vrfs #}
{% for tenant in tenants | arista.avd.natural_sort if tenant in leaf.filter_tenants or "all" in leaf.filter_tenants %}
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if vrf in leaf.vrfs %}
{%             if loop.first %}
## {{ tenant }} ##
{%             endif %}
  {{ vrf }}:
    tenant: {{ tenant }}
    ip_routing: true
{%         endfor %}
{%     endif %}
{% endfor %}
