{# Clock #}
{% if clock is arista.avd.defined %}

## Clock Settings
{%     if clock.timezone is arista.avd.defined %}

### Clock Timezone Settings

Clock Timezone is set to **{{ clock.timezone }}**.
{%     endif %}

### Clock Configuration

```eos
{%     include 'eos/clock.j2' %}
```
{% endif %}
