{# eos - banners #}
{% if banners.login is arista.avd.defined %}
!
banner login
{{ banners.login }}
{% endif %}
{% if banners.motd is arista.avd.defined %}
!
banner motd
{{ banners.motd }}
{% endif %}
