{% if underlay_routing_protocol|lower == "isis" %}
  instance: EVPN_UNDERLAY
{%     if type == "spine" %}
  net: {{ isis_area_id | default('49.0001') }}.{{ isis_site_id | default('0001') }}.0000.{{ '%04d' | format(spine.nodes[inventory_hostname].id) }}.00
  router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(spine.nodes[inventory_hostname].id) }}
  no_passive_interfaces:
{# Point-to-Point Interfaces to Leaf Switches #}
{%         for l3leaf_node_group in l3leaf.node_groups | arista.avd.natural_sort %}
{%             if l3leaf.node_groups[l3leaf_node_group].spines is defined %}
{%                 set leaf_spines = l3leaf.node_groups[l3leaf_node_group].spines %}
{%             else %}
{%                 set leaf_spines = l3leaf.defaults.spines %}
{%             endif %}
{%             for node in l3leaf.node_groups[l3leaf_node_group].nodes | arista.avd.natural_sort %}
{%                 set spine_interfaces = l3leaf.node_groups[l3leaf_node_group].nodes[node].spine_interfaces %}
{%                 if l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces is defined %}
{%                     set uplink_to_spine_interfaces = l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces %}
{%                 else %}
{%                     set uplink_to_spine_interfaces = l3leaf.defaults.uplink_to_spine_interfaces %}
{%                 endif %}
{%                 for leaf_spine in leaf_spines %}
{%                     if leaf_spine == inventory_hostname %}
    - {{ spine_interfaces[loop.index0] }}
{%                     endif %}
{%                 endfor %}
{%             endfor %}
{%         endfor %}
{%     elif type == "l3leaf" %}
  net: {{ isis_area_id }}.{{ isis_site_id }}.0001.{{ '%04d' | format(leaf.id) }}.00
  router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}
  no_passive_interfaces:
{%         for uplink_to_spine_interface in leaf.uplink_to_spine_interfaces %}
    - {{ uplink_to_spine_interface }}
{%         endfor %}
{%         if leaf.mlag == true %}
    - Vlan4093
    - Loopback1
{%         endif %}
{%    endif %}
  is_type: level-2
  address_family: ['ipv4 unicast']
  isis_af_defaults:
    - maximum-paths {{ spine.nodes | length * max_l3leaf_to_spine_links }}
{% endif %}
