{# snmp settings #}
snmp_server:
{% if snmp_settings is arista.avd.defined %}
{%     if snmp_settings.compute_local_engineid is arista.avd.defined(true) %}
{%         set local_engine_id = (inventory_hostname ~ switch.mgmt_ip) | ansible.builtin.hash('sha1') %}
    engineid:
      local: {{ local_engine_id }}
{%     endif %}
{%     if snmp_settings.contact is arista.avd.defined %}
    contact: {{ snmp_settings.contact }}
{%     endif %}
{%     if snmp_settings.location is arista.avd.defined(true) %}
{%         set snmp_location = fabric_name %}
{%         if dc_name is arista.avd.defined %}
{%             set snmp_location = snmp_location ~ " " ~ dc_name %}
{%         endif %}
{%         if pod_name is arista.avd.defined %}
{%             set snmp_location = snmp_location ~ " " ~ pod_name %}
{%         endif %}
{%         if switch.rack is arista.avd.defined %}
{%             set snmp_location = snmp_location ~ " " ~ switch.rack %}
{%         endif %}
{%         set snmp_location = snmp_location ~ " " ~ inventory_hostname %}
    location: {{ snmp_location }}
{%     endif %}
{%     if snmp_settings.users is arista.avd.defined %}
    users:
{%         for user in snmp_settings.users %}
    - name: {{ user.name }}
      group: {{ user.group }}
      version: {{ user.version }}
{%             if user.version is arista.avd.defined("v3")
                 and snmp_settings.compute_local_engineid is arista.avd.defined(true)
                 and snmp_settings.compute_v3_user_localized_key is arista.avd.defined(true) %}
      localized:  {{ local_engine_id }}
{%             endif %}
{%             if user.version is arista.avd.defined("v3")
                and user.auth is arista.avd.defined
                and user.auth_passphrase is arista.avd.defined %}
      auth: {{ user.auth }}
{%                 if snmp_settings.compute_local_engineid is arista.avd.defined(true)
                      and snmp_settings.compute_v3_user_localized_key is arista.avd.defined(true) %}
{%                     set hash_filter = {"passphrase": user.auth_passphrase, "auth": user.auth, "engine_id": local_engine_id} %}
      auth_passphrase: {{ hash_filter | arista.avd.hash_passphrase }}
{%                 else %}
      auth_passphrase: {{ user.auth_passphrase }}
{%                 endif %}
{%                 if user.priv is arista.avd.defined
                       and user.priv_passphrase is arista.avd.defined %}
      priv: {{ user.priv }}
{%                     if snmp_settings.compute_local_engineid is arista.avd.defined(true)
                         and snmp_settings.compute_v3_user_localized_key is arista.avd.defined(true) %}
{%                         do hash_filter.update({"passphrase": user.priv_passphrase, "priv": user.priv}) %}
      priv_passphrase: {{ hash_filter | arista.avd.hash_passphrase }}
{%                     else %}
      priv_passphrase: {{ user.priv_passphrase }}
{%                     endif %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
