{#
 Copyright (c) 2025-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - aaa authorization policy local default-role #}
{% if aaa_authorization.policy.local_default_role is arista.avd.defined %}
aaa authorization policy local default-role {{ aaa_authorization.policy.local_default_role }}
{% endif %}
