{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - aaa root #}
{% if aaa_root.disabled is arista.avd.defined(true) %}
no aaa root
{% elif aaa_root.secret.sha512_password is arista.avd.defined %}
aaa root secret sha512 {{ aaa_root.secret.sha512_password | arista.avd.hide_passwords(hide_passwords) }}
{% endif %}
