{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - arp #}
{% if arp.aging.timeout_default is arista.avd.defined or arp.static_entries is arista.avd.defined or arp.persistent is arista.avd.defined %}
!
{%     if arp.persistent.enabled is arista.avd.defined(true) %}
{%         set persistent_cli = "arp persistent" %}
{%         if arp.persistent.refresh_delay is arista.avd.defined %}
{%             set persistent_cli = persistent_cli ~ " refresh-delay " ~ arp.persistent.refresh_delay %}
{%         endif %}
{{ persistent_cli }}
{%     endif %}
{%     if arp.aging.timeout_default is arista.avd.defined %}
arp aging timeout default {{ arp.aging.timeout_default }}
{%     endif %}
{%     if arp.static_entries is arista.avd.defined %}
{%         set with_vrf_non_default = [] %}
{%         set without_vrf = [] %}
{#         Forming the vrf static entries and non vrf sta entries to render same as EOS 4.35.0F #}
{%         for entry in arp.static_entries %}
{%             if entry.vrf is not arista.avd.defined or entry.vrf is arista.avd.defined("default") %}
{%                 do without_vrf.append(entry) %}
{%             else %}
{%                 do with_vrf_non_default.append(entry) %}
{%             endif %}
{%         endfor %}
{%         for entry in without_vrf | arista.avd.natural_sort("ipv4_address") %}
arp {{ entry.ipv4_address }} {{ entry.mac_address }} arpa
{%         endfor %}
{%         for entry in with_vrf_non_default | arista.avd.natural_sort('ipv4_address') | arista.avd.natural_sort(sort_key='vrf', ignore_case=false) %}
arp vrf {{ entry.vrf }} {{ entry.ipv4_address }} {{ entry.mac_address }} arpa
{%         endfor %}
{%     endif %}
{% endif %}
