{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - as path #}
{% if as_path is arista.avd.defined %}
!
{%     if as_path.regex_mode is arista.avd.defined %}
ip as-path regex-mode {{ as_path.regex_mode }}
{%     endif %}
{%     for as_path_access_list in as_path.access_lists | arista.avd.natural_sort('name') %}
{%         if as_path_access_list.entries is arista.avd.defined %}
{%             for as_path_access_list_entry in as_path_access_list.entries %}
{%                 if as_path_access_list_entry.type is arista.avd.defined and as_path_access_list_entry.match is arista.avd.defined %}
ip as-path access-list {{ as_path_access_list.name }} {{ as_path_access_list_entry.type }} {{ as_path_access_list_entry.match }} {{ as_path_access_list_entry.origin | arista.avd.default('any') }}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
