{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - dot1x #}
{% if dot1x is arista.avd.defined %}
{%     if dot1x.mac_based_authentication is arista.avd.defined or dot1x.radius_av_pair is arista.avd.defined or
         dot1x.aaa.unresponsive is arista.avd.defined or dot1x.captive_portal is arista.avd.defined
         or dot1x.supplicant is arista.avd.defined  or dot1x.radius_av_pair_username_format is arista.avd.defined %}
dot1x
{%         for profile in dot1x.supplicant.profiles | arista.avd.natural_sort("name") %}
   supplicant profile {{ profile.name }}
{%             if profile.identity is arista.avd.defined %}
      identity {{ profile.identity }}
{%             endif %}
{%             if profile.eap_method is arista.avd.defined %}
      eap-method {{ profile.eap_method }}
{%             endif %}
{%             if profile.passphrase is arista.avd.defined %}
      passphrase {{ profile.passphrase_type | arista.avd.default("7") }} {{ profile.passphrase | arista.avd.hide_passwords(hide_passwords) }}
{%             endif %}
{%             if profile.ssl_profile is arista.avd.defined %}
      ssl profile {{ profile.ssl_profile }}
{%             endif %}
{%             if not loop.last %}
   !
{%             endif %}
{%         endfor %}
{%         if dot1x.aaa.unresponsive is arista.avd.defined %}
{%             set aaa_config = "aaa unresponsive" %}
{%             if dot1x.aaa.unresponsive.phone_action is arista.avd.defined or dot1x.aaa.unresponsive.action is arista.avd.defined %}
{%                 set actions = [{'name': 'phone_action', 'config': aaa_config ~ ' phone action'}, {'name': 'action', 'config': aaa_config ~ ' action'}] %}
{%                 for action in actions %}
{%                     if dot1x.aaa.unresponsive[action.name] is arista.avd.defined %}
{%                         set aaa_action_config = action.config %}
{%                         if dot1x.aaa.unresponsive[action.name].apply_cached_results is arista.avd.defined(true) or
                              dot1x.aaa.unresponsive[action.name].traffic_allow is arista.avd.defined(true) or
                              dot1x.aaa.unresponsive[action.name].traffic_allow_vlan is arista.avd.defined %}
{%                             if dot1x.aaa.unresponsive[action.name].apply_cached_results is arista.avd.defined(true) %}
{%                                 set action_apply_config = "apply cached-results" %}
{%                                 if dot1x.aaa.unresponsive[action.name].cached_results_timeout.time_duration is arista.avd.defined and dot1x.aaa.unresponsive[action.name].cached_results_timeout.time_duration_unit is arista.avd.defined %}
{%                                     set action_apply_config = action_apply_config ~ " timeout " ~ dot1x.aaa.unresponsive[action.name].cached_results_timeout.time_duration ~ " " ~ dot1x.aaa.unresponsive[action.name].cached_results_timeout.time_duration_unit %}
{%                                 endif %}
{%                             endif %}
{%                             if dot1x.aaa.unresponsive[action.name].traffic_allow is arista.avd.defined(true) %}
{%                                 set traffic = "traffic allow" %}
{%                             elif dot1x.aaa.unresponsive[action.name].traffic_allow_vlan is arista.avd.defined %}
{%                                 set traffic = "traffic allow vlan " ~ dot1x.aaa.unresponsive[action.name].traffic_allow_vlan %}
{%                             endif %}
{%                             if dot1x.aaa.unresponsive[action.name].apply_alternate is arista.avd.defined(true) and action_apply_config is arista.avd.defined and traffic is arista.avd.defined %}
{%                                 set aaa_action_config = aaa_action_config ~ " " ~ action_apply_config ~ " else " ~ traffic %}
{%                             elif action_apply_config is arista.avd.defined %}
{%                                 set aaa_action_config = aaa_action_config ~ " " ~ action_apply_config %}
{%                             elif traffic is arista.avd.defined %}
{%                                 set aaa_action_config = aaa_action_config ~ " " ~ traffic %}
{%                             endif %}
   {{ aaa_action_config }}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%             if dot1x.aaa.unresponsive.eap_response is arista.avd.defined %}
   {{ aaa_config }} eap response {{ dot1x.aaa.unresponsive.eap_response }}
{%             endif %}
{%         endif %}
{%         if dot1x.aaa.accounting_update_interval is arista.avd.defined %}
   aaa accounting update interval {{ dot1x.aaa.accounting_update_interval }} seconds
{%         endif %}
{%         if dot1x.mac_based_authentication is arista.avd.defined %}
{%             if dot1x.mac_based_authentication.delay is arista.avd.defined %}
   mac based authentication delay {{ dot1x.mac_based_authentication.delay }} seconds
{%             endif %}
{%             if dot1x.mac_based_authentication.hold_period is arista.avd.defined %}
   mac based authentication hold period {{ dot1x.mac_based_authentication.hold_period }} seconds
{%             endif %}
{%         endif %}
{%         if dot1x.radius_av_pair.service_type is arista.avd.defined(true) %}
   radius av-pair service-type
{%         endif %}
{%         if dot1x.radius_av_pair.framed_mtu is arista.avd.defined %}
   radius av-pair framed-mtu {{ dot1x.radius_av_pair.framed_mtu }}
{%         endif %}
{%         if dot1x.radius_av_pair_username_format.delimiter is arista.avd.defined and dot1x.radius_av_pair_username_format.mac_string_case is arista.avd.defined %}
   mac-based-auth radius av-pair user-name delimiter {{ dot1x.radius_av_pair_username_format.delimiter }} {{ dot1x.radius_av_pair_username_format.mac_string_case }}
{%         endif %}
{%         if dot1x.aaa.unresponsive.recovery_action_reauthenticate is arista.avd.defined(true) %}
   {{ aaa_config }} recovery action reauthenticate
{%         endif %}
{%         if dot1x.supplicant.disconnect_cached_results_timeout is arista.avd.defined %}
   supplicant disconnect cached-results timeout {{ dot1x.supplicant.disconnect_cached_results_timeout }} seconds
{%         endif %}
{%         if dot1x.captive_portal.enabled is arista.avd.defined(true) %}
{%             set captive_portal_cli = "captive-portal" %}
{%             if dot1x.captive_portal.url is arista.avd.defined %}
{%                 set captive_portal_cli = captive_portal_cli ~ " url " ~ dot1x.captive_portal.url %}
{%             endif %}
{%             if dot1x.captive_portal.ssl_profile is arista.avd.defined %}
{%                 set captive_portal_cli = captive_portal_cli ~ " ssl profile " ~ dot1x.captive_portal.ssl_profile %}
{%             endif %}
   {{ captive_portal_cli }}
{%             if dot1x.captive_portal.access_list_ipv4 is arista.avd.defined %}
   captive-portal access-list ipv4 {{ dot1x.captive_portal.access_list_ipv4 }}
{%             endif %}
{%             if dot1x.captive_portal.start_limit_infinite is arista.avd.defined(true) %}
   captive-portal start limit infinite
{%             endif %}
{%         endif %}
{%         if dot1x.radius_av_pair.lldp is arista.avd.defined %}
{%             if dot1x.radius_av_pair.lldp.system_name.enabled is arista.avd.defined(true) %}
{%                 set av_pair_lldp = "radius av-pair lldp system-name" %}
{%                 if dot1x.radius_av_pair.lldp.system_name.auth_only is arista.avd.defined(true) %}
{%                     set av_pair_lldp = av_pair_lldp ~ " auth-only" %}
{%                 endif %}
   {{ av_pair_lldp }}
{%             endif %}
{%             if dot1x.radius_av_pair.lldp.system_description.enabled is arista.avd.defined(true) %}
{%                 set av_pair_lldp = "radius av-pair lldp system-description" %}
{%                 if dot1x.radius_av_pair.lldp.system_description.auth_only is arista.avd.defined(true) %}
{%                     set av_pair_lldp = av_pair_lldp ~ " auth-only" %}
{%                 endif %}
   {{ av_pair_lldp }}
{%             endif %}
{%         endif %}
{%         if dot1x.radius_av_pair.dhcp is arista.avd.defined %}
{%             if dot1x.radius_av_pair.dhcp.hostname.enabled is arista.avd.defined(true) %}
{%                 set av_pair_dhcp = "radius av-pair dhcp hostname" %}
{%                 if dot1x.radius_av_pair.dhcp.hostname.auth_only is arista.avd.defined(true) %}
{%                     set av_pair_dhcp = av_pair_dhcp ~ " auth-only" %}
{%                 endif %}
   {{ av_pair_dhcp }}
{%             endif %}
{%             if dot1x.radius_av_pair.dhcp.parameter_request_list.enabled is arista.avd.defined(true) %}
{%                 set av_pair_dhcp = "radius av-pair dhcp parameter-request-list" %}
{%                 if dot1x.radius_av_pair.dhcp.parameter_request_list.auth_only is arista.avd.defined(true) %}
{%                     set av_pair_dhcp = av_pair_dhcp ~ " auth-only" %}
{%                 endif %}
   {{ av_pair_dhcp }}
{%             endif %}
{%             if dot1x.radius_av_pair.dhcp.vendor_class_id.enabled is arista.avd.defined(true) %}
{%                 set av_pair_dhcp = "radius av-pair dhcp vendor-class-id" %}
{%                 if dot1x.radius_av_pair.dhcp.vendor_class_id.auth_only is arista.avd.defined(true) %}
{%                     set av_pair_dhcp = av_pair_dhcp ~ " auth-only" %}
{%                 endif %}
   {{ av_pair_dhcp }}
{%             endif %}
{%         endif %}
{%         if dot1x.supplicant.logging is arista.avd.defined(true) %}
   supplicant logging
{%         endif %}
{%     endif %}
{% endif %}
