{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - enable password #}
{% if enable_password is arista.avd.defined %}
{%     if enable_password.disabled is arista.avd.defined(true) %}
!
no enable password
{%     elif enable_password.key is arista.avd.defined %}
!
{%         if enable_password.hash_algorithm is arista.avd.defined('md5') %}
enable password 5 {{ enable_password.key | arista.avd.hide_passwords(hide_passwords) }}
{%         elif enable_password.hash_algorithm is arista.avd.defined('sha512') %}
enable password sha512 {{ enable_password.key | arista.avd.hide_passwords(hide_passwords) }}
{%         endif %}
{%     endif %}
{% endif %}
