{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - interface ip nat #}
{# Print NAT entries in the following order: #}
{# without-group-sort-by-original-ip -> with-group-source-sort-by-group -> with-group-destination-sort-by-group -> dynamic-unnatural-sort-by-acl #}
{% set unsorted_nat_entries = [] %}
{# Static source nat entries #}
{% for nat in interface_ip_nat.source.static | arista.avd.default([]) %}
{%     if not (nat.access_list is arista.avd.defined and nat.group is arista.avd.defined) and
          not (nat.original_port is not arista.avd.defined and nat.translated_port is arista.avd.defined) %}
{%         set nat_cli = 'ip nat source' %}
{%         set sort_key = 'a_' ~ nat.original_ip %}
{%         if nat.direction is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.direction %}
{%         endif %}
{%         set nat_cli = nat_cli ~ ' static ' ~ nat.original_ip %}
{%         if nat.original_port is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.original_port %}
{%             set sort_key = sort_key ~ '_' ~ nat.original_port %}
{%         endif %}
{%         if nat.access_list is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' access-list ' ~ nat.access_list %}
{%         endif %}
{%         set nat_cli = nat_cli ~ ' ' ~ nat.translated_ip %}
{%         if nat.translated_port is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.translated_port %}
{%         endif %}
{%         if nat.protocol is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' protocol ' ~ nat.protocol %}
{%         endif %}
{%         if nat.group is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' group ' ~ nat.group %}
{%             set sort_key = 'c_' ~ nat.group %}
{%         endif %}
{%         if nat.comment is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' comment ' ~ nat.comment %}
{%         endif %}
{%         do unsorted_nat_entries.append({"sort_key": sort_key, "cli": nat_cli}) %}
{%     endif %}
{% endfor %}
{# Static destination nat entries #}
{% for nat in interface_ip_nat.destination.static | arista.avd.default([]) %}
{%     if not (nat.access_list is arista.avd.defined and nat.group is arista.avd.defined) and
          not (nat.original_port is not arista.avd.defined and nat.translated_port is arista.avd.defined) %}
{%         set nat_cli = 'ip nat destination' %}
{%         set sort_key = 'a_' ~ nat.original_ip %}
{%         if nat.direction is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.direction %}
{%         endif %}
{%         set nat_cli = nat_cli ~ ' static ' ~ nat.original_ip %}
{%         if nat.original_port is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.original_port %}
{%             set sort_key = sort_key ~ '_' ~ nat.original_port %}
{%         endif %}
{%         if nat.access_list is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' access-list ' ~ nat.access_list %}
{%         endif %}
{%         set nat_cli = nat_cli ~ ' ' ~ nat.translated_ip %}
{%         if nat.translated_port is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' ' ~ nat.translated_port %}
{%         endif %}
{%         if nat.protocol is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' protocol ' ~ nat.protocol %}
{%         endif %}
{%         if nat.group is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' group ' ~ nat.group %}
{%             set sort_key = 'c_' ~ nat.group %}
{%         endif %}
{%         if nat.comment is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' comment ' ~ nat.comment %}
{%         endif %}
{%         do unsorted_nat_entries.append({"sort_key": sort_key, "cli": nat_cli}) %}
{%     endif %}
{% endfor %}
{# Dynamic source nat entries #}
{% for nat in interface_ip_nat.source.dynamic | arista.avd.default([]) %}
{%     set valid = false %}
{%     set nat_cli = 'ip nat source dynamic access-list ' ~ nat.access_list %}
{#     Exploding the access-list name to avoid natural sorting on it. #}
{%     set sort_key = 'd_' ~ nat.access_list | join(".") %}
{%     if nat.nat_type == 'overload' %}
{%         set nat_cli = nat_cli ~ ' overload' %}
{%         set valid = true %}
{%     elif nat.pool_name is arista.avd.defined %}
{%         set nat_cli = nat_cli ~ ' pool ' ~ nat.pool_name %}
{%         set valid = true %}
{%         if nat.nat_type == 'pool-address-only' %}
{%             set nat_cli = nat_cli ~ ' address-only' %}
{%         elif nat.nat_type == 'pool-full-cone' %}
{%             set nat_cli = nat_cli ~ ' full-cone' %}
{%         endif %}
{%     endif %}
{%     if valid %}
{%         if nat.priority | arista.avd.default(0) > 0 %}
{%             set nat_cli = nat_cli ~ ' priority ' ~ nat.priority %}
{%         endif %}
{%         if nat.comment is arista.avd.defined %}
{%             set nat_cli = nat_cli ~ ' comment ' ~ nat.comment %}
{%         endif %}
{%         do unsorted_nat_entries.append({"sort_key": sort_key, "cli": nat_cli}) %}
{%     endif %}
{% endfor %}
{# Dynamic destination nat entries #}
{% for nat in interface_ip_nat.destination.dynamic | arista.avd.default([]) %}
{%     set nat_cli = 'ip nat destination dynamic access-list ' ~ nat.access_list ~ ' pool ' ~ nat.pool_name %}
{#     Exploding the access-list name to avoid natural sorting on it. #}
{%     set sort_key = 'd_' ~ nat.access_list | join(".") %}
{%     if nat.priority | arista.avd.default(0) > 0 %}
{%         set nat_cli = nat_cli ~ ' priority ' ~ nat.priority %}
{%     endif %}
{%     if nat.comment is arista.avd.defined %}
{%         set nat_cli = nat_cli ~ ' comment ' ~ nat.comment %}
{%     endif %}
{%     do unsorted_nat_entries.append({"sort_key": sort_key, "cli": nat_cli}) %}
{% endfor %}
{% for nat_entry in unsorted_nat_entries | arista.avd.natural_sort("sort_key") %}
   {{ nat_entry.cli }}
{% endfor %}
