{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip client source-interfaces #}
{% if ip_ftp_client is arista.avd.defined
      or ip_http_client is arista.avd.defined
      or ip_ssh_client is arista.avd.defined
      or ip_telnet_client is arista.avd.defined
      or ip_tftp_client is arista.avd.defined %}
!
{%     if ip_ftp_client.source_interface is arista.avd.defined %}
ip ftp client source-interface {{ ip_ftp_client.source_interface }}
{%     endif %}
{%     for vrf in ip_ftp_client.vrfs | arista.avd.natural_sort('name', ignore_case=false) %}
ip ftp client source-interface {{ vrf.source_interface }} vrf {{ vrf.name }}
{%     endfor %}
{%     if ip_http_client.source_interface is arista.avd.defined %}
ip http client local-interface {{ ip_http_client.source_interface }}
{%     endif %}
{%     for vrf in ip_http_client.vrfs | arista.avd.natural_sort("name", ignore_case=false) %}
ip http client local-interface {{ vrf.source_interface }} vrf {{ vrf.name }}
{%     endfor %}
{%     if ip_ssh_client.source_interface is arista.avd.defined %}
ip ssh client source-interface {{ ip_ssh_client.source_interface }}
{%     endif %}
{%     for vrf in ip_ssh_client.vrfs | arista.avd.natural_sort("name", ignore_case=false) %}
ip ssh client source-interface {{ vrf.source_interface }} vrf {{ vrf.name }}
{%     endfor %}
{%     if ip_telnet_client.source_interface is arista.avd.defined %}
ip telnet client source-interface {{ ip_telnet_client.source_interface }}
{%     endif %}
{%     for vrf in ip_telnet_client.vrfs | arista.avd.natural_sort('name', ignore_case=false) %}
ip telnet client source-interface {{ vrf.source_interface }} vrf {{ vrf.name }}
{%     endfor %}
{%     if ip_tftp_client.source_interface is arista.avd.defined %}
ip tftp client source-interface {{ ip_tftp_client.source_interface }}
{%     endif %}
{%     for vrf in ip_tftp_client.vrfs | arista.avd.natural_sort('name', ignore_case=false) %}
ip tftp client source-interface {{ vrf.source_interface }} vrf {{ vrf.name }}
{%     endfor %}
{% endif %}
