{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip community lists #}
{% for community_list in ip_community_lists | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}
{%     for entry in community_list.entries %}
{%         if entry.regexp is arista.avd.defined %}
ip community-list regexp {{ community_list.name }} {{ entry.action }} {{ entry.regexp }}
{%         elif entry.communities is arista.avd.defined %}
ip community-list {{ community_list.name }} {{ entry.action }} {{ entry.communities | join(' ') }}
{%         endif %}
{%     endfor %}
{% endfor %}
