{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip nat part 2 (pools, synchronization) #}
{% if ip_nat is arista.avd.defined %}
!
{%     for pool_type, pools in ip_nat.pools | arista.avd.natural_sort(sort_key='name', ignore_case=false) | groupby("type", default="ip-port") %}
{%         if pool_type == 'ip-port' %}
{%             for pool in pools | selectattr("prefix_length", "arista.avd.defined") %}
ip nat pool {{ pool.name }} prefix-length {{ pool.prefix_length }}
{# First handle pools with first and last ip only #}
{%                 for range in pool.ranges | arista.avd.default([])
                    | selectattr("first_ip", "arista.avd.defined")
                    | selectattr("last_ip", "arista.avd.defined")
                    %}
{# Only render if both first and last port are NOT set for backward compatibility #}
{%                     if not (range.first_port is arista.avd.defined and range.last_port is arista.avd.defined) %}
   range {{ range.first_ip }} {{ range.last_ip }}
{%                     endif %}
{%                 endfor %}
{# Then handle pools with first and last ip and first and last port #}
{%                 for range in pool.ranges | arista.avd.default([])
                     | selectattr("first_ip", "arista.avd.defined")
                     | selectattr("last_ip", "arista.avd.defined")
                     | selectattr("first_port", "arista.avd.defined")
                     | selectattr("last_port", "arista.avd.defined")
                     %}
   range {{ range.first_ip }} {{ range.last_ip }} {{ range.first_port }} {{ range.last_port }}
{%                 endfor %}
{%                 if pool.utilization_log_threshold is arista.avd.defined %}
   utilization threshold {{ pool.utilization_log_threshold }} action log
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if pool_type == 'port-only' %}
{%             for pool in pools %}
ip nat pool {{ pool.name }} port-only
{%                 for range in pool.ranges | arista.avd.default([]) | selectattr("first_port", "arista.avd.defined") | selectattr("last_port", "arista.avd.defined") %}
   port range {{ range.first_port }} {{ range.last_port }}
{%                 endfor %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{%     if ip_nat.synchronization is arista.avd.defined %}
ip nat synchronization
{%         if ip_nat.synchronization.description is arista.avd.defined %}
   description {{ ip_nat.synchronization.description }}
{%         endif %}
{%         if ip_nat.synchronization.expiry_interval is arista.avd.defined %}
   expiry-interval {{ ip_nat.synchronization.expiry_interval }}
{%         endif %}
{%         if ip_nat.synchronization.shutdown | arista.avd.default(false) %}
   shutdown
{%         endif %}
{%         if ip_nat.synchronization.peer_address is arista.avd.defined %}
   peer-address {{ ip_nat.synchronization.peer_address }}
{%         endif %}
{%         if ip_nat.synchronization.local_interface is arista.avd.defined %}
   local-interface {{ ip_nat.synchronization.local_interface }}
{%         endif %}
{%         if ip_nat.synchronization.port_range is arista.avd.defined %}
{%             if ip_nat.synchronization.port_range.first_port is arista.avd.defined and
                       ip_nat.synchronization.port_range.last_port is arista.avd.defined %}
   port-range {{ ip_nat.synchronization.port_range.first_port }} {{ ip_nat.synchronization.port_range.last_port }}
{%             endif %}
{%             if ip_nat.synchronization.port_range.split_disabled | arista.avd.default(false)  %}
   port-range split disabled
{%             endif %}
{%         endif %}
{%     endif %}
{% endif %}
