{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip name servers #}
{% if ip_name_servers is arista.avd.defined %}
{# Without priority OR priority is 0 #}
{%     set without_priority_ns = (
            ip_name_servers | rejectattr("priority", "arista.avd.defined") | list
            )
            + (
            ip_name_servers
            | selectattr("priority", "arista.avd.defined", 0)
            | list
        ) %}
{%     for name_server in without_priority_ns | arista.avd.natural_sort("ip_address") | arista.avd.natural_sort(sort_key="vrf", ignore_case=false) %}
{%         set name_server_cli = "ip name-server" %}
{%         if name_server.vrf is arista.avd.defined %}
{%             set name_server_cli = name_server_cli ~ " vrf " ~ name_server.vrf %}
{%         endif %}
{%         set name_server_cli = name_server_cli ~ " " ~ name_server.ip_address %}
{{ name_server_cli }}
{%     endfor %}
{# With priority != 0 #}
{%     for name_server in ip_name_servers | selectattr("priority", "arista.avd.defined") | selectattr("priority", "ne", 0) | arista.avd.natural_sort("ip_address") | arista.avd.natural_sort(sort_key="vrf", ignore_case=false) | arista.avd.natural_sort("priority") %}
{%         set name_server_cli = "ip name-server" %}
{%         if name_server.vrf is arista.avd.defined %}
{%             set name_server_cli = name_server_cli ~ " vrf " ~ name_server.vrf %}
{%         endif %}
{%         set name_server_cli = name_server_cli ~ " " ~ name_server.ip_address ~ " priority " ~ name_server.priority %}
{{ name_server_cli }}
{%     endfor %}
{% endif %}
