{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{% for name_server_group in ip_name_server_groups | arista.avd.natural_sort(sort_key="name", ignore_case=false) %}
!
ip name-server group {{ name_server_group.name }}
{# adding this logic for flattening name-servers to maintain EOS CLI ordering #}
{%     set flattened_name_servers = [] %}
{%     for vrf in name_server_group.vrfs | arista.avd.default([]) %}
{%         for name_server in vrf.name_servers %}
{%             set server = {"vrf": vrf.name, "ip_address": name_server.ip_address} %}
{%             if name_server.priority is arista.avd.defined %}
{%                 do server.update({"priority": name_server.priority}) %}
{%             endif %}
{%             do flattened_name_servers.append(server) %}
{%         endfor %}
{%     endfor %}
{# TODO: : AVD 7.0.0 Remove this if block once "name_servers" key is removed #}
{%     if not flattened_name_servers and name_server_group.name_servers is arista.avd.defined %}
{%         set flattened_name_servers = name_server_group.name_servers %}
{%     endif %}
{%     for server in flattened_name_servers | arista.avd.natural_sort("ip_address") | arista.avd.natural_sort(sort_key="vrf", ignore_case=false) | arista.avd.natural_sort("priority", default_value="0") %}
{%         set name_server_cli = "name-server vrf " ~ server.vrf ~ " " ~ server.ip_address %}
{%         if server.priority is arista.avd.defined %}
{%             set name_server_cli = name_server_cli ~ " priority " ~ server.priority %}
{%         endif %}
   {{ name_server_cli }}
{%     endfor %}
{%     if name_server_group.dns_domain is arista.avd.defined %}
   dns domain {{ name_server_group.dns_domain }}
{%     endif %}
{%     for domain in name_server_group.ip_domain_lists | arista.avd.natural_sort %}
   ip domain-list {{ domain }}
{%     endfor %}
{% endfor %}
