{#
 Copyright (c) 2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip ospf router-id output-format hostnames #}
{% if ip_ospf_router_id_output_format_hostnames is arista.avd.defined(true) %}
!
ip ospf router-id output-format hostnames
{% endif %}
