{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip radius source interfaces #}
{% if ip_radius is arista.avd.defined %}
!
{%     if ip_radius.source_interface is arista.avd.defined %}
ip radius source-interface {{ ip_radius.source_interface }}
{%     endif %}
{%     for vrf in ip_radius.vrfs | arista.avd.natural_sort('name', ignore_case=false) %}
ip radius vrf {{ vrf.name }} source-interface {{ vrf.source_interface }}
{%     endfor %}
{% elif ip_radius_source_interfaces is arista.avd.defined %}
!
{%     for ip_radius in ip_radius_source_interfaces | arista.avd.natural_sort(sort_key='name') %}
{%         set ip_radius_cli = "ip radius" %}
{%         if ip_radius.vrf is arista.avd.defined %}
{%             set ip_radius_cli = ip_radius_cli ~ " vrf " ~ ip_radius.vrf %}
{%         endif %}
{%         set ip_radius_cli = ip_radius_cli ~ " source-interface " ~ ip_radius.name %}
{{ ip_radius_cli }}
{%     endfor %}
{% endif %}
