{#
 Copyright (c) 2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip software forwarding #}
{% if ip_software_forwarding.mtu.size is arista.avd.defined %}
ip software forwarding mtu {{ ip_software_forwarding.mtu.size }}
{% endif %}
{% if ip_software_forwarding.mtu.exceed_action_drop is arista.avd.defined(true) %}
ip software forwarding mtu exceed action drop
{% endif %}
