{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip virtual router mac address mlag-peer #}
{% if ip_virtual_router_mac_address_mlag_peer is arista.avd.defined(true) %}
!
ip virtual-router mac-address mlag-peer
{% endif %}
