{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ipv6 access lists #}
{% for ipv6_access_list in ipv6_access_lists | arista.avd.natural_sort(sort_key='name', ignore_case=false) %}
!
ipv6 access-list {{ ipv6_access_list.name }}
{%     if ipv6_access_list.counters_per_entry is arista.avd.defined(true) %}
   counters per-entry
{%     endif %}
{%     for sequence in ipv6_access_list.sequence_numbers | arista.avd.natural_sort('sequence') %}
   {{ sequence.sequence }} {{ sequence.action }}
{%     endfor %}
{% endfor %}
