{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - kernel software configuration #}
{% if kernel.software_forwarding_ecmp is arista.avd.defined(true) %}
!
kernel software forwarding ecmp
{% endif %}
