{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - logging event congestion-drops #}
{% if logging.event.congestion_drops_interval is arista.avd.defined %}
!
logging event congestion-drops interval {{ logging.event.congestion_drops_interval }}
{% endif %}
