{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - monitor layer1 #}
{% if monitor_layer1.enabled is arista.avd.defined(true) %}
!
monitor layer1
{%     if monitor_layer1.logging_transceiver.enabled is arista.avd.defined(true) %}
   logging transceiver
{%     endif %}
{%     if monitor_layer1.logging_transceiver.dom is arista.avd.defined(true) %}
   logging transceiver dom
{%     endif %}
{%     if monitor_layer1.logging_transceiver.communication is arista.avd.defined(true) %}
   logging transceiver communication
{%     endif %}
{%     if monitor_layer1.logging_mac_fault is arista.avd.defined(true) %}
   logging mac fault
{%     endif %}
{% endif %}
