{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - monitor sessions default #}
{% if monitor_sessions_default_encapsulation_gre.payload is arista.avd.defined %}
monitor session default encapsulation gre payload {{ monitor_sessions_default_encapsulation_gre.payload }}
{% endif %}
