{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - monitor sessions #}
{% if monitor_sessions is arista.avd.defined %}
!
{%     for monitor_session in monitor_sessions | arista.avd.natural_sort('name') %}
{%         if monitor_session.access_group.type is arista.avd.defined and monitor_session.access_group.name is arista.avd.defined %}
{%             set session_access_group = true %}
monitor session {{ monitor_session.name }} {{ monitor_session.access_group.type }} access-group {{ monitor_session.access_group.name }}
{%         endif %}
{%         for source in monitor_session.sources | arista.avd.natural_sort('name') %}
{%             set source_cli = "monitor session " ~ monitor_session.name ~ " source " ~ source.name %}
{%             if source.direction is arista.avd.defined %}
{%                 set source_cli = source_cli ~ " " ~ source.direction %}
{%             endif %}
{%             if session_access_group is not arista.avd.defined %}
{%                 if source.access_group.type is arista.avd.defined and source.access_group.name is arista.avd.defined %}
{%                     set source_cli = source_cli ~ " " ~ source.access_group.type ~ " access-group " ~ source.access_group.name %}
{%                     if source.access_group.priority is arista.avd.defined %}
{%                         set source_cli = source_cli ~ " priority " ~ source.access_group.priority %}
{%                     endif %}
{%                 endif %}
{%             endif %}
{{ source_cli }}
{%         endfor %}
{%         for destination in monitor_session.destinations | arista.avd.natural_sort %}
monitor session {{ monitor_session.name }} destination {{ destination }}
{%         endfor %}
{%         if monitor_session.truncate.enabled is arista.avd.defined(true) %}
{%             set truncate_cli = "monitor session " ~ monitor_session.name ~ " truncate" %}
{%             if monitor_session.truncate.size is arista.avd.defined %}
{%                 set truncate_cli = truncate_cli ~ " size " ~ monitor_session.truncate.size %}
{%             endif %}
{{ truncate_cli }}
{%         endif %}
{%         if monitor_session.sample is arista.avd.defined %}
monitor session {{ monitor_session.name }} sample {{ monitor_session.sample }}
{%         endif %}
{%         if monitor_session.rate_limit_per_ingress_chip is arista.avd.defined %}
monitor session {{ monitor_session.name }} rate-limit per-ingress-chip {{ monitor_session.rate_limit_per_ingress_chip }}
{%         endif %}
{%         if monitor_session.rate_limit_per_egress_chip is arista.avd.defined %}
monitor session {{ monitor_session.name }} rate-limit per-egress-chip {{ monitor_session.rate_limit_per_egress_chip }}
{%         endif %}
{%         if monitor_session.header_remove_size is arista.avd.defined %}
monitor session {{ monitor_session.name }} header remove size {{ monitor_session.header_remove_size }}
{%         endif %}
{%         if monitor_session.encapsulation_gre_metadata_tx is arista.avd.defined(true) %}
monitor session {{ monitor_session.name }} encapsulation gre metadata tx
{%         endif %}
{%     endfor %}
{% endif %}
