{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - platform profile apply #}
{% if platform.trident.mmu.headroom_pool.limit is arista.avd.defined %}
!
platform trident mmu headroom-pool limit {{ platform.trident.mmu.headroom_pool.unit | arista.avd.default("bytes") }} {{ platform.trident.mmu.headroom_pool.limit }}
{% endif %}
