{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - port channel #}
{% if port_channel.load_balance_trident is arista.avd.defined %}
!
{%     set all_headers = [
  {'protocol': 'IPv4', 'direction': 'outer', 'layer': 'l2', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv4.header.outer.l2},
  {'protocol': 'IPv4', 'direction': 'inner', 'layer': 'l3', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv4.header.inner.l3},
  {'protocol': 'IPv4', 'direction': 'outer', 'layer': 'l3', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv4.header.outer.l3},
  {'protocol': 'IPv4', 'direction': 'inner', 'layer': 'l4', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv4.header.inner.l4},
  {'protocol': 'IPv4', 'direction': 'outer', 'layer': 'l4', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv4.header.outer.l4},
  {'protocol': 'IPv6', 'direction': 'outer', 'layer': 'l2', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv6.header.outer.l2},
  {'protocol': 'IPv6', 'direction': 'inner', 'layer': 'l3', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv6.header.inner.l3},
  {'protocol': 'IPv6', 'direction': 'outer', 'layer': 'l3', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv6.header.outer.l3},
  {'protocol': 'IPv6', 'direction': 'inner', 'layer': 'l4', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv6.header.inner.l4},
  {'protocol': 'IPv6', 'direction': 'outer', 'layer': 'l4', 'headers': port_channel.load_balance_trident.udf_eth_type.ipv6.header.outer.l4}
] %}
{%     for headers in all_headers %}
{%         for header in headers.headers %}
{%             set header_cli = "port-channel load-balance trident udf eth-type " ~ headers.protocol ~ " header " ~ headers.direction ~ " " ~ headers.layer ~ " offset " ~ header.offset %}
{%             if header.mask is arista.avd.defined %}
{%                 set header_cli = header_cli ~ " mask " ~ header.mask %}
{%             endif %}
{{ header_cli }}
{%         endfor %}
{%     endfor %}
{% endif %}
