{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router rip #}
{% for rip in router_rip | arista.avd.default([]) | arista.avd.natural_sort(sort_key='vrf', ignore_case=false) %}
!
{%     if rip.vrf == "default" %}
router rip
{%     else %}
router rip vrf {{ rip.vrf }}
{%     endif %}
{%     if rip.metric is arista.avd.defined %}
   metric default {{ rip.metric }}
{%     endif %}
{# Note: Natural sort on networks does not work perfectly #}
{%     for network in rip.networks | arista.avd.natural_sort %}
   network {{ network }}
{%     endfor %}
{%     if rip.enabled is arista.avd.defined(true) %}
   no shutdown
{%     else %}
   shutdown
{%     endif %}
{% endfor %}
