{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - schedule #}
{% if schedule is arista.avd.defined %}
{%     if schedule.config is arista.avd.defined %}
{%         if schedule.config.max_concurrent_jobs is arista.avd.defined %}
schedule config max-concurrent-jobs {{ schedule.config.max_concurrent_jobs }}
{%         endif %}
{%         if schedule.config.prepend_hostname_logfile is arista.avd.defined(true) %}
schedule config prepend-hostname-logfile
{%         endif %}
{%     endif %}
{%     for job in schedule.jobs | arista.avd.natural_sort('name') %}
{%         set schedule_cli = "schedule " ~ job.name %}
{%         if job.interval is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " interval " ~ job.interval %}
{%         elif job.at is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " at " ~ job.at.time %}
{%             if job.at.date is arista.avd.defined %}
{%                 set schedule_cli = schedule_cli ~ " " ~ job.at.date %}
{%             endif %}
{%             if job.at.once is arista.avd.defined(true) %}
{%                 set schedule_cli = schedule_cli ~ " once" %}
{%             elif job.at.interval is arista.avd.defined %}
{%                 set schedule_cli = schedule_cli ~ " interval " ~ job.at.interval %}
{%             endif %}
{%         elif job.now is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " now interval " ~ job.now.interval %}
{%         endif %}
{%         if job.timeout is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " timeout " ~ job.timeout %}
{%         endif %}
{%         if job.max_log_files is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " max-log-files " ~ job.max_log_files %}
{%         endif %}
{%         if job.logging_verbose is arista.avd.defined(true) %}
{%             set schedule_cli = schedule_cli ~ " logging verbose" %}
{%         endif %}
{%         if job.loglocation is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " loglocation " ~ job.loglocation %}
{%         endif %}
{%         if job.max_total_size is arista.avd.defined %}
{%             set schedule_cli = schedule_cli ~ " max-total-size " ~ job.max_total_size %}
{%         endif %}
{%         set schedule_cli = schedule_cli ~ " command " ~ job.command %}
{{ schedule_cli }}
{%     endfor %}
{% endif %}
