{#
 Copyright (c) 2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - switchport validation #}
{% if switchport.ethernet_llc_validation is arista.avd.defined(true) %}
!
switchport ethernet llc validation
{% endif %}
{% if switchport.vlan_tag_validation is arista.avd.defined(true) %}
!
switchport vlan tag validation
{% endif %}
