{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - system #}
{% if system.control_plane is arista.avd.defined %}
!
system control-plane
{#     control_plane tcp mss ceiling #}
{%     if system.control_plane.tcp_mss.ipv4 is arista.avd.defined or system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}
{%         set cp_mss_cli = "tcp mss ceiling" %}
{%         if system.control_plane.tcp_mss.ipv4 is arista.avd.defined %}
{%             set cp_mss_cli = cp_mss_cli ~ " ipv4 " ~ system.control_plane.tcp_mss.ipv4 %}
{%         endif %}
{%         if system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}
{%             set cp_mss_cli = cp_mss_cli ~ " ipv6 " ~ system.control_plane.tcp_mss.ipv6 %}
{%         endif %}
   {{ cp_mss_cli }}
{%     endif %}
{#     control_plane access_groups ipv4 #}
{%     if system.control_plane.ipv4_access_group_ingress_default is arista.avd.defined %}
   ip access-group ingress default {{ system.control_plane.ipv4_access_group_ingress_default }}
{%     endif %}
{%     if system.control_plane.ipv4_access_groups is arista.avd.defined %}
{%         set with_vrf_non_default = system.control_plane.ipv4_access_groups | selectattr('vrf', 'arista.avd.defined') | rejectattr('vrf', 'equalto', 'default') | arista.avd.natural_sort | arista.avd.natural_sort('vrf') %}
{%         set without_vrf = system.control_plane.ipv4_access_groups | rejectattr('vrf', 'arista.avd.defined') | arista.avd.natural_sort %}
{%         set with_vrf_default = system.control_plane.ipv4_access_groups | selectattr('vrf', 'arista.avd.defined') | selectattr('vrf', 'equalto', 'default') | arista.avd.natural_sort %}
{%         set sorted_ipv4_access_groups =  without_vrf | list + with_vrf_default | list + with_vrf_non_default | list %}
{%     endif %}
{%     for acl_set in sorted_ipv4_access_groups | arista.avd.default([]) %}
{%         set cp_ipv4_access_grp = "ip access-group " ~ acl_set.acl_name %}
{%         if acl_set.vrf is arista.avd.defined %}
{%             set cp_ipv4_access_grp = cp_ipv4_access_grp ~ " vrf " ~ acl_set.vrf %}
{%         endif %}
{%         set cp_ipv4_access_grp = cp_ipv4_access_grp ~ " in" %}
   {{ cp_ipv4_access_grp }}
{%     endfor %}
{#     control_plane access_groups ipv6 #}
{%     if system.control_plane.ipv6_access_group_ingress_default is arista.avd.defined %}
   ipv6 access-group ingress default {{ system.control_plane.ipv6_access_group_ingress_default }}
{%     endif %}
{%     if system.control_plane.ipv6_access_groups is arista.avd.defined %}
{%         set with_vrf_non_default = system.control_plane.ipv6_access_groups | selectattr('vrf', 'arista.avd.defined') | rejectattr('vrf', 'equalto', 'default') | arista.avd.natural_sort | arista.avd.natural_sort('vrf') %}
{%         set without_vrf = system.control_plane.ipv6_access_groups | rejectattr('vrf', 'arista.avd.defined') | arista.avd.natural_sort %}
{%         set with_vrf_default = system.control_plane.ipv6_access_groups | selectattr('vrf', 'arista.avd.defined') | selectattr('vrf', 'equalto', 'default') | arista.avd.natural_sort %}
{%         set sorted_ipv6_access_groups =  without_vrf | list + with_vrf_default | list + with_vrf_non_default | list %}
{%     endif %}
{%     for acl_set in sorted_ipv6_access_groups | arista.avd.default([]) %}
{%         set cp_ipv6_access_grp = "ipv6 access-group " ~ acl_set.acl_name %}
{%         if acl_set.vrf is arista.avd.defined %}
{%             set cp_ipv6_access_grp = cp_ipv6_access_grp ~ " vrf " ~ acl_set.vrf %}
{%         endif %}
{%         set cp_ipv6_access_grp = cp_ipv6_access_grp ~ " in" %}
   {{ cp_ipv6_access_grp }}
{%     endfor %}
{% endif %}
