{# j2lint: disable=V1 #}
{# eos- VxLAN Interface #}
{% if vxlan_interface.Vxlan1 is arista.avd.defined %}
!
interface Vxlan1
{%     if vxlan_interface.Vxlan1.description is arista.avd.defined %}
   description {{ vxlan_interface.Vxlan1.description }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.source_interface is arista.avd.defined %}
   vxlan source-interface {{ vxlan_interface.Vxlan1.vxlan.source_interface }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.virtual_router_encapsulation_mac_address is arista.avd.defined %}
   vxlan virtual-router encapsulation mac-address {{ vxlan_interface.Vxlan1.vxlan.virtual_router_encapsulation_mac_address }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.udp_port is arista.avd.defined %}
   vxlan udp-port {{ vxlan_interface.Vxlan1.vxlan.udp_port }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.flood_vtep_learned_data_plane is arista.avd.defined(true) %}
   vxlan flood vtep learned data-plane
{%     endif %}
{%     for vlan in vxlan_interface.Vxlan1.vxlan.vlans | arista.avd.convert_dicts('id') | arista.avd.natural_sort('id') %}
   vxlan vlan {{ vlan.id }} vni {{ vlan.vni }}
{%         if vlan.flood_vteps is arista.avd.defined %}
   vxlan vlan {{ vlan.id }} flood vtep {{ vlan.flood_vteps | join(' ') }}
{%         endif %}
{%     endfor %}
{%     for vrf in vxlan_interface.Vxlan1.vxlan.vrfs | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%         if vrf.vni is arista.avd.defined %}
   vxlan vrf {{ vrf.name }} vni {{ vrf.vni }}
{%         endif %}
{%     endfor %}
{%     if vxlan_interface.Vxlan1.vxlan.mlag_source_interface is arista.avd.defined %}
   vxlan mlag source-interface {{ vxlan_interface.Vxlan1.vxlan.mlag_source_interface }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.flood_vteps is arista.avd.defined %}
   vxlan flood vtep {{ vxlan_interface.Vxlan1.vxlan.flood_vteps | join(' ') }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.qos.dscp_propagation_encapsulation is arista.avd.defined(true) %}
   vxlan qos dscp propagation encapsulation
{%     elif vxlan_interface.Vxlan1.vxlan.qos.dscp_propagation_encapsulation is arista.avd.defined(false) %}
   no vxlan qos dscp propagation encapsulation
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.qos.map_dscp_to_traffic_class_decapsulation is arista.avd.defined(true) %}
   vxlan qos map dscp to traffic-class decapsulation
{%     elif vxlan_interface.Vxlan1.vxlan.qos.map_dscp_to_traffic_class_decapsulation is arista.avd.defined(false) %}
   no vxlan qos map dscp to traffic-class decapsulation
{%     endif %}
{%     for vlan in vxlan_interface.Vxlan1.vxlan.vlans | arista.avd.convert_dicts('id') | arista.avd.natural_sort('id') if vlan.multicast_group is arista.avd.defined %}
   vxlan vlan {{ vlan.id }} multicast group {{ vlan.multicast_group }}
{%     endfor %}
{%     for vrf in vxlan_interface.Vxlan1.vxlan.vrfs | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') if vrf.multicast_group is arista.avd.defined %}
   vxlan vrf {{ vrf.name }} multicast group {{ vrf.multicast_group }}
{%     endfor %}
{%     if  vxlan_interface.Vxlan1.eos_cli is arista.avd.defined %}
   {{ vxlan_interface.Vxlan1.eos_cli | indent(3, false) }}
{%     endif %}
{% endif %}
