{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
# {{ inventory_hostname }} Commands Output

## Table of Contents

{% for command in commands_list %}
- [{{ command }}](#{{ command | replace(" ","-") }})
{% endfor %}
