{# j2lint: disable=V1 #}
{# MLAG iBGP peering #}
{% if switch.mlag_l3 is arista.avd.defined(true) and switch.underlay_routing_protocol == "ebgp" %}
router_bgp:
  peer_groups:
    {{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.name | arista.avd.default("MLAG-IPv4-UNDERLAY-PEER") }}:
      type: ipv4
      remote_as: "{{ switch.bgp_as }}"
      next_hop_self: true
{%     if bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.password is arista.avd.defined() %}
      password: "{{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.password }}"
{%     endif %}
      maximum_routes: 12000
      send_community: all
{%     if switch.mlag_ibgp_origin_incomplete == true %}
      route_map_in: RM-MLAG-PEER-IN
{%     endif %}
  address_family_ipv4:
    peer_groups:
      {{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.name | arista.avd.default("MLAG-IPv4-UNDERLAY-PEER") }}:
        activate: true
{%     if underlay_rfc5549 is arista.avd.defined(true) %}
        next_hop:
          address_family_ipv6_originate: true
  neighbor_interfaces:
    Vlan{{ switch.mlag_peer_l3_vlan | arista.avd.default(switch.mlag_peer_vlan) }}:
      peer_group: {{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.name | arista.avd.default("MLAG-IPv4-UNDERLAY-PEER") }}
      remote_as: "{{ switch.bgp_as }}"
      description: {{ switch.mlag_peer }}
{%     else %}
  neighbors:
    {{ switch.mlag_peer_l3_ip | arista.avd.default(switch.mlag_peer_ip) }}:
      peer_group: {{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.name | arista.avd.default("MLAG-IPv4-UNDERLAY-PEER") }}
      description: {{ switch.mlag_peer }}
{%     endif %}
{% endif %}
