{# Leaf mlag configuration #}
{% set ns = namespace() %}
{% if leaf.mlag == true %}
### MLAG Configuration ###
mlag_configuration:
  domain_id: {{ leaf.mlag_group }}
  local_interface: Vlan4094
  peer_address: {{ mlag_ips.mlag_peer | ipaddr('network') | ipmath(leaf.mlag_peer_ip) }}
{%     if leaf.mlag_dual_primary_detection == true %}
  peer_address_heartbeat:
    peer_ip: {{ leaf.mlag_peer_mgmt_ip }}
    vrf: {{ mgmt_interface_vrf }}
  dual_primary_detection_delay: 5
{%     endif %}
  peer_link: Port-Channel{{ leaf.mlag_interfaces[0] | regex_findall("\d") | join }}
{%     set ns = namespace() %}
{%     for platform_setting in platform_settings %}
{%         set ns.platform_defined = false %}
{%         if switch.platform in platform_setting.platforms %}
{%             set ns.platform_defined = true %}
{%             if platform_setting.reload_delay is defined %}
  reload_delay_mlag: {{ platform_setting.reload_delay.mlag }}
  reload_delay_non_mlag: {{ platform_setting.reload_delay.non_mlag }}
{%             endif %}
{%             break %}
{%         endif %}
{%     endfor %}
{%     for platform_setting in platform_settings if ns.platform_defined == false %}
{%         if 'default' in platform_setting.platforms %}
{%             if platform_setting.reload_delay is defined %}
  reload_delay_mlag: {{ platform_setting.reload_delay.mlag }}
  reload_delay_non_mlag: {{ platform_setting.reload_delay.non_mlag }}
{%             endif %}
{%             break %}
{%         endif %}
{%     endfor %}
{% endif %}