{% set switch.platform = super_spine.platform %}
{% set switch.mgmt_ip = super_spine.nodes[inventory_hostname].mgmt_ip %}
{% set switch.spanning_tree_mode = "none" %}
{% set switch.id = super_spine.nodes[inventory_hostname].id %}
{% set switch.rack = super_spine.nodes[inventory_hostname].rack | arista.avd.default() %}
{% if bgp_as is arista.avd.defined and switch.overlay_routing_protocol == 'ibgp' %}
{%     set switch.bgp_as = bgp_as %}
{% else %}
{%     set switch.bgp_as = super_spine.bgp_as | arista.avd.default() %}
{% endif %}
{% set switch.router_id = super_spine_loopback_network_summary | ipaddr('network') | ipmath(switch.id) %}
{% set switch.bgp_defaults = super_spine_bgp_defaults | arista.avd.default([]) %}
{# Logic for EVPN Role for Overlay BGP Peerings #}
{# For super-spine the default value is none #}
{% set switch.evpn_role = super_spine.nodes[inventory_hostname].evpn_role | arista.avd.default(
                          'none') %}
{% set switch.raw_evpn_route_servers = super_spine.nodes[inventory_hostname].evpn_route_servers | arista.avd.default(
                                       []) %}
