{% if virtual_source_nat_vrfs is defined and virtual_source_nat_vrfs is not none %}
### Virtual Source NAT Summary

| Source NAT VRF | Source NAT IP Address |
| -------------- | --------------------- |
{%     for vrf in virtual_source_nat_vrfs | natural_sort %}
| {{ vrf }} | {{ virtual_source_nat_vrfs[vrf].ip_address }} |
{%     endfor %}

### Virtual Source NAT Device Configuration

```eos
{% include 'eos/virtual-source-nat.j2' %}
```
{% else %}
No virtual source nat defined
{% endif %}