{% if vlan_internal_allocation_policy is defined and vlan_internal_allocation_policy is not none %}
### Internal VLAN Allocation Policy Summary

| Policy Allocation | Range Beginning | Range Ending |
| ------------------| --------------- | ------------ |
| {{ vlan_internal_allocation_policy.allocation }} | {{ vlan_internal_allocation_policy.range.beginning }} | {{ vlan_internal_allocation_policy.range.ending }} |

### Internal VLAN Allocation Policy Configuration

```eos
{% include 'eos/vlan-internal-allocation-policy.j2' %}
```
{% else %}
### Internal VLAN Allocation Policy Summary

**Default Allocation Policy**

| Policy Allocation | Range Beginning | Range Ending |
| ------------------| --------------- | ------------ |
| ascending | 1006 | 4094 |

{% endif %}
