{% set validate_state_report = namespace() %}
{% set validate_state_report.tests_passed = 0 %}
{% set validate_state_report.tests_failed = 0 %}
{% set validate_state_report.total_tests_passed = 0 %}
{% set validate_state_report.total_tests_failed = 0 %}
{% set validate_state_report.total_tests = 0 %}
{% set validate_state_report.test_categories = [] %}
{% set validate_state_report.test_categories_failed = [] %}
{% set validate_state_report.duts = [] %}
{% for test_id in validation_report_csv.dict %}
{%     do validate_state_report.duts.append(validation_report_csv.dict[test_id].node) %}
{%     do validate_state_report.test_categories.append(validation_report_csv.dict[test_id].test_category) %}
{%     if validation_report_csv.dict[test_id].result == "PASS" %}
{%         set validate_state_report.total_tests_passed = validate_state_report.total_tests_passed + 1 %}
{%     elif validation_report_csv.dict[test_id].result == "FAIL" %}
{%         set validate_state_report.total_tests_failed = validate_state_report.total_tests_failed + 1 %}
{%     endif %}
{%     if loop.last %}
{%        set validate_state_report.total_tests = loop.length %}
{%     endif %}
{% endfor %}
{% set validate_state_report.duts = validate_state_report.duts | unique  %}
{% set validate_state_report.test_categories = validate_state_report.test_categories | unique  %}

# Validate State Report

**Table of Contents:**

- [Validate State Report](validate-state-report)
  - [Test Results Summary](#test-results-summary)
  - [Failed Test Results Summary](#failed-test-results-summary)
  - [All Test Results](#all-test-results)

## Test Results Summary

### Summary Totals

| Total Tests | Total Tests Passed | Total Tests Failed |
| ----------- | ------------------ | ------------------ |
| {{ validate_state_report.total_tests }} | {{ validate_state_report.total_tests_passed }} | {{ validate_state_report.total_tests_failed }} |

### Summary Totals Devices Under Tests

| DUT | Total Tests | Tests Passed | Tests Failed | Categories Failed |
| --- | ----------- | ------------ | ------------ | ----------------- |
{% for dut in validate_state_report.duts %}
{%     for test_id in validation_report_csv.dict %}
{%         if validation_report_csv.dict[test_id].node == dut %}
{%             if validation_report_csv.dict[test_id].result == "PASS" %}
{%                 set validate_state_report.tests_passed = validate_state_report.tests_passed + 1 %}
{%             elif validation_report_csv.dict[test_id].result == "FAIL" %}
{%                 set validate_state_report.tests_failed = validate_state_report.tests_failed + 1 %}
{%                 do validate_state_report.test_categories_failed.append(validation_report_csv.dict[test_id].test_category) %}
{%             endif %}
{%         endif %}
{%     endfor %}
| {{ dut }} |  {{ validate_state_report.tests_passed + validate_state_report.tests_failed }} | {{ validate_state_report.tests_passed }} | {{ validate_state_report.tests_failed }} | {{ validate_state_report.test_categories_failed | default('-', true) | unique | join(', ') }} |
{%     set validate_state_report.tests_passed = 0 %}
{%     set validate_state_report.tests_failed = 0 %}
{%     set validate_state_report.test_categories_failed = [] %}
{% endfor %}

### Summary Totals Per Category

| Test Category | Total Tests | Tests Passed | Tests Failed |
| ------------- | ----------- | ------------ | ------------ |
{% for test_category in validate_state_report.test_categories %}
{%     for test_id in validation_report_csv.dict %}
{%         if validation_report_csv.dict[test_id].test_category == test_category %}
{%             if validation_report_csv.dict[test_id].result == "PASS" %}
{%                 set validate_state_report.tests_passed = validate_state_report.tests_passed + 1 %}
{%             elif validation_report_csv.dict[test_id].result == "FAIL" %}
{%                 set validate_state_report.tests_failed = validate_state_report.tests_failed + 1 %}
{%             endif %}
{%         endif %}
{%     endfor %}
| {{ test_category }} |  {{ validate_state_report.tests_passed + validate_state_report.tests_failed }} | {{ validate_state_report.tests_passed }} | {{ validate_state_report.tests_failed }} |
{%     set validate_state_report.tests_passed = 0 %}
{%     set validate_state_report.tests_failed = 0 %}
{% endfor %}

## Failed Test Results Summary

| Test ID | Node | Test Category | Test Description | Test | Test Result | Failure Reason |
| ------- | ---- | ------------- | ---------------- | ---- | ----------- | -------------- |
{% for test_id in validation_report_csv.dict %}
{%     if validation_report_csv.dict[test_id].result == "FAIL" %}
| {{ test_id }} | {{ validation_report_csv.dict[test_id].node }} | {{ validation_report_csv.dict[test_id].test_category }} | {{ validation_report_csv.dict[test_id].test_description }} | {{ validation_report_csv.dict[test_id].test }} | {{ validation_report_csv.dict[test_id].result|arista.avd.status_render(validate_state_markdown_flavor) }} | {{ validation_report_csv.dict[test_id].failure_reason }} |
{%     endif %}
{% endfor %}

## All Test Results

| Test ID | Node | Test Category | Test Description | Test | Test Result | Failure Reason |
| ------- | ---- | ------------- | ---------------- | ---- | ----------- | -------------- |
{% for test_id in validation_report_csv.dict %}
| {{ test_id }} | {{ validation_report_csv.dict[test_id].node }} | {{ validation_report_csv.dict[test_id].test_category }} | {{ validation_report_csv.dict[test_id].test_description }} | {{ validation_report_csv.dict[test_id].test }} | {{ validation_report_csv.dict[test_id].result|arista.avd.status_render(validate_state_markdown_flavor) }} | {{ validation_report_csv.dict[test_id].failure_reason }} |
{% endfor %}
