{# j2lint: disable=jinja-statements-delimiter #}
{%- if link_type is arista.avd.defined('underlay_p2p') -%}
{{ description_prefix }}_{{ interface }}_P2P_LINK_TO_{{ peer | upper }}_{{ peer_interface }}
{%- elif link_type is arista.avd.defined('underlay_l2') -%}
{{ description_prefix }}_{{ interface }}_{{ peer | upper }}_{{ peer_interface }}
{%- elif link_type is arista.avd.defined('l3_edge') -%}
{{ description_prefix }}_{{ interface }}_L3_EDGE_{{ peer | upper }}_{{ peer_interface }}
{%- elif link_type is arista.avd.defined('core_interfaces') -%}
{{ description_prefix }}_{{ interface }}_CORE_INTERFACES_{{ peer | upper }}_{{ peer_interface }}
{%- endif -%}
