{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
Node Type,Node,Node Interface,Peer Type,Peer Node,Peer Interface,Node Interface Enabled
{% if node_type_keys is arista.avd.defined %}
{%     set node_types = node_type_keys | arista.avd.convert_dicts('key') | map(attribute="type") %}
{% else %}
{%     set default_node_types = {
           "l3ls-evpn": ["spine", "l3leaf", "l2leaf", "super-spine", "overlay-controller"],
           "mpls": ["p", "pe", "rr"],
           "l2ls": ["l3spine", "spine", "leaf"]
       } %}
{%     set node_types = default_node_types[design.type | arista.avd.default("l3ls-evpn")] %}
{% endif %}
{% for node in groups[fabric_name] | arista.avd.natural_sort %}
{%     set node_hostvars = hostvars[node] %}
{%     set node_facts = avd_switch_facts[node] %}
{%     if node_facts.switch.type | arista.avd.default('undefined') in node_types %}
{%         for ethernet_interface in node_hostvars.ethernet_interfaces | arista.avd.convert_dicts("name") | arista.avd.natural_sort("name") %}
{%             set csv_line = [] %}
{%             do csv_line.append(node_facts.switch.type) %}
{%             do csv_line.append(node) %}
{%             do csv_line.append(ethernet_interface.name) %}
{%             do csv_line.append(ethernet_interface.peer_type | arista.avd.default("")) %}
{%             do csv_line.append(ethernet_interface.peer | arista.avd.default("")) %}
{%             do csv_line.append(ethernet_interface.peer_interface | arista.avd.default("")) %}
{%             do csv_line.append(not ethernet_interface.shutdown | arista.avd.default(false)) %}
{{ csv_line | join(",") }}
{%         endfor %}
{%     endif %}
{% endfor %}
