{#
 Copyright (c) 2023-2025 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# In AVD v2.x the spine to super-spine links used this special IP addressing scheme #}
{# This file may still be used by older inventories #}
{% set ip_pool = switch.uplink_ipv4_pool %}
{# max number of hosts in subnet will be divided by max super-spine number to avoid address changes when provisioning new spines #}
{% set ip_pool_max_hosts_in_subnet = ip_pool | ansible.utils.ipaddr('size') %}
{% set offset = (switch.id - 1) % switch.max_parallel_uplinks %}
{{ ip_pool | ansible.utils.ipaddr('network') | ansible.utils.ipmath(
    (ip_pool_max_hosts_in_subnet / switch.max_uplink_switches) | int * (uplink_switch_index) + ((switch.id - 1) * switch.max_parallel_uplinks + offset) * 2 + 1) }}
