{# Leaf tenant router bgp evpn VRFs #}
{% set bgp_vrf = namespace() %}
{% set ns = namespace(first_vrf = true, first_vrf_neighbor = true) %}
{% for tenant in tenants | arista.avd.natural_sort if ( tenant in switch.filter_tenants or "all" in switch.filter_tenants ) and switch.evpn_services_l2_only == false %}
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if switch.vrfs is not none and vrf in switch.vrfs %}
{%             set bgp_vrf.address_family_ipv4_neighbors = [] %}
{%             set bgp_vrf.address_family_ipv6_neighbors = [] %}
{%             set leaf_evpn_rt = (tenants_data.evpn_rt_admin_subfield or tenants[tenant].vrfs[vrf].vrf_vni) ~ ':' ~ tenants[tenant].vrfs[vrf].vrf_vni %}
{%             set route_targets = namespace(import={'evpn' : [leaf_evpn_rt]},export={'evpn' : [leaf_evpn_rt]}) %}
{%             for additional_route_target in tenants[tenant].vrfs[vrf].additional_route_targets | arista.avd.natural_sort %}
{%                 if inventory_hostname in additional_route_target.nodes | arista.avd.default([inventory_hostname]) %}
{%                     if additional_route_target.address_family is arista.avd.defined and additional_route_target.route_target is arista.avd.defined and additional_route_target.type is arista.avd.defined %}
{%                         if additional_route_target.type in ['import', 'export'] %}
{%                             if additional_route_target.address_family in route_targets[additional_route_target.type] %}
{%                                 do route_targets[additional_route_target.type][additional_route_target.address_family].append(additional_route_target.route_target) %}
{%                             else %}
{%                                 do route_targets[additional_route_target.type].update({additional_route_target.address_family : [additional_route_target.route_target]}) %}
{%                             endif %}
{%                         endif %}
{%                     endif %}
{%                 endif %}
{%             endfor %}
{%             if ns.first_vrf == true %}
  vrfs:
{%                 set ns.first_vrf = false %}
{%             endif %}
    {{ vrf }}:
      router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(switch.id + switch.max_spines) }}
      rd: "{{ tenants_data.evpn_rd_admin_subfield }}:{{ tenants[tenant].vrfs[vrf].vrf_vni }}"
      route_targets:
        import: {{ route_targets.import | to_json }}
        export: {{ route_targets.export | to_json }}
{%             if switch.mlag is arista.avd.defined(true) %}
{%                 set configure_mlag_ibgp_peering = true %}
{%                 if tenants[tenant].vrfs[vrf].enable_mlag_ibgp_peering_vrfs is defined and tenants[tenant].vrfs[vrf].enable_mlag_ibgp_peering_vrfs is not none %}
{%                     set configure_mlag_ibgp_peering = tenants[tenant].vrfs[vrf].enable_mlag_ibgp_peering_vrfs %}
{%                 elif tenants[tenant].enable_mlag_ibgp_peering_vrfs is defined and tenants[tenant].enable_mlag_ibgp_peering_vrfs is not none %}
{%                     set configure_mlag_ibgp_peering = tenants[tenant].enable_mlag_ibgp_peering_vrfs %}
{%                 endif %}
{%                 if configure_mlag_ibgp_peering %}
{%                     set ns.first_neighbor = false %}
      neighbors:
        {{ mlag_ips.leaf_peer_l3 | ipaddr('network') | ipmath(switch.mlag_peer_ip) }}:
          peer_group: {{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.name | arista.avd.default("MLAG-IPv4-UNDERLAY-PEER") }}
{%                 endif %}
{%             endif %}
{%             if tenants[tenant].vrfs[vrf].bgp_peers is arista.avd.defined %}
{%                 for bgp_peer in tenants[tenant].vrfs[vrf].bgp_peers %}
{%                     if tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].nodes is arista.avd.defined %}
{%                         if inventory_hostname in tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].nodes %}
{%                             set neighbor_params = tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer] %}
{%                             if bgp_peer | ipv4 %}
{%                                 do bgp_vrf.address_family_ipv4_neighbors.append( bgp_peer ) %}
{%                             endif %}
{%                             if bgp_peer | ipv6 %}
{%                                 do bgp_vrf.address_family_ipv6_neighbors.append( bgp_peer ) %}
{%                             endif %}
{%                             if neighbor_params.set_ipv4_next_hop is arista.avd.defined or neighbor_params.set_ipv6_next_hop is arista.avd.defined %}
{%                                 do neighbor_params.update({ 'route_map_out':'RM-' ~ vrf ~ '-' ~ bgp_peer ~ '-SET-NEXT-HOP-OUT' }) %}
{%                                 if neighbor_params.default_originate is arista.avd.defined %}
{%                                     if neighbor_params.default_originate.route_map is not arista.avd.defined %}
{%                                         do neighbor_params.default_originate.update({ 'route_map_out':'RM-' ~ vrf ~ '-' ~ bgp_peer ~ '-SET-NEXT-HOP-OUT' }) %}
{%                                     endif %}
{%                                 endif %}
{%                                 if neighbor_params.set_ipv4_next_hop is arista.avd.defined %}
{%                                     do neighbor_params.pop('set_ipv4_next_hop') %}
{%                                 endif %}
{%                                 if neighbor_params.set_ipv6_next_hop is arista.avd.defined %}
{%                                     do neighbor_params.pop('set_ipv6_next_hop') %}
{%                                 endif %}
{%                             endif%}
{%                             do neighbor_params.pop('nodes') %}
{%                             if ns.first_vrf_neighbor == true %}
      neighbors:
{%                                 set ns.first_vrf_neighbor = false %}
{%                             endif %}
        {{ bgp_peer }}:
          {{ neighbor_params }}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
      redistribute_routes:
        - connected
{%             if tenants[tenant].vrfs[vrf].static_routes is arista.avd.defined %}
{%                 if tenants[tenant].vrfs[vrf].redistribute_static is not arista.avd.defined %}
{%                     for static_route in tenants[tenant].vrfs[vrf].static_routes %}
{%                         if static_route.nodes is not arista.avd.defined %}
        - static
{%                             break %}
{%                         elif inventory_hostname in static_route.nodes %}
        - static
{%                             break %}
{%                         endif %}
{%                     endfor %}
{%                 elif tenants[tenant].vrfs[vrf].redistribute_static == true %}
        - static
{%                 endif %}
{%             endif %}
      address_families:
{%             if bgp_vrf.address_family_ipv4_neighbors | length > 0 %}
        ipv4:
          neighbors:
{%                 for ipv4_neighbor in bgp_vrf.address_family_ipv4_neighbors %}
            {{ ipv4_neighbor }}:
              activate: true
{%                 endfor %}
{%             endif %}
{%             if bgp_vrf.address_family_ipv6_neighbors | length > 0 %}
        ipv6:
          neighbors:
{%                 for ipv6_neighbor in bgp_vrf.address_family_ipv6_neighbors %}
            {{ ipv6_neighbor }}:
              activate: true
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%    endif %}
{% endfor %}
