[defaults]
inventory=inventory.yml
jinja2_extensions = jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n
collections_paths =~/ansible-dev/ansible-avd:~/.ansible/collections:/usr/share/ansible/collections
