{# EBGP #}
{% if switch.overlay_routing_protocol == "ebgp" and switch.evpn_role in ["client", "server"] %}
{# Overlay network peering #}
{%     for evpn_route_server in switch.evpn_route_servers | arista.avd.natural_sort %}
    {{ switch.evpn_route_servers[evpn_route_server].ip_address }}:
      peer_group: EVPN-OVERLAY-PEERS
      description: {{ evpn_route_server }}
      remote_as: {{ switch.evpn_route_servers[evpn_route_server].bgp_as }}
{%         if evpn_prevent_readvertise_to_server is arista.avd.defined(true) %}
      route_map_out: RM-EVPN-FILTER-AS{{ switch.evpn_route_servers[evpn_route_server].bgp_as }}
{%         endif %}
{%     endfor %}
{%     for evpn_route_client in switch.evpn_route_clients | arista.avd.natural_sort %}
    {{ switch.evpn_route_clients[evpn_route_client].ip_address }}:
      peer_group: EVPN-OVERLAY-PEERS
      description: {{ evpn_route_client }}
      remote_as: {{ switch.evpn_route_clients[evpn_route_client].bgp_as }}
{%     endfor %}
{# IBGP #}
{% elif switch.overlay_routing_protocol == "ibgp" and switch.evpn_role in ["client", "server"] %}
{# Overlay network peering #}
{%     for evpn_route_server in switch.evpn_route_servers | arista.avd.natural_sort %}
    {{ switch.evpn_route_servers[evpn_route_server].ip_address }}:
      peer_group: EVPN-OVERLAY-PEERS
      description: {{ evpn_route_server }}
{%     endfor %}
{%     for evpn_route_client in switch.evpn_route_clients | arista.avd.natural_sort %}
    {{ switch.evpn_route_clients[evpn_route_client].ip_address }}:
      peer_group: EVPN-OVERLAY-PEERS
      description: {{ evpn_route_client }}
{%     endfor %}
{% endif %}