{# prefix_lists #}
prefix_lists:
  PL-TENANT-CONN-DEFAULT-VRF:
    sequence_numbers:
{% for svi_subnet in default_vrf.svi_subnets %}
      {{ 10*loop.index }}:
        action: "permit {{ svi_subnet }}"
{% endfor %}

{# route_maps #}
route_maps:
  RM-TENANT-CONN-DEFAULT-VRF:
    sequence_numbers:
      10:
        type: permit
        match:
        - ip address prefix-list TENANT-CONN-DEFAULT-VRF
