{# This only runs if bgp was not configured as part of evpn config #}
{% if switch.underlay_routing_protocol == 'ebgp' %}
router_bgp:
  redistribute_routes:
    static: {}
{% elif switch.underlay_routing_protocol in ['isis', 'isis-ldp', 'isis-sr', 'isis-sr-ldp'] %}
router_isis:
  redistribute_routes:
    - source_protocol: static
{% elif switch.underlay_routing_protocol in ['ospf', 'ospf-ldp'] %}
router_ospf:
  process_ids:
    {{ underlay_ospf_process_id }}:
      redistribute:
        static: {}
{% endif %}
