{# router bgp default vrf configuration for evpn #}
{% if default_vrf.svi_subnets %}
  peer_groups:
    {{ switch.bgp_peer_groups.ipv4_underlay_peers.name }}:
      type: ipv4
      route_map_out: RM-BGP-UNDERLAY-PEERS-OUT
{% endif %}
{% if default_vrf.static_routes %}
  redistribute_routes:
    static: {}
{% endif %}
