{# tenant vrfs #}
vrfs:
{% for tenant in network_services_data.tenants %}
{%     for vrf in tenant.vrfs if vrf.name != 'default' %}
  {{ vrf.name }}:
    tenant: {{ tenant.name }}
    ip_routing: true
{%         if vrf.name in network_services_data.ipv6vrfs %}
    ipv6_routing: true
{%         endif %}
{%         if vrf.description is arista.avd.defined %}
    description: {{ vrf.description }}
{%         endif %}
{%     endfor %}
{% endfor %}
