{# Setting rt_admin_subfield #}
{% set network_services_data.rt_admin_subfield = false %}
{% set tmp_admin_subfield = evpn_rt_type.admin_subfield | arista.avd.default(overlay_rt_type.admin_subfield) %}
{% if tmp_admin_subfield is arista.avd.defined %}
{%     if tmp_admin_subfield == "bgp_as" %}
{%         set network_services_data.rt_admin_subfield = switch.bgp_as %}
{%     elif tmp_admin_subfield is number and
            tmp_admin_subfield >= 0 and
            tmp_admin_subfield <= 4294967295 %}
{%         set network_services_data.rt_admin_subfield = tmp_admin_subfield %}
{%     endif %}
{% endif %}
{# Setting flood_lists for head-end replication #}
{% if switch.overlay_routing_protocol == "her" %}
{%     if overlay_her_flood_list_per_vni is arista.avd.defined(true) %}
{%         set switch_vlans = switch.vlans | arista.avd.default([]) | arista.avd.range_expand | map('int') %}
{%     endif %}
{%     set network_services_data.common_flood_list = [] %}
{%     set network_services_data.vlan_flood_lists = {} %}
{%     set flood_list_scope = overlay_her_flood_list_scope | arista.avd.default('fabric') %}
{%     if overlay_her_flood_list_scope is arista.avd.defined('dc') and dc_name is arista.avd.defined(fail_action='error', var_name="With 'overlay_her_flood_list_scope: dc', 'dc_name'") %}
{%         set flood_list_scope = dc_name %}
{%     else %}
{%         set flood_list_scope = fabric_name %}
{%     endif %}
{%     for peer in groups[flood_list_scope] | reject("eq", inventory_hostname) %}
{%         set peer_facts = avd_switch_facts[peer] %}
{%         if peer_facts.switch is arista.avd.defined(fail_action='warning',var_name='avd_switch_facts[' ~ peer ~ '].switch') %}
{%             if peer_facts.switch.vtep_ip is arista.avd.defined %}
{#                 Found a peer vtep. Gathering information #}
{%                 set vtep_ip = peer_facts.switch.vtep_ip %}
{%                 if overlay_her_flood_list_per_vni is arista.avd.defined(true) %}
{%                     for vlan in peer_facts.switch.vlans | arista.avd.default([]) | arista.avd.range_expand | map('int') %}
{%                         if vlan in switch_vlans %}
{%                             do network_services_data.vlan_flood_lists.setdefault(vlan, []).append(vtep_ip) %}
{%                         endif %}
{%                     endfor %}
{%                 else %}
{%                     do network_services_data.common_flood_list.append(vtep_ip) %}
{%                 endif %}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endif %}
