vxlan_interface:
{# vxlan-vtep interface #}
  Vxlan1:
    description: {{ inventory_hostname }}_VTEP
    vxlan:
      source_interface: {{ switch.vtep_loopback }}
{% if switch.mlag is arista.avd.defined(true) %}
      virtual_router_encapsulation_mac_address: "mlag-system-id"
{% endif %}
      udp_port: 4789
      vlans:
{% for tenant in switch.tenants | arista.avd.natural_sort %}
{%     for vrf in switch.tenants[tenant].vrfs | arista.avd.natural_sort %}
{%         for svi in switch.tenants[tenant].vrfs[vrf].svis | arista.avd.natural_sort %}
{%             if tenants[tenant].vrfs[vrf].svis[svi].vxlan is arista.avd.defined(false) %}
{%                 continue %}
{%             endif %}
{%             set svi_int = svi | int %}
        {{ svi_int }}:
          vni: {{ tenants[tenant].vrfs[vrf].svis[svi].vni_override | arista.avd.default(
                  tenants[tenant].mac_vrf_vni_base + svi_int) }}
{%         endfor %}
{%     endfor %}
{%     for l2vlan in switch.tenants[tenant].l2vlans | arista.avd.natural_sort %}
{%         if tenants[tenant].l2vlans[l2vlan].vxlan is arista.avd.defined(false) %}
{%             continue %}
{%         endif %}
{%         set l2vlan_int = l2vlan | int %}
        {{ l2vlan_int }}:
          vni: {{ tenants[tenant].l2vlans[l2vlan].vni_override | arista.avd.default(
                  tenants[tenant].mac_vrf_vni_base + l2vlan_int) }}
{%     endfor %}
{% endfor %}
{% if switch.evpn_services_l2_only == false %}
      vrfs:
{%     for tenant in switch.tenants | arista.avd.natural_sort %}
{%         for vrf in switch.tenants[tenant].vrfs | arista.avd.natural_sort %}
        {{ vrf }}:
          vni: {{ tenants[tenant].vrfs[vrf].vrf_vni }}
{%         endfor %}
{%     endfor %}
{% endif %}
