{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{% if overlay_loopback_description is not arista.avd.defined %}
{%     if switch.mpls_overlay_role in ["server", "client"] %}
{%         set overlay_loopback_description = "MPLS_Overlay_peering" %}
{%     elif switch.mpls_lsr is arista.avd.defined(true) %}
{%         set overlay_loopback_description = "LSR_Router_ID" %}
{%     else %}
{%         set overlay_loopback_description = "EVPN_Overlay_Peering" %}
{%     endif %}
{% endif %}
{{ overlay_loopback_description }}
