{# Leaf tenant router bgp evpn configuration- MAC-VRF VLAN-Based #}
{% if vxlan_vlan_aware_bundles == false %}
{%     for tenant in tenants | arista.avd.natural_sort if tenant in leaf.filter_tenants or "all" in leaf.filter_tenants %}
## {{ tenant }} ##
{%         if tenants[tenant].vrfs is defined %}
{%             for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if leaf.vrfs is not none and vrf in leaf.vrfs %}
{%                 for svi in tenants[tenant].vrfs[vrf].svis | arista.avd.natural_sort if svi|int in leaf.svis %}
{%                      set svi_int = svi | int %}
{%                     if tenants[tenant].vrfs[vrf].svis[svi].vni_override is defined %}
{%                         set vni = tenants[tenant].vrfs[vrf].svis[svi].vni_override %}
{%                     else %}
{%                         set vni = tenants[tenant].mac_vrf_vni_base + svi_int %}
{%                     endif %}
    {{ svi }}:
      tenant: {{ tenant }}
      rd: "{{ leaf.evpn_rd_admin_subfield }}:{{ vni }}"
      route_targets:
        both:
          - "{{ leaf.evpn_rt_admin_subfield or vni }}:{{ vni }}"
      redistribute_routes:
        - learned
{%                 endfor %}
{%             endfor %}
{%         endif %}
{%         if tenants[tenant].l2vlans is defined %}
{%             for l2vlan in tenants[tenant].l2vlans | arista.avd.natural_sort if leaf.vlans is not none and l2vlan|int in leaf.vlans %}
{%                 set l2vlan_int = l2vlan | int %}
{%                 if tenants[tenant].l2vlans[l2vlan].vni_override is defined %}
{%                     set vni = tenants[tenant].l2vlans[l2vlan].vni_override %}
{%                 else %}
{%                     set vni = tenants[tenant].mac_vrf_vni_base + l2vlan_int %}
{%                 endif %}
    {{ l2vlan }}:
      tenant: {{ tenant }}
      rd: "{{ leaf.evpn_rd_admin_subfield }}:{{ vni }}"
      route_targets:
        both:
          - "{{ leaf.evpn_rt_admin_subfield or vni }}:{{ vni }}"
      redistribute_routes:
        - learned
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
