{# spine #}
{% include 'upgrade/upgrade-2.x-to-3.0/spine.j2' %}
{# l3leaf #}
{% include 'upgrade/upgrade-2.x-to-3.0/l3leaf.j2' %}
{# l2leaf #}
{% include 'upgrade/upgrade-2.x-to-3.0/l2leaf.j2' %}
{# super_spine #}
{% include 'upgrade/upgrade-2.x-to-3.0/super_spine.j2' %}
{# overlay_controller #}
{% include 'upgrade/upgrade-2.x-to-3.0/overlay_controller.j2' %}
{# node_type_keys #}
{% include 'upgrade/upgrade-2.x-to-3.0/node_type_keys.j2' %}
{# evpn_rd_type #}
{% include 'upgrade/upgrade-2.x-to-3.0/evpn_rd_type.j2' %}
{# evpn_rt_type #}
{% include 'upgrade/upgrade-2.x-to-3.0/evpn_rt_type.j2' %}
{# ntp #}
{% include 'upgrade/upgrade-2.x-to-3.0/ntp.j2' %}
