{% if underlay_routing_protocol|lower == "ospf" %}
  process_ids:
    {{ underlay_ospf_process_id }}:
      passive_interface_default: true
{%     if type == "spine" %}
      router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(spine.nodes[inventory_hostname].id) }}
      no_passive_interfaces:
{# Point-to-Point Interfaces to Leaf Switches #}
{%         for l3leaf_node_group in l3leaf.node_groups | arista.avd.natural_sort %}
{%             if l3leaf.node_groups[l3leaf_node_group].spines is defined %}
{%                 set leaf_spines = l3leaf.node_groups[l3leaf_node_group].spines %}
{%             else %}
{%                 set leaf_spines = l3leaf.defaults.spines %}
{%             endif %}
{%             for node in l3leaf.node_groups[l3leaf_node_group].nodes | arista.avd.natural_sort %}
{%                 set spine_interfaces = l3leaf.node_groups[l3leaf_node_group].nodes[node].spine_interfaces %}
{%                 if l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces is defined %}
{%                     set uplink_to_spine_interfaces = l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces %}
{%                 else %}
{%                     set uplink_to_spine_interfaces = l3leaf.defaults.uplink_to_spine_interfaces %}
{%                 endif %}
{%                 for leaf_spine in leaf_spines %}
{%                     if leaf_spine == inventory_hostname %}
        - {{ spine_interfaces[loop.index0] }}
{%                     endif %}
{%                 endfor %}
{%             endfor %}
{%         endfor %}
{%     endif %}
{%     if type == "l3leaf" %}
      router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}
      no_passive_interfaces:
{%         for uplink_to_spine_interface in leaf.uplink_to_spine_interfaces %}
        - {{ uplink_to_spine_interface }}
{%         endfor %}
{%         if leaf.mlag == true %}
        - Vlan4093
{%         endif %}
{%     endif %}
{%     if underlay_ospf_bfd_enable is defined and underlay_ospf_bfd_enable %}
      bfd_enable: true
{%     endif %}
      max_lsa: {{ underlay_ospf_max_lsa }}
{% endif %}
