---
# Based on ansible-lint config - https://ansible.readthedocs.io/projects/lint/rules/yaml/#yamllint-configuration
extends: default

rules:
  comments:
    # https://github.com/prettier/prettier/issues/6780
    min-spaces-from-content: 1
    level: error
  # https://github.com/adrienverge/yamllint/issues/384
  comments-indentation: false
  document-start: disable
  # We are adding an extra space inside braces as that's how prettier does it
  # and we are trying not to fight other linters.
  line-length:
    max: 160
    # TODO: See how we can fix this going forward
    ignore:
      - /extensions/molecule/**/intended/structured_configs/
      - /changelogs/fragments_backup/
  braces:
    min-spaces-inside: 0 # yamllint defaults to 0
    max-spaces-inside: 1 # yamllint defaults to 0
    level: error
  octal-values:
    forbid-implicit-octal: true # yamllint defaults to false
    forbid-explicit-octal: true # yamllint defaults to false
  #######################################################################
  # AVD Extra checks as compared to default ansible-lint configuration  #
  #     in most cases we are stricter so this is not conflicting except #
  #     for the indentation rule where we are more flexible.            #
  #######################################################################
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  empty-lines:
    max: 1
    level: error
  hyphens:
    level: error
  key-duplicates:
    forbid-duplicated-merge-keys: true
  new-lines:
    type: unix
  indentation:
    level: error
    # NOTE: Here we diverge from the ansible-lint default configuration
    #       and this is causing issues when running ansible-lint without
    #       out custom configuration.
    indent-sequences: consistent
