ansible-core>=2.14.0,<2.17.0
ansible-lint>=6.21.0
pycodestyle
flake8
pylint>=2.16.1
twine
pre-commit>=3.2.0
pre-commit-hooks>=3.3.0
identify>=1.4.20
docker
molecule>=6.0
molecule-plugins[docker]>=23.4.0
yamllint
treelib>=1.5.5
md-toc>=7.1.0
natsort
jsonschema>=4.5.1,<4.18
deepmerge>=1.1.0
isort==5.12.0
black==22.8.0
ansible-doc-extractor>=0.1.10
tox
pydantic>=2.3.0
