{# L2leaf Inband Management VLAN interfaces #}
{% if l2leaf_inband_management_subnet is arista.avd.defined %}
management_interfaces:
  Vlan{{ l2leaf_inband_management_vlan|arista.avd.default('4092') }}:
    description: L2LEAF_INBAND_MGMT
    shutdown: false
    mtu: {{ p2p_uplinks_mtu }}
    ip_address: {{ switch.inband_management_ip }}
    gateway: {{ l2leaf_inband_management_subnet | ipaddr('network') | ipmath(1) }}
    type: inband
{% endif %}
