{# L3Leaf Port-Channel uplinks to L2 Leaf #}
{# Set variables #}
{% if l2leaf.node_groups is arista.avd.defined %}
port_channel_interfaces:
{%     set l3_leaf = namespace() %}
{%     set l2_leaf = namespace() %}
{%     for l2leaf_node_group in l2leaf.node_groups | arista.avd.natural_sort %}
{%         set parent_l3leafs = l2leaf.node_groups[l2leaf_node_group].parent_l3leafs | arista.avd.default(
                                l2leaf.defaults.parent_l3leafs)%}
{%         if inventory_hostname in parent_l3leafs %}
{%             set l2leaf_uplink_interfaces = l2leaf.node_groups[l2leaf_node_group].uplink_interfaces | arista.avd.default(
                                              l2leaf.defaults.uplink_interfaces) %}
{# Create port-channels for each nodes #}
{%             for node in l2leaf.node_groups[l2leaf_node_group].nodes | arista.avd.natural_sort %}
{%                 set l3_leaf.channel_group_id = (l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[0] | regex_findall("\d") | join) %}
{%                 set l2_leaf.vlans = hostvars[node].switch.vlans | arista.avd.default([]) | select("in", switch.vlans) %}
{%                 if l2leaf_inband_management_subnet is arista.avd.defined %}
{%                     do l2_leaf.vlans.append(l2leaf_inband_management_vlan | arista.avd.default(4092) | int) %}
{%                 endif %}
  Port-Channel{{ l3_leaf.channel_group_id }}:
    description: {{ l2leaf_node_group }}_{{ 'Po' + l2leaf_uplink_interfaces[loop.index0] | regex_findall("\d") | join }}
    type: switched
    shutdown: false
    vlans: {{ l2_leaf.vlans | arista.avd.list_compress }}
    mode: trunk
{%                 if p2p_uplinks_qos_profile is arista.avd.defined %}
    service_profile: {{ p2p_uplinks_qos_profile }}
{%                 endif %}
{%                 if switch.mlag is arista.avd.defined(true) %}
    mlag: {{ l3_leaf.channel_group_id }}
{%                 elif l2leaf.node_groups[l2leaf_node_group].short_esi is arista.avd.defined %}
    esi: {{ l2leaf.node_groups[l2leaf_node_group].short_esi | arista.avd.generate_esi }}
    rt: {{ l2leaf.node_groups[l2leaf_node_group].short_esi | arista.avd.generate_route_target }}
    lacp_id: {{ l2leaf.node_groups[l2leaf_node_group].short_esi | arista.avd.generate_lacp_id }}
{%                 endif %}
{%                 break %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
