{# L2leaf Inband Management VLAN interfaces #}
{% if l2leaf_inband_management_subnet is arista.avd.defined %}
vlan_interfaces:
  Vlan{{ l2leaf_inband_management_vlan | arista.avd.default('4092') }}:
    description: L2LEAF_INBAND_MGMT
    shutdown: false
    mtu: {{ p2p_uplinks_mtu }}
{%     if switch.mlag is arista.avd.defined(true) and switch.mlag_role is arista.avd.defined('secondary') %}
    ip_address: {{ l2leaf_inband_management_subnet | ansible.netcommon.ipaddr('network') | ansible.netcommon.ipmath(3) }}/{{ l2leaf_inband_management_subnet | ansible.netcommon.ipaddr('prefix') }}
{%     else %}
    ip_address: {{ l2leaf_inband_management_subnet | ansible.netcommon.ipaddr('network') | ansible.netcommon.ipmath(2) }}/{{ l2leaf_inband_management_subnet | ansible.netcommon.ipaddr('prefix') }}
{%     endif %}
    ip_virtual_router_address: {{ l2leaf_inband_management_subnet | ansible.netcommon.ipaddr('network') | ansible.netcommon.ipmath(1) }}
    ip_attached_host_route_export:
      distance: 19
{% endif %}
