{# L2 Leaf port-channel uplinks #}
{% set l3leaf = namespace() %}
{% for l2leaf_node_group in l2leaf.node_groups | arista.avd.natural_sort %}
{%     for node in l2leaf.node_groups[l2leaf_node_group].nodes | arista.avd.natural_sort %}
{%         if node == inventory_hostname %}
{%             for node in l2leaf.node_groups[l2leaf_node_group].nodes | arista.avd.natural_sort %}
{%                 if loop.first %}
{%                      set l3leaf.channel_group_id = (l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[0] | regex_findall("\d") | join ) %}
{%                 endif %}
{%             endfor %}
{%             if l2leaf.node_groups[l2leaf_node_group].uplink_interfaces is defined %}
{%                 set uplink_interfaces = l2leaf.node_groups[l2leaf_node_group].uplink_interfaces %}
{%             else %}
{%                 set uplink_interfaces = l2leaf.defaults.uplink_interfaces %}
{%             endif %}
{%             set channel_group_id = (uplink_interfaces[0] | regex_findall("\d") | join ) %}
{%             if l2leaf.node_groups[l2leaf_node_group].parent_l3leafs is defined %}
{%                 set parent_l3leafs = l2leaf.node_groups[l2leaf_node_group].parent_l3leafs %}
{%             else %}
{%                 set parent_l3leafs = l2leaf.defaults.parent_l3leafs %}
{%             endif %}
{%             set uplink_vlans = leaf.vlans %}
{%             if l2leaf_inband_management_subnet is defined and l2leaf_inband_management_subnet is not none %}
{%                 do uplink_vlans.append ( l2leaf_inband_management_vlan | arista.avd.default(4092) | int ) %}
{%             endif %}
  Port-Channel{{ channel_group_id }}:
    description: {{ parent_l3leafs[loop.index0]}}_{{ 'Po' + l3leaf.channel_group_id }}
    type: switched
    shutdown: false
    vlans: {{ uplink_vlans | arista.avd.list_compress }}
    mode: trunk
{%             if p2p_uplinks_qos_profile is arista.avd.defined %}
    service_profile: {{ p2p_uplinks_qos_profile }}
{%             endif %}
{%             if leaf.mlag == true %}
    mlag: {{ channel_group_id }}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endfor %}
