Node Type,Node,Node Interface,Peer Type,Peer,Peer Interface
{% for node in groups[fabric_name] | arista.avd.natural_sort %}
{%     if hostvars[node].type == "spine" %}
{%         if hostvars[node].ethernet_interfaces is defined and hostvars[node].ethernet_interfaces is not none %}
{%             for ethernet_interface in hostvars[node].ethernet_interfaces | arista.avd.natural_sort %}
{{ hostvars[node].type }},{{ node }},{{ ethernet_interface }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_type }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_interface }}
{%             endfor %}
{%         endif %}
{%     endif %}
{% endfor %}
{% for node in groups[fabric_name] | arista.avd.natural_sort %}
{%     if hostvars[node].type == "l3leaf" %}
{%         if hostvars[node].ethernet_interfaces is defined and hostvars[node].ethernet_interfaces is not none %}
{%             for ethernet_interface in hostvars[node].ethernet_interfaces | arista.avd.natural_sort %}
{{ hostvars[node].type }},{{ node }},{{ ethernet_interface }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_type }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_interface }}
{%             endfor %}
{%         endif %}
{%     endif %}
{% endfor %}
{% if l2leaf is defined %}
{%     for node in groups[fabric_name] | arista.avd.natural_sort %}
{%         if hostvars[node].type == "l2leaf" %}
{%             if hostvars[node].ethernet_interfaces is defined and hostvars[node].ethernet_interfaces is not none %}
{%                 for ethernet_interface in hostvars[node].ethernet_interfaces | arista.avd.natural_sort %}
{{ hostvars[node].type }},{{ node }},{{ ethernet_interface }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_type }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer }},{{ hostvars[node].ethernet_interfaces[ethernet_interface].peer_interface }}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endif %}