type, Leaf Node,Leaf Interface,Leaf IP Address,Port-Channel,Peer Node,Peer Interface,Peer IP Address,Port-Channel
{% for l3leaf_node_group in l3leaf.node_groups | arista.avd.natural_sort %}
{%     for node in l3leaf.node_groups[l3leaf_node_group].nodes | arista.avd.natural_sort %}
{%         set leaf_id = l3leaf.node_groups[l3leaf_node_group].nodes[node].id %}
{%         set leaf_spine_interfaces = l3leaf.node_groups[l3leaf_node_group].nodes[node].spine_interfaces %}
{%         if l3leaf.node_groups[l3leaf_node_group].spines is defined %}
{%             set leaf_spines = l3leaf.node_groups[l3leaf_node_group].spines %}
{%         else %}
{%             set leaf_spines = l3leaf.defaults.spines %}
{%         endif %}
{%         if l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces is defined %}
{%             set leaf_uplink_to_spine_interfaces = l3leaf.node_groups[l3leaf_node_group].uplink_to_spine_interfaces %}
{%         else %}
{%             set leaf_uplink_to_spine_interfaces = l3leaf.defaults.uplink_to_spine_interfaces %}
{%         endif %}
{%         for spine in leaf_spines %}
{%             set l3leaf_interface = leaf_uplink_to_spine_interfaces[loop.index0] %}
{%             set l3leaf_ip_address = hostvars[node].ethernet_interfaces[leaf_uplink_to_spine_interfaces[loop.index0]].ip_address %}
{%             set spine_interface = l3leaf.node_groups[l3leaf_node_group].nodes[node].spine_interfaces[loop.index0]%}
{%             set spine_ip_address = hostvars[spine].ethernet_interfaces[leaf_spine_interfaces[loop.index0]].ip_address %}
L3 Leaf,{{ node }},{{ l3leaf_interface }},{{ l3leaf_ip_address }},N/A,{{ spine }},{{ spine_interface  }},{{ spine_ip_address }},N/A
{%         endfor %}
{%     endfor %}
{% endfor %}
{% if l2leaf is defined %}
{%     for l2leaf_node_group in l2leaf.node_groups | arista.avd.natural_sort %}
{%         for node in l2leaf.node_groups[l2leaf_node_group].nodes | arista.avd.natural_sort %}
{%             if l2leaf.node_groups[l2leaf_node_group].uplink_interfaces is defined %}
{%                 set uplink_interfaces = l2leaf.node_groups[l2leaf_node_group].uplink_interfaces %}
{%             else %}
{%                 set uplink_interfaces = l2leaf.defaults.uplink_interfaces %}
{%             endif %}
{%             set l2leaf_channel_group_id = (uplink_interfaces[0] | regex_findall("\d") | join ) %}
{%             if l2leaf.node_groups[l2leaf_node_group].parent_l3leafs is defined %}
{%                 set parent_l3leafs = l2leaf.node_groups[l2leaf_node_group].parent_l3leafs %}
{%             else %}
{%                 set parent_l3leafs = l2leaf.defaults.parent_l3leafs %}
{%             endif %}
{%             for uplink_interface in uplink_interfaces %}
{%                 set l2leaf_interface = uplink_interfaces[loop.index0] %}
{%                 set l3leaf_node = parent_l3leafs[loop.index0] %}
{%                 set l3leaf_interface = l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[loop.index0] %}
{%                 set l3leaf_channel_group_id = l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[0] | regex_findall("\d") | join %}
L2 Leaf,{{ node }},{{ l2leaf_interface }},N/A,Po{{ l2leaf_channel_group_id }},{{ l3leaf_node }},{{ l3leaf_interface }},N/A,Po{{ l3leaf_channel_group_id }}
{%                 endfor %}
{%         endfor %}
{%     endfor %}
{% endif %}