{# L3Leaf Ethernet uplinks to L2 Leaf #}
{% if l2leaf.node_groups is defined %}
{%     set l3leaf = namespace() %}
{%     for l2leaf_node_group in l2leaf.node_groups | arista.avd.natural_sort %}
{# Test to see if L3 leaf is defined in any of the node groups or default, and store in variable #}
{%         if l2leaf.node_groups[l2leaf_node_group].parent_l3leafs is defined %}
{%             set parent_l3leafs = l2leaf.node_groups[l2leaf_node_group].parent_l3leafs %}
{%         else %}
{%             set parent_l3leafs = l2leaf.defaults.parent_l3leafs %}
{%         endif %}
{%         if inventory_hostname in parent_l3leafs %}
{%             for node in l2leaf.node_groups[l2leaf_node_group].nodes | arista.avd.natural_sort %}
{%                 if loop.first %}
{%                     set l3leaf.channel_group_id = (l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[0] | regex_findall("\d") | join ) %}
{%                 endif %}
{%             if l2leaf.node_groups[l2leaf_node_group].uplink_interfaces is defined %}
{%                 set l2leaf_uplink_interfaces = l2leaf.node_groups[l2leaf_node_group].uplink_interfaces %}
{%             else %}
{%                 set l2leaf_uplink_interfaces = l2leaf.defaults.uplink_interfaces %}
{%             endif %}
{%             if l2leaf.node_groups[l2leaf_node_group].p2p_link_interface_speed is defined %}
{%                 set p2p_link_interface_speed = l2leaf.node_groups[l2leaf_node_group].p2p_link_interface_speed %}
{%             elif l2leaf.defaults.p2p_link_interface_speed is defined %}
{%                 set p2p_link_interface_speed = l2leaf.defaults.p2p_link_interface_speed %}
{%             endif %}
{%                 for parent_l3leaf in parent_l3leafs %}
{%                     if inventory_hostname == parent_l3leaf  %}
## L2 LEAF link {{ l2leaf_node_group }} ##
  {{ l2leaf.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[loop.index0] }}:
    peer: {{ node }}
    peer_interface: {{ l2leaf_uplink_interfaces[loop.index0] }}
    peer_type: l2leaf
    description: {{ node }}_{{ l2leaf_uplink_interfaces[loop.index0] }}
{%                         if p2p_link_interface_speed is defined %}
    speed: {{ p2p_link_interface_speed }}
{%                         endif %}
    type: switched
    shutdown: false
    channel_group:
      id: {{ l3leaf.channel_group_id }}
      mode: active
{%                     endif %}
{%                 endfor %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
