switch:
{% for l3leaf_node_group in l3leaf.node_groups | arista.avd.natural_sort %}
{%     for node in l3leaf.node_groups[l3leaf_node_group].nodes | arista.avd.natural_sort %}
{%         if node == inventory_hostname %}
{%             if bgp_as is arista.avd.defined and switch.overlay_routing_protocol == 'ibgp' %}
  bgp_as: {{ bgp_as }}
{%             else %}
  bgp_as: {{ l3leaf.node_groups[l3leaf_node_group].nodes[node].bgp_as | arista.avd.default(
             l3leaf.node_groups[l3leaf_node_group].bgp_as,
             l3leaf.defaults.bgp_as ) }}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endfor %}
