switch:
{# switch.platform #}
  platform: {{ super_spine.platform }}
{# switch.bgp_as #}
{% if bgp_as is arista.avd.defined and switch.overlay_routing_protocol == 'ibgp' %}
  bgp_as: {{ bgp_as }}
{% else %}
  bgp_as: {{ super_spine.bgp_as | arista.avd.default() }}
{% endif %}
{##}
