{# Leaf server interfaces #}
{% for server in servers | arista.avd.natural_sort %}
{%     for adapter in servers[server].adapters | arista.avd.natural_sort %}
{%         for switch in adapter.switches | arista.avd.natural_sort %}
{%             if switch == inventory_hostname %}
{%                 if adapter.profile is arista.avd.defined %}
{%                     set adapter_profile = port_profiles[ adapter.profile ] %}
{%                 else %}
{%                     set adapter_profile = dict() %}
{%                 endif %}
{%                 set adapter_speed = adapter.speed | arista.avd.default( adapter_profile.speed ) %}
{%                 set adapter_mode = adapter.mode | arista.avd.default( adapter_profile.mode ) %}
{%                 set adapter_vlans = adapter.vlans | arista.avd.default( adapter_profile.vlans ) %}
{%                 set adapter_native_vlan = adapter.native_vlan | arista.avd.default( adapter_profile.native_vlan ) %}
{%                 set adapter_spanning_tree_portfast = adapter.spanning_tree_portfast | arista.avd.default( adapter_profile.spanning_tree_portfast ) %}
{%                 set adapter_spanning_tree_bpdufilter = adapter.spanning_tree_bpdufilter | arista.avd.default( adapter_profile.spanning_tree_bpdufilter ) %}
{%                 set adapter_storm_control = adapter.storm_control | arista.avd.default( adapter_profile.storm_control ) %}
{%                 set adapter_port_channel = adapter.port_channel | arista.avd.default( adapter_profile.port_channel ) %}
{%                 set adapter_flowcontrol = adapter.flowcontrol | arista.avd.default( adapter_profile.flowcontrol ) %}
{%                 set adapter_qos_profile = adapter.qos_profile | arista.avd.default( adapter_profile.qos_profile ) %}
{%                 set adapter_ptp = adapter.ptp | arista.avd.default( adapter_profile.ptp ) %}
{%                 set adapter_mtu = adapter.mtu | arista.avd.default( adapter_profile.mtu ) %}
{%                 set channel_group_id = (adapter.switch_ports[0] | regex_findall("\d") | join ) %}
  {{ adapter.switch_ports[loop.index0]}}:
    peer: {{ server }}
    peer_interface: {{ adapter.server_ports[loop.index0] }}
    peer_type: server
    description: {{ server }}_{{ adapter.server_ports[loop.index0] }}
{%                 if adapter_speed is arista.avd.defined %}
    speed: {{ adapter_speed }}
{%                 endif %}
{%                 if adapter_mtu is arista.avd.defined %}
    mtu: {{ adapter_mtu }}
{%                 endif %}
    type: switched
    shutdown: false
    mode: {{ adapter_mode }}
    vlans: {{ adapter_vlans }}
{%                 if adapter_native_vlan is arista.avd.defined %}
    native_vlan: {{ adapter_native_vlan }}
{%                 endif %}
{%                 if adapter_spanning_tree_portfast is arista.avd.defined %}
    spanning_tree_portfast: {{ adapter_spanning_tree_portfast }}
{%                 endif %}
{%                 if adapter_spanning_tree_bpdufilter is arista.avd.defined %}
    spanning_tree_bpdufilter: {{ adapter_spanning_tree_bpdufilter }}
{%                 endif %}
{%                 if adapter_storm_control is arista.avd.defined %}
    storm_control:
{%                     for section in adapter_storm_control %}
      {{ section }}:
        level: {{ adapter_storm_control[section].level }}
{%                         if adapter_storm_control[section].unit is arista.avd.defined %}
        unit: {{ adapter_storm_control[section].unit }}
{%                         endif %}
{%                     endfor %}
{%                 endif %}
{%                 if adapter_port_channel is arista.avd.defined and adapter_port_channel.mode is arista.avd.defined %}
    channel_group:
      id: {{ channel_group_id }}
      mode: "{{ adapter_port_channel.mode }}"
{%                 endif %}
{%                 if adapter_flowcontrol is arista.avd.defined %}
    flowcontrol:
{%                     if adapter_flowcontrol.received is arista.avd.defined %}
      received: {{ adapter_flowcontrol.received }}
{%                     endif %}
{%                 endif %}
{%                 if adapter.profile is arista.avd.defined %}
    profile: {{ adapter.profile }}
{%                 endif %}
{%                 if adapter_qos_profile is arista.avd.defined %}
    service_profile: {{ adapter_qos_profile }}
{%                 endif %}
{%                 if adapter_ptp is arista.avd.defined %}
    ptp:
{%                     if adapter_ptp.enable is arista.avd.defined %}
      enable: {{ adapter_ptp.enable }}
{%                     endif %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}
