{# Leaf server interfaces #}
{% if servers is defined and servers is not none %}
{% for server in servers | arista.avd.natural_sort() %}
{%     for adapter in servers[server].adapters %}
{%         for switch in adapter.switches %}
{%             if switch == inventory_hostname %}
{%                     set channel_group_id = (adapter.switch_ports[0] | regex_findall("\d") | join ) %}
  {{ adapter.switch_ports[loop.index0]}}:
    peer: {{ server }}
    peer_interface: {{ adapter.server_ports[loop.index0] }}
    peer_type: server
    description: {{ server }}_{{ adapter.server_ports[loop.index0] }}
{%                 if adapter.speed is defined %}
    speed: {{ adapter.speed }}
{%                 endif %}
    mode: {{ port_profiles[adapter.profile].mode }}
    vlans: {{ port_profiles[adapter.profile].vlans }}
{%                 if port_profiles[adapter.profile].spanning_tree_portfast is defined %}
    spanning_tree_portfast: {{ port_profiles[adapter.profile].spanning_tree_portfast }}
{%                 endif %}
{%                 if port_profiles[adapter.profile].spanning_tree_bpdufilter is defined %}
    spanning_tree_bpdufilter: {{ port_profiles[adapter.profile].spanning_tree_bpdufilter }}
{%                 endif %}
{%                 if port_profiles[adapter.profile].storm_control is defined and port_profiles[adapter.profile].storm_control is not none %}
    storm_control:
{%                     for section in port_profiles[adapter.profile].storm_control %}
      {{ section }}:
        level: {{ port_profiles[adapter.profile].storm_control[section].level }}
        unit: {{ port_profiles[adapter.profile].storm_control[section].unit }}
{%                     endfor %}
{%                 endif %}
{%                 if port_profiles[adapter.profile].native_vlan is defined %}
    native_vlan: {{ port_profiles[adapter.profile].native_vlan }}
{%                 endif %}
{%                 if adapter.port_channel is defined and adapter.port_channel.state == "present" %}
    channel_group:
      id: {{ channel_group_id }}
      mode: "{{ adapter.port_channel.mode }}"
{%                 endif %}
{%                 if port_profiles[adapter.profile].flowcontrol is defined %}
    flowcontrol:
{%                     if port_profiles[adapter.profile].flowcontrol.received is defined %}
      received: {{ port_profiles[adapter.profile].flowcontrol.received }}
{%                     endif %}
{%                 endif %}
    profile: {{ adapter.profile }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}
{% endif %}
