{# Leaf server port-channels #}
{% if servers is defined and servers is not none %}
{%  for server in servers | arista.avd.natural_sort() %}
{%     for adapter in servers[server].adapters %}
{%         if adapter.port_channel is defined and adapter.port_channel.state == "present" %}
{%             for switch in adapter.switches %}
{%                 if switch == inventory_hostname %}
{%                     set channel_group_id = (adapter.switch_ports[0] | regex_findall("\d") | join ) %}
  Port-Channel{{ channel_group_id }}:
    description: {{ server }}_{{ adapter.port_channel.description }}
    vlans: {{ port_profiles[adapter.profile].vlans }}
    mode: {{ port_profiles[adapter.profile].mode }}
{%                 if port_profiles[adapter.profile].native_vlan is defined %}
    native_vlan: {{ port_profiles[adapter.profile].native_vlan }}
{%                 endif %}
{%                     if adapter.switches | unique | list | length > 1 and adapter.port_channel.short_esi is not defined %}
    mlag: {{ channel_group_id }}
{%                     endif %}
{# Add ESI Support isse aristanetworks/ansible-avd #215 #}
{%                     if adapter.switches | unique | list | length > 1 %}
{%                         if adapter.port_channel.short_esi is defined and adapter.port_channel.short_esi is not none and adapter.port_channel.short_esi.split(':') | length == 3 %}
    esi: {{ adapter.port_channel.short_esi | arista.avd.generate_esi }}
    rt: {{ adapter.port_channel.short_esi | arista.avd.generate_route_target }}
{%                             if adapter.port_channel.mode is defined and adapter.port_channel.mode == 'active' %}
    lacp_id: {{ adapter.port_channel.short_esi | arista.avd.generate_lacp_id }}
{%                             endif %}
{%                         endif %}
{%                     endif %}
{%                     if port_profiles[adapter.profile].spanning_tree_portfast is defined %}
    spanning_tree_portfast: {{ port_profiles[adapter.profile].spanning_tree_portfast }}
{%                     endif %}
{%                     if port_profiles[adapter.profile].spanning_tree_bpdufilter is defined %}
    spanning_tree_bpdufilter: {{ port_profiles[adapter.profile].spanning_tree_bpdufilter }}
{%                     endif %}
{%                 break %}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{%  endfor %}
{% endif %}
