  address_family_evpn:
    peer_groups:
      {{ switch.bgp_peer_groups.evpn_overlay_peers.name }}:
        activate: true
{% if switch.evpn_gateway_vxlan_l2 is arista.avd.defined(true) or switch.evpn_gateway_vxlan_l3 is arista.avd.defined(true) %}
      {{ switch.bgp_peer_groups.evpn_overlay_core.name }}:
        domain_remote: true
        activate: true
{%     if switch.evpn_gateway_vxlan_l3 is arista.avd.defined(true) %}
    neighbor_default:
      next_hop_self_received_evpn_routes:
        enable: true
        inter_domain: {{ switch.evpn_gateway_vxlan_l3_inter_domain }}
{%     endif %}
{% endif %}
{% if switch.vtep_ip is arista.avd.defined and evpn_hostflap_detection is arista.avd.defined %}
    evpn_hostflap_detection:
      window: {{ evpn_hostflap_detection.window | arista.avd.default(180) }}
      threshold: {{ evpn_hostflap_detection.threshold | arista.avd.default(5) }}
      enabled: {{ evpn_hostflap_detection.enabled | arista.avd.default(true) }}
      expiry_timeout: {{ evpn_hostflap_detection.expiry_timeout | arista.avd.default }}
{% endif %}
{% if switch.vtep_ip is arista.avd.defined and evpn_import_pruning is arista.avd.defined(true) %}
    route:
      import_match_failure_action: discard
{% endif %}
