  peer_groups:
    {{ bgp_peer_groups.EVPN_OVERLAY_PEERS.name | arista.avd.default("EVPN-OVERLAY-PEERS") }}:
      type: evpn
      update_source: Loopback0
      bfd: true
      ebgp_multihop: "{{ evpn_ebgp_multihop }}"
{% if bgp_peer_groups.EVPN_OVERLAY_PEERS.password is arista.avd.defined() %}
      password: "{{ bgp_peer_groups.EVPN_OVERLAY_PEERS.password }}"
{% endif %}
      send_community: all
      maximum_routes: 0
{% if switch.evpn_role == "server" %}
      next_hop_unchanged: true
{% endif %}
