{% if switch.mlag is arista.avd.defined(true) %}
{%     include 'mlag/spanning-tree.j2' %}

{%     include 'mlag/vlans.j2' %}

{%     include 'mlag/vlan-interfaces.j2' %}

{%     include 'mlag/port-channel-interfaces.j2' %}

{%     include 'mlag/ethernet-interfaces.j2' %}

{%     include 'mlag/mlag-configuration.j2' %}

{%     include 'mlag/route-maps.j2' %}

{%     include 'mlag/router-bgp.j2' %}

{% endif %}
