{% if switch.evpn_role == "server" %}
{%     set overlay_data.evpn_route_clients = {} %}
{# #}
{# Look for switches pointing to us as evpn_route_server #}
{%     for fabric_switch in groups[fabric_name] if fabric_switch not in overlay_data.evpn_route_servers | arista.avd.natural_sort %}
{%         set fabric_switch_facts = hostvars[fabric_switch].switch | arista.avd.default %}
{%         if fabric_switch_facts is arista.avd.defined(fail_action='warning',var_name='hostvars[' ~ fabric_switch ~ '].switch') %}
{%             set fabric_switch_evpn_role = fabric_switch_facts.evpn_role | arista.avd.default('none') %}
{%             set fabric_switch_evpn_route_servers = fabric_switch_facts.evpn_route_servers | arista.avd.default([]) %}
{%             if inventory_hostname in fabric_switch_evpn_route_servers and fabric_switch_evpn_role in ['client', 'server'] %}
{# Found a matching client. Gathering information for this client #}
{%                 set client = namespace() %}
{%                 set client.bgp_as = fabric_switch_facts.bgp_as %}
{%                 set client.ip_address = fabric_switch_facts.router_id %}
{%                 do overlay_data.evpn_route_clients.update({ fabric_switch: client }) %}
{%             endif %}
{%         endif %}
{%     endfor %}
{% endif %}
