{# Add one blank line after each included template #}
{% if switch.overlay.evpn or switch.overlay.vpn_ipv4 or switch.overlay.vpn_ipv6 %}
{%     set overlay_data = namespace() %}
{# Set peer group names for overlay peering #}
{%     if (switch.overlay.vpn_ipv4 or switch.overlay.vpn_ipv6 or switch.overlay.evpn_mpls) and not switch.overlay.evpn_vxlan %}
{%         set overlay_data.mpls_overlay_peer_group = switch.bgp_peer_groups.mpls_overlay_peers %}
{%     endif %}
{%     if switch.overlay.evpn_vxlan %}
{%         set overlay_data.evpn_overlay_peer_group = switch.bgp_peer_groups.evpn_overlay_peers %}
{%     endif %}
{%     if switch.mpls_overlay_role == "server" or (switch.evpn_role == "server" and switch.overlay.evpn_mpls) %}
{%         set overlay_data.rr_peers_peer_group = switch.bgp_peer_groups.rr_overlay_peers %}
{%     endif %}
{%     if switch.overlay.vpn_ipv4 or switch.overlay.vpn_ipv6 or switch.overlay.evpn_mpls %}
{%         include 'overlay/logic-mpls-route-servers.j2' %}

{%         include 'overlay/logic-mpls-route-clients.j2' %}
{%     endif %}
{%     if switch.overlay.evpn %}
{%         include 'overlay/logic-evpn-route-servers.j2' %}

{%         include 'overlay/logic-evpn-route-clients.j2' %}

{%     endif %}
{%     include 'overlay/router-bfd.j2' %}

{%     if switch.overlay_routing_protocol == "ebgp" %}
{%         include 'overlay/ebgp/router-bgp.j2' %}

{%         include 'overlay/ebgp/route-maps.j2' %}

{%     elif switch.overlay_routing_protocol == "ibgp" %}
{%         include 'overlay/ibgp/router-bgp.j2' %}

{%         include 'overlay/ibgp/route-maps.j2' %}

{%         include 'overlay/ibgp/ip-extcommunity-lists.j2' %}

{%     endif %}
{% endif %}
