{% set validate_state_report = namespace() %}
{% set validate_state_report.tests_passed = 0 %}
{% set validate_state_report.tests_failed = 0 %}
{% set validate_state_report.total_tests_passed = 0 %}
{% set validate_state_report.total_tests_failed = 0 %}
{% set validate_state_report.total_tests = 0 %}
{% set validate_state_report.test_categories = [] %}
{% set validate_state_report.test_categories_failed = [] %}
{% set validate_state_report.duts = [] %}
{% for report_entry in eos_validate_state_report | arista.avd.default([]) %}
{%     do validate_state_report.duts.append(report_entry.device | arista.avd.default("-")) %}
{%     do validate_state_report.test_categories.append(report_entry.test_category | arista.avd.default("-")) %}
{%     if report_entry.result is arista.avd.defined("PASS") %}
{%         set validate_state_report.total_tests_passed = validate_state_report.total_tests_passed + 1 %}
{%     elif report_entry.result is arista.avd.defined("FAIL") %}
{%         set validate_state_report.total_tests_failed = validate_state_report.total_tests_failed + 1 %}
{%     endif %}
{%     if loop.last %}
{%         set validate_state_report.total_tests = loop.length %}
{%     endif %}
{% endfor %}
{% set validate_state_report.duts = validate_state_report.duts | unique  %}
{% set validate_state_report.test_categories = validate_state_report.test_categories | unique  %}

# Validate State Report

**Table of Contents:**

- [Validate State Report](validate-state-report)
  - [Test Results Summary](#test-results-summary)
  - [Failed Test Results Summary](#failed-test-results-summary)
  - [All Test Results](#all-test-results)

## Test Results Summary

### Summary Totals

| Total Tests | Total Tests Passed | Total Tests Failed |
| ----------- | ------------------ | ------------------ |
| {{ validate_state_report.total_tests }} | {{ validate_state_report.total_tests_passed }} | {{ validate_state_report.total_tests_failed }} |

### Summary Totals Devices Under Tests

| DUT | Total Tests | Tests Passed | Tests Failed | Categories Failed |
| --- | ----------- | ------------ | ------------ | ----------------- |
{% for dut in validate_state_report.duts %}
{%     for report_entry in eos_validate_state_report | arista.avd.default([]) %}
{%         if report_entry.device is arista.avd.defined(dut) %}
{%             if report_entry.result is arista.avd.defined("PASS") %}
{%                 set validate_state_report.tests_passed = validate_state_report.tests_passed + 1 %}
{%             elif report_entry.result is arista.avd.defined("FAIL")  %}
{%                 set validate_state_report.tests_failed = validate_state_report.tests_failed + 1 %}
{%                 do validate_state_report.test_categories_failed.append(report_entry.test_category) %}
{%             endif %}
{%         endif %}
{%     endfor %}
| {{ dut }} |  {{ validate_state_report.tests_passed + validate_state_report.tests_failed }} | {{ validate_state_report.tests_passed }} | {{ validate_state_report.tests_failed }} | {{ validate_state_report.test_categories_failed | default('-', true) | unique | join(', ') }} |
{%     set validate_state_report.tests_passed = 0 %}
{%     set validate_state_report.tests_failed = 0 %}
{%     set validate_state_report.test_categories_failed = [] %}
{% endfor %}

### Summary Totals Per Category

| Test Category | Total Tests | Tests Passed | Tests Failed |
| ------------- | ----------- | ------------ | ------------ |
{% for test_category in validate_state_report.test_categories %}
{%     for report_entry in eos_validate_state_report | arista.avd.default([]) %}
{%         if report_entry.test_category is arista.avd.defined(test_category) %}
{%             if report_entry.result is arista.avd.defined("PASS") %}
{%                 set validate_state_report.tests_passed = validate_state_report.tests_passed + 1 %}
{%             elif report_entry.result is arista.avd.defined("FAIL") %}
{%                 set validate_state_report.tests_failed = validate_state_report.tests_failed + 1 %}
{%             endif %}
{%         endif %}
{%     endfor %}
| {{ test_category }} |  {{ validate_state_report.tests_passed + validate_state_report.tests_failed }} | {{ validate_state_report.tests_passed }} | {{ validate_state_report.tests_failed }} |
{%     set validate_state_report.tests_passed = 0 %}
{%     set validate_state_report.tests_failed = 0 %}
{% endfor %}

## Failed Test Results Summary

| Test ID | Node | Test Category | Test Description | Test | Test Result | Failure Reason |
| ------- | ---- | ------------- | ---------------- | ---- | ----------- | -------------- |
{% for report_entry in eos_validate_state_report | arista.avd.default([]) %}
{%     if report_entry.result is arista.avd.defined("FAIL") %}
| {{ report_entry.id | arista.avd.default("-") }} | {{ report_entry.device | arista.avd.default("-") }} | {{ report_entry.test_category | arista.avd.default("-") }} | {{ report_entry.test_description | arista.avd.default("-") }} | {{ report_entry.test | arista.avd.default("-") }} | {{ report_entry.result | arista.avd.default("-") | arista.avd.status_render(validate_state_markdown_flavor) }} | {{ report_entry.failure_reason | arista.avd.default("-") }} |
{%     endif %}
{% endfor %}

{% if only_failed_tests is not arista.avd.defined(true) %}
## All Test Results

| Test ID | Node | Test Category | Test Description | Test | Test Result | Failure Reason |
| ------- | ---- | ------------- | ---------------- | ---- | ----------- | -------------- |
{%     for report_entry in eos_validate_state_report | arista.avd.default([]) %}
| {{ report_entry.id | arista.avd.default("-") }} | {{ report_entry.device | arista.avd.default("-") }} | {{ report_entry.test_category | arista.avd.default("-") }} | {{ report_entry.test_description | arista.avd.default("-") }} | {{ report_entry.test | arista.avd.default("-") }} | {{ report_entry.result | arista.avd.default("-") | arista.avd.status_render(validate_state_markdown_flavor) }} | {{ report_entry.failure_reason | arista.avd.default("-") }} |
{%     endfor %}
{% endif %}
