[data-md-color-scheme="slate"] {
    --md-hue: 210;
}
:root {
   /* Color schema based on Arista Color Schema */
   /* Primary color shades */
    --md-primary-fg-color: #16325B;
    --md-primary-fg-color--light: #FFFFFF;
    --md-primary-fg-color--dark: #16325B;
    --md-primary-bg-color: #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;
   /* Accent color shades */
    --md-accent-fg-color: #16325B;
    --md-accent-bg-color: #16325B;
    --md-accent-bg-color--light: #16325B;
   /* Link color */
    --md-typeset-a-color: #146095;
    --md-typeset-a-color-fg: #FFFFFF;
    --md-typeset-a-color-bg: #146095;
   /* Code block color shades-org */
    --md-code-bg-color: #E6E6E6;
    --md-code-border-color: #0000004f;
    --block-code-bg-color: #E6E6E6;
    font-feature-settings: "kern","liga";
    font-family: var(--md-text-font-family,_),-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
[data-md-color-scheme="slate"] {
   /* Primary color shades */
    --md-primary-fg-color: #16325B;
    --md-primary-fg-color--light: #FFFFFF;
    --md-primary-fg-color--dark: #16325B;
    --md-primary-bg-color: #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;
   /* Accent color shades */
    --md-accent-fg-color: #146095;
    --md-accent-bg-color: #16325B;
    --md-accent-bg-color--light: #16325B;
   /* Link color */
    --md-typeset-a-color: #4473a9;
    --md-typeset-a-color-fg: #FFFFFF;
    --md-typeset-a-color-bg: var(--md-default-bg-color);
}
[data-md-color-scheme="default"] {
   /* Primary color shades */
    --md-primary-fg-color: #16325B;
    --md-primary-fg-color--light: #FFFFFF;
    --md-primary-fg-color--dark: #16325B;
    --md-primary-bg-color: #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;
   /* Accent color shades */
    --md-accent-fg-color: #aad037;
    --md-accent-bg-color: #16325B;
    --md-accent-bg-color--light: #4473a9;
   /* Link color */
    --md-typeset-a-color: #146095;
    --md-typeset-a-color-fg: #FFFFFF;
    --md-typeset-a-color-bg: #FFFFFF;
   /* Code block color shades */
    --md-code-bg-color: #E6E6E6;
    --md-code-border-color: #0000004f;
    --block-code-bg-color: #e4e4e4;
    letter-spacing: -.01em;
    line-height: 3em;
}
@media only screen and (min-width: 76.25em) {
    .md-main__inner {
        max-width: 100%;
   }
    .md-sidebar--primary {
        margin-left: 30px;
   }
    .md-sidebar--secondary {
        margin-left: 0;
        margin-right: 30px;
        -webkit-transform: none;
        transform: none;
   }
}
@media only screen {
    .md-header__inner, .md-footer-meta__inner{
        max-width: 100%;
   }
    .md-footer-nav {
        background-color: var(--md-default-bg-color--light);
        color: var(--md-accent-fg-color--transparent)
   }
    .md-footer {
        height: 2%;
   }
    .md-footer-nav__direction {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: -1rem;
        padding: 0 1rem;
        color: var(--md-default-fg-color--light);
        font-size: .64rem;
   }
    .md-footer-nav__title {
        font-size: .9rem;
        line-height: 10rem;
        color: var(--md-default-fg-color--light);
   }
    .md-typeset h4 h5 h6 {
        font-size: 1.5rem;
        margin: 1em 0;
        letter-spacing: -.01em;
        line-height: 3em;
   }
    .md-typeset table:not([class]) th {
        min-width: 5rem;
        padding: .6rem .8rem;
        color: var(--md-default-fg-color--lighter);
        vertical-align: top;
        background-color: var(--md-accent-bg-color);
        text-align: left;
   }
    .md-typeset table:not([class]) td {
        border-collapse: collapse;
        vertical-align: center;
        text-align: left;
        border-bottom: 1px solid var(--md-default-fg-color--light);
   }
    .md-typeset code {
        padding: 0 .2941176471em;
        word-break: break-word;
        background-color: var(--md-code-bg-color);
        border-radius: .1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
   }
    .highlight code {
        background-color: var(--md-code-bg-color);
        border: 2px solid var(--md-code-border-color);
   }
    .md-typeset .admonition, .md-typeset details {
        margin: 1.5625em 0;
        padding: 0 .6rem;
        overflow: visible;
        font-size: .64rem;
        page-break-inside: avoid;
        border-left: .2rem solid var(--md-accent-bg-color);
        border-left-color: var(--md-accent-bg-color);
        border-radius: .1rem;
        border-width: thin;
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
   }
}
.md-typeset__table {
    min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}
.mdx-content__footer {
    margin-top: 20px;
    text-align: center;
}
.mdx-content__footer a {
    display: inline-block;
    transition: transform 250ms cubic-bezier(0.1, 0.7, 0.1, 1), color 125ms;
}
.mdx-content__footer a:focus, .mdx-content__footer a:hover {
    transform: scale(1.2);
}
.md-typeset table:not([class]) th {
    min-width: 5rem;
    padding: .6rem .8rem;
    color: var(--md-primary-fg-color--light);
}
