img {
    width: 85%;
    max-width: 85%;
    height: auto;
}

.home {
    display: flex;
    background: #27569B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

code {
    font-family: "Fira Code", "Courier New", Consolas, monospace;
    font-size: 0.83rem;
    color: #27569B;
    border: 1px solid #E0E0E0;
    padding: 1px 3px;
    margin: 0px 1px;
    background: white;
}

a {
    color: #27569B;
}

.footer-note a {
    color: #8C8C8F;
}
