{% if l2leaf_inband_management_subnet is arista.avd.defined %}
static_routes:
  - destination_address_prefix: 0.0.0.0/0
    gateway: {{ l2leaf_inband_management_subnet | ipaddr('network') | ipmath(1) }}
{% endif %}
