{# Add one blank line after each included template #}
{% set underlay_data = namespace() %}
{% include 'designs/l3ls-evpn/underlay/logic.j2' %}

{% include 'designs/l3ls-evpn/underlay/interfaces/loopback-interfaces.j2' %}

{% include 'designs/l3ls-evpn/underlay/interfaces/ethernet-interfaces.j2' %}

{% include 'designs/l3ls-evpn/underlay/interfaces/port-channel-interfaces.j2' %}

{# EBGP #}
{% if switch.underlay_routing_protocol == "ebgp" %}
{%     include 'designs/l3ls-evpn/underlay/ebgp/router-bgp.j2'%}

{%     include 'designs/l3ls-evpn/underlay/ebgp/prefix-lists.j2' %}

{%     include 'designs/l3ls-evpn/underlay/ebgp/route-maps.j2' %}

{% endif %}
