  allocation: {{ internal_vlan_allocation_policy.allocation }}
  range:
    beginning: {{ internal_vlan_allocation_policy.range.beginning }}
    ending: {{ internal_vlan_allocation_policy.range.ending }}