{% if aaa_accounting is arista.avd.defined %}

## AAA Accounting

### AAA Accounting Summary

| Type | Sub-type | Record | Accounting Stores | Logging |
| ---- | -------- | ------ |------------------ | ------- |
{%     if aaa_accounting.exec.console.group is arista.avd.defined %}
| Exec - Console | - | {{ aaa_accounting.exec.console.type }} | {{ aaa_accounting.exec.console.group }} | - |
{%     endif %}
{%     if aaa_accounting.commands.commands_console is arista.avd.defined %}
{%         for command_console in aaa_accounting.commands.commands_console %}
| Commands - Console | {{ command_console.commands }} | {{ command_console.type }} | {% if command_console.group is arista.avd.defined %}{{ command_console.group }} {% else %} - {% endif %} | {% if command_console.logging is arista.avd.defined(true) %}{{ true }} {% else %} false {% endif %} |
{%         endfor %}
{%     endif %}
{%     if aaa_accounting.exec.default.group is arista.avd.defined %}
| Exec - Default | - | {{ aaa_accounting.exec.default.type }} | {{ aaa_accounting.exec.default.group }} | - |
{%     endif %}
{%     if aaa_accounting.commands.commands_default is arista.avd.defined %}
{%         for command_default in aaa_accounting.commands.commands_default %}
| Commands - Default | {{ command_default.commands }} | {{ command_default.type }} | {% if command_default.group is arista.avd.defined %}{{ command_default.group }} {% else %} - {% endif %} | {% if command_default.logging is arista.avd.defined(true) %}{{ true }} {% else %} false {% endif %} |
{%         endfor %}
{%     endif %}

### AAA Accounting Device Configuration

```eos
{% include 'eos/aaa-accounting.j2' %}
```
{% endif %}
