{% if aaa_accounting is arista.avd.defined %}

## AAA Accounting

### AAA Accounting Summary

| Type | Commands | Record type | Group | Logging |
| ---- | -------- | ----------- | ----- | ------- |
{%     if aaa_accounting.exec.console.type is arista.avd.defined and aaa_accounting.exec.console.group is arista.avd.defined %}
| Exec - Console | - | {{ aaa_accounting.exec.console.type }} | {{ aaa_accounting.exec.console.group }} | - |
{%     endif %}
{%     if aaa_accounting.commands.console is arista.avd.defined %}
{%         for command_console in aaa_accounting.commands.console %}
{%             if command_console.commands is arista.avd.defined and command_console.type is arista.avd.defined %}
{%                 set group = command_console.group | arista.avd.default(" - ") %}
{%                 set logging = command_console.logging | arista.avd.default("False") %}
| Commands - Console | {{ command_console.commands }} | {{ command_console.type }} | {{ group }} | {{ logging }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if aaa_accounting.exec.default.type is arista.avd.defined and aaa_accounting.exec.default.group is arista.avd.defined %}
| Exec - Default | - | {{ aaa_accounting.exec.default.type }} | {{ aaa_accounting.exec.default.group }} | - |
{%     endif %}
{%     if aaa_accounting.system.default.type is arista.avd.defined and aaa_accounting.system.default.group is arista.avd.defined  %}
| System - Default | - | {{ aaa_accounting.system.default.type }} | {{ aaa_accounting.system.default.group }} | - |
{%     endif %}
{%     if aaa_accounting.commands.default is arista.avd.defined %}
{%         for command_default in aaa_accounting.commands.default %}
{%             if command_default.logging is arista.avd.defined(true) %}
{%                 set logging = 'True' %}
{%             else %}
{%                 set logging = 'False' %}
{%             endif %}
| Commands - Default | {{ command_default.commands }} | {{ command_default.type }} | {{ command_default.group | arista.avd.default('-') }} | {{ logging }} |
{%         endfor %}
{%     endif %}

### AAA Accounting Device Configuration

```eos
{%     include 'eos/aaa-accounting.j2' %}
```
{% endif %}
