{% if aaa_authentication is arista.avd.defined %}
### AAA Authentication Summary

| Type | Sub-type | User Stores |
| ---- | -------- | ---------- |
{%     if aaa_authentication.login.default is arista.avd.defined %}
| Login | default | {{ aaa_authentication.login.default }} |
{%     endif %}
{%     if aaa_authentication.login.serial_console is arista.avd.defined %}
| Login | serial-console | {{ aaa_authentication.login.serial_console }} |
{%     endif %}
{%     if aaa_authentication.policies is arista.avd.defined %}
{%         if aaa_authentication.policies.on_failure_log is arista.avd.defined(true) %}

AAA Authentication on-failure log has been enabled
{%         endif %}
{%         if aaa_authentication.policies.on_success_log is arista.avd.defined(true) %}

AAA Authentication on-success log has been enabled
{%         endif %}
{%         if aaa_authentication.policies.local is defined %}
{%             if aaa_authentication.policies.local.allow_nopassword is arista.avd.defined(true) %}

Policy local allow-nopassword-remote-login has been enabled.
{%             endif %}
{%         endif %}
{%     endif %}

### AAA Authentication Device Configuration

```eos
{% include 'eos/aaa-authentication.j2' %}
!
```
{% else %}
AAA authentication not defined
{% endif %}
