{% if aaa_authorization is defined and aaa_authorization is not none %}
### AAA Authorization Summary

| Type | User Stores |
| ---- | ----------- |
{%     if aaa_authorization.exec.default is defined %}
| Exec | {{ aaa_authorization.exec.default }} |
{%     endif %}

{%     if aaa_authorization.config_commands is defined and aaa_authorization.config_commands == true %}
Authorization for configuration commands is enabled.
{%     else %}
Authorization for configuration commands is disabled.
{%     endif %}

{%     if aaa_authorization.serial_console is defined and aaa_authorization.serial_console == true %}
Authorization for serial console is enabled.

{%     endif %}
### AAA Authorization Device Configuration

```eos
{% include 'eos/aaa-authorization.j2' %}
!
```
{% else %}
AAA authorization not defined
{% endif %}
