{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - access lists #}
{% if access_lists is arista.avd.defined %}

### Extended Access-lists

#### Extended Access-lists Summary

{%     for access_list in access_lists | arista.avd.natural_sort('name') %}
##### {{ access_list.name }}
{%         if access_list.counters_per_entry is arista.avd.defined(true) %}

ACL has counting mode `counters per-entry` enabled!
{%         endif %}

| Sequence | Action |
| -------- | ------ |
{%         for sequence in access_list.sequence_numbers | arista.avd.natural_sort('sequence') %}
| {{ sequence.sequence }} | {{ sequence.action }} |
{%         endfor %}

{%     endfor %}
#### Extended Access-lists Device Configuration

```eos
{%     include 'eos/access-lists.j2' %}
```
{% endif %}
