{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{% if standard_access_lists is arista.avd.defined
       or access_lists is arista.avd.defined
       or ip_access_lists is arista.avd.defined
       or ipv6_standard_access_lists is arista.avd.defined
       or ipv6_access_lists is arista.avd.defined
       or mac_access_lists is arista.avd.defined %}

## ACL
{## Standard Access-lists #}
{%     include 'documentation/standard-access-lists.j2' %}
{## Extended Access-lists #}
{%     include 'documentation/access-lists.j2' %}
{## Extended Access-lists, improved data model #}
{%     include 'documentation/ip-access-lists.j2' %}
{## IPv6 Standard Access-lists #}
{%     include 'documentation/ipv6-standard-access-lists.j2' %}
{## IPv6 Extended Access-lists #}
{%     include 'documentation/ipv6-access-lists.j2' %}
{## MAC Access-lists #}
{%     include 'documentation/mac-access-lists.j2' %}
{% endif %}
