{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - arp #}
{% if arp.aging.timeout_default is arista.avd.defined %}

### ARP

Global ARP timeout: {{ arp.aging.timeout_default }}
{% endif %}
