{# System Boot Configuration #}
{% if boot is arista.avd.defined %}

# System Boot Settings
{%     if boot.secret is arista.avd.defined %}

## Boot Secret Summary
{%         if boot.secret.sha512_password is arista.avd.defined %}
{%             set method = "SHA512 ENCRYPTED" %}
{%             set password = boot.secret.sha512_password %}
{%         elif boot.secret.md5_password is arista.avd.defined %}
{%             set method = "MD5 ENCRYPTED" %}
{%             set password = boot.secret.md5_password %}
{%         elif boot.secret.clear_text_password is arista.avd.defined %}
{%             set method = "UNENCRYPTED" %}
{%             set password = boot.secret.clear_text_password %}
{%         endif %}

- The {{ method }} Aboot password is: {{ password }}
{%     endif %}

## System Boot Configuration

```eos
{%     include 'eos/boot.j2' %}
```
{% endif %}
