{# CVX #}
{% if cvx is arista.avd.defined %}

# CVX
{%     if cvx.shutdown is arista.avd.defined(true) %}

cvx is disabled
{%     elif cvx.shutdown is arista.avd.defined(false) %}

cvx is enabled
{%         if cvx.services is arista.avd.defined %}

## CVX services

| Service | Enabled | settings |
| ------- | ------- | -------- |
{%             if cvx.services.mcs is arista.avd.defined %}
{%                 set enabled = not cvx.services.mcs.shutdown | arista.avd.default('-') %}
{%                 set settings = [] %}
{%                 if cvx.services.mcs.redis.password is arista.avd.defined %}
{%                     do settings.append("Redis Password Set") %}
{%                 endif %}
| MCS | {{ enabled }} | {{ settings | join("<br") }} |
{%             endif %}
{%         endif %}
{%     endif %}

## CVX configuration

```eos
{%     include 'eos/cvx.j2' %}
```
{% endif %}
