{% if daemon_terminattr is arista.avd.defined %}

## TerminAttr Daemon

### TerminAttr Daemon Summary

| CV Compression | Ingest gRPC URL | Ingest Authentication | Smash Excludes | Ingest Exclude | Ingest VRF | AAA Disabled |
| -------------- | --------------- | --------------------- | ---------------| -------------- | ---------- | ------------ |
{% for cluster_name in daemon_terminattr.clusters | arista.avd.natural_sort %}{% set cluster = daemon_terminattr.clusters[cluster_name] %}
{%     set url = cluster.cvaddrs | join(',') %}
{%     if cluster.cvauth.method == 'key' %}
{%         set auth = 'key,' ~ cluster.cvauth.key %}
{%     elif cluster.cvauth.method == 'token' %}
{%         set auth = 'token,' ~ cluster.cvauth.token_file %}
{%     elif cluster.cvauth.method == 'token-secure' %}
{%         set auth = 'token-secure,' ~ cluster.cvauth.token_file %}+
{%     endif%}
{%     if cluster.cvvrf is arista.avd.defined %}
{%         set cvvrf = cluster.cvvrf %}
{%     else %}
{%         set cvvrf = daemon_terminattr.cvvrf %}
{%     endif %}
| gzip | {{ url }} | {{ auth }} | {{ daemon_terminattr.smashexcludes }} | {{ daemon_terminattr.ingestexclude }} | {{ cvvrf }} | {{ daemon_terminattr.disable_aaa | default (false) }} |
{% endfor %}
{% if daemon_terminattr.cvaddrs is arista.avd.defined %}
{%     set url = daemon_terminattr.cvaddrs | join(',') %}
{% endif %}
{% if daemon_terminattr.cvauth.method == 'key' %}
{%     set auth = 'key,' ~ daemon_terminattr.cvauth.key %}
{% elif daemon_terminattr.cvauth.method == 'token' %}
{%     set auth = 'token,' ~ daemon_terminattr.cvauth.token_file %}
{% elif daemon_terminattr.cvauth.method == 'token-secure' %}
{%     set auth = 'token-secure,' ~ daemon_terminattr.cvauth.token_file %}
{% endif %}
| gzip | {{ url }} | {{ auth }} | {{ daemon_terminattr.smashexcludes }} | {{ daemon_terminattr.ingestexclude }} | {{ daemon_terminattr.cvvrf }} | {{ daemon_terminattr.disable_aaa | default (false) }} |

### TerminAttr Daemon Device Configuration

```eos
{% include 'eos/daemon-terminattr.j2' %}
```
{% endif %}
