{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - dhcp server #}
{% set ethernet_interfaces_dhcp_server = [] %}
{% for ethernet_interface in ethernet_interfaces | arista.avd.natural_sort('name') %}
{%     if ethernet_interface.dhcp_server_ipv4 is arista.avd.defined(true) or ethernet_interface.dhcp_server_ipv4 is arista.avd.defined(true) %}
{%         do ethernet_interfaces_dhcp_server.append(ethernet_interface) %}
{%     endif %}
{% endfor %}
{# later on this condition will change when top level key dhcp_server is implemented #}
{% if ethernet_interfaces_dhcp_server | length > 0 %}

## DHCP Server

### DHCP Server Interfaces

| Interface name | DHCP IPv4 | DHCP IPv6 |
| -------------- | --------- | --------- |
{%     for ethernet_interface in ethernet_interfaces_dhcp_server | arista.avd.natural_sort %}
| {{ ethernet_interface.name }} | {{ ethernet_interface.dhcp_server_ipv4 | arista.avd.default(false) }} | {{ ethernet_interface.dhcp_server_ipv6 | arista.avd.default(false) }} |
{%     endfor %}
{% endif %}
