{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - dhcp server #}
{% if dhcp_servers is arista.avd.defined %}

## DHCP Servers

### DHCP Servers Summary

| DHCP Server Enabled | VRF |
| ------------------- | --- |
{%     for dhcp_server in dhcp_servers | arista.avd.natural_sort %}
| {{ not dhcp_server.disabled | arista.avd.default(false)  }} | {{ dhcp_server.vrf | arista.avd.default("-") }} |
{%     endfor %}

### DHCP Relay Configuration

```eos
{%     include 'eos/dhcp-servers.j2' %}
```
{% endif %}
