{% if dns_domain is defined and dns_domain is not none %}
### DNS domain: {{ dns_domain }}

### DNS Domain Device Configuration

```eos
{% include 'eos/dns-domain.j2' %}
!
```
{% else %}
DNS domain not defined
{% endif %}