{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# j2lint: disable=V1 #}
{# doc - dps interface #}
{% if dps_interface.Dps1 is arista.avd.defined %}

### DPS Interface

#### DPS Interface Summary

| Setting | Value |
| ------- | ----- |
{%     if dps_interface.Dps1.ip_address is arista.avd.defined %}
} IP address | {{ dps_interface.Dps1.ip_address }} |
{%     endif %}
{%     if dps_interface.Dps1.flow_tracker.hardware is arista.avd.defined %}
| Flow tracker Hardware | {{ dps_interface.Dps1.flow_tracker.hardware }} |
{%     endif %}
{%     if dps_interface.Dps1.flow_tracker.sampled is arista.avd.defined %}
| Flow tracker sampled | {{ dps_interface.Dps1.flow_tracker.sampled }} |
{%     endif %}
{%     if dps_interface.Dps1.tcp_mss_ceiling is arista.avd.defined %}
{%         set tcp_mss_settings = [] %}
{%         if dps_interface.Dps1.tcp_mss_ceiling.ipv4 is arista.avd.defined %}
{%             do tcp_mss_settings.append("* IPv4: " ~ dps_interface.Dps1.tcp_mss_ceiling.ipv4) %}
{%         endif %}
{%         if dps_interface.Dps1.tcp_mss_ceiling.ipv6 is arista.avd.defined %}
{%             do tcp_mss_settings.append("* IPv6: " ~ dps_interface.Dps1.tcp_mss_ceiling.ipv6) %}
{%         endif %}
{%         if dps_interface.Dps1.tcp_mss_ceiling.direction is arista.avd.defined %}
{%             do tcp_mss_settings.append("* Direction: " ~ dps_interface.Dps1.tcp_mss_ceiling.direction) %}
{%         endif %}
| TCP MSS ceiling | {{ tcp_mss_settings | join("<br>") }} |
{%     endif %}

#### DPS Interface Device Configuration

```eos
{%     include 'eos/dps-interface.j2' %}
```
{% endif %}
