{% if enable_password is defined and enable_password is not none %}
{%     if enable_password.hash is defined and enable_password.hash is not none %}
{%         if enable_password.encryption is defined and enable_password.encryption is not none and enable_password.encryption == "md5" %}
MD5 Encrypted Enable Password Set
{%         elif enable_password.encryption is defined and enable_password.encryption is not none and enable_password.encryption == "sha512" %}
SHA512 Encrypted Enable Password Set
{%         endif %}
{%     endif %}
!
{%- else %}
Enable Password not defined
{% endif %}