{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - eos cli #}
{% if eos_cli is arista.avd.defined %}

## EOS CLI Device Configuration

```eos
{%     include 'eos/eos-cli.j2' %}
```
{% endif %}
