{# eos - event-handler #}
{% if event_handler is defined and event_handler is iterable %}
### Event Handler Summary

| Handler | Action Type | Action | Trigger |
| ------- | ----------- | ------ | ------- |
{%     for handler in event_handler | arista.avd.natural_sort %}
| {{ handler }} | {{ event_handler[handler].action_type }} | {{ event_handler[handler].action }} | {{ event_handler[handler].trigger }} |
{%     endfor %}

### Event Handler Device Configuration

```eos
{% include 'eos/event-handler.j2' %}
```
{% else %}
No Event Handler Defined
{% endif %}