{% if hardware_counters is defined and hardware_counters is not none %}
### Hardware Counters Summary

#### Hardware Counter Features

| Feature | Flow Direction |
| ------- | -------------- |
{% if hardware_counters is defined and hardware_counters is not none %}
{%     if hardware_counters.features is defined and hardware_counters.features is not none %}
{%         for feature in hardware_counters.features %}
{%             for feature, direction in feature.items() %}
| {{ feature }} | {{ direction }} |
{%             endfor %}
{%         endfor %}
{%     endif %}
{% endif %}

### Hardware Counters Configuration

```eos
{% include 'eos/hardware-counters.j2' %}
```
{% else %}
No hardware counters defined
{% endif %}
