{% if interface_profiles is arista.avd.defined %}

## Interface Profiles

### Interface Profiles Summary

{%     for interface_profile in interface_profiles | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
- {{ interface_profile.name }}
{%     endfor %}

### Interface Profiles Configuration

```eos
{%     include 'eos/interface-profiles.j2' %}
```
{% endif %}
