{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip client source interfaces #}
{% if ip_ftp_client_source_interfaces is arista.avd.defined or ip_http_client_source_interfaces is arista.avd.defined or ip_ssh_client_source_interfaces is arista.avd.defined or ip_telnet_client_source_interfaces is arista.avd.defined or ip_tftp_client_source_interfaces is arista.avd.defined %}

### IP Client Source Interfaces

| IP Client | VRF | Source Interface Name |
| --------- | --- | --------------------- |
{%     if ip_ftp_client_source_interfaces is arista.avd.defined %}
{%         for ip_ftp_client_source_interface in ip_ftp_client_source_interfaces | arista.avd.natural_sort %}
| FTP | {{ ip_ftp_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_ftp_client_source_interface.name }} |
{%         endfor %}
{%     endif %}
{%     if ip_http_client_source_interfaces is arista.avd.defined %}
{%         for ip_http_client_source_interface in ip_http_client_source_interfaces | arista.avd.natural_sort %}
| HTTP | {{ ip_http_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_http_client_source_interface.name }} |
{%         endfor %}
{%     endif %}
{%     if ip_ssh_client_source_interfaces is arista.avd.defined %}
{%         for ip_ssh_client_source_interface in ip_ssh_client_source_interfaces | arista.avd.natural_sort %}
{%             if ip_ssh_client_source_interface.name is arista.avd.defined %}
| SSH | {{ ip_ssh_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_ssh_client_source_interface.name | capitalize }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if ip_telnet_client_source_interfaces is arista.avd.defined %}
{%         for ip_telnet_client_source_interface in ip_telnet_client_source_interfaces | arista.avd.natural_sort %}
| Telnet | {{ ip_telnet_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_telnet_client_source_interface.name }} |
{%         endfor %}
{%     endif %}
{%     if ip_tftp_client_source_interfaces is arista.avd.defined %}
{%         for ip_tftp_client_source_interface in ip_tftp_client_source_interfaces | arista.avd.natural_sort %}
| TFTP | {{ ip_tftp_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_tftp_client_source_interface.name }} |
{%         endfor %}
{%     endif %}

#### IP Client Source Interfaces Device Configuration

```eos
{%     include 'eos/ip-client-source-interfaces.j2' %}
 ```
{% endif %}
