{% if ip_extcommunity_lists_regexp is arista.avd.defined %}

## IP Extended Community RegExp Lists

### IP Extended Community RegExp Lists Summary

| List Name | Type | Regular Expression |
| --------- | ---- | ------------------ |
{%     for ip_extcommunity_list in ip_extcommunity_lists_regexp | arista.avd.convert_dicts('name','entries') | arista.avd.natural_sort('name') %}
{%         for entry in ip_extcommunity_list.entries | arista.avd.default([]) %}
{%             if entry.type is arista.avd.defined and entry.regexp is arista.avd.defined %}
| {{ ip_extcommunity_list.name }} | {{ entry.type }} | {{ entry.regexp }} |
{%             endif %}
{%         endfor %}
{%     endfor %}

### IP Extended Community RegExp Lists configuration

```eos
{%     include 'eos/ip-extended-community-lists-regexp.j2' %}
```
{% endif %}
