{% if ip_extcommunity_lists is arista.avd.defined %}

## IP Extended Community Lists

### IP Extended Community Lists Summary

| List Name | Type | Extended Communities |
| --------- | ---- | -------------------- |
{%     for ip_extcommunity_list in ip_extcommunity_lists | arista.avd.natural_sort %}
{%         for sequence in ip_extcommunity_lists[ip_extcommunity_list] | arista.avd.default([]) %}
{%             if sequence.type is arista.avd.defined and sequence.extcommunities is arista.avd.defined %}
| {{ ip_extcommunity_list }} | {{ sequence.type }} | {{ sequence.extcommunities }} |
{%             endif %}
{%         endfor %}
{%     endfor %}

### IP Extended Community Lists configuration

```eos
{%     include 'eos/ip-extended-community-lists.j2' %}
```
{% endif %}
