{% if ip_icmp is arista.avd.defined %}

## IP ICMP

### IP ICMP Settings

IP ICMP Redirect: {{ ip_icmp.redirect }}
IP ICMP Rate Limit Unreachable: {% if ip_icmp.rate_limit_unreachable %}0{% else %}Disabled{% endif%}

| VRF | Source Interface Name |
| --- | --------------- |
{%      for source_interface in ip_icmp.source_interfaces %}
{%          if source_interface.key != "default" %}| {{ source_interface.key }} {% else %}  default {% endif %}| {{ source_interface }} |
{%      endfor %}

### IP ICMP Device Configuration

```eos
{%     include 'eos/ip-icmp.j2' %}
```
{% endif %}
