{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip radius source interfaces #}
{% if ip_radius_source_interfaces is arista.avd.defined %}

### IP RADIUS Source Interfaces

#### IP RADIUS Source Interfaces

| VRF | Source Interface Name |
| --- | --------------- |
{%     for ip_radius_source_interface in ip_radius_source_interfaces | arista.avd.natural_sort %}
| {{ ip_radius_source_interface.vrf | arista.avd.default('default') }} | {{ ip_radius_source_interface.name }} |
{%     endfor %}

#### IP SOURCE Source Interfaces Device Configuration

```eos
{%     include 'eos/ip-radius-source-interfaces.j2' %}
```
{% endif %}
