{# doc - ip telnet client source interfaces #}
{% if ip_telnet_client_source_interfaces is arista.avd.defined %}

### IP TELNET Client Source Interfaces

#### IP TELNET Client Source Interfaces

| VRF | Source Interface Name |
| --- | --------------- |
{%     for ip_telnet_client_source_interface in ip_telnet_client_source_interfaces | arista.avd.natural_sort %}
| {{ ip_telnet_client_source_interface.vrf | arista.avd.default('default') }} | {{ ip_telnet_client_source_interface.name }} |
{%     endfor %}

#### IP TELNET Client Source Interfaces Device Configuration

```eos
{%     include 'eos/ip-telnet-client-source-interfaces.j2' %}
```
{% endif %}
