{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip tacacs source interfaces #}
{% if ip_tacacs_source_interfaces is arista.avd.defined %}

### IP TACACS Source Interfaces

#### IP TACACS Source Interfaces

| VRF | Source Interface Name |
| --- | --------------- |
{%     for ip_tacacs_source_interface in ip_tacacs_source_interfaces %}
{%         set vrf = ip_tacacs_source_interface.vrf | arista.avd.default('default') %}
| {{ vrf }} | {{ ip_tacacs_source_interface.name }} |
{%     endfor %}

#### IP TACACS Source Interfaces Device Configuration

```eos
{%     include 'eos/ip-tacacs-source-interfaces.j2' %}
```
{% endif %}
