{% if ip_tacacs_source_interfaces is defined and ip_tacacs_source_interfaces is not none %}
### IP TACACS Source Interfaces

| VRF | Source Interface Name |
| --- | --------------- |
{%     for ip_tacacs_source_interface in ip_tacacs_source_interfaces %}
{% if ip_tacacs_source_interface['vrf'] is defined and ip_tacacs_source_interface['vrf'] is not none %} {{ ip_tacacs_source_interface['vrf'] }} {% else %}  default {% endif %}|{{ ip_tacacs_source_interface['name'] }} |
{%      endfor %}

### IP TACACS Source Interfaces Device Configuration

```eos
{% include 'eos/ip-tacacs-source-interfaces.j2' %}
```
{% else %}
IP TACACS source interfaces not defined
{% endif %}