{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ip virtual router mac address #}
{% if ip_virtual_router_mac_address is arista.avd.defined %}

### Virtual Router MAC Address

#### Virtual Router MAC Address Summary

Virtual Router MAC Address: {{ ip_virtual_router_mac_address }}

#### Virtual Router MAC Address Device Configuration

```eos
{%     include 'eos/ip-virtual-router-mac-address.j2' %}
```
{% endif %}
