
## IPv6 Routing

### IPv6 Routing Summary

| VRF | Routing Enabled |
| --- | --------------- |
| default | {{ ipv6_unicast_routing | arista.avd.default(false) | lower }} |
{% set ipv6_configured_in_vrf = false %}
{% for vrf in vrfs | arista.avd.natural_sort %}
{%     if vrfs[vrf].ipv6_routing is defined and vrfs[vrf].ipv6_routing == true %}
{%         set ipv6_configured_in_vrf = true %}
| {{ vrf }} | true |
{%     else %}
| {{ vrf }} | false |
{%     endif %}
{% endfor %}
{% if ipv6_unicast_routing is arista.avd.defined(true) or ipv6_configured_in_vrf == true %}

### IPv6 Routing Device Configuration

```eos
{%     include 'eos/ipv6-routing.j2' %}
```
{% endif %}
