{% if ipv6_standard_access_lists is defined and ipv6_standard_access_lists is not none %}
### IPv6 Standard Access-lists Summary

{%     for ipv6_standard_access_list in ipv6_standard_access_lists | arista.avd.natural_sort %}
#### {{ ipv6_standard_access_list }}

| Sequence | Action |
| -------- | ------ |
{%         for sequence in ipv6_standard_access_lists[ipv6_standard_access_list].sequence_numbers | arista.avd.natural_sort %}
| {{ sequence }} | {{ ipv6_standard_access_lists[ipv6_standard_access_list].sequence_numbers[sequence].action }} |
{%         endfor %}

{%     endfor %}
### IPv6 Standard Access-lists Device Configuration

```eos
{% include 'eos/ipv6-standard-access-lists.j2' %}
```
{% else %}
IPv6 standard access-lists not defined
{% endif %}