{% if ipv6_prefix_lists is defined and ipv6_prefix_lists is not none %}
### IPv6 Prefix-lists Summary

{%     for ipv6_prefix_list in ipv6_prefix_lists | arista.avd.natural_sort %}
#### {{ ipv6_prefix_list }}

| Sequence | Action |
| -------- | ------ |
{%         for sequence in ipv6_prefix_lists[ipv6_prefix_list].sequence_numbers | arista.avd.natural_sort %}
| {{ sequence }} | {{ ipv6_prefix_lists[ipv6_prefix_list].sequence_numbers[sequence].action }} |
{%         endfor %}

{%     endfor %}
### IPv6 Prefix-lists Device Configuration

```eos
{% include 'eos/ipv6-prefix-lists.j2' %}
```
{% else %}
IPv6 prefix-lists not defined
{% endif %}