{# doc - l2 protocol forwarding #}
{% if l2_protocol.forwarding_profiles | arista.avd.default([]) | length > 0 %}

## L2 Protocol Forwarding

### Forwarding Profiles Summary

| Profile | BFD Per-link RFC-7130 | E-LMI | ISIS | LACP | LLDP | MACSEC | Pause | STP |
| ------- | --------------------- | ----- | ---- | ---- | ---- | ------ | ----- | --- |
{%     for profile in l2_protocol.forwarding_profiles | arista.avd.natural_sort('name') %}
{%         set rows = {} %}
{%         for protocol in profile.protocols %}
{%             do rows.update({protocol.name: []})%}
{%             if protocol.forward is arista.avd.defined(true) %}
{%                 do rows[protocol.name].append('forward') %}
{%             endif %}
{%             if protocol.tagged_forward is arista.avd.defined(true) %}
{%                 do rows[protocol.name].append('tagged forward') %}
{%             endif %}
{%             if protocol.untagged_forward is arista.avd.defined(true) %}
{%                 do rows[protocol.name].append('untagged forward') %}
{%             endif %}
{%         endfor %}
| {{ profile.name }} | {{ rows["bfd per-link rfc-7130"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["e-lmi"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["isis"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["lacp"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["lldp"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["macsec"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["pause"] | arista.avd.default(["-"]) | join(",") }} | {{ rows["stp"] | arista.avd.default(["-"]) | join(",") }} |
{%     endfor %}

### L2 Protocol Forwarding Configuration

```eos
{%     include 'eos/l2-protocol-forwarding.j2' %}
```
{% endif %}
