{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - local users #}
{% if local_users is arista.avd.defined %}

### Local Users

#### Local Users Summary

| User | Privilege | Role | Disabled | Shell |
| ---- | --------- | ---- | -------- | ----- |
{%     for local_user in local_users | arista.avd.natural_sort('name') %}
{%         set role = local_user.role | arista.avd.default("-") %}
{%         set privilege = local_user.privilege | arista.avd.default("-") %}
{%         set disabled = local_user.disabled | arista.avd.default(false) %}
{%         set shell = local_user.shell | arista.avd.default("-") %}
| {{ local_user.name }} | {{ privilege }} | {{ role }} | {{ disabled }} | {{ shell }} |
{%     endfor %}

#### Local Users Device Configuration

```eos
{%     include 'eos/local-users.j2' %}
```
{% endif %}
