{% if loopback_interfaces is defined and loopback_interfaces is not none %}

## Loopback Interfaces

### Loopback Interfaces Summary

#### IPv4

| Interface | Description | VRF | IP Address |
| --------- | ----------- | --- | ---------- |
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%         set vrf = loopback_interfaces[loopback_interface].vrf | arista.avd.default('default') %}
{%         if loopback_interfaces[loopback_interface].ip_address is arista.avd.defined %}
{%             set ip = loopback_interfaces[loopback_interface].ip_address %}
{%             if loopback_interfaces[loopback_interface].ip_address_secondaries is arista.avd.defined %}
{%                 set ip = loopback_interfaces[loopback_interface].ip_address ~ ' <br> ' ~ loopback_interfaces[loopback_interface].ip_address_secondaries | join(' secondary <br> ') ~ ' secondary' %}
{%             endif %}
{%         endif %}
| {{ loopback_interface }} | {{ loopback_interfaces[loopback_interface].description | arista.avd.default('-') }} | {{ vrf }} | {{ ip | arista.avd.default('-') }} |
{%     endfor %}

#### IPv6

| Interface | Description | VRF | IPv6 Address |
| --------- | ----------- | --- | ------------ |
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%         set ip = loopback_interfaces[loopback_interface].vrf | arista.avd.default('default') %}
{%         set ipv6 = loopback_interfaces[loopback_interface].ipv6_address | arista.avd.default('-') %}
| {{ loopback_interface }} | {{ loopback_interfaces[loopback_interface].description | arista.avd.default('-') }} | {{ ip }} | {{ ipv6 }} |
{%     endfor %}

{%     set loopback_interface_isis = namespace() %}
{%     set loopback_interface_isis.configured = false %}
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%         if loopback_interfaces[loopback_interface].isis_enable is arista.avd.defined %}
{%             set loopback_interface_isis.configured = true %}
{%         endif %}
{%     endfor %}
{%     if loopback_interface_isis.configured == true %}
#### ISIS

| Interface | ISIS instance | ISIS metric | Interface mode |
| -------- | -------- | -------- | -------- |
{%         for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%             if loopback_interfaces[loopback_interface].isis_enable is arista.avd.defined %}
{%                 if loopback_interfaces[loopback_interface].isis_network_point_to_point is arista.avd.defined %}
{%                     set mode = 'point-to-point' %}
{%                 elif loopback_interfaces[loopback_interface].isis_passive is arista.avd.defined %}
{%                     set mode = 'passive' %}
{%                 endif %}
| {{ loopback_interface }} | {{ loopback_interfaces[loopback_interface].isis_enable }} | {{ loopback_interfaces[loopback_interface].isis_metric | arista.avd.default('-') }} | {{ mode | arista.avd.default('-') }} |
{%             endif %}
{%         endfor %}
{%     endif %}

### Loopback Interfaces Device Configuration

```eos
{%     include 'eos/loopback-interfaces.j2' %}
```
{% endif %}
