{% if loopback_interfaces is defined and loopback_interfaces is not none %}
### Loopback Interfaces Summary

| Interface | Description | VRF | IP Address |
| --------- | ----------- | --- | ---------- |
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
| {{ loopback_interface }} | {{ loopback_interfaces[loopback_interface].description }} |
{%-        if loopback_interfaces[loopback_interface].vrf is defined %} {{ loopback_interfaces[loopback_interface].vrf }} {% else %} Global Routing Table {% endif -%} |
{%-        if loopback_interfaces[loopback_interface].ip_address is defined %} {{ loopback_interfaces[loopback_interface].ip_address }} {% else %} - {% endif -%} |
{%     endfor %}

### Loopback Interfaces Device Configuration

```eos
{% include 'eos/loopback-interfaces.j2' %}
```
{% else %}
No Loopback interfaces defined
{% endif %}

