{% if bgp_groups is arista.avd.defined or
      interface_groups is arista.avd.defined or
      maintenance is arista.avd.defined %}

# Maintenance Mode
{## BGP Groups #}
{%     include 'documentation/bgp-groups.j2' %}
{## Interface Groups #}
{%     include 'documentation/interface-groups.j2' %}
{## Mainteance - replace # with % on next line when implementing this #}
{%     include 'documentation/maintenance.j2' %}
{% endif %}

