{% if group is arista.avd.defined %}

## Groups

### BGP groups

{%   if group.bgp is arista.avd.defined %}
| BGP group | VRF Name | Neighbor | BGP maintenance profiles |
|-----------|----------|----------|--------------------------|
{%     for group_name in group.bgp | arista.avd.natural_sort %}
{%       set vrf = group.bgp[group_name].vrf if group.bgp[group_name].vrf is defined else 'global' %}
{%       set neighbors = group.bgp[group_name].neighbors | arista.avd.natural_sort | join(',') %}
{%       set profile = group.bgp[group_name].maintenance_profile.bgp | arista.avd.natural_sort | join(',') %}
| {{ group_name }} | {{ vrf }} | {{ neighbors }} | {{ profile }}
{%     endfor %}

{%   else %}
No BGP or maintenance group defined
{%   endif  %}

### Interface groups

{%   if group.interface is arista.avd.defined %}
| Group | Interface | Interface maintenance profile | BGP maintenance profiles |
|-------|-----------|-------------------------------|--------------------------|
{%     for group_name in group.interface | arista.avd.natural_sort %}
{%       set interfaces = group.interface[group_name].interfaces | arista.avd.natural_sort | join(',') %}
{%       set interfaces = group.interface[group_name].interfaces | arista.avd.natural_sort | join(',') %}
{%       set interface_profile = group.interface[group_name].maintenance_profile.interface | arista.avd.natural_sort | join(',') %}
{%       set bgp_profile = group.interface[group_name].maintenance_profile.bgp | arista.avd.natural_sort | join(',') %}
| {{ group_name }} | {{ interfaces }} | {{ interface_profile if interface_profile|length  else '-' }} | {{ bgp_profile if bgp_profile|length else '-' }}
{%     endfor %}

{%   else %}
No Interface maintenance group defined
{%   endif  %}


{%   if group.bgp is arista.avd.defined or group.interface is arista.avd.defined %}
### CLI
```eos
{%   include 'eos/group.j2' %}
```
{%   endif %}
{% endif %}

