{% if management_security is arista.avd.defined %}

# Management Security

## Management Security Summary

| Settings | Value |
| -------- | ----- |
{%     if management_security.entropy_source is arista.avd.defined %}
| Entropy source | {{ management_security.entropy_source }} |
{%     endif %}
{%     if management_security.password.encryption_key_common is arista.avd.defined %}
| Common password encryption key | {{ management_security.password.encryption_key_common }} |
{%     endif %}
{%     if management_security.password.encryption_reversible is arista.avd.defined %}
| Reversible password encryption | {{ management_security.password.encryption_reversible }} |
{%     endif %}
{%     if management_security.password.minimum_length is arista.avd.defined %}
| Minimum password length | {{ management_security.password.minimum_length }} |
{%     endif %}
{%     if management_security.ssl_profiles is arista.avd.defined %}

## Management Security SSL Profiles

| SSL Profile Name | TLS protocol accepted | Certificate filename | Key filename |
| ---------------- | --------------------- | -------------------- | ------------ |
{%         for ssl_profile in management_security.ssl_profiles | arista.avd.natural_sort %}
| {{ ssl_profile.name | arista.avd.default('-') }} | {{ ssl_profile.tls_versions | arista.avd.default('-') }} | {{ ssl_profile.certificate.file | arista.avd.default('-') }} | {{ ssl_profile.certificate.key | arista.avd.default('-') }} |
{%         endfor %}
{%     endif %}

## Management Security Configuration

```eos
{%     include 'eos/management-security.j2' %}
```
{% endif %}
