{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - match list input #}
{% if match_list_input is arista.avd.defined %}

### Match-lists

{%     if match_list_input.string is arista.avd.defined %}
#### Match-list Input String Summary

{%         for match_list in match_list_input.string | arista.avd.natural_sort('name') %}
##### {{ match_list.name }}

| Sequence | Match Regex |
| -------- | ------ |
{%             for sequence in match_list.sequence_numbers | arista.avd.natural_sort('sequence') %}
| {{ sequence.sequence }} | {{ sequence.match_regex }} |
{%             endfor %}
{%         endfor %}
{%     endif %}

#### Match-lists Device Configuration

```eos
{%     include 'eos/match-list-input.j2' %}
```
{% endif %}
