{% if mlag_configuration is defined and mlag_configuration is not none %}
## MLAG Summary

| Domain-id | Local-interface | Peer-address | Peer-link |
| --------- | --------------- | ------------ | --------- |
| {{ mlag_configuration.domain_id }} | {{ mlag_configuration.local_interface }} | {{ mlag_configuration.peer_address }} | {{ mlag_configuration.peer_link }} |

{%   if mlag_configuration.dual_primary_detection_delay is defined and mlag_configuration.peer_mlag_configuration.dual_primary_detection_delay
is not none %}
Dual primary detection is enabled. The detection delay is {{ mlag_configuration.dual_primary_detection_delay }} seconds.
{%   else %}
Dual primary detection is disabled.
{%   endif %}

## MLAG Device Configuration

```eos
{% include 'eos/mlag-configuration.j2' %}
```
{% else %}
MLAG not defined
{% endif %}