{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - platform #}
{% if platform is arista.avd.defined %}

## Platform
{%     if platform.trident is arista.avd.defined or platform.sand is arista.avd.defined or platform.sfe is arista.avd.defined %}

### Platform Summary
{%         if platform.trident is arista.avd.defined %}

#### Platform Trident Summary

| Settings | Value |
| -------- | ----- |
{%             if platform.trident.forwarding_table_partition is arista.avd.defined %}
| Forwarding Table Partition | {{ platform.trident.forwarding_table_partition }} |
{%             endif %}
{%             if platform.trident.mmu.active_profile is arista.avd.defined %}
| MMU Applied Profile | {{ platform.trident.mmu.active_profile }} |
{%             endif %}
{%             if platform.trident.mmu.queue_profiles is arista.avd.defined %}

#### Trident MMU QUEUE PROFILES
{%                 for profile in platform.trident.mmu.queue_profiles | arista.avd.natural_sort('name') %}

##### {{ profile.name }}

| Type | Egress Queue | Threshold | Reserved | Drop-Precedence |
| ---- | ------------ | --------- | -------- | --------------- |
{%                     for queue in profile.unicast_queues | arista.avd.natural_sort('id') %}
| Unicast | {{ queue.id }} | {{ queue.threshold | arista.avd.default('-') }} | {{ queue.reserved | arista.avd.default('-') }} {{ queue.unit | arista.avd.default('bytes') }} | {{ queue.drop_precedence | arista.avd.default('-') }} |
{%                     endfor %}
{%                     for queue in profile.multicast_queues | arista.avd.natural_sort('id') %}
| Multicast | {{ queue.id }} | {{ queue.threshold | arista.avd.default('-') }} | {{ queue.reserved | arista.avd.default('-') }} {{ queue.unit | arista.avd.default('bytes') }} | {{ queue.drop_precedence | arista.avd.default('-') }} |
{%                     endfor %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%         if platform.sand is arista.avd.defined %}

#### Platform Sand Summary

| Settings | Value |
| -------- | ----- |
{%             if platform.sand.forwarding_mode is arista.avd.defined %}
| Forwarding Mode | {{ platform.sand.forwarding_mode }} |
{%             endif %}
{%             if platform.sand.lag.hardware_only is arista.avd.defined %}
| Hardware Only Lag | {{ platform.sand.lag.hardware_only }} |
{%             endif %}
{%             if platform.sand.lag.mode is arista.avd.defined %}
| Lag Mode | {{ platform.sand.lag.mode }} |
{%             endif %}
{%             if platform.sand.multicast_replication.default is arista.avd.defined %}
| Default Multicast Replication | {{ platform.sand.multicast_replication.default }} |
{%             endif %}
{%             if platform.sand.qos_maps is arista.avd.defined %}

##### Internal Network QOS Mapping

| Traffic Class | To Network QOS |
| ------------- | -------------- |
{%                 for qos_map in platform.sand.qos_maps | arista.avd.natural_sort('traffic_class') %}
{%                     if qos_map.traffic_class is arista.avd.defined and qos_map.to_network_qos is arista.avd.defined %}
| {{ qos_map.traffic_class }} | {{ qos_map.to_network_qos }} |
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%         if platform.sfe is arista.avd.defined %}

#### Platform Software Forwarding Engine Summary

| Settings | Value |
| -------- | ----- |
{%             if platform.sfe.data_plane_cpu_allocation_max is arista.avd.defined %}
| Maximum CPU Allocation | {{ platform.sfe.data_plane_cpu_allocation_max }} |
{%             endif %}
{%         endif %}
{%     endif %}

### Platform Device Configuration

```eos
{%     include 'eos/platform.j2' %}
```
{% endif %}
