{% if policy_maps.qos is arista.avd.defined %}

## QOS Policy Maps

### QOS Policy Maps Summary
{%     for policy_map in policy_maps.qos | arista.avd.natural_sort %}

**{{ policy_map }}**

| class | Set | Value |
| ----- | --- | ----- |
{%         for class in policy_maps.qos[policy_map].classes | arista.avd.default([]) %}
{%             for set in policy_maps.qos[policy_map].classes[class].set | arista.avd.default([]) %}
| {{ class }} | {{ set }} | {{ policy_maps.qos[policy_map].classes[class].set[set] }} |
{%             endfor %}
{%         endfor %}
{%     endfor %}

### QOS Policy Maps configuration

```eos
{%     include 'eos/policy-maps-qos.j2' %}
```
{% endif %}
