{% if policy_maps.pbr is arista.avd.defined %}

## PBR Policy Maps

### PBR Policy Maps Summary
{%     for policy_map in policy_maps.pbr | arista.avd.natural_sort %}

#### {{ policy_map }}
{%         if policy_maps.pbr[policy_map].classes is arista.avd.defined %}

| Class | Index | Drop | Nexthop | Recursive |
| ----- | ----- | ---- | ------- | --------- |
{%             for class in policy_maps.pbr[policy_map].classes %}
{%                 set index = policy_maps.pbr[policy_map].classes[class].index | arista.avd.default('-') %}
{%                 set drop = policy_maps.pbr[policy_map].classes[class].drop | arista.avd.default('-') %}
{%                 set nexthop = policy_maps.pbr[policy_map].classes[class].set.nexthop.ip_address | arista.avd.default('-') %}
{%                 set recur = policy_maps.pbr[policy_map].classes[class].set.nexthop.recursive | arista.avd.default('-') %}
| {{ class }} | {{ index }} | {{ drop }} | {{ nexthop }} | {{ recur }} |
{%             endfor %}
{%         endif %}
{%     endfor %}

### PBR Policy Maps Configuration

```eos
{%     include 'eos/policy-maps-pbr.j2' %}
```
{% endif %}
