{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - policy map qos #}
{% if policy_maps.qos is arista.avd.defined %}

### QOS Policy Maps

#### QOS Policy Maps Summary
{%     for policy_map in policy_maps.qos | arista.avd.natural_sort('name') %}

##### {{ policy_map.name }}

| class | Set | Value | Police |
| ----- | --- | ----- | ------ |
{%         for class in policy_map.classes | arista.avd.default([]) %}
{%             for set in class.set | arista.avd.default([]) %}
| {{ class.name }} | {{ set }} | {{ class.set[set] }} | - |
{%             endfor %}
{%             if class.police.rate is arista.avd.defined %}
{%                 set police_cli = "| " ~ class.name ~ " | - | - | rate " %}
{%                 if class.police.rate.lower_rate is arista.avd.defined and class.police.rate.lower_rate_burst_size is arista.avd.defined %}
{%                     set police_cli = police_cli ~ class.police.rate.lower_rate ~ " " ~ class.police.rate.rate_unit | arista.avd.default('bps') ~ " burst-size " ~ class.police.rate.lower_rate_burst_size ~ " " ~ class.police.rate.burst_size_unit | arista.avd.default('bytes') %}
{%                     if class.police.rate.higher_rate is arista.avd.defined and class.police.rate.higher_rate_burst_size is arista.avd.defined %}
{%                         if class.police.rate.action is arista.avd.defined("dscp") and class.police.rate.dscp_value is arista.avd.defined %}
{%                             set police_cli = police_cli ~ " action set dscp " ~ class.police.rate.dscp_value %}
{%                         elif class.police.rate.action is arista.avd.defined("drop-precedence") %}
{%                             set police_cli = police_cli ~ " action set drop-precedence" %}
{%                         endif %}
{%                         set police_cli = police_cli ~ " rate " ~ class.police.rate.higher_rate ~ " " ~ class.police.rate.rate_unit | arista.avd.default('bps') ~ " burst-size " ~ class.police.rate.higher_rate_burst_size ~ " " ~ class.police.rate.burst_size_unit | arista.avd.default('bytes') %}
{%                     endif %}
{%                 endif %}
{{ police_cli }} |
{%             endif %}
{%         endfor %}
{%     endfor %}

#### QOS Policy Maps Device Configuration

```eos
{%     include 'eos/policy-maps-qos.j2' %}
```
{% endif %}
