{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - policy map copp #}
{% if policy_maps.copp.enable is arista.avd.defined %}

### Control-plane Policy Map

#### Control-plane Policy Map Summary
{%     if policy_maps.copp.classes is arista.avd.defined %}

##### copp-system-policy

| Class | Shape(pps) | Bandwidth(pps) |
| ----- | ---------- | -------------- |
{%         for class in policy_maps.copp.classes | arista.avd.natural_sort('name') %}
| {{ class.name }} | {{ class.shape | arista.avd.default("-") }} | {{ class.minimum_bandwidth | arista.avd.default("-") }} |
{%         endfor %}
{%     endif %}

#### COPP Policy Maps Device Configuration

```eos
{%     include 'eos/policy-maps-copp.j2' %}
```
{% endif %}
