{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - ptp #}
{% if ptp is arista.avd.defined %}

### PTP

#### PTP Summary

| Clock ID | Source IP | Priority 1 | Priority 2 | TTL | Domain | Mode | Forward Unicast |
| -------- | --------- | ---------- | ---------- | --- | ------ | ---- | --------------- |
{%     set clock_id = ptp.clock_identity | arista.avd.default('-') %}
{%     set sip = ptp.source.ip | arista.avd.default('-') %}
{%     set pri1 = ptp.priority1 | arista.avd.default('-') %}
{%     set pri2 = ptp.priority2 | arista.avd.default('-') %}
{%     set ttl = ptp.ttl | arista.avd.default('-') %}
{%     set domain = ptp.domain | arista.avd.default('-') %}
{%     set mode = ptp.mode | arista.avd.default('-') %}
{%     set forward_unicast = ptp.forward_unicast | arista.avd.default('-') %}
| {{ clock_id }} | {{ sip }} | {{ pri1 }} | {{ pri2 }} | {{ ttl }} | {{ domain }} | {{ mode }} | {{ forward_unicast }} |

#### PTP Device Configuration

```eos
{%     include 'eos/ptp.j2' %}
```
{% endif %}
