{# doc - radius servers #}
{% if radius_servers is arista.avd.defined or radius_server.hosts is arista.avd.defined %}

## RADIUS Servers

### RADIUS Servers

| VRF | RADIUS Servers | Timeout | Retransmit |
| --- | -------------- | ------- | ---------- |
{%     if radius_servers is arista.avd.defined %}
{%         for radius_server in radius_servers %}
{%             set vrf = radius_server.vrf | arista.avd.default('default') %}
{%             set timeout = radius_server.timeout | arista.avd.default('-') %}
{%             set retransmit = radius_server.retransmit | arista.avd.default('-') %}
| {{ vrf }} | {{ radius_server.host }} | {{ timeout }} | {{ retransmit }} |
{%         endfor %}
{%     endif %}
{%     if radius_server.hosts is arista.avd.defined %}
{%         for radius_servers in radius_server.hosts %}
{%             set vrf = radius_servers.vrf | arista.avd.default('default') %}
{%             set timeout = radius_servers.timeout | arista.avd.default('-') %}
{%             set retransmit = radius_servers.retransmit | arista.avd.default('-') %}
| {{ vrf }} | {{ radius_servers.host }} | {{ timeout }} | {{ retransmit }} |
{%         endfor %}
{%     endif %}


### RADIUS Servers Device Configuration

```eos
{%     include 'eos/radius-servers.j2' %}
{%     include 'eos/radius-server.j2' %}
```

{% endif %}
