{% if roles is arista.avd.defined %}

## Roles

### Roles Summary
{%     for role in roles | arista.avd.natural_sort %}
#### Role {{ role.name }}

| Sequence | Action | Mode | Command |
| -------- | ------ | ---- | ------- |
{%         for sequence in role.sequence_numbers | arista.avd.natural_sort %}
| {{ sequence.sequence | arista.avd.default('-') }} | {{ sequence.action }} | {{ sequence.mode | arista.avd.default('-') }} | {{ sequence.command }} |
{%         endfor %}
{%     endfor %}

### Roles Device Configuration

```eos
{%     include 'eos/roles.j2' %}
```
{% endif %}
