{% if router_l2_vpn is arista.avd.defined %}

# Router L2 VPN

## Router L2 VPN Summary
{%     if router_l2_vpn.nd_rs_flooding_disabled is arista.avd.defined(true) %}

   Neighbor discovery router solicitation VTEP flooding is disabled.
{%     endif %}
{%     if router_l2_vpn.virtual_router_nd_ra_flooding_disabled is arista.avd.defined(true) %}

   Virtual router neighbor advertisement VTEP flooding is disabled.
{%     endif %}
{%     if router_l2_vpn.arp_selective_install is arista.avd.defined(true) %}

   Selective ARP is enabled.
{%     endif %}
{%     if router_l2_vpn.arp_proxy.prefix_list is arista.avd.defined %}

   VXLAN ARP Proxying is disabled for IPv4 addresses defined in the prefix-list {{ router_l2_vpn.arp_proxy.prefix_list }}.
{%     endif %}

## Router L2 VPN Device Configuration

```eos
{%     include 'eos/router-l2-vpn.j2' %}
```
{% endif %}
