{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - route maps #}
{% if route_maps is arista.avd.defined %}

### Route-maps

#### Route-maps Summary

{%     for route_map in route_maps | arista.avd.natural_sort('name') %}
##### {{ route_map.name }}

| Sequence | Type | Match | Set | Sub-Route-Map | Continue |
| -------- | ---- | ----- | --- | ------------- | -------- |
{%         for sequence in route_map.sequence_numbers | arista.avd.natural_sort('sequence') %}
{%             if sequence.continue.enabled is arista.avd.defined(true) %}
{%                 set row_continue = sequence.continue.sequence_number | arista.avd.default("Next Sequence") %}
{%             endif %}
| {{ sequence.sequence }} | {{ sequence.type }} | {{ sequence.match | arista.avd.default(['-']) | join('<br>') }} | {{ sequence.set | arista.avd.default(['-']) | join('<br>') }} | {{ sequence.sub_route_map | arista.avd.default('-') }} | {{ row_continue | arista.avd.default('-') }} |
{%         endfor %}

{%     endfor %}
#### Route-maps Device Configuration

```eos
{%     include 'eos/route-maps.j2' %}
```
{% endif %}
