{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - router segment-security #}
{% if router_segment_security is arista.avd.defined %}

## Group-Based Multi-domain Segmentation Services (MSS-Group)

{%     if router_segment_security.enabled is arista.avd.defined(true) %}
MSS-G is enabled.
{%     else %}
MSS-G is disabled.
{%     endif %}
{%     if router_segment_security.policies is arista.avd.defined %}

### Segmentation Policies
{%         for policy in router_segment_security.policies %}

#### {{ policy.name }}

| Sequence Number | Application Name | Action | Next-Hop | Log | Stateless |
| --------------- | ---------------- | ------ | -------- | --- | ---------
{%             for entry in policy.sequence_numbers | arista.avd.natural_sort('sequence') %}
| {{ entry.sequence }} | {{ entry.application }} | {{ entry.action }} | {{ entry.next_hop | arista.avd.default('-') }} | {{ entry.log | arista.avd.default('-') }} | {{ entry.stateless | arista.avd.default('-') }} |
{%             endfor %}
{%         endfor %}
{%     endif %}
{%     if router_segment_security.vrfs is arista.avd.defined %}

### Segment Definitions
{%         for vrf in router_segment_security.vrfs | arista.avd.natural_sort('name') %}

#### VRF {{ vrf.name }} Segmentation
{%             for segment in vrf.segments %}

##### Segment {{ segment.name }} Definitions

| Interface | Match-List Name | Address Family | Covered |
| --------- |------------ | -------------- | ------- |
{%                 if segment.definition.interfaces is arista.avd.defined %}
{%                     for entry in segment.definition.interfaces %}
| {{ entry }} | - | - | - |
{%                     endfor %}
{%                 endif %}
{%                 if segment.definition.match_lists is arista.avd.defined %}
{%                     for entry in segment.definition.match_lists | arista.avd.natural_sort('name') %}
| - | {{ entry.name }} | {{ entry.address_family }} | {{ entry.covered | arista.avd.default('False') }} |
{%                     endfor %}
{%                 endif %}

##### Segment {{ segment.name }} Policies

| Source Segment | Policy Applied |
| -------------- | -------------- |
{%                 for entry in segment.policies | arista.avd.natural_sort('name') %}
| {{ entry.source }} | {{ entry.policy }} |
{%                 endfor %}
{%             endfor %}
{%         endfor %}
{%     endif %}

### Router MSS-G Device Configuration

```eos
{%     include 'eos/router-segment-security.j2' %}
```
{% endif %}
