{% if router_ospf.process_ids is arista.avd.defined %}

## Router OSPF

### Router OSPF Summary

| Process ID | Router ID | Default Passive Interface | No Passive Interface | BFD | Max LSA | Default Information Originate | Log Adjacency Changes Detail | Auto Cost Reference Bandwidth | Maximum Paths | MPLS LDP Sync Default |
| ---------- | --------- | ------------------------- | -------------------- | --- | ------- | ----------------------------- | ---------------------------- | ----------------------------- | ------------- | --------------------- |
{%     for process in router_ospf.process_ids %}
{%         set router_id = router_ospf.process_ids[process].router_id | arista.avd.default ('-') %}
{%         if router_ospf.process_ids[process].passive_interface_default is arista.avd.defined(true) %}
{%             set passive_interface_default = 'enabled' %}
{%         else %}
{%             set passive_interface_default = 'disabled' %}
{%         endif %}
{%         set no_passive_interfaces = namespace() %}
{%         set no_passive_interfaces.list = '' %}
{%         if router_ospf.process_ids[process].no_passive_interfaces is arista.avd.defined %}
{%             for interface in router_ospf.process_ids[process].no_passive_interfaces %}
{%                 set no_passive_interfaces.list = no_passive_interfaces.list ~ ' ' ~ interface ~ ' <br>' %}
{%             endfor %}
{%         else %}
{%             set no_passive_interfaces.list = '-' %}
{%         endif %}
{%         if router_ospf.process_ids[process].bfd_enable is arista.avd.defined(true) %}
{%             set bgp_enable = 'enabled' %}
{%         else %}
{%             set bgp_enable = 'disabled' %}
{%         endif %}
{%         set max_lsa = router_ospf.process_ids[process].max_lsa | arista.avd.default('default') %}
{%         if router_ospf.process_ids[process].default_information_originate is arista.avd.defined %}
{%             if router_ospf.process_ids[process].default_information_originate.always is arista.avd.defined(true) %}
{%                 set default_information_originate = 'Always' %}
{%             else %}
{%                 set default_information_originate = 'enabled' %}
{%             endif %}
{%         else %}
{%             set default_information_originate = 'disabled' %}
{%         endif %}
{%         if router_ospf.process_ids[process].log_adjacency_changes_detail is arista.avd.defined(true) %}
{%             set log_adjacency_changes_detail = 'enabled' %}
{%         else %}
{%             set log_adjacency_changes_detail = 'disabled' %}
{%         endif %}
{%         set auto_cost_reference_bandwidth = router_ospf.process_ids[process].auto_cost_reference_bandwidth | arista.avd.default('-') %}
{%         set maximum_paths = router_ospf.process_ids[process].maximum_paths | arista.avd.default('-') %}
{%         set mpls_ldp_sync_default = router_ospf.process_ids[process].mpls_ldp_sync_default | arista.avd.default('-') %}
| {{ process }} | {{ router_id }} | {{ passive_interface_default }} | {{ no_passive_interfaces.list }} | {{ bgp_enable }} | {{ max_lsa }} | {{ default_information_originate }} | {{ log_adjacency_changes_detail }} | {{ auto_cost_reference_bandwidth }} | {{ maximum_paths }} | {{ mpls_ldp_sync_default }} |
{%     endfor %}
{%     set has = namespace() %}
{%     set has.found = false %}
{%     for process in router_ospf.process_ids %}
{%         if router_ospf.process_ids[process].redistribute is arista.avd.defined %}
{%             set has.found = true %}
{%         endif %}
{%     endfor %}
{%     if has.found is arista.avd.defined(true) %}

### Router OSPF Router Redistribution

| Process ID | Redistribute Connected | Redistribute Connected Route-map | Redistribute Static | Redistribute Static Route-map |
| ---------- | ---------------------- | -------------------------------- | ------------------- | ----------------------------- |
{%         for process in router_ospf.process_ids %}
{%             if router_ospf.process_ids[process].redistribute is arista.avd.defined %}
{%                 if router_ospf.process_ids[process].redistribute.connected is defined %}
{%                     set connected = 'enabled' %}
{%                 else %}
{%                     set connected = 'disabled' %}
{%                 endif %}
{%                 set connected_rm = router_ospf.process_ids[process].redistribute.connected.route_map | arista.avd.default('-') %}
{%                 if router_ospf.process_ids[process].redistribute.static is defined %}
{%                     set static = 'enabled' %}
{%                 else %}
{%                     set static = 'disabled' %}
{%                 endif %}
{%                 set static_rm = router_ospf.process_ids[process].redistribute.static.route_map | arista.avd.default('-') %}
| {{ process }} | {{ connected }}| {{ connected_rm }} | {{ static }} | {{ static_rm }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{%     set has.found = false %}
{%     for process in router_ospf.process_ids %}
{%         if router_ospf.process_ids[process].max_metric is arista.avd.defined %}
{%             set has.found = true %}
{%         endif %}
{%     endfor %}
{%     if has.found is arista.avd.defined(true) %}

### Router OSPF Router Max-Metric

| Process ID | Router-LSA | External-LSA (metric) | Include Stub | On Startup Delay | Summary-LSA (metric) |
| ---------- | ---------- | --------------------- | ------------ | ---------------- | -------------------- |
{%         for process in router_ospf.process_ids %}
{%             if router_ospf.process_ids[process].max_metric.router_lsa is defined %}
{%                 if router_ospf.process_ids[process].max_metric.router_lsa.external_lsa is defined %}
{%                     set external_lsa = 'enabled' %}
{%                     if router_ospf.process_ids[process].max_metric.router_lsa.external_lsa.override_metric is arista.avd.defined %}
{%                         set external_lsa = external_lsa ~ ' (' ~ router_ospf.process_ids[process].max_metric.router_lsa.external_lsa.override_metric ~ ')' %}
{%                     endif %}
{%                 else %}
{%                     set external_lsa = 'disabled' %}
{%                 endif %}
{%                 if router_ospf.process_ids[process].max_metric.router_lsa.include_stub is arista.avd.defined(true) %}
{%                     set include_stub = 'enabled' %}
{%                 else %}
{%                     set include_stub = 'disabled' %}
{%                 endif %}
{%                 set on_startup = router_ospf.process_ids[process].max_metric.router_lsa.on_startup | arista.avd.default('disabled') %}
{%                 if router_ospf.process_ids[process].max_metric.router_lsa.summary_lsa is defined %}
{%                     set summary_lsa = 'enabled' %}
{%                     if router_ospf.process_ids[process].max_metric.router_lsa.summary_lsa.override_metric is arista.avd.defined %}
{%                         set summary_lsa = summary_lsa ~ ' (' ~ router_ospf.process_ids[process].max_metric.router_lsa.summary_lsa.override_metric ~ ')' %}
{%                     endif %}
{%                 else %}
{%                     set summary_lsa = 'disabled' %}
{%                 endif %}
| {{ process }} | enabled | {{ external_lsa }} | {{ include_stub }} | {{ on_startup }} | {{ summary_lsa }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{# Interfaces #}
{%     set ethernet_interface_ospf = namespace(configured=false) %}
{%     set port_channel_interface_ospf = namespace(configured=false) %}
{%     set vlan_interface_ospf = namespace(configured=false) %}
{%     set loopback_interface_ospf = namespace(configured=false) %}
{%     for vlan_interface in vlan_interfaces | arista.avd.natural_sort %}
{%          if vlan_interfaces[vlan_interface].ospf_area is arista.avd.defined %}
{%              set vlan_interface_ospf.configured = true %}
{%          endif %}
{%     endfor %}
{%     for ethernet_interface in ethernet_interfaces | arista.avd.natural_sort %}
{%          if ethernet_interfaces[ethernet_interface].ospf_area is arista.avd.defined %}
{%              set ethernet_interface_ospf.configured = true %}
{%          endif %}
{%     endfor %}
{%     for port_channel_interface in port_channel_interfaces | arista.avd.natural_sort %}
{%          if port_channel_interfaces[port_channel_interface].ospf_area is arista.avd.defined %}
{%              set port_channel_interface_ospf.configured = true %}
{%          endif %}
{%     endfor %}
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%          if loopback_interfaces[loopback_interface].ospf_area is arista.avd.defined %}
{%              set loopback_interface_ospf.configured = true %}
{%          endif %}
{%     endfor %}
{%     if vlan_interface_ospf.configured or ethernet_interface_ospf.configured or port_channel_interface_ospf.configured or loopback_interface_ospf.configured %}

### OSPF Interfaces

| Interface | Area | Cost | Point To Point |
| -------- | -------- | -------- | -------- |
{%         if ethernet_interface_ospf.configured %}
{%             for ethernet_interface in ethernet_interfaces | arista.avd.natural_sort %}
{%                 if ethernet_interfaces[ethernet_interface].ospf_area is arista.avd.defined %}
| {{ ethernet_interface }} | {{ ethernet_interfaces[ethernet_interface].ospf_area }} | {{ ethernet_interfaces[ethernet_interface].ospf_cost | arista.avd.default('-') }} | {{ ethernet_interfaces[ethernet_interface].ospf_network_point_to_point | arista.avd.default('-') }} |
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if port_channel_interface_ospf.configured %}
{%             for port_channel_interface in port_channel_interfaces | arista.avd.natural_sort %}
{%                 if port_channel_interfaces[port_channel_interface].ospf_area is arista.avd.defined %}
| {{ port_channel_interface }} | {{ port_channel_interfaces[port_channel_interface].ospf_area }} | {{ port_channel_interfaces[port_channel_interface].ospf_cost | arista.avd.default('-') }} | {{ port_channel_interfaces[port_channel_interface].ospf_network_point_to_point | arista.avd.default('-') }} |
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if vlan_interface_ospf.configured %}
{%             for vlan_interface in vlan_interfaces | arista.avd.natural_sort %}
{%                 if vlan_interfaces[vlan_interface].ospf_area is arista.avd.defined %}
| {{ vlan_interface }} | {{ vlan_interfaces[vlan_interface].ospf_area }} | {{ vlan_interfaces[vlan_interface].ospf_cost | arista.avd.default('-') }} | {{ vlan_interfaces[vlan_interface].ospf_network_point_to_point | arista.avd.default('-') }} |
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if loopback_interface_ospf.configured %}
{%             for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
{%                 if loopback_interfaces[loopback_interface].ospf_area is arista.avd.defined %}
| {{ loopback_interface }} | {{ loopback_interfaces[loopback_interface].ospf_area }} | {{ loopback_interfaces[loopback_interface].ospf_cost | arista.avd.default('-') }} | {{ loopback_interfaces[loopback_interface].ospf_network_point_to_point | arista.avd.default('-') }} |
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endif %}

### Router OSPF Device Configuration

```eos
{%     include 'eos/router-ospf.j2' %}
```
{% endif %}
