{% if router_multicast is defined and router_multicast is not none %}
### IP Router Multicast Summary

{%   if router_multicast.ipv4.routing is defined and router_multicast.ipv4.routing == true %}
Routing for IPv4 multicast is enabled.

### Router Multicast Device Configuration

```eos
{% include 'eos/router-multicast.j2' %}
```

{%   endif %}
{% else %}
Routing multicast not defined
{% endif %}
