{% if service-routing is arista.avd.defined %}

## Service Routing

{%     if service_routing_configuration.bgp_no_equals_default is arista.avd.defined %}
### Service Routing Configuration

- BGP no equals default: "{{ service_routing_configuration.bgp_no_equals_default }}"

```eos
{{ service_routing_configuration }}
!
```

{%     endif %}

{%     if service_routing_protocols_model is arista.avd.defined %}
### Service Routing Protocols Model: {{ service_routing_protocols_model }}
{%     endif %}

```eos
{{ service_routing_protocols_model }}
!
```
{% endif %}
