{%  if service_routing_configuration is arista.avd.defined %}
## Service Routing Configuration

{%     if service_routing_configuration.bgp_no_equals_default is arista.avd.defined %}

- BGP no equals default: "{{ service_routing_configuration.bgp_no_equals_default }}"

{%     endif %}

```eos
{{ service_routing_configuration }}
!
```

{% endif %}
