{# SFlow Interfaces #}
{% set port_channel_interfaces_sflow = [] %}
{% set ethernet_interfaces_sflow = [] %}
{% for port_channel_interface in port_channel_interfaces | arista.avd.natural_sort('name') %}
{%     if port_channel_interface.sflow is arista.avd.defined %}
{%         do port_channel_interfaces_sflow.append(port_channel_interface) %}
{%     endif %}
{% endfor %}
{% for ethernet_interface in ethernet_interfaces | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%     if ethernet_interface.sflow is arista.avd.defined %}
{%         do ethernet_interfaces_sflow.append(ethernet_interface) %}
{%     endif %}
{% endfor %}
{% if port_channel_interfaces_sflow | length > 0 or ethernet_interfaces_sflow | length > 0 %}

## SFlow Interfaces

| Interface | Ingress Enabled | Egress Enabled |
| --------- | --------------- | -------------- |
{%     for ethernet_interface in ethernet_interfaces_sflow | arista.avd.natural_sort('name') %}
{%         set sflow_ingress_enable = ethernet_interface.sflow.enable | arista.avd.default("-") %}
{%         if ethernet_interface.sflow.egress.enable is arista.avd.defined %}
{%             set sflow_egress_enable = ethernet_interface.sflow.egress.enable %}
{%         elif ethernet_interface.sflow.egress.unmodified_enable is arista.avd.defined %}
{%             set sflow_egress_enable = ethernet_interface.sflow.egress.unmodified_enable ~ " (unmodified)" %}
{%         endif %}
| {{ ethernet_interface.name }} | {{ sflow_ingress_enable }} | {{ sflow_egress_enable | arista.avd.default('-') }} |
{%     endfor %}
{%     for port_channel_interface in port_channel_interfaces_sflow | arista.avd.natural_sort('name') %}
{%         set sflow_ingress_enable = port_channel_interface.sflow.enable | arista.avd.default("-") %}
{%         if port_channel_interface.sflow.egress.enable is arista.avd.defined %}
{%             set sflow_egress_enable = port_channel_interface.sflow.egress.enable %}
{%         elif port_channel_interface.sflow.egress.unmodified_enable is arista.avd.defined %}
{%             set sflow_egress_enable = port_channel_interface.sflow.egress.unmodified_enable ~ " (unmodified)" %}
{%         endif %}
| {{ port_channel_interface.name }} | {{ sflow_ingress_enable }} | {{ sflow_egress_enable | arista.avd.default('-') }} |
{%     endfor %}
{% endif %}
