{% if snmp_server is arista.avd.defined %}

## SNMP

### SNMP Configuration Summary

| Contact | Location | SNMP Traps |
| ------- | -------- | ---------- |
{%     set row_contact = snmp_server.contact | arista.avd.default('-') %}
{%     set row_location = snmp_server.location | arista.avd.default('-') %}
{%     if snmp_server.traps.enable | arista.avd.default(false) %}
{%         set row_traps = 'Enabled' %}
{%     else %}
{%         set row_traps = 'Disabled' %}
{%     endif %}
| {{ row_contact }} | {{ row_location }} | {{ row_traps }} |
{%     if snmp_server.ipv4_acls is arista.avd.defined %}

### SNMP ACLs
| IP | ACL | VRF |
| -- | --- | --- |
{%         for acl in snmp_server.ipv4_acls %}
| IPv4 | {{ acl.name | arista.avd.default('-') }} | {{ acl.vrf | arista.avd.default('default') }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.ipv6_acls is arista.avd.defined %}
{%         for acl in snmp_server.ipv6_acls %}
| IPv6 | {{ acl.name | arista.avd.default('-') }} | {{ acl.vrf | arista.avd.default('default') }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.local_interfaces is arista.avd.defined %}

### SNMP Local Interfaces

| Local Interface | VRF |
| --------------- | --- |
{%         for interface in snmp_server.local_interfaces %}
| {{ interface }} | {{ snmp_server.local_interfaces[interface]['vrf'] | arista.avd.default('default') }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.vrfs is arista.avd.defined %}

### SNMP VRF Status

| VRF | Status |
| --- | ------ |
{%         for vrf in snmp_server.vrfs %}
| {{ vrf.name }} | {% if vrf.enable | arista.avd.default(false) %} Enabled {% else %} Disabled {% endif %} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.hosts is arista.avd.defined %}

### SNMP Hosts Configuration

| Host | VRF | Community | Username | Authentication level | SNMP Version |
| ---- |---- | --------- | -------- | -------------------- | ------------ |
{%         for host in snmp_server.hosts %}
{%             if host.host is arista.avd.defined %}
{%                 set row_host = host.host %}
{%                 set row_vrf = host.vrf | arista.avd.default('-') %}
{%                 if host.users is arista.avd.defined
                      and host.version | arista.avd.default('3') | string == '3' %}
{%                     for user in host.users %}
{%                         if user.username is arista.avd.defined
                              and user.authentication_level is arista.avd.defined %}
| {{ row_host }} | {{ row_vrf }} | - | {{ user.username }} | {{ user.authentication_level }} | {{ host.version | arista.avd.default('3') }} |
{%                         endif %}
{%                     endfor %}
{%                 elif host.community is arista.avd.defined
                        and host.version | arista.avd.default('2c') | string in ['1', '2c'] %}
| {{ row_host }} | {{ row_vrf }} | {{ host.community }} | - | - | {{ host.version | arista.avd.default('2c') }} |
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if snmp_server.views is arista.avd.defined %}

### SNMP Views Configuration

| View | MIB Family Name | Status |
| ---- | --------------- | ------ |
{%         for view in snmp_server.views %}
{%             set row_view = view.name | arista.avd.default('default') %}
{%             set row_mib_family_name = view.MIB_family_name | arista.avd.default('-') %}
{%             if view.included | arista.avd.default(false) %}
{%                 set row_status = 'Included' %}
{%             else %}
{%                 set row_status = 'Excluded' %}
{%             endif %}
| {{ row_view }} | {{ row_mib_family_name }} | {{ row_status }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.communities is arista.avd.defined %}

### SNMP Communities

| Community | Access | Access List IPv4 | Access List IPv6 | View |
| --------- | ------ | ---------------- | ---------------- | ---- |
{%          for community in snmp_server.communities | arista.avd.natural_sort %}
{%              set access = snmp_server.communities[community].access | arista.avd.default("ro") %}
{%              set access_list_ipv4 = snmp_server.communities[community].access_list_ipv4.name | arista.avd.default("-") %}
{%              set access_list_ipv6 = snmp_server.communities[community].access_list_ipv6.name | arista.avd.default("-") %}
{%             set view = snmp_server.communities[community].view | arista.avd.default("-") %}
| {{ community }} | {{ access }} | {{ access_list_ipv4 }} | {{ access_list_ipv6 }} | {{ view }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.groups is arista.avd.defined %}

### SNMP Groups Configuration

| Group | SNMP Version | Authentication | Read | Write | Notify |
| ----- | ------------ | -------------- | ---- | ----- | ------ |
{%         for group in snmp_server.groups %}
{%             set row_group = group.name | arista.avd.default('default') %}
{%             set row_version = group.version | arista.avd.default('-') %}
{%             set row_auth = group.authentication | arista.avd.default('-') %}
{%             set row_read = group.read | arista.avd.default('-') %}
{%             set row_write = group.write | arista.avd.default('-') %}
{%             set row_notify = group.notify | arista.avd.default('-') %}
| {{ row_group }} | {{ row_version }} | {{ row_auth }} | {{ row_read }} | {{ row_write }} | {{ row_notify }} |
{%         endfor %}
{%     endif %}
{%     if snmp_server.users is arista.avd.defined %}

### SNMP Users Configuration

| User | Group | Version | Authentication | Privacy |
| ---- | ----- | ------- | -------------- | ------- |
{%         for user in snmp_server.users %}
{%             set row_user = user.name | arista.avd.default('default') %}
{%             set row_group = user.group | arista.avd.default('-') %}
{%             set row_version = user.version | arista.avd.default('-') %}
{%             set row_auth = user.auth | arista.avd.default('-') %}
{%             set row_policy = user.priv | arista.avd.default('-') %}
| {{ row_user }} | {{ row_group }} | {{ row_version }} | {{ row_auth }} | {{ row_policy }} |
{%         endfor %}
{%     endif %}

### SNMP Device Configuration

```eos
{%     include 'eos/snmp-settings.j2' %}
```
{% endif %}
