{# spanning-tree #}
{% if spanning_tree is arista.avd.defined %}
## Spanning Tree Summary

STP mode: **{{ spanning_tree.mode | arista.avd.default("mstp") }}**
{%     if spanning_tree.mst_instances is arista.avd.defined %}

### MSTP Instance and Priority

| Instance(s) | Priority |
| -------- | -------- |
{%         for mst_instance in spanning_tree.mst_instances | arista.avd.natural_sort %}
| {{ mst_instance }} | {{ spanning_tree.mst_instances[mst_instance].priority | arista.avd.default("-") }} |
{%         endfor %}
{%     endif %}
{%     if spanning_tree.mst.configuration is arista.avd.defined %}

### MST Configuration

| Variable | Value |
| -------- | -------- |
{%         if spanning_tree.mst.configuration.name is arista.avd.defined %}
| Name | {{ spanning_tree.mst.configuration.name }} |
{%         endif %}
{%         if spanning_tree.mst.configuration.revision is arista.avd.defined %}
| Revision | {{ spanning_tree.mst.configuration.revision }} |
{%         endif %}
{%         if spanning_tree.mst.configuration.instances is arista.avd.defined %}
{%             for instance in spanning_tree.mst.configuration.instances | arista.avd.natural_sort %}
| Instance {{ instance }} | VLAN(s) {{ spanning_tree.mst.configuration.instances[instance].vlans | arista.avd.default("-") }} |
{%             endfor %}
{%         endif %}
{%     endif %}
{%     if spanning_tree.mode == "rapid-pvst" %}

### Rapid-PVST Instance and Priority

| Instance(s) | Priority |
| -------- | -------- |
{%         if spanning_tree.rapid_pvst_instances is arista.avd.defined  %}
{%             for vlan_id in spanning_tree.rapid_pvst_instances | arista.avd.natural_sort %}
| {{ vlan_id }} | {{ spanning_tree.rapid_pvst_instances[vlan_id].priority | arista.avd.default("-") }} |
{%             endfor %}
{%         endif %}
{%     endif %}

### Global Spanning-Tree Settings

{%     if spanning_tree.mode == "rstp" %}
{%         if spanning_tree.rstp_priority is arista.avd.defined %}
Global RSTP priority: {{ spanning_tree.rstp_priority }}
{%         endif %}
{%     endif %}
{%     if spanning_tree.no_spanning_tree_vlan is arista.avd.defined %}
Spanning Tree disabled for VLANs: **{{ spanning_tree.no_spanning_tree_vlan }}**
{%     endif %}
{%     if spanning_tree.edge_port.bpduguard_default is arista.avd.defined(true) %}
Global BPDU Guard for Edge ports is enabled.
{%     endif %}
{%     if spanning_tree.mode == "mstp" %}
{%         if spanning_tree.mst is arista.avd.defined %}
{%             if spanning_tree.mst.pvst_border is arista.avd.defined(true) %}
MST PSVT Border is enabled.
{%             endif %}
{%         endif %}
{%     endif %}

## Spanning Tree Device Configuration

```eos
{% include 'eos/spanning-tree.j2' %}
```
{% else %}
Spanning-tree not defined
{% endif %}
