{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - stun #}
{% if stun is arista.avd.defined %}

## STUN
{%     if stun.client is arista.avd.defined %}

### STUN Client
{%         if stun.client.server_profiles is arista.avd.defined %}

#### Server Profiles

| Server Profile | IP address | SSL Profile | Port |
| -------------- | ---------- | ----------- | ---- |
{%             for server_profile in stun.client.server_profiles | arista.avd.natural_sort('name') %}
{%                 set ssl_profile = server_profile.ssl_profile | arista.avd.default("-") %}
{%                 set stun_port = server_profile.port | arista.avd.default("3478") %}
| {{ server_profile.name }} | {{ server_profile.ip_address }} | {{ ssl_profile }} | {{ stun_port }} |
{%             endfor %}
{%         endif %}
{%     endif %}
{%     if stun.server is arista.avd.defined %}

### STUN Server

| Server Local Interfaces | Bindings Timeout (s) | SSL Profile | SSL Connection Lifetime | Port |
| ----------------------- | -------------------- | ----------- | ----------------------- | ---- |
{%         set bindings_timeout = stun.server.bindings_timeout | arista.avd.default("-") %}
{%         set ssl_profile = stun.server.ssl_profile | arista.avd.default("-") %}
{%         set stun_port = stun.server.port | arista.avd.default("3478") %}
{%         if stun.server.ssl_connection_lifetime.minutes is arista.avd.defined %}
{%             set lifetime = stun.server.ssl_connection_lifetime.minutes ~ " minutes" %}
{%         elif stun.server.ssl_connection_lifetime.hours is arista.avd.defined %}
{%             set lifetime = stun.server.ssl_connection_lifetime.hours ~ " hours" %}
{%         else %}
{%             set lifetime = "-" %}
{%         endif %}
{%         set interface_list = stun.server.local_interfaces | arista.avd.natural_sort %}
{# Next is deprecated remove in v5.0.0 #}
{%         if stun.server.local_interface is arista.avd.defined %}
{%             do interface_list.append(stun.server.local_interface) %}
{%         endif %}
| {{ interface_list | join("<br>") }} | {{ bindings_timeout }} | {{ ssl_profile }} | {{ lifetime }} | {{ stun_port }} |
{%     endif %}

### STUN Device Configuration

```eos
{%     include 'eos/stun.j2' %}
```
{% endif %}
