{% if switchport_default.mode is arista.avd.defined %}

## Switchport Default

### Switchport Defaults Summary

- Default Switchport Mode: {{ switchport_default.mode }}
- Default Switchport Phone COS: {{ switchport_default.phone.cos }}
- Default Switchport Phone Trunk: {{ switchport_default.phone.trunk }}
- Default Switchport Phone VLAN: {{ switchport_default.phone.vlan }}

### Switchport Default Configuration

```eos
{% include 'eos/switchport-default.j2' %}
```
{% endif %}
