{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - system.l1 #}
{% if system.l1 is arista.avd.defined %}

## System L1
{%     if system.l1.unsupported_speed_action is arista.avd.defined or system.l1.unsupported_error_correction_action is arista.avd.defined %}

### Unsupported Interface Configurations

| Unsupported Configuration | action |
| ---------------- | -------|
{%         if system.l1.unsupported_speed_action is arista.avd.defined %}
| Speed | {{ system.l1.unsupported_speed_action }} |
{%         endif %}
{%         if system.l1.unsupported_error_correction_action is arista.avd.defined %}
| Error correction | {{ system.l1.unsupported_error_correction_action }} |
{%         endif %}
{%     endif %}

### System L1 Device Configuration

```eos
{%     include 'eos/system-l1.j2' %}
```
{% endif %}
