{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - tacacs servers #}
{% if tacacs_servers.hosts is arista.avd.defined %}

### TACACS Servers

#### TACACS Servers

| VRF | TACACS Servers | Single-Connection | Timeout |
| --- | -------------- | ----------------- | ------- |
{%     for host in tacacs_servers.hosts %}
{%         set vrf = host.vrf | arista.avd.default('default') %}
| {{ vrf }} | {{ host.host }} | {{ host.single_connection | default(false) }} | {{ host.timeout | arista.avd.default("-") }} |
{%     endfor %}

{%     if tacacs_servers.policy_unknown_mandatory_attribute_ignore is arista.avd.defined and tacacs_servers.policy_unknown_mandatory_attribute_ignore == true %}
Policy unknown-mandatory-attribute ignore is configured

{%     endif %}
{%     if tacacs_servers.timeout is arista.avd.defined %}
Global timeout: {{ tacacs_servers.timeout }} seconds

{%     endif %}
#### TACACS Servers Device Configuration

```eos
{%     include 'eos/tacacs-servers.j2' %}
```
{% endif %}
