{% if roles is arista.avd.defined %}

## User Roles

### User Roles Summary

{%     for role in roles | arista.avd.natural_sort %}
#### {{ role.name }}

| Sequence | Action | Mode | Command |
| -------- | ------ | ---- | ------- |
{%         for sequence in role.sequence_numbers | arista.avd.natural_sort %}
| {{ sequence.sequence }} | {{ sequence.action }} | {% if sequence.mode is arista.avd.defined %} {{ sequence.mode }}{% endif %} | {{ sequence.command }} |
{%         endfor %}

{%     endfor %}
### User Roles Device Configuration

```eos
{% include 'eos/user-roles.j2' %}
```
{% endif %}
