{% if virtual_source_nat_vrfs is defined and virtual_source_nat_vrfs is not none %}
## Virtual Source NAT Summary

| Source NAT VRF | Source NAT IP Address |
| -------------- | --------------------- |
{%         for vrf in virtual_source_nat_vrfs | arista.avd.natural_sort %}
| {{ vrf }} | {{ virtual_source_nat_vrfs[vrf].ip_address }} |
{%         endfor %}

## Virtual Source NAT Configuration

```eos
{% include 'eos/virtual-source-nat.j2' %}
```
{% else %}
Virtual source NAT not defined
{% endif %}
