{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# doc - vlan internal order #}
{% if vlan_internal_order is arista.avd.defined %}

## Internal VLAN Allocation Policy

### Internal VLAN Allocation Policy Summary

| Policy Allocation | Range Beginning | Range Ending |
| ------------------| --------------- | ------------ |
| {{ vlan_internal_order.allocation }} | {{ vlan_internal_order.range.beginning }} | {{ vlan_internal_order.range.ending }} |

### Internal VLAN Allocation Policy Device Configuration

```eos
{%     include 'eos/vlan-internal-order.j2' %}
```
{% endif %}
