{% if vmtracer_sessions is arista.avd.defined %}

## VM Tracer Sessions

### VM Tracer Summary

| Session | URL | Username | Autovlan | Source Interface |
| ------- | --- | -------- | -------- | ---------------- |
{%     for session in vmtracer_sessions | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%         set url = session.url | arista.avd.default('-') %}
{%         if session.autovlan_disable is arista.avd.defined(true) %}
{%             set autovlan = 'disabled' %}
{%         endif %}
{%         set source_interface = session.source_interface | arista.avd.default('-') %}
| {{ session.name }} | {{ url }} | {{ session.username | arista.avd.default('-') }} | {{ autovlan | arista.avd.default('enabled') }} | {{ source_interface }} |
{%     endfor %}

### VM Tracer Device Configuration

```eos
{%     include 'eos/vmtracer-sessions.j2' %}
```
{% endif %}
