{% if vxlan_interface.Vxlan1 is arista.avd.defined %}

## VXLAN Interface

### VXLAN Interface Summary

#### Source Interface: {{ vxlan_interface.Vxlan1.vxlan.source_interface }}

#### UDP port: {{ vxlan_interface.Vxlan1.vxlan.udp_port | arista.avd.default('4789') }}
{%     if vxlan_interface.Vxlan1.vxlan.virtual_router_encapsulation_mac_address is arista.avd.defined %}

#### EVPN MLAG Shared Router MAC : {{ vxlan_interface.Vxlan1.vxlan.virtual_router_encapsulation_mac_address }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.vlans is arista.avd.defined %}

#### VLAN to VNI and Flood List Mappings

| VLAN | VNI | Flood List |
| ---- | --- | ---------- |
{%         for vlan in vxlan_interface.Vxlan1.vxlan.vlans | arista.avd.natural_sort %}
{%             set vni = vxlan_interface.Vxlan1.vxlan.vlans[vlan].vni %}
{%             if vxlan_interface.Vxlan1.vxlan.vlans[vlan].flood_vteps is arista.avd.defined %}
{%                 set flood_list = vxlan_interface.Vxlan1.vxlan.vlans[vlan].flood_vteps | join('<br/>')  %}
{%             else %}
{%                 set flood_list = '-' %}
{%             endif %}
| {{ vlan }} | {{ vni }} | {{  flood_list }} |
{%         endfor %}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.vrfs is arista.avd.defined %}

#### VRF to VNI Mappings

| VLAN | VNI |
| ---- | --- |
{%         for vrf in vxlan_interface.Vxlan1.vxlan.vrfs | arista.avd.natural_sort %}
{%             if vxlan_interface.Vxlan1.vxlan.vrfs[vrf].vni is arista.avd.defined %}
| {{ vrf }} | {{ vxlan_interface.Vxlan1.vxlan.vrfs[vrf].vni }} |
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.flood_vteps is arista.avd.defined %}

#### Default Flood List

| Default Flood List |
| ---------- |
| {{ vxlan_interface.Vxlan1.vxlan.flood_vteps | join('<br/>') }} |
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.flood_vtep_learned_data_plane is arista.avd.defined(true) %}

#### VXLAN flood-lists learning from data-plane: Enabled
{%     endif %}

### VXLAN Interface Device Configuration

```eos
{% include 'eos/vxlan-interface.j2' %}
```
{% endif %}
