{% if switch.connected_endpoints is arista.avd.defined(true) and connected_endpoints_keys is arista.avd.defined %}
{%     set connected_endpoints = dict() %}
{%     set monitor_sessions_data = [] %}
{%     include 'connected_endpoints/logic.j2' %}

{%     include 'connected_endpoints/ethernet-interfaces.j2' %}

{%     include 'connected_endpoints/port-channel-interfaces.j2' %}

{%     include 'connected_endpoints/monitor-sessions.j2' %}

{% endif %}
