{# Leaf connected_endpoint monitor-sessions #}
{% if monitor_sessions_data is arista.avd.defined %}
monitor_sessions:
{%     for session in monitor_sessions_data %}
{%         if session.role is arista.avd.defined('source') %}
{%             if session.name is arista.avd.defined %}
  - name: {{ session.name }}
{%             endif %}
{%             if session.interface is arista.avd.defined %}
    sources:
      - name: {{ session.interface }}
{%             endif %}
{%         elif session.role is arista.avd.defined('destination') %}
    destinations: 
       - {{ session.interface }}
{%         endif %}
{%     endfor %}
{% endif %}
