{# Leaf server port-channels #}
port_channel_interfaces:
{% for endpoint_key in connected_endpoints | arista.avd.natural_sort %}
{%     for connected_endpoint in connected_endpoints[endpoint_key] | arista.avd.natural_sort %}
{%         for adapter in connected_endpoints[endpoint_key][connected_endpoint].adapters | arista.avd.natural_sort %}
{%             if adapter.profile is arista.avd.defined %}
{%                 set adapter_profile = port_profiles[adapter.profile] | arista.avd.default({}) %}
{%             else %}
{%                 set adapter_profile = dict() %}
{%             endif %}
{%             if adapter_profile.parent_profile is arista.avd.defined %}
{%                 set parent_profile = port_profiles[adapter_profile.parent_profile] | arista.avd.default({}) %}
{%             endif %}
{%             set adapter_port_channel = adapter.port_channel | arista.avd.default(
                                          adapter_profile.port_channel,
                                          parent_profile.port_channel) %}
{%             if adapter_port_channel is arista.avd.defined and adapter_port_channel.mode is arista.avd.defined %}
{%                 set adapter_port_channel_description = adapter.port_channel.description | arista.avd.default(
                                                          adapter_profile.port_channel.description,
                                                          parent_profile.port_channel.description) %}
{%                 for adapter_switch in adapter.switches | arista.avd.natural_sort %}
{%                     if adapter_switch == inventory_hostname %}
{%                         set adapter_mode = adapter.mode | arista.avd.default(
                                              adapter_profile.mode,
                                              parent_profile.mode) %}
{%                         set adapter_l2_mtu = adapter.l2_mtu | arista.avd.default(
                                                adapter_profile.l2_mtu,
                                                parent_profile.l2_mtu) %}
{%                         set adapter_vlans = adapter.vlans | arista.avd.default(
                                               adapter_profile.vlans,
                                               parent_profile.vlans) %}
{%                         set adapter_native_vlan = adapter.native_vlan | arista.avd.default(
                                                     adapter_profile.native_vlan,
                                                     parent_profile.native_vlan) %}
{%                         set adapter_spanning_tree_portfast = adapter.spanning_tree_portfast | arista.avd.default(
                                                                adapter_profile.spanning_tree_portfast,
                                                                parent_profile.spanning_tree_portfast) %}
{%                         set adapter_spanning_tree_bpdufilter = adapter.spanning_tree_bpdufilter | arista.avd.default(
                                                                  adapter_profile.spanning_tree_bpdufilter,
                                                                  parent_profile.spanning_tree_bpdufilter) %}
{%                         set adapter_spanning_tree_bpduguard = adapter.spanning_tree_bpduguard | arista.avd.default(
                                                                 adapter_profile.spanning_tree_bpduguard,
                                                                 parent_profile.spanning_tree_bpduguard) %}
{%                         set adapter_storm_control = adapter.storm_control | arista.avd.default(
                                                       adapter_profile.storm_control,
                                                       parent_profile.storm_control) %}
{%                         set adapter_flowcontrol = adapter.flowcontrol | arista.avd.default(
                                                     adapter_profile.flowcontrol,
                                                     parent_profile.flowcontrol) %}
{%                         set adapter_qos_profile = adapter.qos_profile | arista.avd.default(
                                                     adapter_profile.qos_profile,
                                                     parent_profile.qos_profile) %}
{%                         set adapter_mtu = adapter.mtu | arista.avd.default(
                                             adapter_profile.mtu,
                                             parent_profile.mtu) %}
{%                         set adapter_lacp_fallback_mode = adapter.port_channel.lacp_fallback.mode | arista.avd.default(
                                                            adapter_profile.port_channel.lacp_fallback.mode,
                                                            parent_profile.port_channel.lacp_fallback.mode) %}
{%                         set adapter_lacp_fallback_timeout = adapter.port_channel.lacp_fallback.timeout | arista.avd.default(
                                                               adapter_profile.port_channel.lacp_fallback.timeout,
                                                               parent_profile.port_channel.lacp_fallback.timeout) %}
{%                         set adapter_raw_eos_cli = adapter.port_channel.raw_eos_cli | arista.avd.default(
                                                     adapter_profile.port_channel.raw_eos_cli,
                                                     parent_profile.port_channel.raw_eos_cli) %}
{%                         set adapter_structured_config = adapter.port_channel.structured_config | arista.avd.default(
                                                           adapter_profile.port_channel.structured_config,
                                                           parent_profile.port_channel.structured_config) %}
{%                         set channel_group_id = (adapter.switch_ports[0] | regex_findall("\d") | join) %}
  Port-Channel{{ channel_group_id }}:
{%                         set peer = connected_endpoint %}
    description: "{% include switch.interface_descriptions.connected_endpoints_port_channel_interfaces %}"
    type: switched
    shutdown: false
    mode: {{ adapter_mode }}
{%                         if adapter_mtu is arista.avd.defined %}
    mtu: {{ adapter_mtu }}
{%                         endif %}
{%                         if adapter_l2_mtu is arista.avd.defined  %}
    l2_mtu: {{ adapter_l2_mtu }}
{%                         endif %}
    vlans: {{ adapter_vlans }}
{%                         if adapter_native_vlan is arista.avd.defined %}
    native_vlan: {{ adapter_native_vlan }}
{%                         endif %}
{%                         if adapter_spanning_tree_portfast is arista.avd.defined %}
    spanning_tree_portfast: {{ adapter_spanning_tree_portfast }}
{%                         endif %}
{%                         if adapter_spanning_tree_bpdufilter is arista.avd.defined %}
    spanning_tree_bpdufilter: {{ adapter_spanning_tree_bpdufilter }}
{%                         endif %}
{%                         if adapter_spanning_tree_bpduguard is arista.avd.defined %}
    spanning_tree_bpduguard: {{ adapter_spanning_tree_bpduguard }}
{%                         endif %}
{%                         if adapter_storm_control is arista.avd.defined and switch.platform_settings.feature_support.interface_storm_control is not arista.avd.defined(false) %}
    storm_control:
{%                             for section in adapter_storm_control %}
      {{ section }}:
        level: {{ adapter_storm_control[section].level }}
{%                                 if adapter_storm_control[section].unit is arista.avd.defined %}
        unit: {{ adapter_storm_control[section].unit }}
{%                                 endif %}
{%                             endfor %}
{%                         endif %}
{%                         if adapter.switches | unique | list | length > 1 %}
{%                             if adapter.port_channel.short_esi is arista.avd.defined %}
{%                                 if adapter.port_channel.short_esi.split(':') | length == 3 %}
    esi: {{ adapter.port_channel.short_esi | arista.avd.generate_esi(evpn_short_esi_prefix) }}
    rt: {{ adapter.port_channel.short_esi | arista.avd.generate_route_target }}
{%                                     if adapter_port_channel.mode == 'active' %}
    lacp_id: {{ adapter.port_channel.short_esi | arista.avd.generate_lacp_id }}
{%                                     endif %}
{%                                 endif %}
{%                             else %}
    mlag: {{ channel_group_id }}
{%                             endif %}
{%                         endif %}
{%                         if adapter_lacp_fallback_mode is arista.avd.defined('static') %}
    lacp_fallback_mode: {{ adapter_lacp_fallback_mode }}
    lacp_fallback_timeout: {{ adapter_lacp_fallback_timeout | arista.avd.default('90') }}
{%                         endif %}
{%                         if adapter_qos_profile is arista.avd.defined %}
    service_profile: {{ adapter_qos_profile }}
{%                         endif %}
{%                         if adapter_raw_eos_cli is arista.avd.defined %}
    eos_cli: |
      {{ adapter_raw_eos_cli | indent(6,false) }}
{%                         endif %}
{%                         if adapter_structured_config is arista.avd.defined %}
    struct_cfg: {{ adapter_structured_config }}
{%                         endif %}
{%                         break %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}
