{% if switch.mlag is arista.avd.defined(true) %}
{%     include 'new/mlag/spanning-tree.j2' %}

{%     include 'new/mlag/vlans.j2' %}

{%     include 'new/mlag/vlan-interfaces.j2' %}

{%     include 'new/mlag/port-channel-interfaces.j2' %}

{%     include 'new/mlag/ethernet-interfaces.j2' %}

{%     include 'new/mlag/mlag-configuration.j2' %}

{% endif %}
