{# L3Leaf Ethernet uplinks to L2 Leaf #}
{% if l2leafs.node_groups is defined %}
{%     set l3leaf = namespace() %}
{%     for l2leaf_node_group in l2leafs.node_groups | natural_sort %}
{# Test to see if L3 leaf is defined in any of the node groups or default, and store in variable #}
{%         if l2leafs.node_groups[l2leaf_node_group].parent_l3leafs is defined %}
{%             set parent_l3leafs = l2leafs.node_groups[l2leaf_node_group].parent_l3leafs %}
{%         else %}
{%             set parent_l3leafs = l2leafs.defaults.parent_l3leafs %}
{%         endif %}
{%         if inventory_hostname in parent_l3leafs %}
{%             for node in l2leafs.node_groups[l2leaf_node_group].nodes | natural_sort %}
{%                 if loop.first %}
{%                     set l3leaf.channel_group_id = (l2leafs.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[0] | regex_findall("\d") | join ) %}
{%                 endif %}
{%             if l2leafs.node_groups[l2leaf_node_group].uplink_interfaces is defined %}
{%                 set l2leaf_uplink_interfaces = l2leafs.node_groups[l2leaf_node_group].uplink_interfaces %}
{%             else %}
{%                 set l2leaf_uplink_interfaces = l2leafs.defaults.uplink_interfaces %}
{%             endif %}
{%                 for parent_l3leaf in parent_l3leafs %}
{%                     if inventory_hostname == parent_l3leaf  %}
## L2 LEAF Uplink {{ l2leaf_node_group }} ##
  {{ l2leafs.node_groups[l2leaf_node_group].nodes[node].l3leaf_interfaces[loop.index0] }}:
    description: {{ node }}_{{ l2leaf_uplink_interfaces[loop.index0] }}
    channel_group:
      id: {{ l3leaf.channel_group_id }}
      mode: active
{%                     endif %}
{%                 endfor %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}