{% if aaa_root is defined and aaa_root is not none %}
!
{%     if aaa_root.secret is defined %}
aaa root secret sha512 {{ aaa_root.secret.sha512_password }}
{%     endif %}
{% else %}
!
no aaa root
{% endif %}