{# eos - aaa accounting #}
{% if aaa_accounting is arista.avd.defined %}
!
{%     if aaa_accounting.exec.default.type is arista.avd.defined and aaa_accounting.exec.default.group is arista.avd.defined %}
aaa accounting exec default {{ aaa_accounting.exec.default.type }} group {{ aaa_accounting.exec.default.group }}
{%     endif %}
{%     if aaa_accounting.commands.commands_default is arista.avd.defined %}
{%         for command_default in aaa_accounting.commands.commands_default %}
{%             set aaa_accounting_commands_commands_default_cli = "aaa accounting commands " ~ command_default.commands ~ " default " ~ command_default.type %}
{%             if command_default.group is arista.avd.defined %}
{%                 set aaa_accounting_commands_commands_default_cli = aaa_accounting_commands_commands_default_cli ~ " group " ~ command_default.group %}
{%             endif %}
{%             if command_default.logging is arista.avd.defined(true) %}
{%                 set aaa_accounting_commands_commands_default_cli = aaa_accounting_commands_commands_default_cli ~ " logging" %}
{%             endif %}
{{ aaa_accounting_commands_commands_default_cli }}
{%         endfor %}
{%     endif %}
{% endif %}
