{# eos - AAA Group Servers#}
{% if aaa_server_groups is defined and aaa_server_groups is not none %}
{%     for aaa_server_group in aaa_server_groups %}
aaa group server {{ aaa_server_group['type'] }} {{ aaa_server_group['name'] }}
{%          for server in aaa_server_group['servers'] %}
   server {{ server }}
{%          endfor %}
{%      endfor %}
!
{% endif %}