{# eos - aaa accounting #}
{% if aaa_accounting is arista.avd.defined %}
{%     if aaa_accounting.exec.console.type is arista.avd.defined and aaa_accounting.exec.console.group is arista.avd.defined %}
aaa accounting exec console {{ aaa_accounting.exec.console.type }} group {{ aaa_accounting.exec.console.group }}
{%     endif %}
{%     if aaa_accounting.commands.console is arista.avd.defined %}
{%         for command_default in aaa_accounting.commands.console %}
{%             if command_default.commands is arista.avd.defined and command_default.type is arista.avd.defined %}
{%                 set aaa_accounting_commands_commands_console_cli = "aaa accounting commands " ~ command_default.commands ~ " console " ~ command_default.type %}
{%                 if command_default.group is arista.avd.defined %}
{%                     set aaa_accounting_commands_commands_console_cli = aaa_accounting_commands_commands_console_cli ~ " group " ~ command_default.group %}
{%                 endif %}
{%                 if command_default.logging is arista.avd.defined(true) %}
{%                     set aaa_accounting_commands_commands_console_cli = aaa_accounting_commands_commands_console_cli ~ " logging" %}
{%                 endif %}
{%             endif %}
{{ aaa_accounting_commands_commands_console_cli }}
{%         endfor %}
{%     endif %}
{%     if aaa_accounting.exec.default.type is arista.avd.defined and aaa_accounting.exec.default.group is arista.avd.defined %}
aaa accounting exec default {{ aaa_accounting.exec.default.type }} group {{ aaa_accounting.exec.default.group }}
{%     endif %}
{%     if aaa_accounting.system.default.type is arista.avd.defined and aaa_accounting.system.default.group is arista.avd.defined %}
aaa accounting system default {{ aaa_accounting.system.default.type }} group {{ aaa_accounting.system.default.group }}
{%     endif %}
{%     if aaa_accounting.commands.default is arista.avd.defined %}
{%         for command_default in aaa_accounting.commands.default %}
{%             if command_default.commands is arista.avd.defined and command_default.type is arista.avd.defined %}
{%                 set aaa_accounting_commands_commands_default_cli = "aaa accounting commands " ~ command_default.commands ~ " default " ~ command_default.type %}
{%                 if command_default.group is arista.avd.defined %}
{%                     set aaa_accounting_commands_commands_default_cli = aaa_accounting_commands_commands_default_cli ~ " group " ~ command_default.group %}
{%                 endif %}
{%                 if command_default.logging is arista.avd.defined(true) %}
{%                     set aaa_accounting_commands_commands_default_cli = aaa_accounting_commands_commands_default_cli ~ " logging" %}
{%                 endif %}
{%             endif %}
{{ aaa_accounting_commands_commands_default_cli }}
{%         endfor %}
{%     endif %}
{% endif %}
