{# eos - extended access-lists #}
{% if access_lists is arista.avd.defined %}
!
{%     for access_list in access_lists | arista.avd.natural_sort %}
ip access-list {{ access_list }}
{%         for sequence in access_lists[access_list].sequence_numbers | arista.avd.natural_sort %}
{%             if access_lists[access_list].sequence_numbers[sequence].action is arista.avd.defined %}
   {{ sequence }} {{ access_lists[access_list].sequence_numbers[sequence].action }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
