{# eos - extended access-lists #}
{% if access_lists is defined and access_lists is not none %}
!
{%     for access_list in access_lists | arista.avd.natural_sort %}
ip access-list {{ access_list }}
{%         for sequence in access_lists[access_list].sequence_numbers | arista.avd.natural_sort %}
   {{ sequence }} {{ access_lists[access_list].sequence_numbers[sequence].action }}
{%         endfor %}
{%     endfor %}
{% endif %}