{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - agents #}
{% for agent in agents | arista.avd.natural_sort('name') %}
{%     if loop.first %}
!
{%     endif %}
{%     if agent.environment_variables is arista.avd.defined %}
{%         set env_list = [] %}
{%         for envvar in agent.environment_variables %}
{%             do env_list.append(envvar.name ~ "=" ~ envvar.value) %}
{%         endfor %}
agent {{ agent.name }} environment {{ env_list | join(":") }}
{%     endif %}
{% endfor %}
