{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - aliases #}
{% if aliases is arista.avd.defined %}
!
{{ aliases }}
{% endif %}
