{# eos - ARP settings #}
{% if arp is arista.avd.defined %}
{%     if arp.aging.timeout_default is arista.avd.defined %}
!
arp aging timeout default {{ arp.aging.timeout_default }}
{%     endif %}
{% endif %}
