{# eos - ARP settings #}
{% if arp is defined and arp is not none %}
{%     if arp.aging is defined and arp.aging is not none %}
{%         if arp.aging.timeout_default is defined and arp.aging.timeout_default is not none %}
!
arp aging timeout default {{ arp.aging.timeout_default }}
{%         endif %}
{%     endif %}
{% endif %}
