{# eos - as path #}
{% if as_path is arista.avd.defined %}
!
{%     if as_path.regex_mode is arista.avd.defined %}
ip as-path regex-mode {{ as_path.regex_mode }}
{%     endif %}
{%     if as_path.access_lists is arista.avd.defined %}
{%         for as_path_access_list in as_path.access_lists %}
{%             if as_path_access_list.name is arista.avd.defined and as_path_access_list.entries is arista.avd.defined %}
{%                 for as_path_access_list_entry in as_path_access_list.entries %}
{%                     if as_path_access_list_entry.type is arista.avd.defined and as_path_access_list_entry.match is arista.avd.defined %}
{%                         set as_path_access_list_cli = "ip as-path access-list " ~ as_path_access_list.name ~ " " ~ as_path_access_list_entry.type ~ " " ~ as_path_access_list_entry.match ~ " " ~ as_path_access_list_entry.origin | arista.avd.default('any') %}
{%                     endif %}
{{ as_path_access_list_cli }}
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
