{# eos - System Boot Configuration #}
{% if boot is arista.avd.defined %}
!
{%     if boot.secret.sha512_password is arista.avd.defined %}
! boot secret sha512 {{ boot.secret.sha512_password }}
{%     elif boot.secret.md5_password is arista.avd.defined %}
! boot secret 5 {{ boot.secret.md5_password }}
{%     elif boot.secret.clear_text_password is arista.avd.defined %}
! boot secret sha512 {{ boot.secret.clear_text_password }}
{%     endif %}
{% endif %}
