{# QOS class-map #}
{% for class_map in class_maps.qos | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
!
class-map type qos match-any {{ class_map.name }}
{%     if class_map.vlan is arista.avd.defined %}
   match vlan {{ class_map.vlan }}
{%     elif class_map.cos is arista.avd.defined %}
   match cos {{ class_map.cos }}
{%     elif class_map.ip.access_group is arista.avd.defined %}
   match ip access-group {{ class_map.ip.access_group }}
{%     elif class_map.ipv6.access_group is arista.avd.defined %}
   match ipv6 access-group {{ class_map.ipv6.access_group }}
{%     endif %}
{% endfor %}
{# PBR class-map #}
{% for class_map in class_maps.pbr | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
!
class-map type pbr match-any {{ class_map.name }}
{%     if class_map.ip.access_group is arista.avd.defined %}
   match ip access-group {{ class_map.ip.access_group }}
{%     endif %}
{% endfor %}
