{#
 Copyright (c) 2023-2026 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - custom templates #}
{% set eos_cli_config_gen_internal_custom_templates = eos_cli_config_gen_custom_templates | default(custom_templates) %}
{% if eos_cli_config_gen_internal_custom_templates is arista.avd.defined %}
!
{%     for custom_template in eos_cli_config_gen_internal_custom_templates %}
{%         include custom_template %}

{%     endfor %}
{% endif %}
