{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - cvx #}
{% if cvx is arista.avd.defined %}
!
cvx
{%     if cvx.shutdown is arista.avd.defined(true) %}
   shutdown
{%     elif cvx.shutdown is arista.avd.defined(false) %}
   no shutdown
{%     endif %}
{%     for peer_host in cvx.peer_hosts | arista.avd.natural_sort %}
   peer host {{ peer_host }}
{%     endfor %}
{%     if cvx.services is arista.avd.defined %}
{%         if cvx.services.mcs is arista.avd.defined %}
   service mcs
{%             if cvx.services.mcs.redis.password is arista.avd.defined %}
      redis password {{ cvx.services.mcs.redis.password_type | arista.avd.default("7") }} {{ cvx.services.mcs.redis.password | arista.avd.hide_passwords(hide_passwords) }}
{%             endif %}
{%             if cvx.services.mcs.shutdown is arista.avd.defined(false) %}
      no shutdown
{%             elif cvx.services.mcs.shutdown is arista.avd.defined(true) %}
      shutdown
{%             endif %}
{%         endif %}
{%         if cvx.services.vxlan is arista.avd.defined %}
   service vxlan
{%             if cvx.services.vxlan.shutdown is arista.avd.defined(false) %}
      no shutdown
{%             elif cvx.services.vxlan.shutdown is arista.avd.defined(true) %}
      shutdown
{%             endif %}
{%             if cvx.services.vxlan.vtep_mac_learning is arista.avd.defined %}
      vtep mac-learning {{ cvx.services.vxlan.vtep_mac_learning }}
{%             endif %}
{%         endif %}
{%     endif %}
{% endif %}
