{# eos - daemons #}
{% if daemons is arista.avd.defined %}
{%     for daemon in daemons | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
!
daemon {{ daemon.name }}
{%         if daemon.exec is arista.avd.defined %}
   exec {{ daemon.exec }}
{%         endif %}
{%         if daemon.enabled is arista.avd.defined(false) %}
   shutdown
{%         else %}
   no shutdown
{%         endif %}
{%     endfor %}
{% endif %}
