{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - dns domain #}
{% if dns_domain is arista.avd.defined %}
dns domain {{ dns_domain }}
{% endif %}
