{# eos - domain lookup #}
{% if ip_domain_lookup is arista.avd.defined %}
!
{%     for source in ip_domain_lookup.source_interfaces | arista.avd.natural_sort %}
{%         set ip_domain_cli = "ip domain lookup" %}
{%         if ip_domain_lookup.source_interfaces[source].vrf is arista.avd.defined %}
{%             set ip_domain_cli = ip_domain_cli ~ " vrf " ~ ip_domain_lookup.source_interfaces[source].vrf %}
{%         endif %}
{%         set ip_domain_cli = ip_domain_cli ~ " source-interface " ~ source %}
{{ ip_domain_cli }}
{%     endfor %}
{% endif %}
