{# eos - dot1x global #}
{% if dot1x_global.system_auth_control is arista.avd.defined(true) %}
dot1x system-auth-control
{% endif %}
{% if dot1x_global.protocol_lldp_bypass is arista.avd.defined(true) %}
dot1x protocol lldp bypass
{% endif %}
{% if dot1x_global.dynamic_authorization is arista.avd.defined(true) %}
dot1x dynamic-authorization
{% endif %}
