{% if enable_password is defined and enable_password is not none %}
{%     if enable_password.hash is defined and enable_password.hash is not none %}
{%         if enable_password.encryption is defined and enable_password.encryption is not none and enable_password.encryption == "md5" %}
enable password 5 {{ enable_password.hash }}
{%         elif enable_password.encryption is defined and enable_password.encryption is not none and enable_password.encryption == "sha512" %}
enable password sha512 {{ enable_password.hash }}
{%         endif %}
no enable password
{%     endif %}
{% endif %}