{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - eos cli #}
{% if eos_cli is arista.avd.defined %}
!
{{ eos_cli }}
{% endif %}
