{# eos - Event handlers #}
{% if event_handlers is arista.avd.defined %}
{%     for handler in event_handlers | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
!
event-handler {{ handler.name }}
{%         if handler.trigger is arista.avd.defined %}
   trigger {{ handler.trigger }}
{%             if handler.regex is arista.avd.defined %}
      regex {{ handler.regex }}
{%             endif %}
{%         endif %}
{%         if handler.action is arista.avd.defined and handler.action_type is arista.avd.defined %}
   action {{ handler.action_type }} {{ handler.action }}
{%         endif %}
{%         if handler.delay is arista.avd.defined %}
   delay {{ handler.delay }}
{%         endif %}
{%         if handler.asynchronous is arista.avd.defined(true) %}
   asynchronous
{%         endif %}
{%     endfor %}
{% endif %}
