{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - event handlers #}
{% if event_handlers is arista.avd.defined %}
{%     for handler in event_handlers | arista.avd.natural_sort('name') %}
!
event-handler {{ handler.name }}
{%         if handler.trigger is arista.avd.defined %}
{%             if handler.trigger is arista.avd.defined("on-maintenance")
                  and handler.trigger_on_maintenance is arista.avd.defined
                  and handler.trigger_on_maintenance.operation is arista.avd.defined
                  and handler.trigger_on_maintenance.stage is arista.avd.defined %}
{%                 set trigger_on_manitenance_cli =  "trigger " ~ handler.trigger ~ " " ~ handler.trigger_on_maintenance.operation %}
{%                 if handler.trigger_on_maintenance.bgp is arista.avd.defined %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " bgp " %}
{%                     if handler.trigger_on_maintenance.bgp.neighbor_address_ipv4 is arista.avd.defined %}
{%                         set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ handler.trigger_on_maintenance.bgp.neighbor_address_ipv4 %}
{%                     elif handler.trigger_on_maintenance.bgp.neighbor_address_ipv6 is arista.avd.defined %}
{%                         set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ handler.trigger_on_maintenance.bgp.neighbor_address_ipv6 %}
{%                     elif handler.trigger_on_maintenance.bgp.peer_group_name is arista.avd.defined %}
{%                         set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ handler.trigger_on_maintenance.bgp.peer_group_name %}
{%                     endif %}
{%                 elif handler.trigger_on_maintenance.interface.interface_type is arista.avd.defined and handler.trigger_on_maintenance.interface.interface_number is arista.avd.defined %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " interface " ~ handler.trigger_on_maintenance.interface.interface_type ~ " " ~ handler.trigger_on_maintenance.interface.interface_number %}
{%                 elif handler.trigger_on_maintenance.unit is arista.avd.defined %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " unit " ~ handler.trigger_on_maintenance.unit %}
{%                 endif %}
{%                 if handler.trigger_on_maintenance.stage is arista.avd.defined("after") or handler.trigger_on_maintenance.stage is arista.avd.defined("before") %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " " ~ handler.trigger_on_maintenance.stage ~ " " ~ handler.trigger_on_maintenance.after_before_stage %}
{%                 elif handler.trigger_on_maintenance.stage is arista.avd.defined("all") %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " all" %}
{%                 elif handler.trigger_on_maintenance.stage is arista.avd.defined("begin") %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " begin" %}
{%                 elif handler.trigger_on_maintenance.stage is arista.avd.defined("end") %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " end" %}
{%                 elif handler.trigger_on_maintenance.stage is arista.avd.defined("vrf") %}
{%                     set trigger_on_manitenance_cli = trigger_on_manitenance_cli ~ " vrf " ~ handler.trigger_on_maintenance.vrf %}
{%                 endif %}
   {{ trigger_on_manitenance_cli }}
{%             else %}
   trigger {{ handler.trigger }}
{%             endif %}
{%             if handler.regex is arista.avd.defined %}
      regex {{ handler.regex }}
{%             endif %}
{%         endif %}
{%         if handler.action is arista.avd.defined and handler.action_type is arista.avd.defined %}
   action {{ handler.action_type }} {{ handler.action }}
{%         endif %}
{%         if handler.delay is arista.avd.defined %}
   delay {{ handler.delay }}
{%         endif %}
{%         if handler.asynchronous is arista.avd.defined(true) %}
   asynchronous
{%         endif %}
{%     endfor %}
{% endif %}
