{% for group_name in group.bgp | arista.avd.natural_sort %}
!
group bgp {{ group_name }}
{# EOS cli lists vrf before neighbor #}
{%   if group.bgp[group_name].vrf is arista.avd.defined %}
   vrf {{ group.bgp[group_name].vrf }}
{%   endif %}
{%   for neighbor in group.bgp[group_name].neighbors | arista.avd.natural_sort %}
   neighbor {{ neighbor }}
{%   endfor %}
{%   for profile in group.bgp[group_name].maintenance_profile.bgp | arista.avd.natural_sort %}
   maintenance profile bgp {{ profile }}
{%   endfor %}
{% endfor %}
{% for group_name in group.interface | arista.avd.natural_sort %}
!
group interface {{ group_name }}
{%   for interface in group.interface[group_name].interfaces | arista.avd.natural_sort %}
   interface {{ interface }}
{%   endfor %}
{%   for profile in group.interface[group_name].maintenance_profile.interface | arista.avd.natural_sort %}
   maintenance profile interface {{ profile }}
{%   endfor %}
{%   for profile in group.interface[group_name].maintenance_profile.bgp | arista.avd.natural_sort %}
   maintenance profile bgp {{ profile }}
{%   endfor %}
{% endfor %}
