{# eos - Hardware counters #}
{% if hardware_counters.features is arista.avd.defined %}
!
{%     for feature in hardware_counters.features %}
{%         if 'name' in feature %}
hardware counter feature {{ feature.name }} {{ feature.direction }}
{%         else %}
{%             for feat in feature | arista.avd.convert_dicts('name','direction') %}
hardware counter feature {{ feat.name }} {{ feat.direction }}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
