{# eos - Hardware counters #}
{% if hardware_counters.features is arista.avd.defined %}
!
{%     for feature in hardware_counters.features | arista.avd.convert_dicts('name','direction') %}
hardware counter feature {{ feature.name }} {{ feature.direction }}
{%     endfor %}
{% endif %}
