{# eos - hardware settings #}
{% if hardware.access_list.mechanism is arista.avd.defined %}
!
hardware access-list mechanism {{ hardware.access_list.mechanism }}
{% endif %}
{% if hardware.speed_groups is arista.avd.defined %}
!
{%     for speed_group in hardware.speed_groups | arista.avd.convert_dicts('speed_group') %}
{%         if speed_group.serdes is arista.avd.defined %}
hardware speed-group {{ speed_group.speed_group }} serdes {{ speed_group.serdes }}
{%         endif %}
{%     endfor %}
{% endif %}
