{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - interface groups #}
{% for interface_group in interface_groups | arista.avd.natural_sort('name') %}
!
group interface {{ interface_group.name }}
{%     for interface in interface_group.interfaces | arista.avd.natural_sort %}
   interface {{ interface }}
{%     endfor %}
{%     for interface_profile in interface_group.interface_maintenance_profiles | arista.avd.natural_sort %}
   maintenance profile interface {{ interface_profile }}
{%     endfor %}
{%     for bgp_profile in interface_group.bgp_maintenance_profiles | arista.avd.natural_sort %}
   maintenance profile bgp {{ bgp_profile }}
{%     endfor %}
{% endfor %}
