{# eos - interface defaults #}
{% if interface_defaults is arista.avd.defined %}
!
interface defaults
{%     if interface_defaults.ethernet is arista.avd.defined %}
   ethernet
{%         if interface_defaults.ethernet.shutdown is arista.avd.defined(true) %}
      shutdown
{%         elif interface_defaults.ethernet.shutdown is arista.avd.defined(false) %}
      no shutdown
{%         endif %}
{%     endif %}
{%     if interface_defaults.mtu is arista.avd.defined %}
   mtu {{ interface_defaults.mtu }}
{%     endif %}
{% endif %}
