{# eos - ip-as-path-access-lists #}
{% for ip_as_path_access_list in ip_as_path_access_lists | arista.avd.natural_sort %}
!
{%     for ip_as_path_access_list_elements in ip_as_path_access_lists[ip_as_path_access_list] | arista.avd.default([]) %}
{%         if ip_as_path_access_list_elements.type is arista.avd.defined and ip_as_path_access_list_elements.regexp is arista.avd.defined %}
ip as-path access-list {{ ip_as_path_access_list}} {{ ip_as_path_access_list_elements.type }} {{ ip_as_path_access_list_elements.regexp }} any
{%         endif %}
{%     endfor %}
{% endfor %}