{# eos - ip dhcp relay #}
{% if ip_dhcp_relay is defined and ip_dhcp_relay is not none %}
{%    if ip_dhcp_relay.information_option is defined and ip_dhcp_relay.information_option == true %}
!
ip dhcp relay information option
{%    endif %}
{% endif %}