{# eos - ip-dhcp-snooping #}
{% if ip_dhcp_snooping.enabled is arista.avd.defined(true) %}
!
ip dhcp snooping
{%   for vlan in ip_dhcp_snooping.vlans | arista.avd.natural_sort %}
ip dhcp snooping vlan {{ vlan }}
{%   endfor %}
{%   if ip_dhcp_snooping.information_option is arista.avd.defined(true) %}
ip dhcp snooping information option
{% endif %}
{%   endif  %}