{# eos - ip-extended-community-lists-regexp #}
{% for ip_extcommunity_list in ip_extcommunity_lists_regexp | arista.avd.convert_dicts('name','types') | arista.avd.natural_sort('name') %}
!
{%     for sequence in ip_extcommunity_list.types | arista.avd.default([]) %}
{%         if sequence.type is arista.avd.defined and sequence.regexp is arista.avd.defined %}
ip extcommunity-list regexp {{ ip_extcommunity_list.name }} {{ sequence.type }} {{ sequence.regexp }}
{%         endif %}
{%     endfor %}
{% endfor %}
