{# eos - ip icmp #}
{% if ip_icmp.rate_limit_unreachable is arista.avd.defined(true) %}
!
ip icmp rate-limit-unreachable 0
{% endif %}
{% if ip_icmp.redirect is arista.avd.defined(true) %}
!
ip icmp redirect
{% elif ip_icmp.redirect is arista.avd.defined(false) %}
!
no ip icmp redirect
{% endif %}
{% for source_interface in ip_icmp.source_interfaces %}
{%     set ip_icmp_source_cli = "ip icmp source-interface " %}
{%     if source_interface.key == "default" %}
{%         set ip_icmp_source_cli = ip_icmp_source_cli ~ source_interface %}
!
{{ ip_icmp_source_cli }}
{%     elif source_interface.name is arista.avd.defined %}
{%         set ip_icmp_source_cli = ip_icmp_source_cli ~ source_interface ~ " vrf " ~  source_interface.key %}
!
{{ ip_icmp_source_cli }}
{%     endif %}
{% endfor %}
