{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip icmp redirect #}
{% if ip_icmp_redirect is arista.avd.defined(false) %}
no ip icmp redirect
{% endif %}
