{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip routing vrfs #}
{% for vrf in vrfs | arista.avd.natural_sort('name') %}
{%     if vrf.ip_routing_ipv6_interfaces is arista.avd.defined(true) and vrf.name != 'default' %}
ip routing ipv6 interfaces vrf {{ vrf.name }}
{%     elif vrf.ip_routing is arista.avd.defined(true) and vrf.name != 'default' %}
ip routing vrf {{ vrf.name }}
{%     elif vrf.ip_routing is arista.avd.defined(false) and vrf.name != 'default' %}
no ip routing vrf {{ vrf.name }}
{%     endif %}
{% endfor %}
