{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip security #}
{% if ip_security is arista.avd.defined %}
!
ip security
{%     for ike_policy in ip_security.ike_policies | arista.avd.default([]) %}
   !
   ike policy {{ ike_policy.name }}
{%         if ike_policy.local_id is arista.avd.defined %}
      local-id {{ ike_policy.local_id }}
{%         endif %}
{%         if ike_policy.ike_lifetime is arista.avd.defined %}
      ike-lifetime {{ ike_policy.ike_lifetime }}
{%         endif %}
{%         if ike_policy.encryption is arista.avd.defined %}
      encryption {{ ike_policy.encryption }}
{%         endif %}
{%         if ike_policy.dh_group is arista.avd.defined %}
      dh-group {{ ike_policy.dh_group }}
{%         endif %}
{%     endfor %}
{%     for sa_policy in ip_security.sa_policies | arista.avd.default([]) %}
   !
   sa policy {{ sa_policy.name }}
{%         if sa_policy.esp.integrity is arista.avd.defined %}
{%             if sa_policy.esp.integrity == "disabled" %}
      esp integrity null
{%             else %}
      esp integrity {{ sa_policy.esp.integrity }}
{%             endif %}
{%         endif %}
{%         if sa_policy.esp.encryption is arista.avd.defined %}
{%             if sa_policy.esp.encryption == "disabled" %}
      esp encryption null
{%             else %}
      esp encryption {{ sa_policy.esp.encryption }}
{%             endif %}
{%         endif %}
{%         if sa_policy.pfs_dh_group is arista.avd.defined %}
      pfs dh-group {{ sa_policy.pfs_dh_group }}
{%         endif %}
{%     endfor %}
{%     for profile in ip_security.profiles | arista.avd.default([]) %}
   !
   profile {{ profile.name }}
{%         if profile.ike_policy is arista.avd.defined %}
      ike-policy {{ profile.ike_policy }}
{%         endif %}
{%         if profile.sa_policy is arista.avd.defined %}
      sa-policy {{ profile.sa_policy }}
{%         endif %}
{%         if profile.connection is arista.avd.defined %}
      connection {{ profile.connection }}
{%         endif %}
{%         if profile.shared_key is arista.avd.defined %}
      shared-key 7 {{ profile.shared_key | arista.avd.hide_passwords(hide_passwords) }}
{%         endif %}
{%         if profile.dpd.interval is arista.avd.defined and profile.dpd.time is arista.avd.defined and profile.dpd.action is arista.avd.defined %}
      dpd {{ profile.dpd.interval }} {{ profile.dpd.time }} {{ profile.dpd.action }}
{%         endif %}
{%         if profile.mode is arista.avd.defined %}
      mode {{ profile.mode }}
{%         endif %}
{%     endfor %}
{%     if ip_security.key_controller is arista.avd.defined %}
   !
   key controller
{%         if ip_security.key_controller.profile is arista.avd.defined %}
      profile {{ ip_security.key_controller.profile }}
{%         endif %}
{%     endif %}
{% endif %}
