{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ip virtual router mac address #}
{% if ip_virtual_router_mac_address is arista.avd.defined %}
!
ip virtual-router mac-address {{ ip_virtual_router_mac_address }}
{% endif %}
