{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ipv6 unicast routing vrfs #}
{% for vrf in vrfs | arista.avd.natural_sort('name') %}
{%     if vrf.ipv6_routing is arista.avd.defined(true) and vrf.name != 'default' %}
{%         if loop.first %}
!
{%         endif %}
ipv6 unicast-routing vrf {{ vrf.name }}
{%     endif %}
{% endfor %}
