{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ipv6 hardware #}
{% if ipv6_hardware.fib.optimize.prefixes.profile is arista.avd.defined %}
ipv6 hardware fib optimize prefixes profile {{ ipv6_hardware.fib.optimize.prefixes.profile }}
{% endif %}
