{# IPv6 static routes#}
{% if ipv6_static_routes is defined and ipv6_static_routes is not none %}
{%     for vrf in ipv6_static_routes %}
{%          for prefix in ipv6_static_routes[vrf] %}
ipv6 route vrf {{ vrf }} {{ prefix }} {{ ipv6_static_routes[vrf][prefix].gateway }} {% if ipv6_static_routes[vrf][prefix].distance is defined and ipv6_static_routes[vrf][prefix].distance is not none %}{{ ipv6_static_routes[vrf][prefix].distance }} {% endif %} {% if ipv6_static_routes[vrf][prefix].name is defined and ipv6_static_routes[vrf][prefix].name is not none %}name {{ ipv6_static_routes[vrf][prefix].name }} {% endif %}{% if ipv6_static_routes[vrf][prefix].tag is defined and ipv6_static_routes[vrf][prefix].tag is not none %}tag {{ ipv6_static_routes[vrf][prefix].tag }} {% endif %}

{%          endfor %}
!
{%     endfor %}
!
{% endif %}