{# eos - IPv6 Routing #}
ipv6 unicast-routing
{% if vrfs is defined %}
{%     for vrf in vrfs | arista.avd.natural_sort %}
{%         if vrfs[vrf].ipv6_routing is defined and vrfs[vrf].ipv6_routing == true %}
ipv6 unicast-routing vrf {{ vrf }}
{%         endif %}
{%     endfor %}
!
{% endif %}