{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - ipv6 unicast routing #}
{% if ipv6_unicast_routing is arista.avd.defined(true) %}
!
ipv6 unicast-routing
{% endif %}
