{# eos - IPv6 Routing #}
{% if ipv6_unicast_routing is defined and ipv6_unicast_routing == true %}
!
ipv6 unicast-routing
{% endif %}
{% if vrfs is defined and vrfs is not none %}
{%       for vrf in vrfs | arista.avd.natural_sort %}
{%           if vrfs[vrf].ipv6_routing is defined and vrfs[vrf].ipv6_routing == true %}
{%               if loop.first %}
!
{%               endif %}
ipv6 unicast-routing vrf {{ vrf }}
{%           endif %}
{%       endfor %}
{% endif %}
{% if ipv6_icmp_redirect is defined and ipv6_icmp_redirect is not none %}
{%        if ipv6_icmp_redirect is defined and ipv6_icmp_redirect == false %}
no ipv6 icmp redirect
{%        endif %}
{% endif %}