{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - load interval #}
{% if load_interval.default is arista.avd.defined %}
!
load-interval default {{ load_interval.default }}
{% endif %}
