{# eos - logging #}
{% if logging is defined and logging is not none %}
!
{%     if logging.console is defined and logging.console is not none %}
logging console {{ logging.console }}
{%     endif %}
{%     if logging.monitor is defined and logging.monitor is not none %}
logging monitor {{ logging.monitor }}
{%     endif %}
{%     if logging.buffered is defined and logging.buffered is not none %}
logging buffered {{ logging.buffered.size }} {{ logging.buffered.level }}
{%     endif %}
{%     if logging.trap is defined and logging.trap is not none %}
logging trap {{ logging.trap }}
{%     endif %}
{%     if logging.format is defined and logging.format is not none %}
{%        if logging.format.timestamp is defined and logging.format.timestamp == 'high-resolution' %}
logging format timestamp high-resolution
{%        endif %}
{%        if logging.format.hostname is defined and logging.format.hostname is not none %}
{%              if logging.format.hostname is defined and logging.format.hostname == 'fqdn' %}
logging format hostname fqdn
{%              elif logging.format.hostname is defined and logging.format.hostname == 'ipv4' %}
logging format hostname ipv4
{%              endif %}
{%        endif %}
{%        if logging.format.sequence_numbers is defined and logging.format.sequence_numbers == true %}
logging format sequence-numbers
{%        endif %}
{%     endif %}
{%     if logging.source_interface is defined and logging.source_interface is not none %}
logging source-interface {{ logging.source_interface }}
{%     endif %}
{%     if logging.vrfs is defined and logging.vrfs is not none  %}
{%          for vrf in logging.vrfs | arista.avd.natural_sort %}
{%              if logging.vrfs[vrf].source_interface is defined and logging.vrfs[vrf].source_interface is not none and vrf is ne 'default' %}
logging vrf {{ vrf }} source-interface {{ logging.vrfs[vrf].source_interface }}
{%              elif logging.vrfs[vrf].source_interface is defined  and vrf == 'default' %}
logging source-interface {{ logging.vrfs[vrf].source_interface }}
{%              endif %}
{%              if logging.vrfs[vrf].hosts is defined and logging.vrfs[vrf].hosts is not none and vrf is ne 'default' %}
{%                  for host in logging.vrfs[vrf].hosts | arista.avd.natural_sort %}
logging vrf {{ vrf }} host {{ host }}
{%                  endfor %}
{%              elif vrf == 'default' %}
{%                  for host in logging.vrfs[vrf].hosts | arista.avd.natural_sort %}
logging host {{ host }}
{%                  endfor %}
{%              endif %}
{%          endfor %}
{%     endif %}
{% endif %}