{% if logging is defined and logging is not none %}
{%     if logging.console is defined %}
logging console {{ logging.console }}
{%     endif %}
{%     if logging.monitor is defined %}
logging monitor {{ logging.monitor }}
{%     endif %}
!
{% endif %}

