{# eos- Loopback Interfaces #}
{% if loopback_interfaces is defined and loopback_interfaces is not none %}
{%     for loopback_interface in loopback_interfaces | arista.avd.natural_sort %}
!
interface {{ loopback_interface }}
{%         if loopback_interfaces[loopback_interface].description is defined and loopback_interfaces[loopback_interface].description is not none %}
   description {{ loopback_interfaces[loopback_interface].description }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].shutdown is defined and loopback_interfaces[loopback_interface].shutdown == true %}
   shutdown
{%         endif %}
{%         if loopback_interfaces[loopback_interface].vrf is defined and loopback_interfaces[loopback_interface].vrf is not none %}
   vrf {{ loopback_interfaces[loopback_interface].vrf }}
{%         endif %}
{%             if loopback_interfaces[loopback_interface].ip_proxy_arp is defined and loopback_interfaces[loopback_interface].ip_proxy_arp == true %}
   ip proxy-arp 
{%             endif %}
{%         if loopback_interfaces[loopback_interface].ip_address is defined and loopback_interfaces[loopback_interface].ip_address is not none %}
   ip address {{ loopback_interfaces[loopback_interface].ip_address }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].ipv6_enable is defined and loopback_interfaces[loopback_interface].ipv6_enable == true %}
   ipv6 enable
{%         endif %}
{%         if loopback_interfaces[loopback_interface].ipv6_address is defined and loopback_interfaces[loopback_interface].ipv6_address is not none %}
   ipv6 address {{ loopback_interfaces[loopback_interface].ipv6_address }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].ospf_area is defined and loopback_interfaces[loopback_interface].ospf_area is not none %}
   ip ospf area {{ loopback_interfaces[loopback_interface].ospf_area }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].isis_enable is defined %}
   isis enable {{ loopback_interfaces[loopback_interface].isis_enable }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].isis_passive is defined and loopback_interfaces[loopback_interface].isis_passive == true %}
   isis passive
{%         endif %}
{%         if loopback_interfaces[loopback_interface].isis_metric is defined %}
   isis metric {{ loopback_interfaces[loopback_interface].isis_metric }}
{%         endif %}
{%         if loopback_interfaces[loopback_interface].isis_network_point_to_point is defined and loopback_interfaces[loopback_interface].isis_network_point_to_point == true %}
   isis network point-to-point
{%         endif %}
{%     endfor %}
{% endif %}