{# Management SSH #}
{% if management_ssh is defined and management_ssh is not none %}
!
management ssh
{%     if management_ssh.access_groups is defined and management_ssh.access_groups is not none %}
{%         for access_group in management_ssh.access_groups %}
   ip access-group {{ access_group.name }}{% if access_group.vrf is defined and access_group.vrf is not none %} vrf {{ access_group.vrf }}{% endif %} in
{%         endfor %}
{%     endif %}
{%     if management_ssh.ipv6_access_groups is defined and management_ssh.ipv6_access_groups is not none %}
{%         for ipv6_access_group in management_ssh.ipv6_access_groups %}
   ipv6 access-group {{ ipv6_access_group.name }}{% if ipv6_access_group.vrf is defined and ipv6_access_group.vrf is not none %} vrf {{ ipv6_access_group.vrf }}{% endif %} in
{%         endfor %}
{%     endif %}
{%     if management_ssh.idle_timeout is defined and management_ssh.idle_timeout is not none %}
   idle-timeout {{ management_ssh.idle_timeout }}
{%     endif %}
{%     if management_ssh.enable is defined and management_ssh.enable == false %}
   shutdown
   !
{%     endif %}
{%     if management_ssh.vrfs is defined and management_ssh.vrfs is not none %}
{%         for vrf in management_ssh.vrfs %}
   vrf {{ vrf }}
{%             if management_ssh.vrfs[vrf].enable is defined and management_ssh.vrfs[vrf].enable == true %}
      no shutdown
{%             else %}
      shutdown
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}