{# Management tech-support #}
{% if management_tech_support is arista.avd.defined %}
!
management tech-support
{%     if management_tech_support.policy_show_tech_support is arista.avd.defined %}
   policy show tech-support
{%         if management_tech_support.policy_show_tech_support.exclude_commands is arista.avd.defined %}
{%             for exclude_command in management_tech_support.policy_show_tech_support.exclude_commands %}
{%                 set exclude_cli = "" %}
{%                 if exclude_command.type is arista.avd.defined('json') %}
{%                     set exclude_cli = "json " %}
{%                 endif %}
{%                 set exclude_cli = exclude_cli ~ exclude_command.command %}
      exclude command {{ exclude_cli }}
{%             endfor %}
{%         endif %}
{%         if management_tech_support.policy_show_tech_support.include_commands is arista.avd.defined %}
{%             for include_command in management_tech_support.policy_show_tech_support.include_commands %}
      include command {{ include_command.command }}
{%             endfor %}
{%         endif %}
   exit
{%     endif %}
{% endif %}
