{# eos - Management Interfaces #}
{% if management_interfaces is defined and management_interfaces is not none %}
{%    for management_interface in management_interfaces | arista.avd.natural_sort %}
!
interface {{ management_interface }}
   description {{ management_interfaces[management_interface].description }}
{%       if management_interfaces[management_interface].vrf is defined and management_interfaces[management_interface].vrf is ne 'default' %}
   vrf {{ management_interfaces[management_interface].vrf }}
{%       endif %}
{%       if management_interfaces[management_interface].ip_address is defined %}
   ip address {{ management_interfaces[management_interface].ip_address }}
{%       endif %}
{%       if management_interfaces[management_interface].ipv6_enable is defined and management_interfaces[management_interface].ipv6_enable == true %}
   ipv6 enable
{%       endif %}
{%       if management_interfaces[management_interface].ipv6_address is defined %}
   ipv6 address {{ management_interfaces[management_interface].ipv6_address }}
{%       endif %}
{%    endfor %}
{% endif %}
