{# eos - management security #}
{% if management_security is arista.avd.defined %}
!
management security
{%     if management_security.password.encryption_key_common is arista.avd.defined(true) %}
   password encryption-key common
{%     endif %}
{%     if management_security.entropy_source is arista.avd.defined %}
   entropy source {{ management_security.entropy_source }}
{%     endif %}
{% endif %}
