{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - management console #}
{% if management_console is arista.avd.defined %}
!
management console
{%     if management_console.idle_timeout is arista.avd.defined %}
   idle-timeout {{ management_console.idle_timeout }}
{%     endif %}
{% endif %}
