{# eos - match-lists #}
{% if match_lists is arista.avd.defined %}
!
{%     for match_list in match_lists | arista.avd.natural_sort %}
match-list input string {{ match_list }}
{%         for sequence in match_lists[match_list].sequence_numbers | arista.avd.natural_sort %}
   {{ sequence }} match {{ match_lists[match_list].sequence_numbers[sequence].match }}
{%         endfor %}
{%     endfor %}
{% endif %}
