{# eos - match-lists #}
{% if match_list_input is arista.avd.defined %}
!
{%     for match_list in match_list_input.string | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
match-list input string {{ match_list.name }}
{%         for sequence in match_list.sequence_numbers | arista.avd.convert_dicts('sequence') | arista.avd.natural_sort('sequence') %}
{%             if sequence.match_regex is arista.avd.defined %}
   {{ sequence.sequence }} match regex {{ sequence.match_regex }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
