{# eos - monitor sessions configuration #}
{% for monitor_session in monitor_sessions | arista.avd.natural_sort %}
!
{%     if monitor_sessions[monitor_session].source is arista.avd.defined %}
monitor session {{ monitor_session }} source {{ monitor_sessions[monitor_session].source }}
{%     endif %}
{%     if monitor_sessions[monitor_session].destination is arista.avd.defined %}
monitor session {{ monitor_session }} destination {{ monitor_sessions[monitor_session].destination }}
{%     endif %}
{% endfor %}
