{# eos - name-server #}
{% for node in name_server.nodes | arista.avd.natural_sort %}
{%     if name_server.source.vrf is arista.avd.defined %}
ip name-server vrf {{ name_server.source.vrf }} {{ node }}
{%     else %}
ip name-server {{ node }}
{%     endif %}
{% endfor %}
