{# eos - name-server #}
{% if name_server is defined and name_server is not none %}
{%     for node in name_server.nodes | sort %}
ip name-server vrf {{ name_server.source.vrf }} {{ node }}
{%     endfor %}
{% endif %}