{# eos - platform #}
{% if platform is defined and platform is not none %}
{%   if platform.trident is defined and platform.trident is not none %}
{%     if platform.trident.forwarding_table_partition is defined and platform.trident.forwarding_table_partition is not none %}
platform trident forwarding-table partition {{ platform.trident.forwarding_table_partition }}
{%     endif %}
{%   endif %}
!
{% endif %}