{# eos - platform #}
{% if platform is arista.avd.defined %}
!
{%     if platform.trident.forwarding_table_partition is arista.avd.defined %}
platform trident forwarding-table partition {{ platform.trident.forwarding_table_partition }}
{%     endif %}
{%     if platform.trident.mmu.active_profile is arista.avd.defined %}
platform trident mmu queue profile {{ platform.trident.mmu.active_profile }} apply
{%     endif %}
{%     for profile in platform.trident.mmu.queue_profiles | arista.avd.natural_sort('name') %}
!
platform trident mmu queue profile {{ profile.name }}
{%         for queue in profile.multicast_queues | arista.avd.natural_sort('id') %}
{%             if queue.reserved is arista.avd.defined %}
{%                 set unit = "" %}
{%                 if queue.unit is arista.avd.defined %}
{%                     set unit = " " ~ queue.unit | arista.avd.default('') %}
{%                 endif %}
    egress multicast queue {{ queue.id }} reserved{{ unit }} {{ queue.reserved }}
{%             endif %}
{%             if queue.threshold is arista.avd.defined %}
    egress multicast queue {{ queue.id }} threshold {{ queue.threshold }}
{%             endif %}
{%             if queue.drop is arista.avd.defined %}
    egress multicast queue {{ queue.id }} drop-precedence {{ queue.drop.precedence }} drop-threshold {{ queue.drop.threshold }}
{%             endif %}
{%         endfor %}
{%         for queue in profile.unicast_queues | arista.avd.natural_sort('id') %}
{%             if queue.reserved is arista.avd.defined %}
{%                 set unit = "" %}
{%                 if queue.unit is arista.avd.defined %}
{%                     set unit = " " ~ queue.unit | arista.avd.default('') %}
{%                 endif %}
    egress unicast queue {{ queue.id }} reserved{{ unit }} {{ queue.reserved }}
{%             endif %}
{%             if queue.threshold is arista.avd.defined %}
    egress unicast queue {{ queue.id }} threshold {{ queue.threshold }}
{%             endif %}
{%             if queue.drop is arista.avd.defined %}
    egress unicast queue {{ queue.id }} drop-precedence {{ queue.drop.precedence }} drop-threshold {{ queue.drop.threshold }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{%     if platform.sand is arista.avd.defined %}
{%         for qos_map in platform.sand.qos_maps | arista.avd.natural_sort('traffic_class') %}
{%             if qos_map.traffic_class is arista.avd.defined and qos_map.to_network_qos is arista.avd.defined %}
platform sand qos map traffic-class {{ qos_map.traffic_class }} to network-qos {{ qos_map.to_network_qos }}
{%             endif %}
{%         endfor %}
{%         if platform.sand.lag.hardware_only is arista.avd.defined(true) %}
platform sand lag hardware-only
{%         endif %}
{%         if platform.sand.lag.mode is arista.avd.defined %}
platform sand lag mode {{ platform.sand.lag.mode }}
{%         endif %}
{%         if platform.sand.forwarding_mode is arista.avd.defined %}
platform sand forwarding mode {{ platform.sand.forwarding_mode }}
{%         endif %}
{%         if platform.sand.multicast_replication.default is arista.avd.defined %}
platform sand multicast replication default {{ platform.sand.multicast_replication.default }}
{%         endif %}
{%     endif %}
{% endif %}
