{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - global priority-flow-control #}
{% if priority_flow_control is arista.avd.defined %}
!
{%     if priority_flow_control.all_off is arista.avd.defined(true) %}
priority-flow-control all off
{%     endif %}
{%     if priority_flow_control.watchdog.action is arista.avd.defined %}
priority-flow-control pause watchdog action {{ priority_flow_control.watchdog.action }}
{%     endif %}
{%     if priority_flow_control.watchdog.timeout is arista.avd.defined %}
priority-flow-control pause watchdog default timeout {{ priority_flow_control.watchdog.timeout }}
{%     endif %}
{%     if priority_flow_control.watchdog.polling_interval is arista.avd.defined %}
priority-flow-control pause watchdog default polling-interval {{ priority_flow_control.watchdog.polling_interval }}
{%     endif %}
{%     if priority_flow_control.watchdog.recovery_time is arista.avd.defined %}
priority-flow-control pause watchdog default recovery-time {{ priority_flow_control.watchdog.recovery_time }}
{%     endif %}
{%     if priority_flow_control.watchdog.override_action_drop is arista.avd.defined(true) %}
priority-flow-control pause watchdog override action drop
{%     endif %}
{% endif %}
