{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - qos #}
{% if qos is arista.avd.defined %}
!
{%     if qos.rewrite_dscp is arista.avd.defined(true) %}
qos rewrite dscp
{%     endif %}
{%     for cos_map in qos.map.cos | arista.avd.natural_sort %}
qos map cos {{ cos_map }}
{%     endfor %}
{%     for dscp_map in qos.map.dscp | arista.avd.natural_sort %}
qos map dscp {{ dscp_map }}
{%     endfor %}
{%     for tc_map in qos.map.traffic_class | arista.avd.natural_sort %}
qos map traffic-class {{ tc_map }}
{%     endfor %}
{%     for exp_map in qos.map.exp | arista.avd.natural_sort %}
qos map exp {{ exp_map }}
{%     endfor %}
{%     if qos.random_detect.ecn.allow_non_ect.enabled is arista.avd.defined %}
!
{%         set ecn_command = "qos random-detect ecn allow non-ect" %}
{%         if qos.random_detect.ecn.allow_non_ect.chip_based is arista.avd.defined(true) %}
{%             set ecn_command = ecn_command ~ " chip-based" %}
{%         endif %}
{{ ecn_command }}
{%     endif %}
{% endif %}
