{% if queue_monitor_length is defined and queue_monitor_length is not none %}
!
queue-monitor length
{%    if queue_monitor_length.log is defined %}
queue-monitor length log {{ queue_monitor_length.log }}
{%    endif %}
{%    if queue_monitor_length.notifying is defined and queue_monitor_length.notifying == true %}
queue-monitor length notifying
{%    endif %}
{% endif %}