{# TODO REFACTOR - REMOVE THIS LINE BEFORE COMITTING #}
{% if redundancy is defined and redundancy is not none %}
!
redundancy
{%     if redundancy.protocol is defined %}
   protocol {{ redundancy.protocol }}
{%     endif %}
{% endif %}