{# eos - Router PIM Sparse Mode #}
{% if router_pim_sparse_mode is defined and router_pim_sparse_mode is not none %}
!
router pim sparse-mode
{%     if router_pim_sparse_mode.ipv4 is defined and router_pim_sparse_mode.ipv4 is not none %}
   ipv4
{%          if router_pim_sparse_mode.ipv4.rp_addresses is defined and router_pim_sparse_mode.ipv4.rp_addresses is not none %}
{%                for rp_address in router_pim_sparse_mode.ipv4.rp_addresses | arista.avd.natural_sort %}
{%                      for group in router_pim_sparse_mode.ipv4.rp_addresses[rp_address].groups | arista.avd.natural_sort %}
      rp address {{ rp_address }} {{ group }}
{%                      endfor %}
{%                endfor %}
{%          endif %}
{%          if router_pim_sparse_mode.ipv4.anycast_rps is defined and router_pim_sparse_mode.ipv4.anycast_rps is not none %}
{%                for anycast_rp in router_pim_sparse_mode.ipv4.anycast_rps | arista.avd.natural_sort %}
{%                      for other_anycast_rp_address in router_pim_sparse_mode.ipv4.anycast_rps[anycast_rp].other_anycast_rp_addresses | arista.avd.natural_sort %}
      anycast-rp {{ anycast_rp }} {{ other_anycast_rp_address }} {% if router_pim_sparse_mode.ipv4.anycast_rps[anycast_rp].other_anycast_rp_addresses[other_anycast_rp_address].register_count is defined and router_pim_sparse_mode.ipv4.anycast_rps[anycast_rp].other_anycast_rp_addresses[other_anycast_rp_address].register_count is not none %}register-count {{ router_pim_sparse_mode.ipv4.anycast_rps[anycast_rp].other_anycast_rp_addresses[other_anycast_rp_address].register_count }} {% endif %}

{%                      endfor %}
{%                endfor %}
{%           endif %}
{%     endif %}
{% endif %}