{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router pim sparse mode #}
{% if router_pim_sparse_mode is arista.avd.defined %}
!
router pim sparse-mode
{%     if router_pim_sparse_mode.ipv4 is arista.avd.defined %}
   ipv4
{%         if router_pim_sparse_mode.ipv4.bfd is arista.avd.defined(true) %}
      bfd
{%         endif %}
{%         for rp_address in router_pim_sparse_mode.ipv4.rp_addresses | arista.avd.natural_sort('address') %}
{%             set rp_options_cli = "" %}
{%             if rp_address.priority is arista.avd.defined %}
{%                 set rp_options_cli = rp_options_cli ~ " priority " ~ rp_address.priority %}
{%             endif %}
{%             if rp_address.hashmask is arista.avd.defined %}
{%                 set rp_options_cli = rp_options_cli ~ " hashmask " ~ rp_address.hashmask %}
{%             endif %}
{%             if rp_address.override is arista.avd.defined(true) %}
{%                 set rp_options_cli = rp_options_cli ~ " override" %}
{%             endif %}
{%             if rp_address.groups is arista.avd.defined or rp_address.access_lists is arista.avd.defined %}
{%                 if rp_address.groups is arista.avd.defined %}
{%                     for group in rp_address.groups | arista.avd.natural_sort %}
      rp address {{ rp_address.address }} {{ group }}{{ rp_options_cli }}
{%                     endfor %}
{%                 endif %}
{%                 if rp_address.access_lists is arista.avd.defined %}
{%                     for access_list in rp_address.access_lists | arista.avd.natural_sort %}
      rp address {{ rp_address.address }} access-list {{ access_list }}{{ rp_options_cli }}
{%                     endfor %}
{%                 endif %}
{%             else %}
      rp address {{ rp_address.address }}{{ rp_options_cli }}
{%             endif %}
{%         endfor %}
{%         for anycast_rp in router_pim_sparse_mode.ipv4.anycast_rps | arista.avd.natural_sort('address') %}
{%             for other_anycast_rp_address in anycast_rp.other_anycast_rp_addresses | arista.avd.natural_sort('address') %}
{%                 set other_anycast_rp_addresses_cli = "anycast-rp " ~ anycast_rp.address ~ " " ~ other_anycast_rp_address.address %}
{%                 if other_anycast_rp_address.register_count is arista.avd.defined %}
{%                     set other_anycast_rp_addresses_cli = other_anycast_rp_addresses_cli ~ " register-count " ~ other_anycast_rp_address.register_count %}
{%                 endif %}
      {{ other_anycast_rp_addresses_cli }}
{%             endfor %}
{%         endfor %}
{%         if router_pim_sparse_mode.ipv4.ssm_range is arista.avd.defined %}
      ssm range {{ router_pim_sparse_mode.ipv4.ssm_range }}
{%         endif %}
{%     endif %}
{%     for vrf in router_pim_sparse_mode.vrfs | arista.avd.natural_sort('name') %}
   !
   vrf {{ vrf.name }}
{%         if vrf.ipv4 is arista.avd.defined %}
      ipv4
{%             if vrf.ipv4.bfd is arista.avd.defined(true) %}
         bfd
{%             endif %}
{%             for rp_address in vrf.ipv4.rp_addresses | arista.avd.natural_sort('address') %}
{%                 set rp_options_cli = "" %}
{%                 if rp_address.priority is arista.avd.defined %}
{%                     set rp_options_cli = rp_options_cli ~ " priority " ~ rp_address.priority %}
{%                 endif %}
{%                 if rp_address.hashmask is arista.avd.defined %}
{%                     set rp_options_cli = rp_options_cli ~ " hashmask " ~ rp_address.hashmask %}
{%                 endif %}
{%                 if rp_address.override is arista.avd.defined(true) %}
{%                     set rp_options_cli = rp_options_cli ~ " override" %}
{%                 endif %}
{%                 if rp_address.groups is arista.avd.defined or rp_address.access_lists is arista.avd.defined %}
{%                     if rp_address.groups is arista.avd.defined %}
{%                         for group in rp_address.groups | arista.avd.natural_sort %}
         rp address {{ rp_address.address }} {{ group }}{{ rp_options_cli }}
{%                         endfor %}
{%                     endif %}
{%                     if rp_address.access_lists is arista.avd.defined %}
{%                         for access_list in rp_address.access_lists | arista.avd.natural_sort %}
         rp address {{ rp_address.address }} access-list {{ access_list }}{{ rp_options_cli }}
{%                         endfor %}
{%                     endif %}
{%                 else %}
         rp address {{ rp_address.address }}{{ rp_options_cli }}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
