{# eos - route-maps #}
{% if route_maps is defined and route_maps is not none %}
{%     for route_map in route_maps | arista.avd.natural_sort %}
{%         for sequence in route_maps[route_map].sequence_numbers | arista.avd.natural_sort %}
!
route-map {{ route_map }} {{ route_maps[route_map].sequence_numbers[sequence].type }} {{ sequence }}
{%             if route_maps[route_map].sequence_numbers[sequence].description is defined and route_maps[route_map].sequence_numbers[sequence].description is not none %}
   description {{ route_maps[route_map].sequence_numbers[sequence].description }}
{%             endif %}
{%             if route_maps[route_map].sequence_numbers[sequence].match is defined and route_maps[route_map].sequence_numbers[sequence].match is not none %}
{%                for match_rule in route_maps[route_map].sequence_numbers[sequence].match | arista.avd.natural_sort %}
   match {{ match_rule }}
{%                endfor %}
{%             endif %}
{%             if route_maps[route_map].sequence_numbers[sequence].set is defined and route_maps[route_map].sequence_numbers[sequence].set is not none %}
{%                for set_rule in route_maps[route_map].sequence_numbers[sequence].set | arista.avd.natural_sort %}
   set {{ set_rule }}
{%                endfor %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
