{# eos - Router bfd #}
{% if bfd_multihop is arista.avd.defined %}
!
router bfd
   multihop interval {{ bfd_multihop.interval }} min-rx {{ bfd_multihop.min_rx }} multiplier {{ bfd_multihop.multiplier }}
{% endif %}
