{# eos - Router L2 VPN #}
{% if router_l2_vpn is defined and router_l2_vpn is not none %}
router l2-vpn
{%   if router_l2_vpn.nd_rs_flooding_disabled is defined and router_l2_vpn.nd_rs_flooding_disabled == true %}
   nd rs flooding disabled
{%   endif %}
{%   if router_l2_vpn.virtual_router_nd_ra_flooding_disabled is defined and router_l2_vpn.virtual_router_nd_ra_flooding_disabled == true %}
   virtual-router neighbor advertisement flooding disabled
{%   endif %}
!
{% endif %}