{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router isis #}
{% if router_isis.instance is arista.avd.defined %}
!
router isis {{ router_isis.instance }}
{%     if router_isis.net is arista.avd.defined %}
   net {{ router_isis.net }}
{%     endif %}
{%     if router_isis.is_type is arista.avd.defined %}
   is-type {{ router_isis.is_type }}
{%     endif %}
{%     for redistribute_route in router_isis.redistribute_routes | arista.avd.natural_sort('source_protocol') %}
{%         if redistribute_route.source_protocol is arista.avd.defined %}
{%             set redistribute_route_cli = "redistribute " ~ redistribute_route.source_protocol %}
{%             if redistribute_route.source_protocol == 'isis' %}
{%                 set redistribute_route_cli = redistribute_route_cli ~ " instance" %}
{%             elif redistribute_route.source_protocol == 'ospf' %}
{%                 if redistribute_route.include_leaked is arista.avd.defined(true) %}
{%                     set redistribute_route_cli = redistribute_route_cli ~ " include leaked" %}
{%                 endif %}
{%                 if redistribute_route.ospf_route_type is not arista.avd.defined %}
{%                     continue %}
{%                 endif %}
{%                 set redistribute_route_cli = redistribute_route_cli ~ " match " ~ redistribute_route.ospf_route_type %}
{%             elif redistribute_route.source_protocol == 'ospfv3' %}
{%                 if redistribute_route.ospf_route_type is not arista.avd.defined %}
{%                     continue %}
{%                 endif %}
{%                 set redistribute_route_cli = redistribute_route_cli ~ " match " ~ redistribute_route.ospf_route_type %}
{%             elif redistribute_route.source_protocol in ['static', 'connected'] %}
{%                 if redistribute_route.include_leaked is arista.avd.defined(true) %}
{%                     set redistribute_route_cli = redistribute_route_cli ~ " include leaked" %}
{%                 endif %}
{%             endif %}
{%             if redistribute_route.route_map is arista.avd.defined %}
{%                 set redistribute_route_cli = redistribute_route_cli ~ " route-map " ~ redistribute_route.route_map %}
{%             endif %}
   {{ redistribute_route_cli }}
{%         endif %}
{%     endfor %}
{%     if router_isis.router_id is arista.avd.defined %}
   router-id ipv4 {{ router_isis.router_id }}
{%     endif %}
{%     if router_isis.log_adjacency_changes is arista.avd.defined(true) %}
   log-adjacency-changes
{%     elif router_isis.log_adjacency_changes is arista.avd.defined(false) %}
   no log-adjacency-changes
{%     endif %}
{%     if router_isis.mpls_ldp_sync_default is arista.avd.defined(true) %}
   mpls ldp sync default
{%     endif %}
{%     if router_isis.timers.local_convergence.protected_prefixes is arista.avd.defined(true) %}
{%         if router_isis.timers.local_convergence.delay is arista.avd.defined %}
   timers local-convergence-delay {{ router_isis.timers.local_convergence.delay }} protected-prefixes
{%         else %}
   timers local-convergence-delay protected-prefixes
{%         endif %}
{%     endif %}
{%     if router_isis.set_overload_bit.enabled is arista.avd.defined %}
   set-overload-bit
{%     endif %}
{%     if router_isis.set_overload_bit.on_startup is arista.avd.defined %}
{%         if router_isis.set_overload_bit.on_startup.delay is arista.avd.defined %}
   set-overload-bit on-startup {{ router_isis.set_overload_bit.on_startup.delay }}
{%         elif router_isis.set_overload_bit.on_startup.wait_for_bgp.enabled is arista.avd.defined(true) %}
{%             if router_isis.set_overload_bit.on_startup.wait_for_bgp.timeout is arista.avd.defined %}
   set-overload-bit on-startup wait-for-bgp timeout {{ router_isis.set_overload_bit.on_startup.wait_for_bgp.timeout }}
{%             else %}
   set-overload-bit on-startup wait-for-bgp
{%             endif %}
{%         endif %}
{%     endif %}
{%     if router_isis.advertise.passive_only is arista.avd.defined(true) %}
   advertise passive-only
{%     endif %}
{%     if router_isis.spf_interval.interval is arista.avd.defined %}
{%         if router_isis.spf_interval.wait_interval is arista.avd.defined %}
   spf-interval {{ router_isis.spf_interval.interval }} {{ router_isis.spf_interval.wait_interval }}
{%         else %}
   spf-interval {{ router_isis.spf_interval.interval }}
{%         endif %}
{%     endif %}
{%     if router_isis.authentication.both.mode is arista.avd.defined %}
{%         if router_isis.authentication.both.mode is arista.avd.defined('md5') %}
{%             if router_isis.authentication.both.rx_disabled is arista.avd.defined('true') %}
   authentication mode md5 rx-disabled
{%             else %}
   authentication mode md5
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.both.mode is arista.avd.defined('sha') and router_isis.authentication.both.sha.key_id is arista.avd.defined %}
{%             if router_isis.authentication.both.rx_disabled is arista.avd.defined('true') %}
   authentication mode sha key-id {{ router_isis.authentication.both.sha.key_id }} rx-disabled
{%             else %}
   authentication mode sha key-id {{ router_isis.authentication.both.sha.key_id }}
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.both.mode is arista.avd.defined('text') %}
{%             if router_isis.authentication.both.rx_disabled is arista.avd.defined('true') %}
   authentication mode text rx-disabled
{%             else %}
   authentication mode text
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.both.mode is arista.avd.defined('shared-secret') and router_isis.authentication.both.shared_secret.profile is arista.avd.defined and router_isis.authentication.both.shared_secret.algorithm is arista.avd.defined %}
{%             if router_isis.authentication.both.rx_disabled is arista.avd.defined('true') %}
   authentication mode shared-secret profile {{ router_isis.authentication.both.shared_secret.profile }} algorithm {{ router_isis.authentication.both.shared_secret.algorithm }} rx-disabled
{%             else %}
   authentication mode shared-secret profile {{ router_isis.authentication.both.shared_secret.profile }} algorithm {{ router_isis.authentication.both.shared_secret.algorithm }}
{%             endif %}
{%         endif %}
{%     else %}
{%         if router_isis.authentication.level_1.mode is arista.avd.defined %}
{%             if router_isis.authentication.level_1.mode is arista.avd.defined('md5') %}
{%                 if router_isis.authentication.level_1.rx_disabled is arista.avd.defined('true') %}
   authentication mode md5 rx-disabled level-1
{%                 else %}
   authentication mode md5 level-1
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_1.mode is arista.avd.defined('sha') and router_isis.authentication.level_1.sha.key_id is arista.avd.defined %}
{%                 if router_isis.authentication.level_1.rx_disabled is arista.avd.defined('true') %}
   authentication mode sha key-id {{ router_isis.authentication.level_1.sha.key_id }} rx-disabled level-1
{%                 else %}
   authentication mode sha key-id {{ router_isis.authentication.level_1.sha.key_id }} level-1
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_1.mode is arista.avd.defined('text') %}
{%                 if router_isis.authentication.level_1.rx_disabled is arista.avd.defined('true') %}
   authentication mode text rx-disabled level-1
{%                 else %}
   authentication mode text level-1
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_1.mode is arista.avd.defined('shared-secret') and router_isis.authentication.level_1.shared_secret.profile is arista.avd.defined and router_isis.authentication.level_1.shared_secret.algorithm is arista.avd.defined %}
{%                 if router_isis.authentication.level_1.rx_disabled is arista.avd.defined('true') %}
   authentication mode shared-secret profile {{ router_isis.authentication.level_1.shared_secret.profile }} algorithm {{ router_isis.authentication.level_1.shared_secret.algorithm }} rx-disabled level-1
{%                 else %}
   authentication mode shared-secret profile {{ router_isis.authentication.level_1.shared_secret.profile }} algorithm {{ router_isis.authentication.level_1.shared_secret.algorithm }} level-1
{%                 endif %}
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.level_2.mode is arista.avd.defined %}
{%             if router_isis.authentication.level_2.mode is arista.avd.defined('md5') %}
{%                 if router_isis.authentication.level_2.rx_disabled is arista.avd.defined('true') %}
   authentication mode md5 rx-disabled level-2
{%                 else %}
   authentication mode md5 level-2
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_2.mode is arista.avd.defined('sha') and router_isis.authentication.level_2.sha.key_id is arista.avd.defined %}
{%                 if router_isis.authentication.level_2.rx_disabled is arista.avd.defined('true') %}
   authentication mode sha key-id {{ router_isis.authentication.level_2.sha.key_id }} rx-disabled level-2
{%                 else %}
   authentication mode sha key-id {{ router_isis.authentication.level_2.sha.key_id }} level-2
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_2.mode is arista.avd.defined('text') %}
{%                 if router_isis.authentication.level_2.rx_disabled is arista.avd.defined('true') %}
   authentication mode text rx-disabled level-2
{%                 else %}
   authentication mode text level-2
{%                 endif %}
{%             endif %}
{%             if router_isis.authentication.level_2.mode is arista.avd.defined('shared-secret') and router_isis.authentication.level_2.shared_secret.profile is arista.avd.defined and router_isis.authentication.level_2.shared_secret.algorithm is arista.avd.defined %}
{%                 if router_isis.authentication.level_2.rx_disabled is arista.avd.defined('true') %}
   authentication mode shared-secret profile {{ router_isis.authentication.level_2.shared_secret.profile }} algorithm {{ router_isis.authentication.level_2.shared_secret.algorithm }} rx-disabled level-2
{%                 else %}
   authentication mode shared-secret profile {{ router_isis.authentication.level_2.shared_secret.profile }} algorithm {{ router_isis.authentication.level_2.shared_secret.algorithm }} level-2
{%                 endif %}
{%             endif %}
{%         endif %}
{%     endif %}
{%     if router_isis.graceful_restart is arista.avd.defined %}
{%         if router_isis.graceful_restart.enabled is arista.avd.defined(true) %}
   graceful-restart
{%         endif %}
{%         if router_isis.graceful_restart.t2.level_1_wait_time is arista.avd.defined %}
   graceful-restart t2 level-1 {{ router_isis.graceful_restart.t2.level_1_wait_time }}
{%         endif %}
{%         if router_isis.graceful_restart.t2.level_2_wait_time is arista.avd.defined %}
   graceful-restart t2 level-2 {{ router_isis.graceful_restart.t2.level_2_wait_time }}
{%         endif %}
{%         if router_isis.graceful_restart.restart_hold_time is arista.avd.defined %}
   graceful-restart restart-hold-time {{ router_isis.graceful_restart.restart_hold_time }}
{%         endif %}
{%     endif %}
{%     if router_isis.authentication is arista.avd.defined %}
{%         if router_isis.authentication.both is arista.avd.defined %}
{%             if router_isis.authentication.both.key_type is arista.avd.defined and router_isis.authentication.both.key is arista.avd.defined %}
   authentication key {{ router_isis.authentication.both.key_type }} {{ router_isis.authentication.both.key }}
{%             endif %}
{%             if router_isis.authentication.both.key_id is arista.avd.defined %}
{%                 for auth_key_id in router_isis.authentication.both.key_id %}
{%                     if auth_key_id.id is arista.avd.defined and auth_key_id.algorithm is arista.avd.defined %}
{%                         if auth_key_id.key_type is arista.avd.defined and auth_key_id.key is arista.avd.defined %}
{%                             if auth_key_id.rfc_5310 is arista.avd.defined(true) %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} rfc-5310 key {{ auth_key_id.key_type }} {{ auth_key_id.key }}
{%                             else %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} key {{ auth_key_id.key_type }} {{ auth_key_id.key }}
{%                             endif %}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.level_1 is arista.avd.defined %}
{%             if router_isis.authentication.level_1.key_type is arista.avd.defined and router_isis.authentication.level_1.key is arista.avd.defined %}
   authentication key {{ router_isis.authentication.level_1.key_type }} {{ router_isis.authentication.level_1.key }} level-1
{%             endif %}
{%             if router_isis.authentication.level_1.key_id is arista.avd.defined %}
{%                 set both_key_id = [] %}
{%                 if router_isis.authentication.both.key_id is arista.avd.defined %}
{%                     for id in router_isis.authentication.both.key_id %}
{%                         do both_key_id.append(id.id) %}
{%                     endfor %}
{%                 endif %}
{%                 for auth_key_id in router_isis.authentication.level_1.key_id %}
{%                     if auth_key_id.id is arista.avd.defined and auth_key_id.id not in both_key_id and auth_key_id.algorithm is arista.avd.defined %}
{%                         if auth_key_id.key_type is arista.avd.defined and auth_key_id.key is arista.avd.defined %}
{%                             if auth_key_id.rfc_5310 is arista.avd.defined(true) %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} rfc-5310 key {{ auth_key_id.key_type }} {{ auth_key_id.key }} level-1
{%                             else %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} key {{ auth_key_id.key_type }} {{ auth_key_id.key }} level-1
{%                             endif %}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%         if router_isis.authentication.level_2 is arista.avd.defined %}
{%             if router_isis.authentication.level_2.key_type is arista.avd.defined and router_isis.authentication.level_2.key is arista.avd.defined %}
   authentication key {{ router_isis.authentication.level_2.key_type }} {{ router_isis.authentication.level_2.key }} level-2
{%             endif %}
{%             if router_isis.authentication.level_2.key_id is arista.avd.defined %}
{%                 set both_key_id = [] %}
{%                 if router_isis.authentication.both.key_id is arista.avd.defined %}
{%                     for id in router_isis.authentication.both.key_id %}
{%                         do both_key_id.append(id.id) %}
{%                     endfor %}
{%                 endif %}
{%                 for auth_key_id in router_isis.authentication.level_2.key_id %}
{%                     if auth_key_id.id is arista.avd.defined and auth_key_id.id not in both_key_id and auth_key_id.algorithm is arista.avd.defined %}
{%                         if auth_key_id.key_type is arista.avd.defined and auth_key_id.key is arista.avd.defined %}
{%                             if auth_key_id.rfc_5310 is arista.avd.defined(true) %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} rfc-5310 key {{ auth_key_id.key_type }} {{ auth_key_id.key }} level-2
{%                             else %}
   authentication key-id {{ auth_key_id.id }} algorithm {{ auth_key_id.algorithm }} key {{ auth_key_id.key_type }} {{ auth_key_id.key }} level-2
{%                             endif %}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endif %}
{%     endif %}
   !
{%     if router_isis.address_family is arista.avd.defined %}
{%         for address_family in router_isis.address_family %}
   address-family {{ address_family }}
{%             if router_isis.isis_af_defaults is arista.avd.defined %}
{%                 for af_default in router_isis.isis_af_defaults %}
      {{ af_default }}
{%                 endfor %}
{%             endif %}
{%         endfor %}
   !
{%     endif %}
{%     if router_isis.address_family_ipv4 is arista.avd.defined %}
   address-family ipv4 unicast
{%         if router_isis.address_family_ipv4.maximum_paths is arista.avd.defined %}
      maximum-paths {{ router_isis.address_family_ipv4.maximum_paths }}
{%         endif %}
{%         if router_isis.address_family_ipv4.tunnel_source_labeled_unicast.enabled is arista.avd.defined(true) %}
{%             set lu_cli = "tunnel source-protocol bgp ipv4 labeled-unicast" %}
{%             if router_isis.address_family_ipv4.tunnel_source_labeled_unicast.rcf is arista.avd.defined %}
{%                 set lu_cli = lu_cli ~ " rcf " ~ router_isis.address_family_ipv4.tunnel_source_labeled_unicast.rcf %}
{%             endif %}
      {{ lu_cli }}
{%         endif %}
{%         if router_isis.address_family_ipv4.bfd_all_interfaces is arista.avd.defined(true) %}
      bfd all-interfaces
{%         endif %}
{%         if router_isis.address_family_ipv4.fast_reroute_ti_lfa.mode is arista.avd.defined %}
{%             set ti_lfa_cli = "fast-reroute ti-lfa mode " ~ router_isis.address_family_ipv4.fast_reroute_ti_lfa.mode %}
{%             if router_isis.address_family_ipv4.fast_reroute_ti_lfa.level is arista.avd.defined %}
{%                 set ti_lfa_cli = ti_lfa_cli ~ " " ~ router_isis.address_family_ipv4.fast_reroute_ti_lfa.level %}
{%             endif %}
      {{ ti_lfa_cli }}
{%         endif %}
{%         if router_isis.address_family_ipv4.fast_reroute_ti_lfa.srlg.enable is arista.avd.defined(true) %}
{%             set ti_lfa_srlg_cli = "fast-reroute ti-lfa srlg" %}
{%             if router_isis.address_family_ipv4.fast_reroute_ti_lfa.srlg.strict is arista.avd.defined(true) %}
{%                 set ti_lfa_srlg_cli = ti_lfa_srlg_cli ~ " strict" %}
{%             endif %}
      {{ ti_lfa_srlg_cli }}
{%         endif %}
   !
{%     endif %}
{%     if router_isis.address_family_ipv6 is arista.avd.defined %}
   address-family ipv6 unicast
{%         if router_isis.address_family_ipv6.maximum_paths is arista.avd.defined %}
      maximum-paths {{ router_isis.address_family_ipv6.maximum_paths }}
{%         endif %}
{%         if router_isis.address_family_ipv6.bfd_all_interfaces is arista.avd.defined(true) %}
      bfd all-interfaces
{%         endif %}
{%         if router_isis.address_family_ipv6.fast_reroute_ti_lfa.mode is arista.avd.defined %}
{%             set ti_lfa_cli = "fast-reroute ti-lfa mode " ~ router_isis.address_family_ipv6.fast_reroute_ti_lfa.mode %}
{%             if router_isis.address_family_ipv6.fast_reroute_ti_lfa.level is arista.avd.defined %}
{%                 set ti_lfa_cli = ti_lfa_cli ~ " " ~ router_isis.address_family_ipv6.fast_reroute_ti_lfa.level %}
{%             endif %}
      {{ ti_lfa_cli }}
{%         endif %}
{%         if router_isis.address_family_ipv6.fast_reroute_ti_lfa.srlg.enable is arista.avd.defined(true) %}
{%             set ti_lfa_srlg_cli = "fast-reroute ti-lfa srlg" %}
{%             if router_isis.address_family_ipv6.fast_reroute_ti_lfa.srlg.strict is arista.avd.defined(true) %}
{%                 set ti_lfa_srlg_cli = ti_lfa_srlg_cli ~ " strict" %}
{%             endif %}
      {{ ti_lfa_srlg_cli }}
{%         endif %}
   !
{%     endif %}
{%     if router_isis.segment_routing_mpls is arista.avd.defined %}
   segment-routing mpls
{%         if router_isis.segment_routing_mpls.enabled is arista.avd.defined(true) %}
      no shutdown
{%         elif router_isis.segment_routing_mpls.enabled is arista.avd.defined(false) %}
      shutdown
{%         endif %}
{%         for prefix_segment in router_isis.segment_routing_mpls.prefix_segments | arista.avd.natural_sort('prefix') %}
{%             if prefix_segment.prefix is arista.avd.defined and prefix_segment.index is arista.avd.defined %}
      prefix-segment {{ prefix_segment.prefix }} index {{ prefix_segment.index }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
