{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router service-insertion #}
{% if router_service_insertion.enabled is arista.avd.defined(true) %}
!
router service-insertion
{%     if router_service_insertion.connections is arista.avd.defined %}
{%         for connection in router_service_insertion.connections | arista.avd.natural_sort('name') %}
{%             if connection.name is arista.avd.defined %}
   connection {{ connection.name }}
{%             endif %}
{%             if connection.interface is arista.avd.defined %}
{%                 if connection.interface.ethernet is arista.avd.defined %}
{%                     if connection.interface.ethernet.interface_name is arista.avd.defined and connection.interface.ethernet.next_hop_ip_address is arista.avd.defined %}
      interface {{ connection.interface.ethernet.interface_name }} next-hop {{ connection.interface.ethernet.next_hop_ip_address }}
{%                     endif %}
{%                 elif connection.interface.tunnel is arista.avd.defined %}
{%                     if connection.interface.tunnel.primary_interface_name is arista.avd.defined %}
      interface {{ connection.interface.tunnel.primary_interface_name }} primary
{%                     endif %}
{%                     if connection.interface.tunnel.secondary_interface_name is arista.avd.defined %}
      interface {{ connection.interface.tunnel.secondary_interface_name }} secondary
{%                     endif %}
{%                 endif %}
{%             endif %}
{%             if connection.monitor_connectivity_to_host is arista.avd.defined %}
      monitor connectivity host {{ connection.monitor_connectivity_to_host }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
