{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router internet-exit #}
{% if router_internet_exit is arista.avd.defined %}
router internet-exit
{%     if router_internet_exit.exit_groups is arista.avd.defined %}
{%         for exit_group in router_internet_exit.exit_groups %}
    exit-group {{ exit_group.name }}
{%             if exit_group.locals is arista.avd.defined %}
{%                 for local in exit_group.locals %}
        local connection {{ local.connection }}
{%                 endfor %}
{%             endif %}
{%             if exit_group.fib_default is arista.avd.defined(true) %}
        fib-default
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if router_internet_exit.policies is arista.avd.defined %}
{%         for policy in router_internet_exit.policies %}
    policy {{ policy.name }}
{%             if policy.exit_groups is arista.avd.defined %}
{%                 for exit_group in policy.exit_groups %}
{%                     if exit_group.before is arista.avd.defined %}
        exit-group {{ exit_group.name }} before {{ exit_group.before }}
{%                     elif exit_group.after is arista.avd.defined %}
        exit-group {{ exit_group.name }} after {{ exit_group.after }}
{%                     else %}
        exit-group {{ exit_group.name }}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endif %}
