{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router-adaptive-virtual-topology #}
{% if router_adaptive_virtual_topology is arista.avd.defined %}
!
router adaptive-virtual-topology
{%     if router_adaptive_virtual_topology.topology_role is arista.avd.defined %}
   topology role {{ router_adaptive_virtual_topology.topology_role }}
{%     endif %}
{%     if router_adaptive_virtual_topology.region.name is arista.avd.defined and router_adaptive_virtual_topology.region.id %}
   region {{ router_adaptive_virtual_topology.region.name }} id {{ router_adaptive_virtual_topology.region.id }}
{%     endif %}
{%     if router_adaptive_virtual_topology.zone.name is arista.avd.defined and router_adaptive_virtual_topology.zone.id %}
   zone {{ router_adaptive_virtual_topology.zone.name }} id {{ router_adaptive_virtual_topology.zone.id }}
{%     endif %}
{%     if router_adaptive_virtual_topology.site.name is arista.avd.defined and router_adaptive_virtual_topology.site.id %}
   site {{ router_adaptive_virtual_topology.site.name }} id {{ router_adaptive_virtual_topology.site.id }}
{%     endif %}
{#    AVT Policies #}
{%     for policy in router_adaptive_virtual_topology.policies | arista.avd.natural_sort('name') %}
   !
   policy {{ policy.name }}
{%         for match in policy.matches %}
{%             if match.application_profile is arista.avd.defined %}
      !
      match application-profile {{ match.application_profile }}
{%                 if match.avt_profile is arista.avd.defined %}
         avt profile {{ match.avt_profile }}
{%                 endif %}
{%                 if match.traffic_class is arista.avd.defined %}
         traffic-class {{ match.traffic_class }}
{%                 endif %}
{%                 if match.dscp is arista.avd.defined %}
         dscp {{ match.dscp }}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{#    AVT Profiles #}
{%     for profile in router_adaptive_virtual_topology.profiles | arista.avd.natural_sort('name') %}
   !
   profile {{ profile.name }}
{%         if profile.internet_exit_policy is arista.avd.defined %}
      internet-exit policy {{ profile.internet_exit_policy }}
{%         endif %}
{%         if profile.load_balance_policy is arista.avd.defined %}
      path-selection load-balance {{ profile.load_balance_policy }}
{%         endif %}
{%     endfor %}
{#   VRFs #}
{%     for vrf in router_adaptive_virtual_topology.vrfs | arista.avd.natural_sort('name') %}
   !
   vrf {{ vrf.name }}
{%         if vrf.policy is arista.avd.defined %}
      avt policy {{ vrf.policy }}
{%         endif %}
{%         for profile in vrf.profiles | arista.avd.natural_sort('id') %}
{%             if profile.name is arista.avd.defined and profile.id is arista.avd.defined %}
      avt profile {{ profile.name }} id {{ profile.id }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
