{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - router segment-security #}
{% if router_segment_security is arista.avd.defined %}
!
router segment-security
{%     if router_segment_security.enabled is arista.avd.defined(true) %}
   no shutdown
   !
{%     endif %}
{%     for policy in router_segment_security.policies | arista.avd.natural_sort('name') %}
   policy {{ policy.name }}
{%         for sequence in policy.sequence_numbers | arista.avd.natural_sort('sequence') %}
{%             if sequence.sequence is arista.avd.defined and sequence.action is arista.avd.defined and sequence.application is arista.avd.defined %}
{%                 set eos_cli = sequence.action %}
{%                 if sequence.action == "redirect" and sequence.next_hop is arista.avd.defined %}
{%                     set eos_cli = eos_cli ~ " next-hop " ~ sequence.next_hop %}
{%                 else %}
{%                     continue %}
{%                 endif %}
{%                 if sequence.stateless | arista.avd.default(true) %}
{%                     set eos_cli = eos_cli ~ " stateless" %}
{%                 endif %}
{%                 if sequence.log is arista.avd.defined(true) %}
{%                     set eos_cli = eos_cli ~ " log" %}
{%                 endif %}
      {{ sequence.sequence }} application {{ sequence.application }} action {{ eos_cli }}
{%             endif %}
{%         endfor %}
   !
{%     endfor %}
{%     if router_segment_security.vrfs is arista.avd.defined %}
{%         for vrf in router_segment_security.vrfs | arista.avd.natural_sort('name') %}
   !
   vrf {{ vrf.name }}
{%             for segment in vrf.segments %}
{%                 if segment.name is arista.avd.defined %}
      segment {{ segment.name }}
         definition
{%                     for entry in segment.definition.interfaces | arista.avd.natural_sort %}
            match interface {{ entry }}
{%                     endfor %}
{%                     if segment.definition.match_lists is arista.avd.defined %}
{%                         for entry in segment.definition.match_lists %}
{%                             if entry.address_family is arista.avd.defined and (entry.prefix is arista.avd.defined or entry.covered_prefix_list is arista.avd.defined ) %}
{%                                 if entry.prefix is arista.avd.defined %}
{%                                     set host_cli = "match prefix-" ~ entry.address_family ~ " " ~ entry.prefix %}
{%                                 elif entry.covered_prefix_list is arista.avd.defined %}
{%                                     set host_cli = "match covered prefix-list " ~ entry.address_family ~ " " ~ entry.covered_prefix_list %}
{%                                 endif %}
            {{ host_cli }}
{%                             endif %}
{%                         endfor %}
{%                     endif %}
{%                     if segment.policies is arista.avd.defined %}
         !
         policies
{%                         for entry in segment.policies | arista.avd.natural_sort('source') %}
{%                             if entry.source is arista.avd.defined and entry.policy is arista.avd.defined %}
            from {{ entry.source }} policy {{ entry.policy }}
{%                             endif %}
{%                         endfor %}
{%                     endif %}
{%                 endif %}
{%             endfor %}
{%         endfor %}
{%     endif %}
{% endif %}
