{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - service routing protocols model #}
{% if service_routing_protocols_model is arista.avd.defined("multi-agent") %}
!
service routing protocols model multi-agent
{% endif %}
