{# eos - SFlow #}
{% if sflow is defined and sflow is not none %}
{%     if sflow.destinations is defined and sflow.destinations is not none %}
{%      for destination in sflow.destinations %}
{%          if sflow.destinations[destination].port is defined and sflow.destinations[destination].port is not none %}
sflow destination {{ destination }} {{ sflow.destinations[destination].port }}
{%          else %}
sflow destination {{ destination }}
{%          endif %}
{%      endfor %}
{%     endif %}
{%     if sflow.source_interface is defined and sflow.source_interface is not none %}
sflow source-interface {{ sflow.source_interface }}
{%     endif %}
{%     if sflow.sample is defined and sflow.sample is not none %}
sflow sample dangerous {{ sflow.sample }}
{%     endif %}
{%     if sflow.run is defined and sflow.run == True %}
sflow run
{%     endif %}
!
{% endif %}
