{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - stun #}
{% if stun is arista.avd.defined %}
!
stun
{%     if stun.client is arista.avd.defined %}
   client
{%         for profile in stun.client.server_profiles | arista.avd.natural_sort('name') %}
      server-profile {{ profile.name }}
{%             if profile.ip_address is arista.avd.defined %}
         ip address {{ profile.ip_address }}
{%             endif %}
{%             if profile.port is arista.avd.defined %}
         port {{ profile.port }}
{%             endif %}
{%             if profile.ssl_profile is arista.avd.defined %}
         ssl profile {{ profile.ssl_profile }}
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if stun.server is arista.avd.defined %}
   server
{%         for local_interface in stun.server.local_interfaces | arista.avd.natural_sort %}
      local-interface {{ local_interface }}
{%         endfor %}
{# Next is deprecated remove in v5.0.0 #}
{%         if stun.server.local_interface is arista.avd.defined %}
      local-interface {{ stun.server.local_interface }}
{%         endif %}
{%         if stun.server.port is arista.avd.defined %}
      port {{ stun.server.port }}
{%         endif %}
{%         if stun.server.ssl_profile is arista.avd.defined %}
      ssl profile {{ stun.server.ssl_profile }}
{%         endif %}
{%         if stun.server.bindings_timeout is arista.avd.defined %}
      binding timeout {{ stun.server.bindings_timeout }} seconds
{%         endif %}
{%         if stun.server.ssl_connection_lifetime.minutes is arista.avd.defined %}
      ssl connection lifetime {{ stun.server.ssl_connection_lifetime.minutes }} minutes
{%         elif stun.server.ssl_connection_lifetime.hours is arista.avd.defined %}
      ssl connection lifetime {{ stun.segitrver.ssl_connection_lifetime.hours }} hours
{%         endif %}
{%     endif %}
{% endif %}
