{# eos - system #}
{% if system.control_plane is arista.avd.defined %}
!
system control-plane
{# control_plane tcp mss ceiling #}
{%    if system.control_plane.tcp_mss.ipv4 is arista.avd.defined and system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}
{%       set cp_mss_cli = "tcp mss ceiling ipv4 " ~ system.control_plane.tcp_mss.ipv4 ~ " ipv6 " ~ system.control_plane.tcp_mss.ipv6 %}
{%    elif system.control_plane.tcp_mss.ipv4 is arista.avd.defined and system.control_plane.tcp_mss.ipv6 is not arista.avd.defined %}
{%       set cp_mss_cli = "tcp mss ceiling ipv4 " ~ system.control_plane.tcp_mss.ipv4 %}
{%    elif system.control_plane.tcp_mss.ipv4 is not arista.avd.defined and system.control_plane.tcp_mss.ipv6 is arista.avd.defined %}
{%       set cp_mss_cli = "tcp mss ceiling ipv6 " ~ system.control_plane.tcp_mss.ipv6 %}
{%    endif %}
  {{ cp_mss_cli }}
{# control_plane access_group ipv4 #}
{%    if system.control_plane.ipv4_access_group is arista.avd.defined %}
{%      for acl_set in system.control_plane.ipv4_access_group | arista.avd.natural_sort %}
{%        set cp_ipv4_access_grp = "ip access-group " ~ acl_set.acl_name %}
{%        if acl_set.vrf is arista.avd.defined and acl_set.vrf is not none %}
{%          set cp_ipv4_access_grp = cp_ipv4_access_grp ~ " vrf " ~ acl_set.vrf ~ " in " %}
{%        elif acl_set.vrf is not arista.avd.defined %}
{%          set cp_ipv4_access_grp = cp_ipv4_access_grp ~ " in " %}
{%        endif %}
  {{ cp_ipv4_access_grp }}
{%      endfor %}
{%    endif %}
{# control_plane access_group ipv6 #}
{%    if system.control_plane.ipv6_access_group is arista.avd.defined %}
{%      for acl_set in system.control_plane.ipv6_access_group | arista.avd.natural_sort %}
{%        set cp_ipv6_access_grp = "ipv6 access-group " ~ acl_set.acl_name %}
{%        if acl_set.vrf is arista.avd.defined and acl_set.vrf is not none %}
{%          set cp_ipv6_access_grp = cp_ipv6_access_grp ~ " vrf " ~ acl_set.vrf ~ " in " %}
{%        elif acl_set.vrf is not arista.avd.defined %}
{%          set cp_ipv6_access_grp = cp_ipv6_access_grp ~ " in " %}
{%        endif %}
  {{ cp_ipv6_access_grp }}
{%      endfor %}
{%    endif %}
{% endif %}
