{# terminal settings: width and length #}
{% if terminal is arista.avd.defined %}
!
{%     if terminal.width is arista.avd.defined %}
terminal width {{ terminal.width }}
{%     endif %}
{%     if terminal.length is arista.avd.defined %}
terminal length {{ terminal.length }}
{%     endif %}
{% endif %}
