{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - tunnel interfaces #}
{% for tunnel_interface in tunnel_interfaces | arista.avd.natural_sort('name') %}
!
interface {{ tunnel_interface.name }}
{%     if tunnel_interface.description is arista.avd.defined %}
   description {{ tunnel_interface.description }}
{%     endif %}
{%     if tunnel_interface.shutdown is arista.avd.defined(true) %}
   shutdown
{%     elif tunnel_interface.shutdown is arista.avd.defined(false) %}
   no shutdown
{%     endif %}
{%     if tunnel_interface.mtu is arista.avd.defined %}
   mtu {{ tunnel_interface.mtu }}
{%     endif %}
{%     if tunnel_interface.vrf is arista.avd.defined and tunnel_interface.vrf != 'default' %}
   vrf {{ tunnel_interface.vrf }}
{%     endif %}
{%     if tunnel_interface.ip_address is arista.avd.defined %}
   ip address {{ tunnel_interface.ip_address }}
{%     endif %}
{%     if tunnel_interface.ipv6_enable is arista.avd.defined(true) %}
   ipv6 enable
{%     endif %}
{%     if tunnel_interface.ipv6_address is arista.avd.defined %}
   ipv6 address {{ tunnel_interface.ipv6_address }}
{%     endif %}
{%     if tunnel_interface.access_group_in is arista.avd.defined %}
   ip access-group {{ tunnel_interface.access_group_in }} in
{%     endif %}
{%     if tunnel_interface.access_group_out is arista.avd.defined %}
   ip access-group {{ tunnel_interface.access_group_out }} out
{%     endif %}
{%     if tunnel_interface.ipv6_access_group_in is arista.avd.defined %}
   ipv6 access-group {{ tunnel_interface.ipv6_access_group_in }} in
{%     endif %}
{%     if tunnel_interface.ipv6_access_group_out is arista.avd.defined %}
   ipv6 access-group {{ tunnel_interface.ipv6_access_group_out }} out
{%     endif %}
{%     if tunnel_interface.tcp_mss_ceiling is arista.avd.defined %}
{%         set tcp_mss_ceiling_cli = "tcp mss ceiling" %}
{%         if tunnel_interface.tcp_mss_ceiling.ipv4 is arista.avd.defined %}
{%             set tcp_mss_ceiling_cli = tcp_mss_ceiling_cli ~ " ipv4 " ~ tunnel_interface.tcp_mss_ceiling.ipv4 %}
{%         endif %}
{%         if tunnel_interface.tcp_mss_ceiling.ipv6 is arista.avd.defined %}
{%             set tcp_mss_ceiling_cli = tcp_mss_ceiling_cli ~ " ipv6 " ~ tunnel_interface.tcp_mss_ceiling.ipv6 %}
{%         endif %}
{%         if tunnel_interface.tcp_mss_ceiling.direction is arista.avd.defined %}
{%             set tcp_mss_ceiling_cli = tcp_mss_ceiling_cli ~ " " ~ tunnel_interface.tcp_mss_ceiling.direction %}
{%         endif %}
   {{ tcp_mss_ceiling_cli }}
{%     endif %}
{%     if tunnel_interface.source_interface is arista.avd.defined %}
   tunnel source interface {{ tunnel_interface.source_interface }}
{%     endif %}
{%     if tunnel_interface.destination is arista.avd.defined %}
   tunnel destination {{ tunnel_interface.destination }}
{%     endif %}
{%     if tunnel_interface.path_mtu_discovery is arista.avd.defined(true) %}
   tunnel path-mtu-discovery
{%     endif %}
{%     if tunnel_interface.eos_cli is arista.avd.defined %}
   {{ tunnel_interface.eos_cli | indent(3, false) }}
{%     endif %}
{% endfor %}
