{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# eos - virtual source nat vrfs #}
{% if virtual_source_nat_vrfs is arista.avd.defined %}
!
{%     for vrf in virtual_source_nat_vrfs | arista.avd.natural_sort('name') %}
{%         if vrf.ip_address is arista.avd.defined %}
ip address virtual source-nat vrf {{ vrf.name }} address {{ vrf.ip_address }}
{%         endif %}
{%     endfor %}
{% endif %}
