{# eos - ip virtual router mac #}
{% if ip_virtual_router_mac_address is defined and ip_virtual_router_mac_address is not none %}
!
ip virtual-router mac-address {{ ip_virtual_router_mac_address }}
{% endif %}

