{# eos - VLAN Interfaces #}
{% if vlan_interfaces is defined and vlan_interfaces is not none %}
{%     for vlan_interface in vlan_interfaces | arista.avd.natural_sort %}
interface {{ vlan_interface }}
   description {{ vlan_interfaces[vlan_interface].description }}
{%         if vlan_interfaces[vlan_interface].mtu is defined and vlan_interfaces[vlan_interface].mtu != 1500 %}
   mtu {{ vlan_interfaces[vlan_interface].mtu }}
{%         endif %}
{%         if vlan_interfaces[vlan_interface].no_autostate is defined and vlan_interfaces[vlan_interface].no_autostate == true %}
   no autostate
{%         endif %}
{%         if vlan_interfaces[vlan_interface].vrf is defined %}
   vrf {{ vlan_interfaces[vlan_interface].vrf }}
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ip_address is defined %}
   ip address {{ vlan_interfaces[vlan_interface].ip_address }}
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ip_address_secondary is defined %}
   ip address {{ vlan_interfaces[vlan_interface].ip_address_secondary }} secondary
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ip_virtual_router_address is defined %}
   ip virtual-router address {{ vlan_interfaces[vlan_interface].ip_virtual_router_address }}
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ip_address_virtual is defined %}
   ip address virtual {{ vlan_interfaces[vlan_interface].ip_address_virtual }}
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ip_address_virtual_secondary is defined %}
   ip address virtual {{ vlan_interfaces[vlan_interface].ip_address_virtual_secondary }} secondary
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ospf_network_point_to_point is defined and vlan_interfaces[vlan_interface].ospf_network_point_to_point == true %}
   ip ospf network point-to-point
{%         endif %}
{%         if vlan_interfaces[vlan_interface].ospf_area is defined %}
   ip ospf area {{ vlan_interfaces[vlan_interface].ospf_area }}
{%         endif %}
!
{%     endfor %}
{% endif %}