{# eos - VLANs #}
{% for vlan in vlans | arista.avd.natural_sort %}
!
vlan {{ vlan }}
   name {{ vlans[vlan].name }}
{%     if vlans[vlan].state is arista.avd.defined %}
   state {{ vlans[vlan].state }}
{%     endif %}
{%     for trunk_group in vlans[vlan].trunk_groups | arista.avd.natural_sort %}
   trunk group {{ trunk_group }}
{%     endfor %}
{% endfor %}