mkdocs
mkdocs-material<10
mkdocs-material-extensions
pymdown-extensions
mdx_truly_sane_lists
mike==1.1.2
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-exclude
mkdocs-include-dir-to-nav
mkdocstrings[python]
