{# Point-to-Point Interfaces to OPTIONAL EVPN_CONTROLLER Switches #}
{% if evpn_controller is defined %}
{%      if evpn_controller.defaults.remote_switches_group == "spine" %}
{%          for evpn_controller_node in evpn_controller.nodes | arista.avd.natural_sort %}
{%              if evpn_controller.nodes[evpn_controller_node].remote_switches is defined %}
{%                  set evpn_controller_spines = evpn_controller.nodes[evpn_controller_node].remote_switches %}
{%              else %}
{%                  set evpn_controller_spines = evpn_controller.defaults.remote_switches %}
{%              endif %}
{%              set remote_switches_interfaces = evpn_controller.nodes[evpn_controller_node].nodes[node].remote_switches_interfaces %}
{%              if evpn_controller.nodes[evpn_controller_node].uplink_to_remote_switches is defined %}
{%                  set uplink_to_remote_switches = evpn_controller.nodes[evpn_controller_node].uplink_to_remote_switches %}
{%              else %}
{%                  set uplink_to_remote_switches = evpn_controller.defaults.uplink_to_remote_switches %}
{%              endif %}
{%              if evpn_controller.nodes[evpn_controller_node].p2p_link_interface_speed is defined %}
{%                  set p2p_link_interface_speed = evpn_controller.nodes[evpn_controller_node].p2p_link_interface_speed %}
{%              elif evpn_controller.defaults.spine_interface_speed is defined %}
{%                  set p2p_link_interface_speed = evpn_controller.defaults.p2p_link_interface_speed %}
{%              endif %}
{%              set spine_interfaces = evpn_controller.nodes[evpn_controller_node].remote_switches_interfaces %}
{%              for evpn_controller_spine in evpn_controller_spines %}
{%                  if evpn_controller_spine == inventory_hostname %}
  {{ spine_interfaces[loop.index0] }}:
    peer: {{ evpn_controller_node }}
    peer_interface: {{ uplink_to_remote_switches[loop.index0] }}
    peer_type: evpn_controller
    description: P2P_LINK_TO_{{ evpn_controller_spine | upper }}_{{ uplink_to_remote_switches[loop.index0] }}
{%                      if p2p_link_interface_speed is defined %}
    speed: {{ p2p_link_interface_speed }}
{%                      endif %}
    mtu: {{ p2p_uplinks_mtu }}
    type: routed
    ip_address: {{ evpn_controller_p2p_network_summary | ipaddr('network') | ipmath(((evpn_controller.nodes[evpn_controller_node].id -1) * 2 * spine.nodes | length * max_evpn_controller_to_switch_links ) + loop.index0 * 2) }}/31
{%                      if underlay_routing_protocol == "OSPF" %}
    ospf_network_point_to_point: true
    ospf_area: {{ underlay_ospf_area }}
{%                      endif %}
{%                      if underlay_routing_protocol == "ISIS" %}
    isis_enable: EVPN_UNDERLAY
    isis_metric: 50
    isis_network_point_to_point: true
{%                      endif %}
{%                  endif %}
{%              endfor %}
{%          endfor %}
{%      endif %}
{%  endif %}
