{# Leaf prefix-lists #}
  PL-LOOPBACKS-EVPN-OVERLAY:
    sequence_numbers:
      10:
        action: "permit {{ overlay_loopback_network_summary }} eq 32"
      20:
        action: "permit {{ vtep_loopback_network_summary }} eq 32"
  PL-P2P-UNDERLAY:
    sequence_numbers:
      10:
        action: "permit {{ underlay_p2p_network_summary }} le 31"
{% if leaf.mlag == true %}
      20:
        action: "permit {{ mlag_ips.leaf_peer_l3 }} le 31"
{% endif %}