{# Point-to-Point Interfaces to Leaf Switches #}
{% for l3leaf_node_group in l3leafs.node_groups | natural_sort %}
{%     if l3leafs.node_groups[l3leaf_node_group].spines is defined %}
{%         set leaf_spines = l3leafs.node_groups[l3leaf_node_group].spines %}
{%     else %}
{%         set leaf_spines = l3leafs.defaults.spines %}
{%     endif %}
{%     for node in l3leafs.node_groups[l3leaf_node_group].nodes | natural_sort %}
{%         set spine_interfaces = l3leafs.node_groups[l3leaf_node_group].nodes[node].spine_interfaces %}
{%         if l3leafs.node_groups[l3leaf_node_group].uplink_to_spine_interfaces is defined %}
{%             set uplink_to_spine_interfaces = l3leafs.node_groups[l3leaf_node_group].uplink_to_spine_interfaces %}
{%         else %}
{%             set uplink_to_spine_interfaces = l3leafs.defaults.uplink_to_spine_interfaces %}
{%         endif %}
{%         for leaf_spine in leaf_spines %}
{%             if leaf_spine == inventory_hostname %}
  {{ spine_interfaces[loop.index0] }}:
    description: P2P_UPLINK_TO_{{ node | upper }}_{{ uplink_to_spine_interfaces[loop.index0] }}
    mtu: {{ p2p_uplinks_mtu }}
    type: routed
    ip_address: {{ underlay_p2p_network_summary | ipaddr('network') | ipmath(((l3leafs.node_groups[l3leaf_node_group].nodes[node].id -1) * 2 * spine.nodes | length * max_l3leaf_to_spine_links ) + loop.index0 * 2) }}/31
{%                 if underlay_routing_protocol == "OSPF" %}
    ospf_network_point_to_point: true
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}