{# Overlay Controller router bgp redistribute routes configuration #}
{% if type == "overlay-controller" %}
{%     if switch.underlay_routing_protocol == "ebgp" %}
    connected:
      route_map: RM-CONN-2-BGP
{%     endif %}
{% endif %}
