{# Spine - address family ipv4 activation #}
{% if type == "spine" %}
    peer_groups:
{%     if switch.underlay_routing_protocol == "ebgp" %}
      {{ bgp_peer_groups.IPv4_UNDERLAY_PEERS.name | arista.avd.default("IPv4-UNDERLAY-PEERS") }}:
        activate: true
{%     endif %}
      {{ bgp_peer_groups.EVPN_OVERLAY_PEERS.name | arista.avd.default("EVPN-OVERLAY-PEERS") }}:
        activate: false
{% endif %}
