{#
 Copyright (c) 2023-2024 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{% set ethernet_interfaces_qos = [] %}
{% set port_channel_interfaces_qos = [] %}
{% for ethernet_interface in ethernet_interfaces | arista.avd.natural_sort('name') %}
{%     if ethernet_interface.shape is arista.avd.defined or
          ethernet_interface.qos is arista.avd.defined %}
{%         do ethernet_interfaces_qos.append(ethernet_interface) %}
{%     endif %}
{% endfor %}
{% for port_channel_interface in port_channel_interfaces | arista.avd.natural_sort('name') %}
{%     if port_channel_interface.shape is arista.avd.defined or
          port_channel_interface.qos is arista.avd.defined %}
{%         do port_channel_interfaces_qos.append(port_channel_interface) %}
{%     endif %}
{% endfor %}
{% if qos is arista.avd.defined
       or class_maps.qos is arista.avd.defined
       or policy_maps.qos is arista.avd.defined
       or qos_profiles is arista.avd.defined
       or ethernet_interfaces_qos | length > 0 is arista.avd.defined
       or port_channel_interfaces_qos | length > 0 %}

## Quality Of Service
{## QOS #}
{%     include 'device-doc/qos.j2' %}
{## QOS Class Maps #}
{%     include 'device-doc/class-maps.j2' %}
{## QOS Policy Maps #}
{%     include 'device-doc/policy-maps-qos.j2' %}
{## QOS Profiles #}
{%     include 'device-doc/qos-profiles.j2' %}
{## QOS Interfaces #}
{%     include 'device-doc/qos-interfaces.j2' %}
{% endif %}
