{% if event_handlers is defined and event_handlers is iterable %}
{%     for handler in event_handlers %}
  {{ handler }}:
{%         if event_handlers[handler].action is defined and event_handlers[handler].action_type is defined %}
    action_type: {{ event_handlers[handler].action_type }}
    action: {{ event_handlers[handler].action }}
{%         endif %}
{%         if event_handlers[handler].delay is defined %}
    delay: {{ event_handlers[handler].delay }}
{%         endif %}
{%         if event_handlers[handler].asynchronous is defined and event_handlers[handler].asynchronous == true %}
    asynchronous: event_handlers[handler].asynchronous
{%         endif %}
{%         if event_handlers[handler].trigger is defined %}
    trigger: {{ event_handlers[handler].trigger }}
{%             if event_handlers[handler].regex is defined %}
    regex: {{ event_handlers[handler].regex }}
{%             endif %}
{%         endif %}
{%    endfor %}
{% endif %}