{# NTP Server #}
{% if ntp_servers is defined and ntp_servers is not none %}
  local_interface:
    vrf: {{ mgmt_interface_vrf }}
    interface: {{ mgmt_interface }}
  nodes:
{%     for ntp_server in ntp_servers %}
    - {{ ntp_server }}
{%     endfor %}
{% endif %}