{# spanning-tree #}
{% if switch.spanning_tree_mode is defined %}
  mode: {{ switch.spanning_tree_mode }}
{% endif %}
{% if switch.spanning_tree_priority is defined %}
  priority: {{ switch.spanning_tree_priority }}
{% endif %}