{% if switch.network_services_l3 is arista.avd.defined(true) %}
  peer_groups:
{%     for tenant in network_services_data.tenants %}
{# All peer_groups defined on a host #}
{%         for bgp_peer_group in tenant.bgp_peer_groups | arista.avd.natural_sort('name') %}
{%             do bgp_peer_group.pop("nodes", none) %}
    {{ bgp_peer_group.name }}:
{%             do bgp_peer_group.pop("name") %}
      {{ bgp_peer_group }}
{%         endfor %}
{%     endfor %}
{% endif %}
