{# leaf overlay loopback interface #}
  Loopback0:
    description: EVPN_Overlay_Peering
    shutdown: false
    ip_address: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}/32
{% if underlay_routing_protocol|lower == "ospf" %}
    ospf_area: {{ underlay_ospf_area }}
{% endif %}
{% if underlay_routing_protocol|lower == "isis" %}
    isis_enable: EVPN_UNDERLAY
    isis_passive: true
{% endif %}
