{# Add one blank line after each included template #}
{% if switch.network_services_l2 is arista.avd.defined(true) or
      switch.network_services_l3 is arista.avd.defined(true) %}
{%     set tenants_data = namespace() %}
{%     include 'designs/l3ls-evpn/tenants/logic.j2' %}

{%     if switch.network_services_l2 is arista.avd.defined(true) %}
{%         include 'designs/l3ls-evpn/tenants/vlans.j2' %}

{%         include 'designs/l3ls-evpn/tenants/ip-igmp-snooping.j2' %}

{%     endif %}
{# Only run EVPN/VXLAN templates for VTEPs #}
{%     if switch.vtep is arista.avd.defined(true) %}
{%         include 'designs/l3ls-evpn/tenants/vxlan-interface.j2' %}

{%         include 'designs/l3ls-evpn/tenants/router-bgp.j2' %}

{# Only run L3 related templates for L3 VTEPs #}
{%         if switch.network_services_l3 is arista.avd.defined(true) and
              switch.evpn_services_l2_only is not arista.avd.defined(true) %}
{%             include 'designs/l3ls-evpn/tenants/vrfs.j2' %}

{%             include 'designs/l3ls-evpn/tenants/vlan-interfaces.j2' %}

{%             include 'designs/l3ls-evpn/tenants/static-routes.j2' %}

{%             include 'designs/l3ls-evpn/tenants/ethernet-interfaces.j2' %}

{%             include 'designs/l3ls-evpn/tenants/loopback-interfaces.j2' %}

{%             include 'designs/l3ls-evpn/tenants/route-maps.j2' %}

{%             include 'designs/l3ls-evpn/tenants/virtual-source-nat-vrfs.j2' %}

{%             include 'designs/l3ls-evpn/tenants/ip-virtual-router-mac-address.j2' %}

{%             include 'designs/l3ls-evpn/tenants/eos-cli.j2' %}

{%             include 'designs/l3ls-evpn/tenants/structured-config.j2' %}

{%         endif %}
{%     endif %}
{% endif %}
