{# Route-maps for tenant bgp peers set_ipv4_next_hop parameter #}
route_maps:
{% for tenant in switch.tenants | arista.avd.natural_sort %}
{%     for vrf in switch.tenants[tenant].vrfs | arista.avd.natural_sort %}
{%         for bgp_peer in tenants[tenant].vrfs[vrf].bgp_peers | arista.avd.natural_sort %}
{%             if inventory_hostname in tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].nodes | arista.avd.natural_sort %}
{%                 if tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv4_next_hop is arista.avd.defined or tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv6_next_hop is arista.avd.defined %}
  RM-{{ vrf }}-{{ bgp_peer }}-SET-NEXT-HOP-OUT:
    sequence_numbers:
      10:
        type: permit
        set:
{%                     if tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv4_next_hop is arista.avd.defined %}
          - "ip next-hop {{ tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv4_next_hop }}"
{%                     elif tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv6_next_hop is arista.avd.defined %}
          - "ipv6 next-hop {{ tenants[tenant].vrfs[vrf].bgp_peers[bgp_peer].set_ipv6_next_hop }}"
{%                     endif %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}
