{# Add one blank line after each included template #}
{% if switch.tenants | arista.avd.default([]) | length > 0 %}
router_bgp:
{%     include 'designs/l3ls-evpn/tenants/router-bgp-vrfs.j2' %}

{%     include 'designs/l3ls-evpn/tenants/router-bgp-vlans.j2' %}

{%     include 'designs/l3ls-evpn/tenants/router-bgp-vlan-aware-bundles.j2' %}

{% endif %}
