{# Read any global set structured_config and combine per tenant-vrf structured_config #}
{% set ns = namespace(struct_cfg = struct_cfg | arista.avd.default({})) %}
{% for tenant in switch.tenants | arista.avd.natural_sort %}
{%     for vrf in switch.tenants[tenant].vrfs | arista.avd.natural_sort %}
{%         if tenants[tenant].vrfs[vrf].structured_config is arista.avd.defined %}
{%             set ns.struct_cfg = ns.struct_cfg | combine(tenants[tenant].vrfs[vrf].structured_config, recursive=true, list_merge=custom_structured_configuration_list_merge) %}
{%         endif %}
{%     endfor %}
{% endfor %}
{% if ns.struct_cfg | length > 0 %}
struct_cfg: {{ ns.struct_cfg }}
{% endif %}
