{# tenant vlans #}
vlans:
{% for tenant in switch.tenants | arista.avd.natural_sort %}
{%     for vrf in switch.tenants[tenant].vrfs | arista.avd.natural_sort %}
{# Tenant VLANs w/SVIs #}
{%         for svi in switch.tenants[tenant].vrfs[vrf].svis | arista.avd.natural_sort %}
{%             if svi | int in topology.vlans %}
  {{ svi | int }}:
    tenant: {{ tenant }}
    name: {{ tenants[tenant].vrfs[vrf].svis[svi].name }}
{%             endif %}
{%         endfor %}
{# VLAN for iBGP peering in overlay VRFs #}
{%         if switch.mlag_l3 is arista.avd.defined(true) %}
{%             set configure_mlag_ibgp_peering = tenants[tenant].vrfs[vrf].enable_mlag_ibgp_peering_vrfs | arista.avd.default(
                                                 tenants[tenant].enable_mlag_ibgp_peering_vrfs,
                                                 true) %}
{%             if configure_mlag_ibgp_peering %}
  {{ tenants[tenant].vrfs[vrf].mlag_ibgp_peering_vlan | arista.avd.default(mlag_ibgp_peering_vrfs.base_vlan + (tenants[tenant].vrfs[vrf].vrf_vni - 1)) }}:
    tenant: {{ tenant }}
    name: MLAG_iBGP_{{ vrf }}
    trunk_groups:
      - LEAF_PEER_L3
{%             endif %}
{%         endif %}
{%     endfor %}
{# Tenant L2 VLANs #}
{%     for l2vlan in switch.tenants[tenant].l2vlans | arista.avd.natural_sort %}
{%         if l2vlan | int in topology.vlans %}
  {{ l2vlan | int }}:
    tenant: {{ tenant }}
    name: {{ tenants[tenant].l2vlans[l2vlan].name }}
{%         endif %}
{%     endfor %}
{% endfor %}
