vxlan_tunnel_interface:
{# vxlan-vtep interface #}
  Vxlan1:
    description: {{ inventory_hostname }}_VTEP
    source_interface: Loopback1
{% if switch.mlag is arista.avd.defined(true) %}
    virtual_router:
      encapsulation_mac_address: "mlag-system-id"
{% endif %}
    vxlan_udp_port: 4789
    vxlan_vni_mappings:
      vlans:
{% for tenant in tenants | arista.avd.natural_sort if tenant in switch.filter_tenants or "all" in switch.filter_tenants %}
## {{ tenant }} ##
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if switch.vrfs is not none and vrf in switch.vrfs %}
{%             for svi in tenants[tenant].vrfs[vrf].svis | arista.avd.natural_sort if switch.svis is not none and svi | int in switch.svis %}
{%            set svi_int = svi | int %}
        {{ svi_int }}:
{%                 if tenants[tenant].vrfs[vrf].svis[svi].vni_override is defined %}
          vni: {{ tenants[tenant].vrfs[vrf].svis[svi].vni_override }}
{%                 else %}
          vni: {{ tenants[tenant].mac_vrf_vni_base + svi_int }}
{%                 endif %}
{%             endfor %}
{%         endfor %}
{%     endif %}
{%     if tenants[tenant].l2vlans is defined %}
{%         for l2vlan in tenants[tenant].l2vlans | arista.avd.natural_sort if switch.vlans is not none and l2vlan | int in switch.vlans %}
{%            set l2vlan_int = l2vlan | int %}
        {{ l2vlan_int }}:
{%              if tenants[tenant].l2vlans[l2vlan].vni_override is defined %}
          vni: {{ tenants[tenant].l2vlans[l2vlan].vni_override }}
{%              else %}
          vni: {{ tenants[tenant].mac_vrf_vni_base + l2vlan_int }}
{%              endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
{% if switch.evpn_services_l2_only == false %}
      vrfs:
{%     for tenant in tenants | arista.avd.natural_sort if tenant in switch.filter_tenants or "all" in switch.filter_tenants %}
## {{ tenant }} ##
{%         if tenants[tenant].vrfs is defined %}
{%             for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if switch.vrfs is not none and vrf in switch.vrfs %}
        {{ vrf }}:
          vni: {{ tenants[tenant].vrfs[vrf].vrf_vni }}
{%             endfor %}
{%         endif %}
{%     endfor %}
{% endif %}
