Node Type,Node,Node Interface,Peer Type,Peer Node,Peer Interface,Node Interface Enabled
{% set node_types = node_type_keys | arista.avd.convert_dicts('key') | map(attribute="type") %}
{% for node in groups[fabric_name] | arista.avd.natural_sort %}
{%     set node_hostvars = hostvars[node] %}
{%     if node_hostvars.type | arista.avd.default('undefined') in node_types %}
{%         for ethernet_interface in node_hostvars.ethernet_interfaces | arista.avd.natural_sort %}
{%             set csv_line = [] %}
{%             do csv_line.append(node_hostvars.type) %}
{%             do csv_line.append(node) %}
{%             do csv_line.append(ethernet_interface) %}
{%             do csv_line.append(node_hostvars.ethernet_interfaces[ethernet_interface].peer_type | arista.avd.default("")) %}
{%             do csv_line.append(node_hostvars.ethernet_interfaces[ethernet_interface].peer | arista.avd.default("")) %}
{%             do csv_line.append(node_hostvars.ethernet_interfaces[ethernet_interface].peer_interface | arista.avd.default("")) %}
{%             do csv_line.append(not node_hostvars.ethernet_interfaces[ethernet_interface].shutdown | arista.avd.default(false)) %}
{{ csv_line | join(",") }}
{%         endfor %}
{%     endif %}
{% endfor %}
