{# eos - aaa authorization #}
{% if aaa_authorization is arista.avd.defined %}
{%     if aaa_authorization.serial_console is arista.avd.defined(true) %}
aaa authorization serial-console
{%     endif %}
{%     if aaa_authorization.exec.default is arista.avd.defined %}
aaa authorization exec default {{ aaa_authorization.exec.default }}
{%     endif %}
{%     if aaa_authorization.config_commands is arista.avd.defined(false) %}
no aaa authorization config-commands
{%     endif %}
{%     if aaa_authorization.commands.all_default is arista.avd.defined %}
aaa authorization commands all default {{ aaa_authorization.commands.all_default }}
{%     endif %}
{%     for command_level in aaa_authorization.commands.privilege | arista.avd.natural_sort %}
{%         if command_level.level is arista.avd.defined and command_level.default is arista.avd.defined %}
{%             set commands_privilege_cli = "aaa authorization commands " ~ command_level.level ~ " default " ~ command_level.default %}
{{ commands_privilege_cli }}
{%         endif %}
{%     endfor %}
{% endif %}
