{# eos - ip-extended-community-lists #}
{% for ip_extcommunity_list in ip_extcommunity_lists | arista.avd.natural_sort %}
!
{%     for sequence in ip_extcommunity_lists[ip_extcommunity_list] | arista.avd.default([]) %}
{%         if sequence.type is arista.avd.defined and sequence.extcommunities is arista.avd.defined %}
ip extcommunity-list {{ ip_extcommunity_list }} {{ sequence.type }} {{ sequence.extcommunities }}
{%         endif %}
{%     endfor %}
{% endfor %}
