{# eos - transceiver settings #}
{% if service_unsupported_transceiver.license_name is arista.avd.defined and service_unsupported_transceiver.license_key is arista.avd.defined %}
!
service unsupported-transceiver {{ service_unsupported_transceiver.license_name }} {{ service_unsupported_transceiver.license_key }}
{% endif %}
