{% if management_eapi is defined %}
management_api_http:
  enable_vrfs:
{# Since empty keys will be removed by the merging of structured configs we must set VRF as empty dict #}
    {{ mgmt_interface_vrf }}: {}
{%     if management_eapi.enable_http is defined %}
  enable_http: {{ management_eapi.enable_http | arista.avd.default() }}
{%     endif %}
{%     if management_eapi.enable_https is defined %}
  enable_https: {{ management_eapi.enable_https }}
{%     endif %}
{% endif %}
