{# platform #}
platform:
{% if switch.platform_settings.lag_hardware_only is arista.avd.defined %}
  sand:
    lag:
      hardware_only: {{ switch.platform_settings.lag_hardware_only }}
{% endif %}
{% if switch.platform_settings.trident_forwarding_table_partition is arista.avd.defined and switch.evpn_multicast is arista.avd.defined(true) %}
  trident:
    forwarding_table_partition: {{ switch.platform_settings.trident_forwarding_table_partition }}
{% endif %}
