{% if switch.mpls_overlay_role in ["server", "client"] or (switch.mpls_vpn_gateway.enabled is arista.avd.defined(true) and "vpn-ipv6" in switch.mpls_vpn_gateway.address_families) %}
  address_family_vpn_ipv6:
{%     if switch.mpls_overlay_role == "client" or switch.mpls_vpn_gateway.enabled is arista.avd.defined(true) %}
    neighbor_default_encapsulation_mpls_next_hop_self:
      source_interface: Loopback0
{%     endif %}
    peer_groups:
{%     if switch.mpls_overlay_role in ["server", "client"] %}
      {{ overlay_data.overlay_peer_group_name }}:
        activate: true
{%         if switch.mpls_overlay_role == "server" and overlay_data.mpls_rr_peers is arista.avd.defined %}
      {{ overlay_data.rr_peers_peer_group_name }}:
        activate: true
{%         endif %}
{%     endif %}
{%     if switch.mpls_vpn_gateway.enabled is arista.avd.defined(true) %}
      {{ switch.bgp_peer_groups.mpls_vpn_gateway_overlay_peers.name }}:
        activate: true
{%         if switch.mpls_vpn_gateway.dpath_enabled is arista.avd.defined(true) %}
    domain_identifier: "{{ switch.mpls_vpn_gateway.mpls_vpn_domain_identifier }}"
{%         endif %}
{%     endif %}
{% endif %}
