  address_family_evpn:
{% if switch.overlay.evpn_mpls %}
    neighbor_default:
      encapsulation: mpls
{%     if switch.overlay.ler %}
      next_hop_self_source_interface: Loopback0
{%     endif %}
{% endif %}
    peer_groups:
{% if switch.overlay.evpn_mpls and overlay_data.mpls_overlay_peer_group is arista.avd.defined %}
      {{ overlay_data.mpls_overlay_peer_group.name }}:
{% else %}
      {{ overlay_data.evpn_overlay_peer_group.name }}:
{% endif %}
        activate: true
{% if switch.overlay.vtep %}
        route_map_in: RM-EVPN-SOO-IN
        route_map_out: RM-EVPN-SOO-OUT
{% endif %}
{% if (switch.mpls_overlay_role == "server" or (switch.evpn_role == "server" and switch.overlay.evpn_mpls)) and overlay_data.mpls_rr_peers is arista.avd.defined %}
      {{ overlay_data.rr_peers_peer_group.name }}:
        activate: true
{% endif %}
{% if switch.overlay.vtep and evpn_hostflap_detection is arista.avd.defined %}
    evpn_hostflap_detection:
      window: {{ evpn_hostflap_detection.window | arista.avd.default(180) }}
      threshold: {{ evpn_hostflap_detection.threshold | arista.avd.default(5) }}
      enabled: {{ evpn_hostflap_detection.enabled | arista.avd.default(true) }}
      expiry_timeout: {{ evpn_hostflap_detection.expiry_timeout | arista.avd.default }}
{% endif %}
{% if switch.overlay.vtep and evpn_import_pruning is arista.avd.defined(true) %}
    route:
      import_match_failure_action: discard
{% endif %}
{% if switch.overlay.dpath %}
    domain_identifier: "{{ switch.ipvpn_gateway.evpn_domain_id }}"
{% endif %}
