{% if switch.mpls_overlay_role in ["server", "client"] %}
  address_family_vpn_ipv4:
{%     if switch.mpls_overlay_role == "client" %}
    neighbor_default_encapsulation_mpls_next_hop_self:
      source_interface: Loopback0
{%     endif %}
    peer_groups:
      {{ overlay_data.overlay_peer_group_name }}:
        activate: true
{%     if switch.mpls_overlay_role == "server" and overlay_data.mpls_rr_peers is arista.avd.defined %}
      {{ overlay_data.rr_peers_peer_group_name }}:
        activate: true
{%     endif %}
{% endif %}
