  address_family_rtc:
    peer_groups:
{% if overlay_data.evpn_overlay_peer_group is arista.avd.defined %}
      {{ overlay_data.evpn_overlay_peer_group.name }}:
        activate: true
{%     if switch.evpn_role == "server" or switch.mpls_overlay_role == "server" %}
        default_route_target:
          only: true
{%     endif %}
{% endif %}
{% if overlay_data.mpls_overlay_peer_group is arista.avd.defined %}
      {{ overlay_data.mpls_overlay_peer_group.name }}:
        activate: true
{%     if switch.evpn_role == "server" or switch.mpls_overlay_role == "server" %}
        default_route_target:
          only: true
{%     endif %}
{% endif %}
