  peer_groups:
    {{ overlay_data.overlay_peer_group.name }}:
{% if switch.mpls_overlay_role in ["server", "client"] %}
      type: mpls
{% else %}
      type: evpn
{% endif %}
      update_source: Loopback0
      remote_as: "{{ switch.bgp_as }}"
      bfd: true
{% if overlay_data.overlay_peer_group.password is arista.avd.defined %}
      password: "{{ overlay_data.overlay_peer_group.password }}"
{% endif %}
      send_community: all
      maximum_routes: 0
{% if switch.evpn_role == "server" or switch.mpls_overlay_role == "server" %}
      route_reflector_client: true
{% endif %}
      struct_cfg: {{ overlay_data.overlay_peer_group.structured_config | arista.avd.default }}
{% if switch.mpls_overlay_role == "server" and overlay_data.mpls_rr_peers is arista.avd.defined %}
    {{ overlay_data.rr_peers_peer_group.name }}:
      type: mpls
      update_source: Loopback0
      remote_as: "{{ bgp_as }}"
      bfd: true
{%     if overlay_data.rr_peers_peer_group.password is arista.avd.defined %}
      password: "{{ overlay_data.rr_peers_peer_group.password }}"
      send_community: all
      maximum_routes: 0
{%     endif %}
      struct_cfg: {{ overlay_data.rr_peers_peer_group.structured_config | arista.avd.default }}
{% endif %}
{% if switch.mpls_vpn_gateway.enabled is arista.avd.defined(true) %}
    {{ switch.bgp_peer_groups.mpls_vpn_gateway_overlay_peers.name }}:
      type: mpls-vpn
      update_source: {{ switch.mpls_vpn_gateway.mpls_tunnel_source }}
      bfd: true
      ebgp_multihop: "{{ mpls_vpn_gateway_ebgp_multihop }}"
{%     if switch.bgp_peer_groups.mpls_vpn_gateway_overlay_peers.password is arista.avd.defined %}
      password: {{ switch.bgp_peer_groups.mpls_vpn_gateway_overlay_peers.password }}
{%     endif %}
      send_community: all
      maximum_routes: {{ switch.mpls_vpn_gateway.maximum_routes }}
{%     if switch.mpls_vpn_gateway.local_as is arista.avd.defined %}
      local_as: {{ switch.mpls_vpn_gateway.local_as }}
{%     endif %}
{% endif %}
