# Testing BGP encryption and Decryption

## Neighbor IP {{ neighbor_ip }}

* Encrypt password "{{ clear_password }}": "{{ clear_password | encrypt(passwd_type='bgp', key=neighbor_ip) }}"
* Decrypt password "{{ neighbor_encrypted_password }}": "{{ neighbor_encrypted_password | decrypt(passwd_type='bgp', key=neighbor_ip) }}"

## Peer group {{ peer_group }}

* Encrypt password "{{ clear_password }}": "{{ clear_password | encrypt(passwd_type='bgp', key=peer_group) }}"
* Decrypt password "{{ peer_group_encrypted_password }}": "{{ peer_group_encrypted_password | decrypt(passwd_type='bgp', key=peer_group) }}"
