{# Leaf tenant vlans #}
{% for tenant in tenants | natural_sort %}
## {{ tenant }} ##
{%     for vrf in tenants[tenant].vrfs | natural_sort %}
{%         if leaf.mlag == true and type == "l3leaf" %}
  {{ mlag_ibgp_peering_vrfs.base_vlan + (tenants[tenant].vrfs[vrf].id - 1) }}:
    tenant: {{ tenant }}
    name: MLAG_iBGP_{{ vrf }}
    trunk_groups:
      - LEAF_PEER_L3
{%         endif %}
{%         for svi in tenants[tenant].vrfs[vrf].svis | natural_sort %}
  {{ svi }}:
    tenant: {{ tenant }}
    name: {{ tenants[tenant].vrfs[vrf].svis[svi].name }}
{%         endfor %}
{%     endfor %}
{% endfor %}