{# Leaf mlag interfaces #}
{% if leaf.mlag == true %}
## mlag interfaces ##
{%     for mlag_interface in leaf.mlag_interfaces %}
  {{ mlag_interface }}:
    peer: {{ leaf.mlag_peer }}
    peer_interface: {{ mlag_interface }}
    peer_type: mlag_peer
    description: MLAG_PEER_{{ leaf.mlag_peer }}_{{ mlag_interface }}
    channel_group:
      id: {{ leaf.mlag_interfaces[0] | regex_findall("\d") | join }}
      mode: active
{%     endfor %}
{% endif %}