{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# Custom template generating extra yaml data which will be merged onto the eos_designs generated vars #}
custom_template2_list:
  - custom_template2_item
custom_template2_none_var: {# Nothing here on purpose. Means "null" #}
