{{ switch.uplink_ipv4_pool | ansible.utils.ipaddr('network') | ansible.utils.ipmath(((switch.id -1) * 2 * switch.max_uplink_switches * switch.max_parallel_uplinks) + (uplink_switch_index) * 2 + ip_offset_20) }}
