# {{ inventory_hostname }}

# Table of Contents

- [Management](#management)
  - [Management Interfaces](#management-interfaces)
  - [DNS Domain](#dns-domain)
  - [Name Servers](#name-servers)
  - [Domain Lookup](#domain-lookup)
  - [NTP](#ntp)
  - [Management SSH](#management-ssh)
  - [Management GNMI](#management-api-gnmi)
  - [Management API](#Management-api-http)
- [Authentication](#authentication)
  - [Local Users](#local-users)
  - [TACACS Servers](#tacacs-servers)
  - [IP TACACS Source Interfaces](#ip-tacacs-source-interfaces)
  - [RADIUS Servers](#radius-servers)
  - [AAA Server Groups](#aaa-server-groups)
  - [AAA Authentication](#aaa-authentication)
  - [AAA Authorization](#aaa-authorization)
  - [AAA Accounting](#aaa-accounting)
- [Management Security](#management-security)
- [Aliases](#aliases)
- [Monitoring](#monitoring)
  - [TerminAttr Daemon](#terminattr-daemon)
  - [Logging](#logging)
  - [SNMP](#snmp)
  - [SFlow](#sflow)
  - [Hardware Counters](#hardware-counters)
  - [VM Tracer Sessions](#vm-tracer-sessions)
  - [Event Handler](#event-handler)
- [MLAG](#mlag)
- [Spanning Tree](#spanning-tree)
- [Internal VLAN Allocation Policy](#internal-vlan-allocation-policy)
- [VLANs](#vlans)
- [Interfaces](#interfaces)
  - [Ethernet Interfaces](#ethernet-interfaces)
  - [Port-Channel Interfaces](#port-channel-interfaces)
  - [Loopback Interfaces](#loopback-interfaces)
  - [VLAN Interfaces](#vlan-interfaces)
  - [VXLAN Interface](#vxlan-interface)
- [Routing](#routing)
  - [Virtual Router MAC Address](#virtual-router-mac-address)
  - [IP Routing](#ip-routing)
  - [IPv6 Routing](#ipv6-routing)
  - [Static Routes](#static-routes)
  - [IPv6 Static Routes](#ipv6-static-routes)
  - [Router ISIS](#router-isis)
  - [Router BGP](#router-bgp)
  - [Router BFD](#router-bfd)
- [Multicast](#multicast)
  - [IP IGMP Snooping](#ip-igmp-snooping)
  - [Router Multicast](#router-multicast)
  - [Router PIM Sparse Mode](#router-pim-sparse-mode)
- [Filters](#filters)
  - [Community-lists](#community-lists)
  - [Peer Filters](#peer-filters)
  - [Prefix-lists](#prefix-lists)
  - [IPv6 Prefix-lists](#ipv6-prefix-lists)
  - [Route-maps](#route-maps)
  - [IP Extended Communities](#ip-extended-communities)
- [ACL](#acl)
  - [Standard Access-lists](#standard-access-lists)
  - [Extended Access-lists](#extended-access-lists)
  - [IPv6 Standard Access-lists](#ipv6-standard-access-lists)
  - [IPv6 Extended Access-lists](#ipv6-extended-access-lists)
- [VRF Instances](#vrf-instances)
- [Virtual Source NAT](#virtual-source-nat)
- [Platform](#platform)
- [Router L2 VPN](#router-l2-vpn)
- [IP DHCP Relay](#ip-dhcp-relay)

# Management

## Management Interfaces

{% include 'documentation/management-interfaces.j2' %}

## DNS Domain

{% include 'documentation/dns-domain.j2' %}

## Domain-list

{% include 'documentation/domain-list.j2' %}

## Name Servers

{% include 'documentation/name-servers.j2' %}

## Domain Lookup

{% include 'documentation/domain-lookup.j2' %}

## NTP

{% include 'documentation/ntp-servers.j2' %}

## Management SSH

{% include 'documentation/management-ssh.j2' %}

## Management API GNMI

{% include 'documentation/management-api-gnmi.j2' %}

## Management API HTTP

{% include 'documentation/management-api-http.j2' %}

# Authentication

## Local Users

{% include 'documentation/local-users.j2' %}

## TACACS Servers

{% include 'documentation/tacacs-servers.j2' %}

## IP TACACS Source Interfaces

{% include 'documentation/ip-tacacs-source-interfaces.j2' %}

## RADIUS Servers

{% include 'documentation/radius-servers.j2' %}

## AAA Server Groups

{% include 'documentation/aaa-server-groups.j2' %}

## AAA Authentication

{% include 'documentation/aaa-authentication.j2' %}

## AAA Authorization

{% include 'documentation/aaa-authorization.j2' %}

## AAA Accounting

{% include 'documentation/aaa-accounting.j2' %}

# Management Security

{% include 'documentation/management-security.j2' %}

# Aliases

{% include 'documentation/aliases.j2' %}

# Monitoring

## TerminAttr Daemon

{% include 'documentation/daemon-terminattr.j2' %}

## Logging

{% include 'documentation/logging.j2' %}

## SNMP

{% include 'documentation/snmp-settings.j2' %}

## SFlow

{% include 'documentation/sflow.j2' %}

## Hardware Counters

{% include 'documentation/hardware-counters.j2' %}

## VM Tracer Sessions

{% include 'documentation/vmtracer-sessions.j2' %}

## Event Handler

{% include 'documentation/event-handler.j2' %}

# MLAG

{% include 'documentation/mlag-configuration.j2' %}

# Spanning Tree

{% include 'documentation/spanning-tree.j2' %}

# Internal VLAN Allocation Policy

{% include 'documentation/vlan-internal-order.j2' %}

# VLANs

{% include 'documentation/vlans.j2' %}

# Interfaces

## Ethernet Interfaces

{% include 'documentation/ethernet-interfaces.j2' %}

## Port-Channel Interfaces

{% include 'documentation/port-channel-interfaces.j2' %}

## Loopback Interfaces

{% include 'documentation/loopback-interfaces.j2' %}

## VLAN Interfaces

{% include 'documentation/vlan-interfaces.j2' %}

## VXLAN Interface

{% include 'documentation/vxlan-interface.j2' %}

# Routing

## Virtual Router MAC Address

{% include 'documentation/virtual-router-mac-address.j2' %}

## IP Routing

{% include 'documentation/ip-routing.j2' %}

## IPv6 Routing

{% include 'documentation/ipv6-routing.j2' %}

## Static Routes

{% include 'documentation/static-routes.j2' %}

## IPv6 Static Routes

{% include 'documentation/ipv6-static-routes.j2' %}

## Router ISIS

{% include 'documentation/router-isis.j2' %}

## Router BGP

{% include 'documentation/router-bgp.j2' %}

## Router BFD

{% include 'documentation/router-bfd.j2' %}

# Multicast

## IP IGMP Snooping

{% include 'documentation/ip-igmp-snooping.j2' %}

## Router Multicast

{% include 'documentation/router-multicast.j2' %}

## Router PIM Sparse Mode

{% include 'documentation/router-pim-sparse-mode.j2' %}

# Filters

## Community-lists

{% include 'documentation/community-lists.j2' %}

## Peer Filters

{% include 'documentation/peer-filters.j2' %}

## Prefix-lists

{% include 'documentation/prefix-lists.j2' %}

## IPv6 Prefix-lists

{% include 'documentation/ipv6-prefix-lists.j2' %}

## Route-maps

{% include 'documentation/route-maps.j2' %}

## IP Extended Communities

{% include 'documentation/ip-extended-communities.j2' %}

# ACL

## Standard Access-lists

{% include 'documentation/standard-access-lists.j2' %}

## Extended Access-lists

{% include 'documentation/access-lists.j2' %}

## IPv6 Standard Access-lists

{% include 'documentation/ipv6-standard-access-lists.j2' %}

## IPv6 Extended Access-lists

{% include 'documentation/ipv6-access-lists.j2' %}

# VRF Instances

{% include 'documentation/vrf-instances.j2' %}

# Virtual Source NAT

{% include 'documentation/virtual-source-nat.j2' %}

# Platform

{% include 'documentation/platform.j2' %}

# Router L2 VPN

{% include 'documentation/router-l2-vpn.j2' %}

# IP DHCP Relay

{% include 'documentation/ip-dhcp-relay.j2' %}

# Custom Templates

{% include 'documentation/custom-templates.j2' %}
