{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
{# context used to hide password and keys #}
{% set hide_passwords = eos_cli_config_gen_documentation.hide_passwords | arista.avd.default(true) %}
# {{ hostname | arista.avd.default(inventory_hostname) }}

## Table of Contents

<!-- toc -->
<!-- toc -->
{# Management #}
{% include 'documentation/management.j2' %}
{# CVX #}
{% include 'documentation/cvx.j2' %}
{# Authentication #}
{% include 'documentation/authentication.j2' %}
{# Address Locking #}
{% include 'documentation/address-locking.j2' %}
{# Management Security #}
{% include 'documentation/management-security.j2' %}
{# Prompt #}
{% include 'documentation/prompt.j2' %}
{# Aliases #}
{% include 'documentation/aliases.j2' %}
{# DHCP Relay #}
{% include 'documentation/dhcp-relay.j2' %}
{# DHCP Server #}
{% include 'documentation/dhcp-server.j2' %}
{# System Boot Configuration #}
{% include 'documentation/boot.j2' %}
{# Monitoring #}
{% include 'documentation/monitoring.j2' %}
{# Monitor Connectivity #}
{% include 'documentation/monitor-connectivity.j2' %}
{# Hardware TCAM Profile #}
{% include 'documentation/tcam-profile.j2' %}
{# Link Tracking Groups #}
{% include 'documentation/link-tracking-groups.j2' %}
{# MLAG #}
{% include 'documentation/mlag-configuration.j2' %}
{# LLDP #}
{% include 'documentation/lldp.j2' %}
{# L2 Protocol forwarding #}
{% include 'documentation/l2-protocol-forwarding.j2' %}
{# LACP #}
{% include 'documentation/lacp.j2' %}
{# Spanning Tree #}
{% include 'documentation/spanning-tree.j2' %}
{# Internal VLAN Allocation Policy #}
{% include 'documentation/vlan-internal-order.j2' %}
{# VLANs #}
{% include 'documentation/vlans.j2' %}
{# Mac address-table #}
{% include 'documentation/mac-address-table.j2' %}
{# IP Security #}
{% include 'documentation/ip-security.j2' %}
{# Interfaces #}
{% include 'documentation/interfaces.j2' %}
{# Routing #}
{% include 'documentation/routing.j2' %}
{# BFD #}
{% include 'documentation/bfd.j2' %}
{# MPLS #}
{% include 'documentation/mpls.j2' %}
{# Patch Panel #}
{% include 'documentation/patch-panel.j2' %}
{# Multicast #}
{% include 'documentation/multicast.j2' %}
{# Filters #}
{% include 'documentation/filters.j2' %}
{# dot1x #}
{% include 'documentation/dot1x.j2' %}
{# poe #}
{% include 'documentation/poe.j2' %}
{# ACL #}
{% include 'documentation/acl.j2' %}
{# VRF Instances #}
{% include 'documentation/vrfs.j2' %}
{# Virtual Source NAT #}
{% include 'documentation/virtual-source-nat-vrfs.j2' %}
{# Platform #}
{% include 'documentation/platform.j2' %}
{# System L1 #}
{% include 'documentation/system-l1.j2' %}
{# Router path-selection #}
{% include 'documentation/router-path-selection.j2' %}
{# Router L2 VPN #}
{% include 'documentation/router-l2-vpn.j2' %}
{# IP DHCP Relay #}
{% include 'documentation/ip-dhcp-relay.j2' %}
{# IP DHCP Snooping #}
{% include 'documentation/ip-dhcp-snooping.j2' %}
{# IP NAT #}
{% include 'documentation/ip-nat.j2' %}
{# Errdisable #}
{% include 'documentation/errdisable.j2' %}
{# MACsec #}
{% include 'documentation/mac-security.j2' %}
{# Traffic Policies #}
{% include 'documentation/traffic-policies.j2' %}
{# Quality Of Service #}
{% include 'documentation/quality-of-service.j2' %}
{# Priority Flow Control #}
{% include 'documentation/priority-flow-control.j2' %}
{# STUN #}
{% include 'documentation/stun.j2' %}
{# Maintenance Mode #}
{% include 'documentation/maintenance-mode.j2' %}
{# EOS CLI #}
{% include 'documentation/eos-cli.j2' %}
{# Custom Templates #}
{% include 'documentation/custom-templates.j2' %}
