# {{ inventory_hostname }}

## Table of Contents

- [Management Interfaces](#management-interfaces)  
- [Hardware Counters](#hardware-counters)  
- [Aliases](#aliases)  
- [TerminAttr Daemon](#terminattr-daemon)  
- [IP DHCP Relay](#ip-dhcp-relay)  
- [Internal VLAN allocation Policy](#internal-vlan-allocation-policy)  
- [IP IGMP Snooping](#ip-igmp-snooping)  
- [Logging](#logging)  
- [Domain Lookup](#domain-lookup)  
- [Name Servers](#name-servers)  
- [DNS Domain](#dns-domain)  
- [NTP](#ntp)  
- [Router L2 VPN](#router-l2-vpn)  
- [SFlow](#sflow)  
- [Spanning Tree](#spanning-tree)  
- [TACACS servers](#tacacs-servers)  
- [IP TACACS source interfaces](#ip-tacacs-source-interfaces)  
- [AAA server groups](#aaa-server-groups)  
- [AAA Authentication](#aaa-authentication)  
- [AAA Authorization](#aaa-authorization)  
- [AAA Accounting](#aaa-accounting)  
- [Local Users](#local-users)  
- [VLANs](#vlans)  
- [VRF Instances](#vrf-instances)  
- [Port-Channel Interfaces](#port-channel-interfaces)  
- [Ethernet Interfaces](#ethernet-interfaces)  
- [Loopback Interfaces](#loopback-interfaces)  
- [VLAN Interfaces](#vlan-interfaces)  
- [VXLAN Interface](#vxlan-interface)  
- [Virtual Router MAC Address & Virtual Source NAT](#virtual-router-mac-address-virtual-source-nat)  
- [IPv6 Extended Access-lists](#ipv6-extended-access-lists)  
- [IPv6 Standard Access-lists](#ipv6-standard-access-lists)  
- [Extended Access-lists](#extended-access-lists)  
- [Standard Access-lists](#standard-access-lists)  
- [Static Routes](#static-routes)  
- [Event Handler](#event-handler)  
- [IP Routing](#ip-routing)  
- [Prefix Lists](#prefix-lists)  
- [IPv6 Prefix Lists](#ipv6-prefix-lists)  
- [IPv6 Routing](#ipv6-routing)  
- [MLAG](#mlag)  
- [Community Lists](#community-lists)  
- [Route Maps](#route-maps)  
- [Peer Filters](#peer-filters)  
- [Router BFD](#router-bfd)  
- [Router BGP](#router-bgp)  
- [Router Multicast](#router-multicast)  
- [Router PIM Sparse Mode](#router-pim-sparse-mode)  
- [VM Tracer Sessions](#vm-tracer-sessions)  
- [Management Security](#management-security)  
- [Platform](#platform)  
- [Router ISIS](#router-isis)  

## Management Interfaces
{% include 'documentation/management-interfaces.j2' %}

## Hardware Counters
{% include 'documentation/hardware-counters.j2' %}

## Aliases
{% include 'documentation/aliases.j2' %}

## TerminAttr Daemon

{% include 'documentation/daemon-terminattr.j2' %}

## IP DHCP Relay

{% include 'documentation/ip-dhcp-relay.j2' %}

## Internal VLAN allocation Policy

{% include 'documentation/vlan-internal-order.j2' %}

## IP IGMP Snooping

{% include 'documentation/ip-igmp-snooping.j2' %}

## Logging

{% include 'documentation/logging.j2' %}

## Domain Lookup

{% include 'documentation/domain-lookup.j2' %}

## Name Servers

{% include 'documentation/name-servers.j2' %}

## DNS Domain

{% include 'documentation/dns-domain.j2' %}

## NTP

{% include 'documentation/ntp-servers.j2' %}

## Router L2 VPN

{% include 'documentation/router-l2-vpn.j2' %}

## SFlow

{% include 'documentation/sflow.j2' %}

## Spanning Tree

{% include 'documentation/spanning-tree.j2' %}

## TACACS servers

{% include 'documentation/tacacs-servers.j2' %}

## IP TACACS source interfaces

{% include 'documentation/ip-tacacs-source-interfaces.j2' %}

## AAA server groups

{% include 'documentation/aaa-server-groups.j2' %}

## AAA Authentication

{% include 'documentation/aaa-authentication.j2' %}

## AAA Authorization

{% include 'documentation/aaa-authorization.j2' %}

## AAA Accounting

{% include 'documentation/aaa-accounting.j2' %}

## Local Users

{% include 'documentation/local-users.j2' %}

## VLANs

{% include 'documentation/vlans.j2' %}

## VRF Instances

{% include 'documentation/vrf-instances.j2' %}

## Port-Channel Interfaces

{% include 'documentation/port-channel-interfaces.j2' %}

## Ethernet Interfaces

{% include 'documentation/ethernet-interfaces.j2' %}

## Loopback Interfaces

{% include 'documentation/loopback-interfaces.j2' %}

## VLAN Interfaces

{% include 'documentation/vlan-interfaces.j2' %}

## VXLAN Interface

{% include 'documentation/vxlan-interface.j2' %}

## Virtual Router MAC Address & Virtual Source NAT

{% include 'documentation/virtual-router-mac-address-virtual-source-nat.j2' %}

## IPv6 Extended Access-lists

{% include 'documentation/ipv6-access-lists.j2' %}

## IPv6 Standard Access-lists

{% include 'documentation/ipv6-standard-access-lists.j2' %}

## Extended Access-lists

{% include 'documentation/access-lists.j2' %}

## Standard Access-lists

{% include 'documentation/standard-access-lists.j2' %}

## Static Routes

{% include 'documentation/static-routes.j2' %}

## Event Handler

{% include 'documentation/event-handler.j2' %}

## IP Routing

{% include 'documentation/ip-routing.j2' %}

## Prefix Lists

{% include 'documentation/prefix-lists.j2' %}

## IPv6 Prefix Lists

{% include 'documentation/ipv6-prefix-lists.j2' %}

## IPv6 Routing

{% include 'documentation/ipv6-routing.j2' %}

## MLAG

{% include 'documentation/mlag-configuration.j2' %}

## Community Lists

{% include 'documentation/community-lists.j2' %}

## Route Maps

{% include 'documentation/route-maps.j2' %}

## Peer Filters

{% include 'documentation/peer-filters.j2' %}

## Router BFD

{% include 'documentation/router-bfd.j2' %}

## Router BGP

{% include 'documentation/router-bgp.j2' %}

## Router Multicast

{% include 'documentation/router-multicast.j2' %}

## Router PIM Sparse Mode

{% include 'documentation/router-pim-sparse-mode.j2' %}

## VM Tracer Sessions

{% include 'documentation/vmtracer-sessions.j2' %}

## Management Security

{% include 'documentation/management-security.j2' %}

## Platform

{% include 'documentation/platform.j2' %}

## Router ISIS

{% include 'documentation/router-isis.j2' %}
