{# Leaf underlay and overlay router bgp configuration #}
{% if type == "l3leaf" %}
  as: {{ leaf.bgp_as }}
  router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(leaf.id + spine.nodes | length) }}
  bgp_defaults:
{%     for bgp_default in leaf_bgp_defaults %}
    - {{ bgp_default }}
{%     endfor %}
{%     if switch.overlay_routing_protocol == "ebgp"  %}
{%         if bgp_maximum_paths is defined and bgp_maximum_paths is not none and bgp_ecmp is defined and bgp_ecmp is not none %}
    - maximum-paths {{ bgp_maximum_paths }} ecmp {{ bgp_ecmp }}
{%         elif bgp_maximum_paths is defined and bgp_maximum_paths is not none %}
    - maximum-paths {{ bgp_maximum_paths }}
{%         else %}
    - maximum-paths {{ spine.nodes | length }} ecmp {{ spine.nodes | length }}
{%         endif %}
{%     endif %}
{% endif %}