{# Leaf underlay router bgp neighbors configuration #}
{%     if switch.underlay_routing_protocol == "ebgp"  and underlay_rfc5549 is arista.avd.defined(true) %}
{%     if leaf.mlag == true %}
      rfc5549_links: {{ leaf.uplink_to_spine_interfaces + ["Vlan4093"] }}
{%     else %}
      rfc5549_links: {{ leaf.uplink_to_spine_interfaces }}
{%     endif %}
      peer_group: IPv4-UNDERLAY-PEERS
      remote_as: {{ spine.bgp_as }}
{%     endif %}
