{# Leaf prefix-lists #}
{% if switch.underlay_routing_protocol == "ebgp" %}
  PL-LOOPBACKS-EVPN-OVERLAY:
    sequence_numbers:
      10:
        action: "permit {{ overlay_loopback_network_summary }} eq 32"
      20:
        action: "permit {{ vtep_loopback_network_summary }} eq 32"
{%     if vtep_vvtep_ip is defined and vtep_vvtep_ip is not none and leaf.evpn_services_l2_only == false %}
      30:
        action: "permit {{ vtep_vvtep_ip }}"
{%     endif %}
{%     if l2leaf_inband_management_subnet is defined and l2leaf_inband_management_subnet is not none %}
  PL-L2LEAF-INBAND-MGMT:
    sequence_numbers:
      10:
        action: "permit {{ l2leaf_inband_management_subnet }}"
{%     endif %}
{% endif %}
