{# Leaf underlay and overlay router bgp peer groups configuration #}
{% if type == "l3leaf" %}
{# Underlay network peering #}
{%     if switch.underlay_routing_protocol == "ebgp" %}
    IPv4-UNDERLAY-PEERS:
      type: ipv4
      remote_as: {{ spine.bgp_as }}
      password: "{{ bgp_peer_groups.IPv4_UNDERLAY_PEERS.password }}"
      maximum_routes: 12000
      send_community: true
{# MLAG iBGP peering #}
{%         if leaf.mlag == true %}
    MLAG-IPv4-UNDERLAY-PEER:
      type: ipv4
      remote_as: {{ leaf.bgp_as }}
      next_hop_self: true
      password: "{{ bgp_peer_groups.MLAG_IPv4_UNDERLAY_PEER.password }}"
      maximum_routes: 12000
      send_community: true
{%         endif %}
{%     endif %}
{# Overlay network peering #}
    EVPN-OVERLAY-PEERS:
      type: evpn
{% if bgp_as is defined %}
      remote_as: {{ bgp_as }}
{% else %}
      remote_as: {{ spine.bgp_as }}
{% endif %}
      update_source: Loopback0
      bfd: true
      ebgp_multihop: 3
      password: "{{ bgp_peer_groups.EVPN_OVERLAY_PEERS.password }}"
      send_community: true
      maximum_routes: 0
{% endif %}
