{# Overlay Controller router bgp neighbors configuration #}
{% if type == "overlay-controller" %}
{# EBGP #}
{## Underlay network peering #}
{%     if switch.underlay_routing_protocol == "ebgp" %}

{%         for uplink_to_remote_switches in switch.uplink_to_remote_switches %}
    {{ overlay_controller_p2p_network_summary | ipaddr('network') | ipmath(((switch.id -1) * 2 * overlay_controller.nodes | length * max_overlay_controller_to_switch_links ) + loop.index0 * 2) }}:
      peer_group: IPv4-UNDERLAY-PEERS
{%         endfor %}
{%     endif %}
{# Overlay network peerings based on evpn_overlay_controller variable #}
{%     for evpn_overlay_peer in switch.evpn_overlay_peers %}
    {{ evpn_overlay_peer.ip }}:
      peer_group: EVPN-OVERLAY-PEERS
      description: {{ evpn_overlay_peer.description }}
      remote_as: {{ evpn_overlay_peer.bgp_as }}
{%     endfor %}
{% endif %}
