{# Overlay Controller router bgp neighbors configuration #}
{# EBGP #}
{## Underlay network peering #}
{% if switch.underlay_routing_protocol == "ebgp" %}
{%     for uplink_to_remote_switches in switch.uplink_to_remote_switches %}
    {{ overlay_controller_p2p_network_summary | ipaddr('network') | ipmath(((switch.id -1) * overlay_controller.nodes | length * max_overlay_controller_to_switch_links ) + loop.index0 * 2) }}:
      peer_group: IPv4-UNDERLAY-PEERS
      description: {{ switch.remote_switches[loop.index0] }}
      remote_as: {{ switch.remote_switches_asn[loop.index0] }}
{%         if overlay_controller_p2p_bfd is arista.avd.defined(true) %}
      bfd: true
{%         endif %}
{%     endfor %}
{% endif %}
