{# Overlay Controller router bgp base configuration #}
{% if type == "overlay-controller" %}
  as: {{ switch.bgp_as }}
  router_id: {{ overlay_controller_loopback_network_summary | ipaddr('network') | ipmath(switch.id) }}
  bgp_defaults:
{%     for bgp_default in overlay_controller_bgp_defaults %}
    - {{ bgp_default }}
{%     endfor %}
{%     if bgp_maximum_paths is defined and bgp_maximum_paths is not none and bgp_ecmp is defined and bgp_ecmp is not none %}
    - maximum-paths {{ bgp_maximum_paths }} ecmp {{ bgp_ecmp }}
{%     elif bgp_maximum_paths is defined and bgp_maximum_paths is not none %}
    - maximum-paths {{ bgp_maximum_paths }}
{%     else %}
    - maximum-paths {{ switch.remote_switches_interfaces | length }} ecmp {{ switch.remote_switches_interfaces | length }}
{%     endif %}
{% endif%}
