{# Spine router bgp base configuration whith EBGP #}
{% if type == "spine" %}
{%     if ( underlay_routing_protocol|upper == "BGP" or underlay_routing_protocol|upper == "EBGP" ) %}
  as: {{ spine.bgp_as }}
  router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(spine.nodes[inventory_hostname].id) }}
  bgp_defaults:
{%         for bgp_default in spine_bgp_defaults %}
    - {{ bgp_default }}
{%         endfor %}
    - maximum-paths {{ spine.nodes | length }} ecmp {{ spine.nodes | length }}
{# Spine router bgp base configuration when IBGP route-reflector in the overlay #}
{%     elif ( overlay_routing_protocol|upper == "IBGP" and switch.bgp_route_reflector == true ) %}
  as: {{ bgp_as }}
  router_id: {{ overlay_loopback_network_summary | ipaddr('network') | ipmath(spine.nodes[inventory_hostname].id) }}
  bgp_defaults:
{%         for bgp_default in spine_bgp_defaults %}
    - {{ bgp_default }}
{%         endfor %}
    - maximum-paths {{ spine.nodes | length }} ecmp {{ spine.nodes | length }}
  bgp_cluster_id: {{ overlay_loopback_network_summary  | ipaddr('network') | ipmath(spine.nodes[inventory_hostname].id) }}
{%     endif %}
{% endif %}