{## Underlay network peering to Overlay Controllers #}
{% if overlay_controller is defined and switch.underlay_routing_protocol == "ebgp" %}
{%     for overlay_controller_node in overlay_controller.nodes | arista.avd.natural_sort %}
{%         set overlay_controller_remote_switches = overlay_controller.nodes[overlay_controller_node].remote_switches | arista.avd.default( overlay_controller.defaults.remote_switches ) %}
{%         for overlay_controller_remote_switch in overlay_controller_remote_switches %}
{%             if overlay_controller_remote_switch == inventory_hostname %}
    {{ overlay_controller_p2p_network_summary | ipaddr('network') | ipmath(((overlay_controller.nodes[overlay_controller_node].id -1) * overlay_controller_remote_switches | length * max_overlay_controller_to_switch_links ) + loop.index0 * 2 + 1) }}:
      peer_group: IPv4-UNDERLAY-PEERS
      description: {{ overlay_controller_node }}
      remote_as: {{ overlay_controller.nodes[overlay_controller_node].bgp_as | arista.avd.default( overlay_controller.defaults.bgp_as ) }}
{%                 if overlay_controller_p2p_bfd is arista.avd.defined(true) %}
      bfd: true
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
