{# router bgp configuration #}
  as: {{ switch.bgp_as }}
  router_id: {{ switch.router_id }}
  bgp_defaults:
{% for bgp_default in switch.bgp_defaults %}
    - {{ bgp_default }}
{% endfor %}
{% if bgp_maximum_paths is arista.avd.defined and bgp_ecmp is arista.avd.defined %}
    - maximum-paths {{ bgp_maximum_paths }} ecmp {{ bgp_ecmp }}
{% elif bgp_maximum_paths is arista.avd.defined %}
    - maximum-paths {{ bgp_maximum_paths }}
{% endif %}
{% if switch.overlay_routing_protocol == "ibgp" and switch.evpn_role == "server" %}
  bgp_cluster_id: {{ switch.router_id }}
{% endif %}
{% if underlay_rfc5549 is arista.avd.defined(true) and switch.evpn_role == "server" %}
  bgp_listen_ranges:
    "fe80::/10":
      peer_group: "EVPN-OVERLAY-PEERS"
      peer_filter: "PF_LEAFS"
    {{ overlay_loopback_network_summary }}:
      peer_group: "IPv4-UNDERLAY-PEERS"
      peer_filter: "PF_LEAFS"
{% endif %}