{# aaa_accounting #}
{% include 'upgrade/upgrade-2.x-to-3.0/aaa_accounting.j2' %}
{# daemon_terminattr #}
{% include 'upgrade/upgrade-2.x-to-3.0/daemon_terminattr.j2' %}
{# ntp #}
{% include 'upgrade/upgrade-2.x-to-3.0/ntp.j2' %}
{# vxlan_interface #}
{% include 'upgrade/upgrade-2.x-to-3.0/vxlan_interface.j2' %}
